Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

Update docker-compose-with-lakekeeper.yml
  docker/docker-compose-with-lakekeeper.yml
Due: none

simplify `Row + Send`
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/executor/top_n/utils.rs
Due: rustfmt

test 23381 without fix
  e2e_test/extended_mode/issue_21949.slt
Due: none

refactor(streaming): make hash-join row type agnostic (#23358)
  src/common/src/row/mod.rs
  src/common/src/types/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/join/builder.rs
  src/stream/src/executor/join/hash_join.rs
  src/stream/src/executor/join/row.rs
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/executor/top_n/utils.rs
Due: rustfmt

fix(ci): Enable recovery test for sink-into-table (#23349)
  src/tests/simulation/src/parse.rs
  src/tests/simulation/src/slt.rs
Due: rustfmt

per chunk ack err rate
  src/tests/simulation/tests/integration_tests/sink/utils.rs
Due: rustfmt

refactor to use `Resource`
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/compute/src/observer/observer_manager.rs
  src/frontend/src/observer/observer_manager.rs
  src/license/src/cpu.rs
  src/license/src/manager.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/controller/cluster.rs
  src/storage/compactor/src/compactor_observer/observer_manager.rs
  src/storage/src/hummock/observer_manager.rs
Due: rustfmt

also count nodes other than compute nodes
  src/meta/src/controller/cluster.rs
Due: rustfmt

Add Bitmap::from_indices and unit tests for various index-setting scenarios
  src/common/src/bitmap.rs
Due: rustfmt

add no shuffle test
  src/frontend/planner_test/tests/testdata/input/locality_backfill.yaml
  src/frontend/planner_test/tests/testdata/output/locality_backfill.yaml
Due: none

feat(compactor): Supports configurable rpc parameters.
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
Due: rustfmt

switch to md-5 from RustCrypto
  Cargo.lock
  src/expr/impl/Cargo.toml
  src/expr/impl/src/scalar/md5.rs
  src/frontend/Cargo.toml
  src/frontend/src/user/user_authentication.rs
Due: rustfmt, cargo sort

use hostname, introduce new struct `ClusterResource`
  Cargo.lock
  proto/common.proto
  proto/meta.proto
  src/compute/src/observer/observer_manager.rs
  src/frontend/src/observer/observer_manager.rs
  src/license/src/cpu.rs
  src/license/src/manager.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/controller/cluster.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/compactor_observer/observer_manager.rs
  src/storage/src/hummock/observer_manager.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/license_cpu_limit.rs
  src/utils/resource_util/Cargo.toml
  src/utils/resource_util/src/lib.rs
Due: rustfmt, cargo sort

also add cluster_resource field for mock snapshot
  src/storage/hummock_test/src/mock_notification_client.rs
Due: rustfmt

remove dbg and add comments
  proto/common.proto
  src/meta/src/controller/cluster.rs
Due: rustfmt

fix clippy
  src/meta/src/controller/cluster.rs
Due: rustfmt

fix(frontend): use binder with correct `BindFor` in extended mode (#23381)
  e2e_test/extended_mode/issue_21949.slt
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/extended_handle.rs
  src/frontend/src/handler/fetch_cursor.rs
  src/frontend/src/handler/query.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Due: rustfmt

feat: support more bytea type functions (#22769)
  e2e_test/batch/functions/bytea_bits.slt.part
  proto/expr.proto
  src/expr/impl/src/scalar/bytea_bits.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/tests/regress/data/sql/strings.sql
Due: rustfmt

Refactor split assignment to use actor count; add FragmentSplits table/model; migrate split storage to fragment
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20251005_000000_fragment_splits.rs
  src/meta/model/src/fragment_splits.rs
  src/meta/model/src/lib.rs
  src/meta/model/src/prelude.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/source_manager.rs
Due: rustfmt

refactor: Clean up PGP encryption/decryption function comments and improve code readability
  src/expr/impl/src/scalar/encrypt.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

udf
  src/expr/impl/src/udf/wasm.rs
Due: rustfmt

Reorder and reformat imports in fragment.rs for clarity; no functional changes.
  src/meta/src/controller/fragment.rs
Due: rustfmt

unify common to workspace
  src/common/Cargo.toml
Due: cargo sort

feat: Add Bitmap::from_indices (#23391)
  src/common/src/bitmap.rs
Due: rustfmt

fix comm
  risedev.yml
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

remove minio risedev
  risedev.yml
Due: none

feat: introduce `fragment_splits` (#23395)
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20251005_000000_fragment_splits.rs
  src/meta/model/src/fragment_splits.rs
  src/meta/model/src/lib.rs
  src/meta/model/src/prelude.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/source_manager.rs
Due: rustfmt

feat: add rw_cluster_id() SQL function (#23260)
  e2e_test/batch/catalog/rw_cluster_id.slt.part
  proto/expr.proto
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/function_impl/rw_cluster_id.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

feat: Add PGP encryption/decryption function mappings to the binder
  src/frontend/src/binder/expr/function/builtin_scalar.rs
Due: rustfmt

Refactor: remove async from actor methods, sync in-memory counts, add vnode_count to fragment info structs
  src/meta/service/src/cluster_limit_service.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/diagnose.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/serving/mod.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

bug(expr): resolve PG incompatibility with NULL handling in array containment
  src/expr/impl/src/scalar/array_contain.rs
Due: rustfmt

alter sink backfill_rate_limit
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/ddl.rs
Due: rustfmt

feat(test): add sim test for async truncate sinks (#23388)
  src/tests/simulation/tests/integration_tests/main.rs
  src/tests/simulation/tests/integration_tests/sink/basic.rs
  src/tests/simulation/tests/integration_tests/sink/err_isolation.rs
  src/tests/simulation/tests/integration_tests/sink/rate_limit.rs
  src/tests/simulation/tests/integration_tests/sink/recovery.rs
  src/tests/simulation/tests/integration_tests/sink/scale.rs
  src/tests/simulation/tests/integration_tests/sink/utils.rs
Due: rustfmt
