Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

fix(types): address variant ci follow-ups
  e2e_test/batch/catalog/issue_10177.slt.part
  e2e_test/batch/catalog/pg_type.slt.part
  src/common/src/array/arrow/arrow_impl.rs
  src/expr/impl/src/scalar/array_contain.rs
  src/expr/impl/src/scalar/case.rs
  src/expr/impl/src/scalar/variant.rs
Due: rustfmt

fix(types): address variant ci failures
  e2e_test/batch/catalog/atlasgo.slt.part
  src/common/src/array/data_chunk_iter.rs
  src/common/src/array/map_array.rs
  src/common/src/array/variant_array.rs
  src/common/src/hash/key.rs
  src/common/src/types/variant.rs
  src/expr/impl/tests/sig.rs
  src/frontend/planner_test/tests/testdata/output/backfill.yaml
  src/frontend/planner_test/tests/testdata/output/jsonb_in_stream_key.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/union.yaml
Due: rustfmt

fix(types): harden variant state semantics
  e2e_test/streaming/variant.slt
  src/common/src/types/variant.rs
  src/frontend/planner_test/tests/testdata/input/jsonb_in_stream_key.yaml
  src/frontend/planner_test/tests/testdata/output/jsonb_in_stream_key.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_visitor/jsonb_stream_key_checker.rs
Due: rustfmt

fix(types): address variant frontend ci lints
  src/expr/impl/src/scalar/variant.rs
  src/frontend/src/optimizer/rule/mv_selection_rule.rs
  src/frontend/src/utils/condition.rs
Due: rustfmt

Revert "feat(expr): support variant equality comparisons"
  e2e_test/ddl/variant.slt
  src/common/src/array/variant_array.rs
  src/expr/impl/src/scalar/cmp.rs
Due: rustfmt

fix(types): address variant review findings in core type
  src/common/src/types/variant.rs
  src/expr/impl/src/scalar/cast.rs
  src/expr/impl/src/scalar/to_jsonb.rs
  src/expr/impl/src/scalar/variant.rs
Due: rustfmt

feat(iceberg): add variant type support for iceberg source
  e2e_test/iceberg/README.md
  e2e_test/iceberg/test_case/iceberg_source_variant.slt
  e2e_test/iceberg/test_case/iceberg_source_variant.toml
  e2e_test/iceberg/test_utils/test_utils.py
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_iceberg.rs
Due: rustfmt, cargo sort

fix(frontend): close variant gate bypasses in ALTER SOURCE and CDC table DDL
  e2e_test/ddl/variant.slt
  e2e_test/source_inline/cdc/postgres/postgres_variant_reject.slt
  src/frontend/src/handler/alter_source_column.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
Due: rustfmt

test: add variant golden byte snapshots
  src/common/src/types/variant.rs
Due: rustfmt

feat(expr): support variant equality comparisons
  e2e_test/ddl/variant.slt
  src/common/src/array/variant_array.rs
  src/expr/impl/src/scalar/cmp.rs
Due: rustfmt

feat(types): normalize non-finite floats in the canonical variant encoding
  e2e_test/ddl/variant.slt
  src/common/src/types/variant.rs
Due: rustfmt

fix(types): avoid reparsing variant accessors
  src/common/src/types/variant.rs
Due: rustfmt

fix(frontend): reject VARIANT in storage primary keys
  e2e_test/ddl/variant.slt
  src/common/src/types/mod.rs
  src/frontend/planner_test/tests/testdata/input/jsonb_in_stream_key.yaml
  src/frontend/planner_test/tests/testdata/output/jsonb_in_stream_key.yaml
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_visitor/jsonb_stream_key_checker.rs
Due: rustfmt

handle variant and unit test
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_iceberg.rs
  src/frontend/src/handler/create_source/external_schema/iceberg.rs
Due: rustfmt, cargo sort

fix: close variant rejection gaps in stream keys, sources, UDFs, and sinks
  e2e_test/ddl/variant.slt
  e2e_test/streaming/variant.slt
  src/frontend/planner_test/tests/testdata/input/jsonb_in_stream_key.yaml
  src/frontend/planner_test/tests/testdata/output/jsonb_in_stream_key.yaml
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_visitor/jsonb_stream_key_checker.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/sink.rs
Due: rustfmt

refactor(connector): remove dead variant arms from CDC snapshot parsers
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/postgres.rs
Due: rustfmt

fix: preserve integer width in variant conversion
  e2e_test/ddl/variant.slt
  src/common/src/types/variant.rs
Due: rustfmt

refactor(variant): drop sink and Arrow conversion support for now
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/variant_array.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/starrocks.rs
  src/meta/src/stream/sink.rs
Due: rustfmt

fix(types): canonicalize variant scalar projection
  Cargo.toml
  e2e_test/ddl/variant.slt
  src/common/src/types/variant.rs
Due: rustfmt, cargo sort

fix: distinguish variant_get from try_variant_get
  e2e_test/ddl/variant.slt
  src/common/src/types/variant.rs
  src/expr/impl/src/scalar/variant.rs
Due: rustfmt

fix(types): validate untrusted variant bytes and surface conversion errors
  src/common/src/types/mod.rs
  src/common/src/types/variant.rs
  src/expr/impl/src/scalar/variant.rs
Due: rustfmt

fix(frontend): don't push down IS [NOT] NULL on non-primitive iceberg columns
  src/frontend/src/optimizer/rule/batch/batch_iceberg_predicate_pushdown.rs
  src/frontend/src/utils/iceberg_predicate.rs
Due: rustfmt

chore(deps): bump iceberg-rust to 9806a3e9 and drop the iceberg patch section
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
Due: cargo sort

test(iceberg): extend variant source e2e coverage
  e2e_test/iceberg/test_case/iceberg_source_variant.slt
  e2e_test/iceberg/test_case/iceberg_source_variant.toml
Due: none

chore(deps): bump iceberg-rust to variant branch head, parquet-variant to 58
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
Due: cargo sort

test(iceberg): add batch table e2e test for variant source
  e2e_test/iceberg/test_case/iceberg_source_variant.slt
Due: none

test(iceberg): cover variant parquet schema matching; tighten comments
  e2e_test/iceberg/test_case/iceberg_source_variant.slt
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/connector/src/parser/parquet_parser.rs
  src/frontend/src/optimizer/plan_node/logical_iceberg_intermediate_scan.rs
  src/frontend/src/utils/iceberg_predicate.rs
Due: rustfmt

test(iceberg): merge redundant variant conversion tests into one comprehensive test
  src/common/src/array/arrow/arrow_iceberg.rs
Due: rustfmt

chore(deps): bump iceberg-rust to 6420a9ae (final variant branch rev)
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
Due: cargo sort

fix(connector): decode extension-typed struct children by declared type in parquet projection
  e2e_test/iceberg/test_case/iceberg_source_variant.slt
Due: none

docs(iceberg): run risedev from the repo root in e2e README cleanup
  e2e_test/iceberg/README.md
Due: none

fix(connector): read parquet variant columns as jsonb in generic parquet file sources
  src/common/src/array/arrow/arrow_58.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/arrow/mod.rs
  src/connector/src/parser/parquet_parser.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
Due: rustfmt

fix(iceberg): reject shredded variant arrays instead of panicking or nulling
  src/common/src/array/arrow/arrow_iceberg.rs
Due: rustfmt

chore(deps): restore adbc arrow 58 edges in Cargo.lock
  Cargo.lock
Due: none

refactor(common): append variant jsonb values directly into the array builder
  src/common/src/array/arrow/arrow_iceberg.rs
Due: rustfmt

fix(iceberg): decode plain-encoded variants fallibly instead of panicking
  src/common/src/array/arrow/arrow_iceberg.rs
Due: rustfmt

refactor(frontend): enforce iceberg pushdown pushability at Reference construction
  src/frontend/src/optimizer/plan_node/logical_iceberg_intermediate_scan.rs
  src/frontend/src/optimizer/rule/batch/batch_iceberg_predicate_pushdown.rs
  src/frontend/src/utils/iceberg_predicate.rs
Due: rustfmt

chore(deps): point iceberg deps at merged revs; fix format-error lint
  Cargo.lock
  Cargo.toml
  src/common/src/array/arrow/arrow_iceberg.rs
  src/storage/Cargo.toml
Due: rustfmt, cargo sort

docs(iceberg): document e2e gotchas and the CI/local split in the README
  e2e_test/iceberg/README.md
Due: none

refactor(frontend): collapse duplicated iceberg comparison pushdown arms
  src/frontend/src/utils/iceberg_predicate.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
