Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

test(e2e): correct the nested-smallint fixture rationale
  e2e_test/source_inline/fs/parquet_nested_smallint.slt
Due: none

fix(common): decode nested parquet columns by the declared field (#26354)
  ci/scripts/e2e-source-test.sh
  e2e_test/source_inline/fs/data/duplicate_field_names/data.parquet
  e2e_test/source_inline/fs/data/nested_declared_schema/data.parquet
  e2e_test/source_inline/fs/data/nested_smallint/data.parquet
  e2e_test/source_inline/fs/parquet_duplicate_field_names.slt
  e2e_test/source_inline/fs/parquet_nested_declared_schema.slt
  e2e_test/source_inline/fs/parquet_nested_smallint.slt
  e2e_test/udf/tests/aggregate/javascript.slt
  e2e_test/udf/tests/aggregate/python.slt
  e2e_test/udf/tests/aggregate/struct.slt.part
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/arrow/arrow_udf.rs
  src/connector/src/parser/parquet_parser.rs
  src/expr/core/src/aggregate/user_defined.rs
Due: rustfmt

perf(stream): apply LRU watermark to over-window partition cache at chunk boundaries (#26424) (#26436)
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/range_cache.rs
  src/stream/tests/integration_tests/over_window.rs
Due: rustfmt

fix(meta): throttle snapshot backfill catch-up barriers (#26423)
  src/common/src/config/streaming.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/barrier/checkpoint/independent_job/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/independent_job/creating_job/status.rs
  src/meta/src/manager/env.rs
Due: rustfmt

feat(meta): support typed fragment rate limits (#26183)
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka_shared.slt.serial
  src/frontend/src/handler/mod.rs
  src/meta/service/src/ddl_service.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/checkpoint/independent_job/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/independent_job/creating_job/status.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/alter.yaml
Due: rustfmt

fix(meta): throttle snapshot backfill catch-up barriers (#26423)
  src/common/src/config/streaming.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/creating_job/status.rs
  src/meta/src/manager/env.rs
Due: rustfmt

fix(frontend): address PR review comments for SHOW CREATE FUNCTION
  e2e_test/udf/tests/language_specific/javascript.slt
  e2e_test/udf/tests/language_specific/remote/test.slt.part
  src/frontend/src/catalog/function_catalog.rs
  src/frontend/src/handler/show.rs
Due: rustfmt

fix(optimizer): allow unsafe impure project expressions (#26024)
  src/frontend/planner_test/tests/testdata/input/project.yaml
  src/frontend/planner_test/tests/testdata/output/project.yaml
  src/frontend/src/optimizer/plan_node/logical_project.rs
Due: rustfmt

fix(cdc): support quoted Postgres table names (#25742)
  e2e_test/source_inline/cdc/postgres/postgres_quoted_table_wildcard.slt
  src/connector/src/connector_common/postgres.rs
  src/connector/src/source/cdc/mod.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
Due: rustfmt

fix(pg-cdc): support arrays of enum in auto schema change (#25959)
  e2e_test/source_inline/cdc/postgres/postgres_corner_schema_change.slt
  src/connector/src/parser/unified/debezium.rs
Due: rustfmt

feat(expr): add metrics and retry for OpenAI embedding (#26001)
  Cargo.lock
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/udf.py
  grafana/risingwave-dev-dashboard.json
  src/expr/impl/Cargo.toml
  src/expr/impl/src/scalar/ai_model.rs
Due: rustfmt, cargo sort

feat(pg-cdc): monitor upstream max lsn and more accurate lsn lag (#24919)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/streaming_cdc.py
  grafana/risingwave-dev-dashboard.json
  src/connector/src/source/cdc/enumerator/mod.rs
  src/connector/src/source/monitor/metrics.rs
Due: rustfmt

feat(stream): evaluate project chunks concurrently (#26000)
  docker/dashboards/risingwave-dev-dashboard.json
  e2e_test/ddl/alter_streaming_config.slt
  grafana/dashboard/dev/streaming_operators_by_operator.py
  grafana/risingwave-dev-dashboard.json
  src/common/src/config/mod.rs
  src/common/src/config/streaming.rs
  src/config/docs.md
  src/config/example.toml
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/project/project_scalar.rs
Due: rustfmt

feat(sink): support turbopuffer sink (#25984)
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/http_sink_mock_server.py
  e2e_test/sink/turbopuffer_sink.slt
  e2e_test/sink/turbopuffer_sink_check.py
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/turbopuffer.rs
  src/connector/with_options_sink.yaml
Due: rustfmt

feat(sink): support turbopuffer batching controls (#26036)
  e2e_test/sink/turbopuffer_sink.slt
  e2e_test/sink/turbopuffer_sink_check.py
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/turbopuffer.rs
  src/connector/with_options_sink.yaml
Due: rustfmt

fix(ci): allow longer snapshot backfill merge lag (#26340)
  src/config/ci.toml
Due: none

fix(cdc): restart snapshot read correctly (#26129)
  e2e_test/source_inline/cdc/postgres/postgres_schema_check_and_schema_change.slt
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Due: rustfmt

test(e2e): update expr context timezone expectation
  e2e_test/streaming/expr_context.slt
Due: none

test(stream): wait for locality backfill state
  src/tests/simulation/tests/integration_tests/recovery/locality_backfill.rs
Due: rustfmt

feat(meta): support typed fragment rate limits (#26183)
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka_shared.slt.serial
  src/frontend/src/handler/mod.rs
  src/meta/service/src/ddl_service.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/creating_job/status.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/alter.yaml
Due: rustfmt

fix(stream): extend snapshot backfill test timeout
  src/tests/simulation/tests/integration_tests/scale/backfill_parallelism.rs
Due: rustfmt

test(backfill): update cross-db MV SLT expectations (#26342)
  e2e_test/backfill/cross_db/cross_db_mv.slt
Due: none

refactor(meta): encode backup hummock version as protobuf (#26291)
  src/storage/backup/src/meta_snapshot_v2.rs
Due: rustfmt

fix(ci): stabilize nectar cron tests
  ci/scripts/e2e-sink-test.sh
  e2e_test/backfill/backfill_progress/create_materialized_view.slt
  e2e_test/ddl/alter_resource_group.slt
  e2e_test/ddl/database.slt
Due: none

feat(meta): pin backfill snapshots during time travel vacuum (#26326) (#26330)
  e2e_test/backfill/sink/create_sink.slt
  src/meta/node/src/server.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/manager.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/mod.rs
Due: rustfmt

fix(meta): exclude internal tables from time travel epoch mappings
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/time_travel.rs
Due: rustfmt

docs(tapdata): simplify user and release guides
  tapdata-plugin/README.md
  tapdata-plugin/TAPDATA_RISINGWAVE_ACCEPTANCE_TEST.md
  tapdata-plugin/TAPDATA_RISINGWAVE_PRODUCTION_READINESS.md
  tapdata-plugin/src/main/resources/docs/risingwave_en_US.md
  tapdata-plugin/src/main/resources/docs/risingwave_zh_CN.md
Due: none

test(cdc): avoid unsupported legacy type alteration
  e2e_test/backwards-compat-tests/scripts/utils.sh
  e2e_test/backwards-compat-tests/slt/cdc/seed.slt
  e2e_test/backwards-compat-tests/slt/cdc/seed_schema_change.slt
  e2e_test/backwards-compat-tests/slt/cdc/validate_original.slt
  e2e_test/backwards-compat-tests/slt/cdc/validate_restart.slt
Due: none

test(cdc): seed mysql serial directly
  e2e_test/backwards-compat-tests/scripts/utils.sh
  e2e_test/backwards-compat-tests/slt/cdc/seed.slt
  e2e_test/backwards-compat-tests/slt/cdc/seed_schema_change.slt
  e2e_test/backwards-compat-tests/slt/cdc/validate_original.slt
  e2e_test/backwards-compat-tests/slt/cdc/validate_restart.slt
Due: none

refactor(connector): centralize Iceberg engine options (#26431)
  Makefile.toml
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/lib.rs
  src/connector/src/sink/iceberg/config.rs
  src/connector/src/sink/iceberg/engine_options.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/iceberg/test.rs
  src/connector/src/with_options_test.rs
  src/connector/with_options/src/lib.rs
  src/connector/with_options_sink.yaml
  src/frontend/src/handler/create_table.rs
Due: rustfmt

test(cdc): derive legacy serial schema
  e2e_test/backwards-compat-tests/slt/cdc/seed.slt
Due: none

test(cdc): align serial backcompat expectation
  e2e_test/backwards-compat-tests/slt/cdc/validate_original.slt
  e2e_test/backwards-compat-tests/slt/cdc/validate_restart.slt
Due: none

fix(meta): preserve retained time travel versions during vacuum (#26390)
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/tests/simulation/tests/integration_tests/recovery/mod.rs
  src/tests/simulation/tests/integration_tests/recovery/time_travel.rs
Due: rustfmt

test(cdc): seed serial backcompat explicitly
  e2e_test/backwards-compat-tests/slt/cdc/seed.slt
  e2e_test/backwards-compat-tests/slt/cdc/validate_original.slt
  e2e_test/backwards-compat-tests/slt/cdc/validate_restart.slt
  src/frontend/src/handler/alter_table_column.rs
  src/meta/service/src/ddl_service.rs
Due: rustfmt

feat: backport CDC, vector pipeline, and turbopuffer updates to release-2.8 (#26433)
  Cargo.lock
  ci/scripts/e2e-sink-test.sh
  docker/dashboards/risingwave-dev-dashboard.json
  e2e_test/ddl/alter_streaming_config.slt
  e2e_test/sink/http_sink_mock_server.py
  e2e_test/sink/turbopuffer_sink.slt
  e2e_test/sink/turbopuffer_sink_check.py
  e2e_test/source_inline/cdc/postgres/postgres_corner_schema_change.slt
  e2e_test/source_inline/cdc/postgres/postgres_quoted_table_wildcard.slt
  e2e_test/source_inline/cdc/postgres/postgres_schema_check_and_schema_change.slt
  grafana/dashboard/dev/streaming_cdc.py
  grafana/dashboard/dev/streaming_operators_by_operator.py
  grafana/dashboard/dev/udf.py
  grafana/risingwave-dev-dashboard.json
  src/common/src/config/mod.rs
  src/common/src/config/streaming.rs
  src/config/ci.toml
  src/config/docs.md
  src/config/example.toml
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/connector_common/postgres.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/turbopuffer.rs
  src/connector/src/source/cdc/enumerator/mod.rs
  src/connector/src/source/cdc/mod.rs
  src/connector/src/source/monitor/metrics.rs
  src/connector/with_options_sink.yaml
  src/expr/impl/Cargo.toml
  src/expr/impl/src/scalar/ai_model.rs
  src/frontend/planner_test/tests/testdata/input/project.yaml
  src/frontend/planner_test/tests/testdata/output/project.yaml
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/project/project_scalar.rs
Due: rustfmt, cargo sort

refactor(meta): add hummock lock timing metrics (#26071)
  src/common/metrics/src/monitor/rwlock.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/rpc/metrics.rs
Due: rustfmt

perf(meta): reduce hummock versioning lock contention
  src/meta/Cargo.toml
  src/meta/node/Cargo.toml
  src/meta/service/Cargo.toml
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/metrics_utils.rs
  src/tests/compaction_test/Cargo.toml
Due: rustfmt, cargo sort
