Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

test(batch): add unit test for spill hash agg (#17512)
  src/batch/benches/hash_agg.rs
  src/batch/src/executor/hash_agg.rs
Due: rustfmt

Renamed functions/vars, simplified assignments across scale service, and tests for cleaner code
  src/meta/service/src/scale_service.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/model/stream.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/schedule.rs
  src/meta/src/stream/stream_manager.rs
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/tests/integration_tests/scale/nexmark_q4.rs
  src/tests/simulation/tests/integration_tests/scale/no_shuffle.rs
  src/tests/simulation/tests/integration_tests/scale/singleton_migration.rs
  src/tests/simulation/tests/integration_tests/scale/sink.rs
  src/tests/simulation/tests/integration_tests/scale/table.rs
  src/tests/simulation/tests/integration_tests/sink/scale.rs
Due: rustfmt

fix changelog
  src/frontend/src/optimizer/plan_node/logical_changelog.rs
Due: rustfmt

fix(storage): fix abnormal file cache miss on fetch
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix(cdc): quote postgres primary key and make mysql column name case-insensitive (#17506)
  e2e_test/source/cdc_inline/auto_schema_map_mysql.slt
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

test: bump sqllogictest to 0.21 (#17498)
  Cargo.lock
  Makefile.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  e2e_test/source_inline/kafka/add_partition.slt
  e2e_test/source_inline/kafka/avro/alter_source.slt
  e2e_test/source_inline/kafka/b.sh
  e2e_test/source_inline/kafka/consumer_group.slt
  e2e_test/source_inline/kafka/include_key_as.slt
  e2e_test/source_inline/kafka/protobuf/alter_source.slt
  e2e_test/source_inline/kafka/protobuf/basic.slt
  e2e_test/source_inline/kafka/shared_source.slt
  src/tests/simulation/Cargo.toml
Due: cargo sort

fix(sink): avoid sinking empty stream chunk (#17511)
  src/stream/src/executor/sink.rs
Due: rustfmt

chore: update image version from v1.9.1 to v1.10.0-rc.1
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: none

add demo
  integration_tests/snowflake-sink/README.md
  integration_tests/snowflake-sink/upsert/create_mv.sql
  integration_tests/snowflake-sink/upsert/create_sink.sql
  integration_tests/snowflake-sink/upsert/create_source.sql
  src/frontend/src/optimizer/plan_node/logical_changelog.rs
Due: rustfmt

add com
  proto/stream_plan.proto
Due: none

test
  .github/workflows/doc.yml
  .gitignore
  CONTRIBUTING.md
  docs/dev/README.md
  docs/dev/book.toml
  docs/dev/src/SUMMARY.md
  docs/dev/src/building/intro.md
  docs/dev/src/ci.md
  docs/dev/src/contribution.md
  docs/dev/src/debugging.md
  docs/dev/src/intro.md
  docs/dev/src/observability.md
  docs/dev/src/tests/intro.md
  docs/developer-guide.md
Due: none

fix java binding
  src/meta/model_v2/src/object.rs
  src/meta/src/controller/catalog.rs
Due: rustfmt

fix
  .github/workflows/doc.yml
Due: none

chore: support nix shell dev environment (#17462)
  .gitignore
  develop/nix/devshell.nix
  develop/nix/flake.lock
  develop/nix/flake.nix
  develop/nix/overlays.nix
  docs/developer-guide.md
Due: none

fix: fix the query in get_table_by_name
  src/meta/model_v2/src/object.rs
  src/meta/src/controller/catalog.rs
Due: rustfmt

fix: fix a corner case about sink in creating process
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

fix
  src/connector/src/sink/catalog/mod.rs
  src/meta/src/telemetry.rs
  src/stream/src/from_proto/source/trad_source.rs
Due: rustfmt

Added `ActorStatus` handling in actor queries and processing across project files.
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/catalog/fragment.rs
Due: rustfmt

fix: fix the query in get_table_by_name (#17518)
  src/meta/model_v2/src/object.rs
  src/meta/src/controller/catalog.rs
Due: rustfmt

go
  docs/README.md
  docs/dev/README.md
  docs/dev/book.toml
  docs/dev/src/SUMMARY.md
  docs/dev/src/benchmark-and-profile/cpu-profiling.md
  docs/dev/src/benchmark-and-profile/memory-profiling.md
  docs/dev/src/benchmark-and-profile/microbenchmarks.md
  docs/dev/src/building/intro.md
  docs/dev/src/contribution.md
  docs/dev/src/intro.md
  docs/dev/src/observability.md
  docs/dev/src/tests/intro.md
Due: none

contrib
  CONTRIBUTING.md
Due: none

fix
  docs/dev/src/SUMMARY.md
Due: none

fix
  .github/workflows/doc.yml
  docs/dev/book.toml
Due: none

improve
  CONTRIBUTING.md
  docs/README.md
  docs/dev/README.md
Due: none

fix
  CONTRIBUTING.md
Due: none

Refactor CatalogController & MetadataManager for Actor/Worker tuples
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/metadata.rs
Due: rustfmt

Replace `println!` with `tracing::debug!` for `actor_group_map` in `ScaleController`.
  src/meta/src/stream/scale.rs
Due: rustfmt

Update proto and handler, rm alter_parallelism test, add parallelism field & update ShowClusterRow
  proto/meta.proto
  src/frontend/src/handler/show.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/stream/scale.rs
  src/tests/simulation/tests/integration_tests/scale/alter_parallelism.rs
  src/tests/simulation/tests/integration_tests/scale/mod.rs
Due: rustfmt

fix out dir
  .github/workflows/doc.yml
Due: none

bump
  .github/workflows/doc.yml
Due: none

temp save
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
  src/storage/hummock_memory_limiter/Cargo.toml
  src/storage/hummock_memory_limiter/src/lib.rs
  src/storage/hummock_memory_limiter/src/sync.rs
  src/storage/hummock_memory_limiter/src/test.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/utils.rs
Due: rustfmt, cargo sort

fix
  src/ctl/src/cmd_impl/meta/migration.rs
  src/meta/src/manager/catalog/utils.rs
  src/meta/src/manager/streaming_job.rs
Due: rustfmt

chore: update image version from `v1.9.1` to `v1.10.0-rc.1` (#17516)
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: none

fix comm
  e2e_test/streaming/changelog.slt
  src/frontend/src/optimizer/plan_node/generic/changelog.rs
  src/frontend/src/optimizer/plan_node/logical_changelog.rs
Due: rustfmt

fix
  proto/telemetry.proto
  src/common/src/telemetry/report.rs
  src/compute/src/telemetry.rs
  src/frontend/src/telemetry.rs
  src/meta/src/telemetry.rs
  src/storage/compactor/src/telemetry.rs
  src/stream/src/from_proto/sink.rs
  src/stream/src/from_proto/source/mod.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/telemetry.rs
Due: rustfmt

init
  proto/expr.proto
  proto/meta.proto
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/function_impl/mod.rs
  src/frontend/src/expr/function_impl/pg_is_in_recovery.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/cluster_service.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
