Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

feat(storage): Provide key_range guarantee for sstable_iterator
  src/storage/src/hummock/iterator/backward_merge.rs
  src/storage/src/hummock/iterator/backward_user.rs
  src/storage/src/hummock/iterator/concat_inner.rs
  src/storage/src/hummock/iterator/forward_merge.rs
  src/storage/src/hummock/iterator/forward_user.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/hummock/validator.rs
Due: rustfmt

fix: upstream fragment locating for SourceBackfill
  e2e_test/source_inline/kafka/issue_19563.slt.serial
  proto/stream_plan.proto
  src/ctl/src/cmd_impl/meta/cluster_info.rs
  src/meta/model/src/fragment.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/model/stream.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/prost/src/lib.rs
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/tests/integration_tests/scale/shared_source.rs
Due: rustfmt

check secret exist on meta
  src/meta/src/controller/catalog.rs
Due: rustfmt

fmt
  src/meta/src/controller/catalog.rs
Due: rustfmt

ut
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/test_utils.rs
Due: rustfmt

fix: fix panices on register metrics duplicatedly
  Cargo.lock
  Cargo.toml
  src/storage/src/store_impl.rs
Due: rustfmt, cargo sort

refine
  src/meta/src/controller/catalog.rs
Due: rustfmt

fix: fix again
  src/storage/src/store_impl.rs
Due: rustfmt

feat(risedev): support configuring meta store by url from env var
  Cargo.lock
  Makefile.toml
  src/risedevtool/Cargo.toml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt, cargo sort

add more docs
  src/common/src/config.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt

empty sqlite file & add docs
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt

defaults to sqlite if unset
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt

default level to warn
  src/risedevtool/src/bin/risedev-dev.rs
Due: rustfmt

chore: switch to a version on main branch
  Cargo.lock
  Cargo.toml
Due: cargo sort

feat(secret): alter secret in catalog (#19495)
  ci/workflows/pull-request.yml
  e2e_test/ddl/secret.slt
  e2e_test/sink/iceberg_sink.slt
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  proto/ddl_service.proto
  src/common/secret/src/secret_manager.rs
  src/compute/src/observer/observer_manager.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/secret_catalog.rs
  src/frontend/src/handler/alter_secret.rs
  src/frontend/src/handler/create_secret.rs
  src/frontend/src/handler/drop_secret.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/utils/pgwire/src/pg_response.rs
Due: rustfmt

feat(risedev): support configuring meta store by url from env var (#19560)
  Cargo.lock
  Makefile.toml
  src/common/src/config.rs
  src/risedevtool/Cargo.toml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt, cargo sort

chmod iceberg engine script
  ci/scripts/e2e-iceberg-engine-test.sh
Due: none

add ci-iceberg-engine
  ci/scripts/e2e-iceberg-engine-test.sh
  ci/workflows/pull-request.yml
  risedev.yml
Due: none

fix: add RW_HEAP_PROFILING_DIR for frontend (#19323)
  src/frontend/src/lib.rs
Due: rustfmt

fix ci
  ci/docker-compose.yml
  ci/scripts/e2e-iceberg-engine-test.sh
  ci/workflows/pull-request.yml
Due: none

fix ci
  risedev.yml
Due: none

fix
  e2e_test/ddl/secret.slt
  src/frontend/src/handler/create_secret.rs
Due: rustfmt

fix
  Cargo.lock
  src/expr/impl/Cargo.toml
  src/expr/impl/src/scalar/cmp.rs
  src/expr/impl/src/scalar/hmac.rs
  src/meta/model/migration/src/m20241001_013810_webhook_source.rs
  src/sqlparser/src/parser.rs
Due: rustfmt, cargo sort

use secure_compare
  e2e_test/webhook/check_1.slt.part
  e2e_test/webhook/check_2.slt.part
  e2e_test/webhook/check_3.slt.part
  e2e_test/webhook/create_table.slt.part
  e2e_test/webhook/drop_table.slt.part
  e2e_test/webhook/sender.py
  e2e_test/webhook/webhook_source.slt
  proto/catalog.proto
  proto/expr.proto
  src/expr/impl/src/scalar/hmac.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/frontend/src/webhook/mod.rs
  src/frontend/src/webhook/utils.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

rudderstack
  Cargo.lock
  e2e_test/webhook/check_1.slt.part
  e2e_test/webhook/check_2.slt.part
  e2e_test/webhook/check_3.slt.part
  e2e_test/webhook/create_table.slt.part
  e2e_test/webhook/drop_table.slt.part
  e2e_test/webhook/sender.py
  src/expr/impl/src/scalar/hmac.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/webhook/mod.rs
  src/frontend/src/webhook/utils.rs
Due: rustfmt

small change
  src/frontend/src/webhook/mod.rs
Due: rustfmt

refactor
  Cargo.lock
  e2e_test/webhook/check_1.slt.part
  e2e_test/webhook/check_2.slt.part
  e2e_test/webhook/check_3.slt.part
  e2e_test/webhook/create_table.slt.part
  e2e_test/webhook/drop_table.slt.part
  e2e_test/webhook/sender.py
  src/common/secret/src/secret_manager.rs
  src/expr/impl/src/scalar/hmac.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/lib.rs
  src/frontend/src/webhook/mod.rs
  src/frontend/src/webhook/utils.rs
  src/sqlparser/src/ast/mod.rs
Due: rustfmt

fix
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/webhook/utils.rs
Due: rustfmt

fix
  src/frontend/src/webhook/mod.rs
Due: rustfmt

fmt
  e2e_test/webhook/sender.py
Due: none

small change
  e2e_test/webhook/create_table.slt.part
  e2e_test/webhook/sender.py
  src/frontend/src/webhook/mod.rs
Due: rustfmt

fix madsim
  src/frontend/src/webhook/mod.rs
Due: rustfmt

fix
  src/tests/sqlsmith/src/lib.rs
Due: rustfmt

fix
  src/sqlparser/tests/testdata/array.yaml
Due: none

extend timeout
  ci/workflows/main-cron.yml
Due: none

fix clear
  src/connector/src/source/base.rs
  src/connector/src/source/mod.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/utils/with_options.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

remove useless comments
  src/frontend/src/handler/create_table.rs
Due: rustfmt

feat(connector): support more parquet data types (#19561)
  e2e_test/s3/file_sink.py
  src/common/src/array/arrow/arrow_impl.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
