Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fix(meta): fix race condition during metadata backup
  Cargo.lock
  src/meta/service/src/backup_service.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/meta/src/hummock/manager/gc.rs
  src/storage/backup/Cargo.toml
  src/storage/backup/src/storage.rs
  src/storage/src/hummock/backup_reader.rs
Due: rustfmt, cargo sort

renable vnode pruning
  src/stream/src/executor/mview/materialize.rs
Due: rustfmt

Revert "fix check"
  src/frontend/src/binder/select.rs
Due: rustfmt

Revert "fix: check column name duplication in select"
  e2e_test/ddl/duplicate_column_name.slt
  src/frontend/src/binder/select.rs
Due: rustfmt

add jdbc postgresql
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JdbcUtils.java
Due: none

address comments
  e2e_test/batch/basic/duplicate_column_name.slt
  src/frontend/src/binder/expr/column.rs
Due: rustfmt

init
  proto/connector_service.proto
  proto/stream_plan.proto
  src/bench/sink_bench/main.rs
  src/connector/src/sink/boxed.rs
  src/connector/src/sink/coordinate.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/log_store.rs
  src/connector/src/sink/mock_coordination_client.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/snowflake_redshift/redshift.rs
  src/connector/src/sink/snowflake_redshift/snowflake.rs
  src/connector/src/sink/trivial.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20251224_142321_sink_schema_change.rs
  src/meta/model/src/lib.rs
  src/meta/model/src/pending_sink_state.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/exactly_once_util.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/rpc_client/src/sink_coordinate_client.rs
  src/stream/src/common/log_store_impl/in_mem.rs
  src/stream/src/common/log_store_impl/kv_log_store/buffer.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/test_utils.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sink.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/tests/simulation/tests/integration_tests/sink/exactly_once/utils.rs
  src/tests/simulation/tests/integration_tests/sink/utils.rs
Due: rustfmt

fix: count star may panic in datafusion (#24267)
  e2e_test/iceberg/test_case/pure_slt/datafusion/agg.slt
  src/frontend/src/datafusion/aggregate/mod.rs
  src/frontend/src/datafusion/iceberg_executor.rs
Due: rustfmt

general monitor client
  src/meta/node/src/server.rs
  src/meta/src/dashboard/mod.rs
  src/rpc_client/src/lib.rs
  src/rpc_client/src/monitor_client.rs
Due: rustfmt

deprecate methods in compute clients
  src/ctl/src/cmd_impl/await_tree.rs
  src/ctl/src/cmd_impl/profile.rs
  src/meta/src/rpc/await_tree.rs
  src/rpc_client/src/compute_client.rs
Due: rustfmt

minor refine
  src/ctl/src/cmd_impl/await_tree.rs
  src/meta/src/rpc/await_tree.rs
  src/rpc_client/src/error.rs
  src/rpc_client/src/monitor_client.rs
Due: rustfmt

fmt
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Due: rustfmt

extract profile service
  Cargo.lock
  src/common/common_service/Cargo.toml
  src/common/common_service/src/lib.rs
  src/common/common_service/src/profile_service.rs
  src/compute/Cargo.toml
  src/compute/src/rpc/service/monitor_service.rs
Due: rustfmt, cargo sort

feat(frontend): support planning table with watermark-ttl
  proto/catalog.proto
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_watermark_filter.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

add planner test
  src/frontend/planner_test/tests/testdata/input/watermark_ttl.yaml
  src/frontend/planner_test/tests/testdata/output/watermark_ttl.yaml
  src/sqlparser/tests/testdata/create.yaml
Due: none

add upsert prop to filter & watermark filter
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/optimizer/plan_node/stream_watermark_filter.rs
  src/frontend/src/optimizer/property/stream_kind.rs
Due: rustfmt

add basic e2e tests
  e2e_test/streaming/watermark_ttl.slt
Due: none

refine comments
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
Due: rustfmt

fix e2e tests
  e2e_test/batch/describe_fragments.slt
Due: none

update tests
  src/frontend/planner_test/tests/testdata/output/watermark_ttl.yaml
  src/frontend/src/handler/create_table.rs
Due: rustfmt

deprecate HummockVersion::table_change_log
  proto/hummock.proto
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/scheduler/snapshot.rs
  src/frontend/src/test_utils.rs
  src/java_binding/src/hummock_iterator.rs
  src/meta/service/src/hummock_service.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/metrics_utils.rs
  src/rpc_client/src/meta_client.rs
  src/storage/backup/src/lib.rs
  src/storage/backup/src/meta_snapshot.rs
  src/storage/backup/src/meta_snapshot_v1.rs
  src/storage/backup/src/meta_snapshot_v2.rs
  src/storage/backup/src/storage.rs
  src/storage/benches/bench_table_watermarks.rs
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/frontend_version.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/backup_reader.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/local_version/pinned_version.rs
  src/storage/src/hummock/observer_manager.rs
  src/storage/src/hummock/store/hummock_storage.rs
Due: rustfmt

fix imports
  src/compute/Cargo.toml
Due: cargo sort

fix test
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader/test_utils.rs
  src/storage/src/hummock/local_version/recent_versions.rs
Due: rustfmt

remove Pause and Resume mutation by codex
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/dml.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/now.rs
  src/stream/src/executor/project/project_scalar.rs
  src/stream/src/executor/project/project_set.rs
  src/stream/src/executor/sink.rs
  src/stream/src/executor/source/batch_source/batch_adbc_snowflake_fetch.rs
  src/stream/src/executor/source/batch_source/batch_adbc_snowflake_list.rs
  src/stream/src/executor/source/batch_source/batch_iceberg_fetch.rs
  src/stream/src/executor/source/batch_source/batch_iceberg_list.rs
  src/stream/src/executor/source/batch_source/batch_posix_fs_fetch.rs
  src/stream/src/executor/source/batch_source/batch_posix_fs_list.rs
  src/stream/src/executor/source/fs_fetch_executor.rs
  src/stream/src/executor/source/fs_list_executor.rs
  src/stream/src/executor/source/iceberg_fetch_executor.rs
  src/stream/src/executor/source/iceberg_list_executor.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/executor/watermark_filter.rs
Due: rustfmt

feat(frontend): support planning table with watermark-ttl (#24121)
  e2e_test/batch/describe_fragments.slt
  e2e_test/streaming/watermark_ttl.slt
  proto/catalog.proto
  src/frontend/planner_test/tests/testdata/input/watermark_ttl.yaml
  src/frontend/planner_test/tests/testdata/output/watermark_ttl.yaml
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_watermark_filter.rs
  src/frontend/src/optimizer/property/stream_kind.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

impl for compactor
  Cargo.lock
  src/common/common_service/src/profile_service.rs
  src/storage/compactor/src/rpc.rs
  src/storage/compactor/src/server.rs
Due: rustfmt

fix
  src/connector/src/sink/mock_coordination_client.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/manager.rs
Due: rustfmt

feat: shorten_block_smallest_key
  src/common/src/config/storage.rs
  src/storage/src/hummock/sstable/block.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/opts.rs
Due: rustfmt

init
  ci/scripts/e2e-iceberg-sink-cdc-test.sh
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

add monitor service to frontend
  src/frontend/src/rpc/mod.rs
  src/frontend/src/rpc/monitor_service.rs
  src/frontend/src/session.rs
Due: rustfmt

fix: improve doc
  src/common/src/config/storage.rs
  src/config/docs.md
  src/storage/src/hummock/sstable/block.rs
Due: rustfmt

fix explain analyze to use monitor client
  src/ctl/src/cmd_impl/await_tree.rs
  src/ctl/src/cmd_impl/profile.rs
  src/frontend/src/handler/explain_analyze_stream_job.rs
  src/frontend/src/session.rs
  src/meta/node/src/server.rs
  src/rpc_client/src/monitor_client.rs
Due: rustfmt

feat: support order by in datafusion
  e2e_test/iceberg/test_case/pure_slt/datafusion/order.slt
  src/frontend/src/datafusion/aggregate/mod.rs
  src/frontend/src/datafusion/convert.rs
  src/frontend/src/datafusion/execute.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_visitor/datafusion_plan_converter.rs
Due: rustfmt

add availability docs
  src/rpc_client/src/monitor_client.rs
Due: rustfmt

init
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
Due: rustfmt

feat: improve default compaction config (#24209)
  src/common/src/config/meta.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/storage/hummock_test/src/compactor_tests.rs
Due: rustfmt

feat: support order by in datafusion (#24275)
  e2e_test/iceberg/test_case/pure_slt/datafusion/order.slt
  src/frontend/src/datafusion/aggregate/mod.rs
  src/frontend/src/datafusion/convert.rs
  src/frontend/src/datafusion/execute.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_visitor/datafusion_plan_converter.rs
Due: rustfmt

support profiling nodes other than compute node in risectl
  src/ctl/src/cmd_impl/profile.rs
  src/ctl/src/lib.rs
Due: rustfmt

support in dashboard
  dashboard/.node-version
  dashboard/lib/api/cluster.ts
  dashboard/pages/heap_profiling.tsx
Due: none

compute node first, tune message
  dashboard/lib/api/cluster.ts
  dashboard/pages/heap_profiling.tsx
Due: none
