Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

feat(foyer): cherry pick updates to release v2.3.x (#21964)
  Cargo.lock
  Cargo.toml
  src/batch/executors/src/executor/insert.rs
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Due: rustfmt, cargo sort

feat(foyer): cherry pick updates to release v2.4.x (#21967)
  Cargo.lock
  Cargo.toml
  src/batch/executors/src/executor/insert.rs
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Due: rustfmt, cargo sort

feat(iceberg): init and backup hosted iceberg system table (#21960)
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250522_074525_iceberg_tables.rs
  src/meta/model/migration/src/m20250522_074947_iceberg_namespace_properties.rs
  src/meta/model/src/iceberg_namespace_properties.rs
  src/meta/model/src/iceberg_tables.rs
  src/meta/model/src/lib.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/storage/backup/src/meta_snapshot_v2.rs
Due: rustfmt

save
  src/connector/src/sink/clickhouse.rs
Due: rustfmt

enable sqlserver cdc test in ci
  e2e_test/source_inline/cdc/mysql/mysql/mysql_alter_drop_connector.serial
  e2e_test/source_inline/cdc/mysql/mysql/mysql_create_drop.slt.serial
  e2e_test/source_inline/cdc/mysql/sql_server/sql_server_cdc.slt
  e2e_test/source_inline/cdc/mysql/sql_server/sql_server_cdc_insert.sql
  e2e_test/source_inline/cdc/mysql/sql_server/sql_server_cdc_prepare.sql
Due: none

workaround PGPASSWORD #21974
  e2e_test/source_inline/tvf/postgres_query.slt
  src/risedevtool/src/risedev_env.rs
Due: rustfmt

fix: include exactly_once_iceberg_sink metadata in metadata backup (#21939)
  src/meta/model/src/exactly_once_iceberg_sink.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/storage/backup/src/meta_snapshot_v2.rs
Due: rustfmt

object file with type in StaleObjects
  proto/hummock.proto
  src/meta/src/hummock/manager/checkpoint.rs
  src/storage/hummock_sdk/src/lib.rs
Due: rustfmt

feat(storage): define vector index metadata
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/storage/backup/src/lib.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/frontend_version.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/vector_index.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/local_state_store_test_utils.rs
  src/storage/hummock_test/src/state_store_tests.rs
Due: rustfmt

store all objects together in backup metadata
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/versioning.rs
  src/storage/backup/src/lib.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/vector_index.rs
Due: rustfmt

feat(risedev): support enable iceberg compactor in risedev
  risedev.yml
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/compactor_service.rs
Due: rustfmt

typo
  src/risedevtool/src/task/compactor_service.rs
Due: rustfmt

refactor(kafka): remove unused runtime handle from IamAuthEnv struct
  src/connector/src/source/kafka/client_context.rs
Due: rustfmt

cargo locak update
  Cargo.lock
Due: none

feat(frontend): SHOW PROCESSLIST of all frontends (#21952)
  proto/frontend_service.proto
  src/batch/executors/src/executor/generic_exchange.rs
  src/batch/src/worker_manager/worker_node_manager.rs
  src/common/src/config.rs
  src/config/example.toml
  src/frontend/src/handler/show.rs
  src/frontend/src/rpc/mod.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/session.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/controller/cluster.rs
  src/rpc_client/src/frontend_client.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Due: rustfmt

feat(iceberg): add iceberg compactor in risingwave (#21823)
  Cargo.lock
  Cargo.toml
  proto/iceberg_compaction.proto
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/meta/node/src/server.rs
  src/meta/src/hummock/manager/compaction/compaction_event_loop.rs
  src/meta/src/manager/iceberg_compaction.rs
  src/storage/Cargo.toml
  src/storage/compactor/src/lib.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/iceberg_compactor_runner.rs
  src/storage/src/hummock/mod.rs
  src/stream/src/executor/source/iceberg_fetch_executor.rs
Due: rustfmt, cargo sort

chore: update docker image to v2.4.0 (#21954)
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: none

add some docs
  src/expr/impl/src/scalar/uuid_geneartion.rs
Due: rustfmt

add reverse caste
  src/common/src/types/with_data_type.rs
  src/expr/impl/src/scalar/cast.rs
  src/expr/impl/src/scalar/uuid_geneartion.rs
  src/expr/impl/src/udf/wasm.rs
  src/frontend/src/expr/type_inference/cast.rs
Due: rustfmt

fix: use new tokio thread for iam request to avoid stuck meta (#21892)
  src/connector/src/source/kafka/client_context.rs
Due: rustfmt

formatting and type fix
  src/expr/impl/src/scalar/cast.rs
  src/expr/impl/src/scalar/uuid_geneartion.rs
Due: rustfmt

fix typo
  src/expr/impl/src/scalar/uuid_geneartion.rs
Due: rustfmt

change rdkafka runtime
  Cargo.lock
  Cargo.toml
Due: cargo sort

Cache actor and fragment info in-memory; update lookups; add debug checks for cache/DB consistency
  src/meta/model/src/actor.rs
  src/meta/model/src/object.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
Due: rustfmt

Add Hash to enums; refactor controllers to use ActorInfo cache for fragment/actor mappings, not DB
  src/meta/model/src/fragment.rs
  src/meta/model/src/object.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
Due: rustfmt

feat(common): add uint256 data type support
  proto/data.proto
  src/common/estimate_size/src/lib.rs
  src/common/src/array/mod.rs
  src/common/src/array/num256_array.rs
  src/common/src/array/proto_reader.rs
  src/common/src/hash/key.rs
  src/common/src/test_utils/rand_array.rs
  src/common/src/test_utils/rand_chunk.rs
  src/common/src/types/macros.rs
  src/common/src/types/map_type.rs
  src/common/src/types/mod.rs
  src/common/src/types/num256.rs
  src/common/src/types/to_binary.rs
  src/common/src/types/to_sql.rs
  src/common/src/util/memcmp_encoding.rs
  src/common/src/util/value_encoding/mod.rs
Due: rustfmt

feat(arrow): add uint256 arrow interchange format support
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/expr/impl/src/scalar/to_jsonb.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/frontend/src/utils/data_type.rs
Due: rustfmt

feat(connector): add uint256 support for sink connectors
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/postgres.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/formatter/debezium_json.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/sqlserver.rs
  src/connector/src/sink/starrocks.rs
Due: rustfmt

feat(expr): implement arithmetic and comparison operators for uint256
  src/expr/impl/src/scalar/arithmetic_op.rs
  src/expr/impl/src/scalar/cmp.rs
  src/expr/macro/src/types.rs
  src/frontend/src/binder/expr/mod.rs
Due: rustfmt

tmp
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/source/kafka/source/mod.rs
  src/connector/src/source/kafka/source/mux_reader.rs
  src/connector/src/source/kafka/source/mux_split_reader.rs
Due: rustfmt, cargo sort

feat(expr): add type casting support for uint256
  src/expr/impl/src/scalar/cast.rs
  src/frontend/src/expr/type_inference/cast.rs
Due: rustfmt

feat(expr): implement aggregate functions for uint256
  src/expr/impl/src/aggregate/general.rs
Due: rustfmt

feat(connector): add uint256 parsing for source connectors
  src/connector/src/parser/scalar_adapter.rs
  src/connector/src/parser/unified/json.rs
Due: rustfmt

feat(catalog): add PostgreSQL OID mappings for uint256
  src/common/src/types/postgres_type.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_types.rs
Due: rustfmt

test: add comprehensive e2e tests for uint256 type
  e2e_test/batch/basic/uint256.slt
Due: none

docs: add uint256 implementation specification
  rw_uint256_spec.md
Due: none
