Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

format
  e2e_test/source_inline/pulsar/issue-22486.slt
Due: none

fix test
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

fix
  e2e_test/source_inline/connection/ddl.slt
Due: none

update test error message
  e2e_test/ddl/alter_resource_group.slt
  e2e_test/ddl/database.slt
  e2e_test/ddl/secret.slt
  e2e_test/error_ui/simple/license.slt
  e2e_test/sink/license.slt
  e2e_test/source_inline/kafka/avro/glue.slt.serial
  e2e_test/time_travel/license.slt
  src/license/src/feature.rs
  src/tests/simulation/tests/integration_tests/license_cpu_limit.rs
Due: rustfmt

fmt
  src/tests/simulation/tests/integration_tests/license_cpu_limit.rs
Due: rustfmt

.
  src/jni_core/src/opendal_schema_history.rs
Due: rustfmt

fix
  e2e_test/source_inline/pulsar/issue-22486.slt
Due: none

bypass clippy doc
  src/license/src/feature.rs
Due: rustfmt

derive feature enum from json schema
  Cargo.lock
  src/license/Cargo.toml
  src/license/src/feature.json
  src/license/src/feature.rs
Due: rustfmt, cargo sort

fix(iceberg): fix drop iceberg sink race (#22494) (#22498)
  src/meta/src/manager/iceberg_compaction.rs
Due: rustfmt

fmt
  src/connector/src/sink/starrocks.rs
Due: rustfmt

debug: promote foyer fifo picker logs
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix ci
  src/connector/with_options_sink.yaml
Due: none

install dependency
  ci/scripts/release.sh
Due: none

chore: update async-nats dependency to include websocket feature (#22505) (#22512)
  Cargo.lock
  src/connector/Cargo.toml
Due: cargo sort

fix install
  ci/scripts/release.sh
Due: none

Use in-memory ActorInfo cache in CatalogController; add debug assertions vs DB; sync cache after updates.
  src/meta/model/src/actor.rs
  src/meta/model/src/fragment.rs
  src/meta/model/src/object.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/rpc/ddl_controller.rs
  src/tests/simulation/tests/integration_tests/recovery/pause_on_bootstrap.rs
Due: rustfmt

Refactor fragment metadata loading to use cache-based parallelism; add debug assertion for cache vs DB
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
Due: rustfmt

revert env check
  ci/scripts/release.sh
Due: none

update dependency
  ci/scripts/release.sh
Due: none

bump faiss-rs commit
  Cargo.lock
  Cargo.toml
Due: cargo sort

install correct libraries
  ci/scripts/release.sh
Due: none

revert bypass
  ci/scripts/release.sh
Due: none

Remove dead debug code, unused imports, and #[cfg(debug_assertions)] blocks to improve code clarity
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
  src/meta/src/controller/utils.rs
  src/meta/src/rpc/ddl_controller.rs
  src/tests/simulation/tests/integration_tests/recovery/pause_on_bootstrap.rs
Due: rustfmt

fix(release): install dependencies required by faiss in release pipeline (#22515)
  Cargo.lock
  Cargo.toml
  ci/scripts/release.sh
Due: cargo sort

try in serial
  e2e_test/source_inline/pulsar/issue-22486.slt.serial
Due: none

update
  .github/workflows/build-docker-image.yml
Due: none

update image tag
  .github/workflows/build-docker-image.yml
Due: none

add fast docker as a checkbox
  .github/workflows/build-docker-image.yml
  Cargo.toml
  ci/workflows/docker-arm-fast.yml
Due: cargo sort

update description
  .github/workflows/build-docker-image.yml
Due: none

test: add e2e tests for ALTER CONNECTION SET SCHEMA functionality
  e2e_test/ddl/alter_set_schema.slt
  e2e_test/source_inline/connection/ddl.slt
Due: none

fix(pgwire): send `ParameterStatus(TimeZone)` on startup to avoid `psycopg[binary]` segfault (#22504)
  e2e_test/source_inline/requirements.txt
  src/frontend/src/session.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Due: rustfmt

fix if chain
  lints/src/utils/format_args_collector.rs
  src/meta/src/stream/stream_graph/state_match.rs
Due: rustfmt

fix(sink): fix starrrocks https host error (#22108)
  src/connector/src/sink/starrocks.rs
  src/connector/with_options_sink.yaml
Due: rustfmt

repro
  ci/scripts/e2e-test-serial.sh
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
