Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fix source backfill
  e2e_test/ddl/alter_table_column_type.slt
  e2e_test/source_legacy/cdc_inline/alter/cdc_table_alter.slt
  src/meta/src/stream/stream_graph/fragment.rs
  src/prost/src/lib.rs
Due: rustfmt

fix replace cdc table
  src/meta/src/stream/stream_graph/fragment.rs
Due: rustfmt

fix unused import
  src/frontend/src/handler/alter_table_column.rs
Due: rustfmt

feat(foyer): add config field to set file cache fifo probation ratio (#21841)
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Due: rustfmt

fix test
  e2e_test/ddl/create_nexmark_source_issue_8812.slt
Due: none

fix: do not expose the columns of table's associated source (#21842)
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_columns.rs
Due: rustfmt

fix(frontend): do not purify SQL definition for CDC sources
  src/frontend/src/catalog/source_catalog.rs
Due: rustfmt

feat: cherry-pick #21573 #21840 for populated entry optimization
  Cargo.lock
  Cargo.toml
  src/batch/executors/src/executor/insert.rs
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Due: rustfmt, cargo sort

add tests
  e2e_test/source_inline/cdc/mysql/mysql_create_drop.slt.serial
Due: none

compare to pr base commit instead
  .github/workflows/slt-coverage-check.yml
Due: none

refactor(meta): avoid using frontend generated `ColumnIndexMapping` when constructing new dispatcher for replacement (#21499)
  e2e_test/ddl/alter_table_column_type.slt
  e2e_test/source_legacy/cdc_inline/alter/cdc_table_alter.slt
  src/common/src/util/column_index_mapping.rs
  src/frontend/src/handler/alter_table_column.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/prost/src/lib.rs
Due: rustfmt

chore(deps): Bump fixedbitset from 0.5.0 to 0.5.7
  Cargo.lock
  src/common/src/hash/key.rs
Due: rustfmt

verify s3 schema history can resolve 21801
  java/connector-node/risingwave-connector-service/src/main/resources/debezium.properties
  java/connector-node/risingwave-connector-service/src/main/resources/mysql.properties
  java/connector-node/risingwave-source-cdc/pom.xml
Due: none

fix(test): include uncovered & remove useless misc e2e tests (#21828)
  .github/workflows/slt-coverage-check.yml
  ci/scripts/e2e-test-serial.sh
  e2e_test/compaction/ingest_rows.slt
  e2e_test/database/prepare.slt
  e2e_test/database/test.slt
  e2e_test/ddl/create_nexmark_source_issue_8812.slt
  e2e_test/misc/timezone.slt
  e2e_test/misc/user_doc/user_doc.slt
Due: none

stash
  src/meta/src/controller/streaming_job.rs
  src/meta/src/stream/source_manager.rs
Due: rustfmt

refactor(storage): no default sstable info
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/meta/src/hummock/compaction/overlap_strategy.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/hummock_sdk/src/version.rs
Due: rustfmt

refactor: unify `hummock+memory` with `hummock+memory-shared`
  src/cmd_all/src/single_node.rs
  src/compute/src/server.rs
  src/object_store/src/object/mem.rs
  src/object_store/src/object/mod.rs
  src/risedevtool/src/task/meta_node_service.rs
  src/risedevtool/src/task/utils.rs
  src/storage/backup/src/storage.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/src/hummock/iterator/test_utils.rs
Due: rustfmt

refactor(compaction): refactor iceberg compaction handle
  src/meta/src/hummock/manager/compaction/compaction_event_loop.rs
  src/meta/src/manager/iceberg_compaction.rs
Due: rustfmt

add simple unit test
  src/cmd_all/src/single_node.rs
Due: rustfmt

remove money->float64
  src/connector/src/parser/sql_server.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/source/cdc/external/sql_server.rs
Due: rustfmt

use more `for_test`
  src/object_store/src/object/mem.rs
Due: rustfmt

fix(kafka): improve error handling for AWS IAM token generation in client context
  src/connector/src/source/kafka/client_context.rs
Due: rustfmt

try try fix iceberg
  Cargo.lock
  Cargo.toml
Due: cargo sort

.
  Cargo.lock
  Cargo.toml
  e2e_test/iceberg/test_utils/test_result.py
Due: cargo sort

feat: print backtrace in pg_protocol in debug mode
  src/utils/pgwire/src/pg_protocol.rs
Due: rustfmt

fix
  src/utils/pgwire/src/lib.rs
Due: rustfmt

fix
  src/utils/pgwire/src/pg_protocol.rs
Due: rustfmt

fix(ci): fix container name conflict
  ci/docker-compose.yml
Due: none

remove hostname
  ci/docker-compose.yml
  integration_tests/clickhouse-sink/create_sink.sql
Due: none

feat: add some check for iceberg source to prevent unexpected behavior
  e2e_test/iceberg/test_case/iceberg_source_streaming.slt
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/planner/relation.rs
Due: rustfmt

minor
  src/frontend/src/handler/create_table.rs
Due: rustfmt

refactor(storage): no default sstable info (#21845)
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/meta/src/hummock/compaction/overlap_strategy.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/hummock_sdk/src/version.rs
Due: rustfmt

impl
  src/storage/src/memory.rs
  src/storage/src/store.rs
  src/storage/src/vector/distance.rs
  src/storage/src/vector/mod.rs
  src/storage/src/vector/utils.rs
Due: rustfmt

minor
  src/frontend/src/handler/create_table.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

refactor(kafka): replace BaseConsumer with StreamConsumer and remove outdated SASL connection notes
  src/connector/src/source/kafka/enumerator.rs
Due: rustfmt

chore(deps): Bump fixedbitset from 0.5.0 to 0.5.7 (#21853)
  Cargo.lock
  src/common/src/hash/key.rs
Due: rustfmt

chore: update stream engine doc link
  src/stream/README.md
Due: none

feat(kafka): add asynchronous polling for Kafka client in enumerator
  src/connector/src/source/kafka/enumerator.rs
Due: rustfmt
