Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

fix(metric): update committed epoch metrics (#19959)
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/rpc/metrics.rs
Due: rustfmt

refactor: refine rate limiter, use new impl for sinks
  src/common/src/lib.rs
  src/common/src/log.rs
  src/common/src/rate_limit.rs
  src/common/src/throttle.rs
  src/connector/src/sink/log_store.rs
  src/stream/src/executor/sink.rs
Due: rustfmt

clippy
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/use_db.rs
Due: rustfmt

fix
  src/connector/codec/tests/integration_tests/protobuf.rs
  src/frontend/src/handler/create_source/external_schema/protobuf.rs
Due: rustfmt

refactor(ci): use pipenv for python commands
  ci/Dockerfile
  ci/scripts/e2e-source-test.sh
  e2e_test/Pipfile
  e2e_test/Pipfile.lock
  e2e_test/commands/python
  e2e_test/commands/python3
Due: none

remove some requirements
  e2e_test/requirements.txt
  e2e_test/source_inline/requirements.txt
  e2e_test/source_legacy/requirements.txt
Due: none

bump ci image version
  ci/build-ci-image.sh
  ci/docker-compose.yml
Due: none

refactor: use new impl for backfills
  src/common/src/rate_limit.rs
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/backfill/snapshot_backfill.rs
  src/stream/src/executor/backfill/utils.rs
  src/stream/src/from_proto/stream_scan.rs
  src/stream/src/task/stream_manager.rs
Due: rustfmt

fix ci
  e2e_test/batch/types/timestamp_ns.slt.part
  src/expr/impl/src/scalar/extract.rs
  src/tests/regress/data/expected/time.out
  src/tests/regress/data/sql/time.sql
Due: rustfmt

fix ci
  src/tests/regress/data/expected/time.out
  src/tests/regress/data/sql/time.sql
Due: none

fix ci
  e2e_test/batch/types/timestamp_ns.slt.part
  src/expr/impl/src/scalar/extract.rs
Due: rustfmt

feat(ctl): alter table TTL
  proto/ddl_service.proto
  src/ctl/src/cmd_impl/meta/ttl.rs
  src/ctl/src/lib.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

feat(ctl): migrate legacy object store
  src/ctl/src/cmd_impl/hummock.rs
  src/ctl/src/cmd_impl/hummock/migrate_legacy_object.rs
  src/ctl/src/lib.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/gcs.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/prefix.rs
  src/storage/hummock_sdk/src/lib.rs
Due: rustfmt

add comment
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/backfill/snapshot_backfill/vnode_stream.rs
Due: rustfmt

refactor(snapshot-backfill): extract common logic of consuming snapshot and log store
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/backfill/snapshot_backfill/mod.rs
  src/stream/src/executor/backfill/snapshot_backfill/vnode_stream.rs
Due: rustfmt

address comment
  src/common/src/util/chunk_coalesce.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/backfill/snapshot_backfill/vnode_stream.rs
Due: rustfmt

add todo
  src/stream/src/executor/backfill/snapshot_backfill/vnode_stream.rs
Due: rustfmt

use pin_project
  src/stream/src/executor/backfill/snapshot_backfill/vnode_stream.rs
Due: rustfmt

activate and try again
  ci/scripts/e2e-source-test.sh
Due: none

feat(types): support ns timestamp (#19827)
  Cargo.lock
  e2e_test/batch/types/timestamp_ns.slt.part
  src/common/Cargo.toml
  src/common/src/types/datetime.rs
  src/expr/impl/src/scalar/extract.rs
  src/expr/impl/src/scalar/make_time.rs
  src/expr/impl/src/scalar/to_char.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/tests/regress/data/expected/time.out
  src/tests/regress/data/sql/time.sql
Due: rustfmt, cargo sort

test
  e2e_test/source_inline/kafka/protobuf/opentelemetry.slt
Due: none

refactor(snapshot-backfill): extract common logic of consuming snapshot and log store (#19936)
  src/common/src/util/chunk_coalesce.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/backfill/snapshot_backfill/mod.rs
  src/stream/src/executor/backfill/snapshot_backfill/vnode_stream.rs
Due: rustfmt

refactor: use new impl in dml
  src/common/src/rate_limit.rs
  src/compute/tests/integration_tests.rs
  src/stream/src/executor/dml.rs
  src/stream/src/from_proto/dml.rs
Due: rustfmt

refactor: use new impl for cdc backfill
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
Due: rustfmt

fix test
  e2e_test/source_inline/kafka/protobuf/opentelemetry.slt
Due: none

refactor: use new impl for source
  src/stream/src/executor/source/mod.rs
Due: rustfmt

refactor: tiny refactor
  src/connector/src/sink/log_store.rs
Due: rustfmt

fix
  e2e_test/source_inline/kafka/protobuf/opentelemetry.slt
  src/connector/codec/tests/integration_tests/protobuf.rs
Due: rustfmt

fix
  e2e_test/source_inline/kafka/protobuf/opentelemetry.slt
Due: none

chore: udeps
  Cargo.lock
  src/connector/Cargo.toml
  src/stream/Cargo.toml
Due: cargo sort

fix: enable control substitution
  e2e_test/source_inline/kafka/protobuf/opentelemetry.slt
Due: none

ci: fix e2e test RUN_COMPACTION
  ci/scripts/common.sh
  ci/workflows/main-cron.yml
Due: none

use total_memory_bytes as memory of all nodes
  src/cmd_all/src/single_node.rs
Due: rustfmt

handle stack overflow
  e2e_test/source_inline/kafka/protobuf/recursive_overflow.slt
  src/connector/codec/src/decoder/protobuf/parser.rs
  src/connector/codec/tests/test_data/recursive_complex.proto
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
