Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

refactor(connector): simplify Oracle CDC configuration
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/common/DbzConnectorConfigTest.java
  src/connector/src/source/cdc/source/message.rs
  src/connector/src/source/cdc/split.rs
  src/connector/src/source/reader/reader.rs
Due: rustfmt

refactor(connector): remove unused Oracle reader RAC plumbing
  src/common/src/catalog/cdc_type_compatibility.rs
  src/compute/src/rpc/service/stream_service.rs
  src/compute/src/server.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/oracle.rs
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

feat(connector): support Oracle shared CDC backfill
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzSourceUtils.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/JniOracleExternalTable.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleExternalTable.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngine.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngineRunner.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzChangeEventConsumer.java
  java/connector-node/risingwave-source-cdc/src/main/java/com/risingwave/connector/cdc/debezium/internal/OracleMiningInitialization.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/oracle/logminer/buffered/BufferedLogMinerAdapter.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/oracle/logminer/buffered/RisingWaveBufferedLogMinerStreamingChangeEventSource.java
  proto/catalog.proto
  proto/connector_service.proto
  proto/meta.proto
  proto/stream_service.proto
  src/common/src/catalog/cdc_type_compatibility.rs
  src/compute/src/rpc/service/stream_service.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/oracle.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/connector/src/source/cdc/split.rs
  src/frontend/src/handler/cdc.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/model/src/table.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/catalog/get_op.rs
  src/rpc_client/src/meta_client.rs
  src/rpc_client/src/stream_client.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt

test(connector): verify Oracle snapshot transaction retirement
  e2e_test/source_inline/cdc/oracle/oracle_live_page_backfill_recover.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_test_hooks.py
  e2e_test/source_inline/cdc/oracle/oracle_test_utils.py
Due: none

fix(cdc): compare MySQL schema history positions by binlog coordinates (#27391)
  e2e_test/source_inline/cdc/mysql/mysql_schema_history_recovery.slt.serial
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/binlog/BinlogOffsetContext.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/binlog/history/BinlogHistoryRecordComparator.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/mysql/MySqlOffsetContext.java
  java/connector-node/risingwave-source-cdc/src/test/java/io/debezium/connector/binlog/history/BinlogHistoryRecordComparatorTest.java
Due: none

refactor(frontend): add cursor query lifecycle infrastructure
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/session.rs
  src/frontend/src/session/cursor_manager.rs
Due: rustfmt

WIP: wire cursor query lifecycle ownership
  src/frontend/src/handler/declare_cursor.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/session.rs
  src/frontend/src/session/cursor_manager.rs
Due: rustfmt

fix: license header
  src/frontend/src/session/cursor_stream.rs
Due: rustfmt

refactor(frontend): add persistent cursor stream infrastructure
  src/frontend/src/handler/util.rs
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/session/cursor_stream.rs
Due: rustfmt

refactor(frontend): extract cursor terminal failure helpers
  src/frontend/src/session/cursor_stream.rs
Due: rustfmt

refactor(frontend): reuse terminal failure helpers in cursor adapters
  src/frontend/src/session/cursor_stream.rs
Due: rustfmt

refactor(frontend): skip committed cursor rows during formatting
  src/frontend/src/session/cursor_stream.rs
Due: rustfmt

fix(frontend): clear terminal subscription FETCH state
  src/frontend/src/session/cursor_stream.rs
Due: rustfmt

fix(frontend): replay aborted cursor FETCH operations
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/session/cursor_stream.rs
  src/tests/e2e_extended_mode/src/test.rs
Due: rustfmt

refactor(frontend): persist cursor execution across FETCH interruptions
  src/frontend/src/handler/declare_cursor.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/session.rs
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/session/cursor_stream.rs
  src/tests/e2e_extended_mode/src/test.rs
Due: rustfmt

refactor(frontend): expose terminal failure through cursor FETCH trait
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/session/cursor_stream.rs
Due: rustfmt

perf(frontend): reuse unread formatted rows across cursor FETCHes
  src/frontend/src/session/cursor_stream.rs
Due: rustfmt

refactor(frontend): centralize cursor completion in response adapters
  src/frontend/src/session/cursor_stream.rs
Due: rustfmt

fix(frontend): address cursor memory clippy warnings
  src/frontend/src/session/cursor_stream.rs
Due: rustfmt

refactor(frontend): account cursor memory usage
  src/frontend/src/lib.rs
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/session/cursor_stream.rs
  src/utils/pgwire/src/types.rs
Due: rustfmt

refactor(frontend): return cursor row memory estimates
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/session/cursor_stream.rs
Due: rustfmt

perf(stream): read ahead the lookups of a temporal join over an ordered replay
  src/common/src/array/stream_chunk.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/locality_provider.rs
  src/stream/src/executor/temporal_join.rs
Due: rustfmt

refactor(connector): scope Pulsar schema cache to a single topic
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/pulsar_resolver.rs
  src/connector/src/schema/pulsar_schema/client.rs
  src/connector/src/schema/pulsar_schema/mod.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/validate.rs
Due: rustfmt

chore(iceberg): pin final compaction merge revision
  Cargo.lock
  src/storage/Cargo.toml
Due: cargo sort

test(iceberg): verify vended ADLS credentials through source and sink
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/tests/iceberg_vended_credentials.rs
Due: rustfmt, cargo sort

chore(iceberg): keep PR limited to dependency bumps
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/tests/iceberg_vended_credentials.rs
Due: rustfmt, cargo sort

chore(iceberg): keep ADBC on Arrow 58 in lockfile
  Cargo.lock
Due: none

fix(meta): synchronize catalog versions with frontend notifications
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/observer/observer_manager.rs
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/user.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/manager/notification.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/serving/mod.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/compactor/src/compactor_observer/observer_manager.rs
  src/storage/hummock_test/src/bin/replay/replay_impl.rs
  src/storage/src/hummock/observer_manager.rs
Due: rustfmt

chore(iceberg): bump Rust and compaction dependencies (#27232)
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
Due: cargo sort

fix(expr): tighten the validation of escape character usage (#26215)
  e2e_test/batch/functions/like.slt.part
  src/expr/core/src/scalar/like.rs
  src/frontend/src/handler/show.rs
Due: rustfmt

fix(binder): report an unknown column-group qualifier as not found
  src/frontend/src/binder/bind_context.rs
Due: rustfmt

feat(iceberg): share ADLS file IO configuration
  src/connector/src/connector_common/iceberg/mod.rs
Due: rustfmt

feat(meta): support explicit table cache warm-up (#27233)
  proto/meta.proto
  proto/stream_service.proto
  src/compute/src/rpc/service/stream_service.rs
  src/ctl/src/cmd_impl/hummock/refill.rs
  src/ctl/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/service/src/serving_service.rs
  src/prost/build.rs
  src/prost/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/rpc_client/src/stream_client.rs
Due: rustfmt

feat(storage): add dormant pin cache reads and refill lifecycle
  src/common/src/config/storage.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/pin_cache/membership.rs
  src/storage/src/hummock/pin_cache/mod.rs
  src/storage/src/hummock/pin_cache/refill.rs
  src/storage/src/hummock/pin_cache/test_utils.rs
  src/storage/src/hummock/pin_cache/tests.rs
  src/storage/src/monitor/mod.rs
  src/storage/src/monitor/pin_cache_metrics.rs
  src/storage/src/opts.rs
Due: rustfmt

fix(connector): stop the Kafka reader drop from blocking the actor thread (#27141)
  Cargo.lock
  Cargo.toml
  e2e_test/source_inline/kafka/consumer_group.slt.serial
  e2e_test/source_inline/kafka/consumer_group_non_shared.slt.serial
  src/connector/src/source/kafka/source/reader.rs
  src/object_store/Cargo.toml
Due: rustfmt, cargo sort

feat(storage): recover local pin cache index before serving reads
  src/common/src/config/storage.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/src/hummock/pin_cache/mod.rs
  src/storage/src/hummock/pin_cache/recovery.rs
  src/storage/src/hummock/pin_cache/recovery/tests.rs
  src/storage/src/hummock/pin_cache/refill.rs
  src/storage/src/hummock/pin_cache/test_utils.rs
  src/storage/src/hummock/pin_cache/tests.rs
  src/storage/src/monitor/pin_cache_metrics.rs
  src/storage/src/opts.rs
Due: rustfmt

feat(storage): add minor and full pin cache garbage collection
  src/storage/src/hummock/pin_cache/gc.rs
  src/storage/src/hummock/pin_cache/gc/tests.rs
  src/storage/src/hummock/pin_cache/membership.rs
  src/storage/src/hummock/pin_cache/mod.rs
  src/storage/src/hummock/pin_cache/recovery/tests.rs
  src/storage/src/hummock/pin_cache/refill.rs
  src/storage/src/hummock/pin_cache/storage.rs
  src/storage/src/hummock/pin_cache/tests.rs
  src/storage/src/monitor/pin_cache_metrics.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
