Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: typos
        name: typos
        entry: typos -w
        language: system
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

add include.schema.changes to PG connector
  java/connector-node/risingwave-connector-service/src/main/resources/postgres.properties
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/postgresql/PostgresConnectorConfig.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/postgresql/PostgresStreamingChangeEventSource.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/postgresql/connection/ReplicationStream.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/postgresql/connection/pgoutput/PgOutputMessageDecoder.java
  java/pom.xml
Due: none

fix(meta): fix query for `running_fragment_parallelisms` in postgres backend
  src/meta/src/controller/fragment.rs
Due: rustfmt

align the semantics of scan.startup.mode=latest of nats with others
  src/connector/src/connector_common/common.rs
Due: rustfmt

code refactor
  src/connector/src/sink/file_sink/opendal_sink.rs
Due: rustfmt

minor
  src/connector/src/sink/file_sink/opendal_sink.rs
Due: rustfmt

fix(nats): align the semantics of `scan.startup.mode=latest` of NATS with others (#18733)
  src/connector/src/connector_common/common.rs
Due: rustfmt

fix
  src/frontend/planner_test/tests/testdata/input/asof_join.yaml
  src/frontend/planner_test/tests/testdata/output/asof_join.yaml
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_asof_join.rs
Due: rustfmt

fix seed
  ci/scripts/deterministic-e2e-test.sh
  ci/scripts/deterministic-it-test.sh
  ci/scripts/deterministic-recovery-test.sh
  ci/scripts/run-deterministic-fuzz-test.sh
  src/tests/simulation/src/cluster.rs
  src/tests/sqlsmith/scripts/gen_queries.sh
Due: rustfmt

fix(risedev): fix log check and startup failure
  risedev.yml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/task/task_log_ready_check.rs
Due: rustfmt

refactor
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/common/src/config.rs
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/manager/env.rs
  src/storage/src/hummock/local_version/recent_versions.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
Due: rustfmt

remove: cdc_source_rows_received because we have source throughput
  grafana/risingwave-dev-dashboard.dashboard.py
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/monitor/metrics.rs
Due: rustfmt

refactor LogWriterMetrics
  grafana/risingwave-dev-dashboard.dashboard.py
  src/connector/src/sink/log_store.rs
  src/connector/src/sink/mod.rs
  src/stream/src/executor/sink.rs
Due: rustfmt

refactor connector_sink_rows_received
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.dashboard.py
  src/connector/src/sink/mod.rs
Due: rustfmt

remove grafana section: connector node
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.dashboard.py
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/monitor/metrics.rs
Due: rustfmt

fix(meta): fix query for `running_fragment_parallelisms` in postgres backend (#18743)
  src/meta/src/controller/fragment.rs
Due: rustfmt

update dashboard json
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Due: none

refactor(meta): reduce time travel hummock version size (#18699)
  src/meta/src/hummock/manager/time_travel.rs
  src/storage/hummock_sdk/src/time_travel.rs
Due: rustfmt

Refactor `rw_actor_splits.rs`: Rename struct, change `split_id` type, add `From` impl; simplify `read_rw_actor_splits`
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_actor_splits.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/fragment.rs
Due: rustfmt

set log level
  ci/scripts/deterministic-e2e-test.sh
  ci/scripts/deterministic-recovery-test.sh
Due: none

fix(ci): correct release check (#18666) (#18692)
  ci/scripts/release.sh
Due: none

try tmpfs
  ci/scripts/deterministic-recovery-test.sh
Due: none

fmt
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_asof_join.rs
Due: rustfmt

adjust timeout
  ci/scripts/deterministic-recovery-test.sh
  ci/workflows/pull-request.yml
Due: none

fmt
  e2e_test/s3/fs_sink_batch.py
Due: none

fix(iceberg): fix sql catalog and add nimtable-pg developement
  Cargo.lock
  Cargo.toml
  risedev.yml
  src/connector/src/connector_common/iceberg/mod.rs
Due: rustfmt, cargo sort

fix(risedev): fix log check and startup failure for postgres (#18745)
  risedev.yml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/task/task_log_ready_check.rs
Due: rustfmt

fix comm
  e2e_test/subscription/main.py
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/subscription_catalog.rs
  src/frontend/src/handler/fetch_cursor.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/scheduler/snapshot.rs
  src/frontend/src/session.rs
  src/frontend/src/session/cursor_manager.rs
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/hummock_sdk/src/frontend_version.rs
Due: rustfmt

ignore election for sqlite metastore
  ci/scripts/deterministic-recovery-test.sh
  src/meta/node/src/server.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/main.rs
  src/tests/simulation/tests/integration_tests/batch/mod.rs
Due: rustfmt

clippy
  src/meta/node/src/server.rs
Due: rustfmt

fix comm
  src/connector/src/sink/dynamodb.rs
Due: rustfmt

Add `FragmentType` enum and field to `ListActorSplitsResponse` in proto and rw_actor_splits.rs
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_actor_splits.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/catalog.rs
Due: rustfmt

fix
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/utils.rs
Due: rustfmt

feat(sink): support async for mongodb dynamodb (#17645)
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/mongodb.rs
  src/connector/with_options_sink.yaml
Due: rustfmt

refactor: add metrics for time travel and recent versions (#18690)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/common/src/config.rs
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/manager/env.rs
  src/meta/src/rpc/metrics.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/local_version/recent_versions.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
Due: rustfmt

feat: add `rw_actor_splits` (#18746)
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_actor_splits.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
  src/meta/src/stream/source_manager.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

refactor: unify duplicated alter_*_name methods
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/alter_rename.rs
  src/frontend/src/test_utils.rs
Due: rustfmt

feat: enable shared source in session variable by default, and add system variable to disable
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/source_inline/kafka/shared_source.slt
  src/common/src/config.rs
  src/common/src/session_config/mod.rs
  src/config/example.toml
  src/frontend/planner_test/tests/testdata/input/shared_source.yml
  src/frontend/planner_test/tests/testdata/output/shared_source.yml
  src/frontend/src/handler/create_source.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/tests/simulation/src/cluster.rs
Due: rustfmt

refactor: unify duplicated alter_*_name methods (#18751)
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/alter_rename.rs
  src/frontend/src/test_utils.rs
Due: rustfmt

update kill
  src/tests/simulation/src/cluster.rs
Due: rustfmt

remove print
  src/frontend/src/session/cursor_manager.rs
Due: rustfmt
