Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

omx(team): auto-checkpoint worker-1 [1]
  docs/dev/src/SUMMARY.md
  docs/dev/src/design/rbac-parser-surface.md
  src/frontend/src/handler/variable.rs
Due: rustfmt

omx(team): auto-checkpoint worker-1 [1]
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/handler/variable.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/tests/sqlparser_common.rs
Due: rustfmt

omx(team): auto-checkpoint worker-4 [4]
  src/meta/model/src/user_role_membership.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

omx(team): auto-checkpoint worker-3 [3]
  src/meta/src/controller/user.rs
Due: rustfmt

omx(team): auto-checkpoint worker-3 [3]
  src/meta/service/src/user_service.rs
Due: rustfmt

omx(team): auto-checkpoint worker-1 [1]
  src/sqlparser/src/keywords.rs
Due: rustfmt

omx(team): auto-checkpoint worker-4 [4]
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/handler/variable.rs
Due: rustfmt

omx(team): auto-checkpoint worker-1 [1]
  src/sqlparser/src/keywords.rs
  src/sqlparser/tests/sqlparser_common.rs
Due: rustfmt

Keep staged RBAC dispatch stubs compiling cleanly
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/handler/variable.rs
Due: rustfmt

fix sink schema change log store value indices
  src/meta/src/controller/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/tests/simulation/tests/integration_tests/sink/mod.rs
  src/tests/simulation/tests/integration_tests/sink/schema_change.rs
  src/tests/simulation/tests/integration_tests/sink/utils.rs
Due: rustfmt

ut
  src/connector/with_options_sink.yaml
Due: none

cover delta exactly-once in e2e
  e2e_test/sink/deltalake_rust_sink.slt
Due: none

cover both delta sink e2e modes
  ci/scripts/e2e-deltalake-sink-rust-test.sh
  e2e_test/sink/deltalake_rust_sink.slt
Due: none

support exactly-once delta sink
  src/connector/src/sink/deltalake.rs
  src/connector/with_options_sink.yaml
Due: rustfmt

fix test
  src/meta/src/controller/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

fix
  src/batch/src/executor/fast_insert.rs
  src/dml/src/table.rs
  src/stream/src/executor/dml.rs
Due: rustfmt

add labeler
  .github/labeler.yml
Due: none

feat(frontend): support iceberg V3 sink with PK index on frontend
  proto/stream_plan.proto
  src/common/src/util/stream_graph_visitor.rs
  src/connector/src/sink/iceberg/config.rs
  src/connector/src/sink/iceberg/test.rs
  src/frontend/planner_test/tests/testdata/input/sink.yaml
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_iceberg_with_pk_index_dv_merger.rs
  src/frontend/src/optimizer/plan_node/stream_iceberg_with_pk_index_writer.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/meta/service/src/ddl_service.rs
  src/prost/build.rs
  src/stream/src/from_proto/iceberg_with_pk_index/dv_merger.rs
  src/stream/src/from_proto/iceberg_with_pk_index/mod.rs
  src/stream/src/from_proto/iceberg_with_pk_index/writer.rs
  src/stream/src/from_proto/mod.rs
Due: rustfmt

update with_options_yaml
  src/connector/with_options_sink.yaml
Due: none

add hash shard for StreamIcebergWithPkIndexDvMerger
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/src/optimizer/plan_node/stream_iceberg_with_pk_index_dv_merger.rs
  src/frontend/src/optimizer/plan_node/stream_iceberg_with_pk_index_writer.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Due: rustfmt

fix check
  Cargo.lock
  src/batch/Cargo.toml
Due: cargo sort

feat(stream): add change buffer operator for locality backfill
  e2e_test/backfill/locality_backfill/sort_buffer.slt
  proto/stream_plan.proto
  src/common/src/session_config/mod.rs
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/planner_test/tests/testdata/input/locality_backfill.yaml
  src/frontend/planner_test/tests/testdata/output/locality_backfill.yaml
  src/frontend/src/optimizer/plan_node/logical_locality_provider.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_change_buffer.rs
  src/storage/src/hummock/iterator/change_log.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/executor/change_buffer.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/change_buffer.rs
  src/stream/src/from_proto/mod.rs
Due: rustfmt

fix(ci): exclude `pubsub` from pre-start dev (#25408)
  Makefile.toml
  ci/docker-compose.yml
  ci/risedev-components.ci.iceberg.env
  ci/risedev-components.ci.source.env
  risedev.yml
Due: none

chore: update version to v2.7.4
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-lakekeeper.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: cargo sort

add ut
  src/stream/src/executor/asof_join.rs
Due: rustfmt

feat(stream): add no-cache AsOf join executor (v2) alongside cache-based v1
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/streaming/join/asof_join.slt.part
  e2e_test/streaming/join/main.slt
  proto/stream_plan.proto
  src/common/src/session_config/mod.rs
  src/common/src/util/sort_util.rs
  src/frontend/src/optimizer/plan_node/stream_asof_join.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/asof_join.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/join/asof_join.rs
  src/stream/src/executor/join/hash_join.rs
  src/stream/src/executor/join/join_row_set.rs
  src/stream/src/executor/join/mod.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/asof_join.rs
Due: rustfmt

remove todo
  src/stream/src/executor/hash_join.rs
Due: rustfmt

backward compact test
  e2e_test/backwards-compat-tests/README.md
  e2e_test/backwards-compat-tests/scripts/utils.sh
  e2e_test/backwards-compat-tests/slt/asof-join/seed.slt
  e2e_test/backwards-compat-tests/slt/asof-join/validate_original.slt
  e2e_test/backwards-compat-tests/slt/asof-join/validate_restart.slt
Due: none

chore: update version to v2.7.4 (#25448)
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-lakekeeper.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: cargo sort

Keep the ADBC bump buildable across Snowflake integration
  Cargo.lock
  Cargo.toml
  src/common/src/array/arrow/mod.rs
  src/connector/Cargo.toml
  src/connector/src/source/adbc_snowflake/mod.rs
  src/connector/src/source/adbc_snowflake/schema.rs
  src/risedevtool/adbc.toml
  src/risedevtool/scripts/download_adbc_snowflake_driver.sh
  src/stream/src/executor/source/batch_source/batch_adbc_snowflake_fetch.rs
Due: rustfmt, cargo sort

feat(frontend): support iceberg V3 sink with PK index on frontend (#25346)
  proto/stream_plan.proto
  src/common/src/util/stream_graph_visitor.rs
  src/connector/src/sink/iceberg/config.rs
  src/connector/src/sink/iceberg/test.rs
  src/connector/with_options_sink.yaml
  src/frontend/planner_test/tests/testdata/input/sink.yaml
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_iceberg_with_pk_index_dv_merger.rs
  src/frontend/src/optimizer/plan_node/stream_iceberg_with_pk_index_writer.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/meta/service/src/ddl_service.rs
  src/prost/build.rs
  src/stream/src/from_proto/iceberg_with_pk_index/dv_merger.rs
  src/stream/src/from_proto/iceberg_with_pk_index/mod.rs
  src/stream/src/from_proto/iceberg_with_pk_index/writer.rs
  src/stream/src/from_proto/mod.rs
Due: rustfmt

fix(ci): unset GIT_SHA before building old release in backward-compat test
  ci/scripts/backwards-compat-test.sh
Due: none

fix
  src/connector/src/sink/test_sink.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/tests/simulation/tests/integration_tests/sink/schema_change.rs
Due: rustfmt

fix(sink): fix bigquery sink auto_create (#23837) (#25397)
  src/connector/src/sink/big_query.rs
Due: rustfmt

Align RisingWave RBAC semantics with PostgreSQL role behavior
  e2e_test/batch/catalog/pg_auth_members.slt.part
  e2e_test/batch/catalog/pg_class.slt.part
  e2e_test/batch/catalog/pg_roles.slt.part
  proto/user.proto
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_auth_members.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_roles.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_users.rs
  src/frontend/src/expr/function_impl/has_privilege.rs
  src/frontend/src/handler/alter_user.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/privilege.rs
  src/frontend/src/handler/variable.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/session.rs
  src/frontend/src/session/transaction.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/user/effective_privilege.rs
  src/frontend/src/user/mod.rs
  src/frontend/src/user/user_catalog.rs
  src/frontend/src/user/user_service.rs
  src/frontend/tests/role_dispatch.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20260422_000002_user_inherit_flag.rs
  src/meta/model/src/user.rs
  src/meta/service/src/user_service.rs
  src/meta/src/controller/user.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/drop.yaml
  src/sqlparser/tests/testdata/role.yaml
  src/utils/pgwire/src/pg_response.rs
Due: rustfmt

e2e: cover Doris VARIANT sink
  ci/scripts/e2e-doris-sink-test.sh
  e2e_test/sink/doris_sink.slt
Due: none

feat(sink): allow Doris VARIANT in type mapping
  src/connector/src/sink/doris.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/mod.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
