Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fix(streaming): use Delete/Insert instead of UpdateDelete/UpdateInsert for outer joins
  src/stream/src/executor/asof_join.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/join/builder.rs
Due: rustfmt

consistent panic message
  src/common/src/array/stream_chunk_iter.rs
  src/common/src/lib.rs
  src/common/src/row/mod.rs
  src/common/src/types/to_text.rs
Due: rustfmt

fix(types): enable `float_roundtrip` for `serde_json` used by value encoding of JSONB (#23453)
  e2e_test/batch/types/jsonb_issue_23376.slt.part
  src/common/Cargo.toml
Due: cargo sort

chore: increase build other components timeout (#23470)
  ci/workflows/main-cron.yml
Due: none

refactor: remove source_splits model and related code (#23467)
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250907_000000_source_splits.rs
  src/meta/model/src/lib.rs
  src/meta/model/src/prelude.rs
  src/meta/model/src/source_splits.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/source_manager/split_assignment.rs
Due: rustfmt

fix(streaming): ban background ddl for locality backfill (#23460)
  src/frontend/src/optimizer/plan_node/utils.rs
Due: rustfmt

test: refactor tests to use SQL-based scaling, remove manual rescheduling
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/tests/integration_tests/recovery/backfill.rs
  src/tests/simulation/tests/integration_tests/recovery/mod.rs
  src/tests/simulation/tests/integration_tests/recovery/pause_on_bootstrap.rs
  src/tests/simulation/tests/integration_tests/scale/auto_parallelism.rs
  src/tests/simulation/tests/integration_tests/scale/cascade_materialized_view.rs
  src/tests/simulation/tests/integration_tests/scale/dynamic_filter.rs
  src/tests/simulation/tests/integration_tests/scale/nexmark_chaos.rs
  src/tests/simulation/tests/integration_tests/scale/nexmark_q4.rs
  src/tests/simulation/tests/integration_tests/scale/nexmark_source.rs
  src/tests/simulation/tests/integration_tests/scale/no_shuffle.rs
  src/tests/simulation/tests/integration_tests/scale/shared_source.rs
  src/tests/simulation/tests/integration_tests/scale/singleton_migration.rs
  src/tests/simulation/tests/integration_tests/scale/sink.rs
  src/tests/simulation/tests/integration_tests/scale/table.rs
  src/tests/simulation/tests/integration_tests/sink/scale.rs
Due: rustfmt

fix cdc iceberg table
  proto/ddl_service.proto
  src/frontend/src/handler/create_table.rs
  src/meta/service/src/ddl_service.rs
Due: rustfmt

feat: unify the notification for background and foreground job and refactoring cancel process (#23215)
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

test: remove outdated comments from integration tests
  src/tests/simulation/tests/integration_tests/scale/shared_source.rs
  src/tests/simulation/tests/integration_tests/sink/scale.rs
Due: rustfmt

chore: bump rumqttc (#23456)
  Cargo.lock
  src/connector/Cargo.toml
Due: cargo sort

better docs
  src/batch/executors/src/executor/update.rs
  src/common/src/array/stream_chunk.rs
  src/stream/src/common/compact_chunk.rs
Due: rustfmt

test: refactor simulation scaling to use sql ddl exclusively (#23474)
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/tests/integration_tests/recovery/backfill.rs
  src/tests/simulation/tests/integration_tests/recovery/mod.rs
  src/tests/simulation/tests/integration_tests/recovery/pause_on_bootstrap.rs
  src/tests/simulation/tests/integration_tests/scale/auto_parallelism.rs
  src/tests/simulation/tests/integration_tests/scale/cascade_materialized_view.rs
  src/tests/simulation/tests/integration_tests/scale/dynamic_filter.rs
  src/tests/simulation/tests/integration_tests/scale/nexmark_chaos.rs
  src/tests/simulation/tests/integration_tests/scale/nexmark_q4.rs
  src/tests/simulation/tests/integration_tests/scale/nexmark_source.rs
  src/tests/simulation/tests/integration_tests/scale/no_shuffle.rs
  src/tests/simulation/tests/integration_tests/scale/shared_source.rs
  src/tests/simulation/tests/integration_tests/scale/singleton_migration.rs
  src/tests/simulation/tests/integration_tests/scale/sink.rs
  src/tests/simulation/tests/integration_tests/scale/table.rs
  src/tests/simulation/tests/integration_tests/sink/scale.rs
Due: rustfmt

fix(sink): fix data loss caused by rate limit reader cancellation unsafety (#23321) (#23462)
  src/common/rate_limit/src/lib.rs
  src/common/src/array/data_chunk.rs
  src/common/src/array/stream_chunk.rs
  src/connector/src/sink/log_store.rs
  src/stream/src/executor/dml.rs
  src/stream/src/executor/source/mod.rs
Due: rustfmt

feat: add BatchIcebergListExecutor for processing Iceberg table snapshots in streaming
  src/stream/src/executor/source/batch_iceberg_list_executor.rs
  src/stream/src/executor/source/mod.rs
Due: rustfmt

feat(streaming): support truncating locality backfill state (#23324)
  src/meta/src/barrier/backfill_order_control.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/executor/locality_provider.rs
Due: rustfmt

improve locality backfill progress
  proto/stream_service.proto
  src/meta/src/barrier/progress.rs
  src/stream/src/executor/locality_provider.rs
  src/stream/src/task/barrier_manager/progress.rs
Due: rustfmt

feat(expr): add array_reverse
  e2e_test/batch/aggregate/scalar_as_agg.slt.part
  e2e_test/batch/functions/array_reverse.slt.part
  proto/expr.proto
  src/expr/impl/src/scalar/array_reverse.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

chore: increase build other components timeout (#23470) (#23475)
  ci/workflows/main-cron.yml
Due: none

chore: increase build other components timeout (#23470) (#23476)
  ci/workflows/main-cron.yml
Due: none

feat(expr): support vector_dims and subvector function
  proto/expr.proto
  src/expr/impl/src/scalar/vector.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

chore(ci): increase build other components timeout
  ci/workflows/pull-request.yml
Due: none

chore(ci): increase build other components timeout (#23479)
  ci/workflows/pull-request.yml
Due: none

cherry-pick chore(ci): increase build other components timeout
  ci/workflows/pull-request.yml
Due: none

cherry-pick chore(ci): increase build other components timeout (#23482)
  ci/workflows/pull-request.yml
Due: none

feat(streaming): also match `Insert` then `Delete` pairs when eliminating adjacent no-op updates
  src/common/src/array/stream_chunk.rs
Due: rustfmt

feat(expr): introduce descending and nulls_first parameters to array_sort
  e2e_test/batch/functions/array_sort.slt.part
  src/expr/impl/src/scalar/array_sort.rs
  src/frontend/src/expr/type_inference/func.rs
Due: rustfmt

fix build: mysql_async/rust_decimal; MySqlColumnType::MYSQL_TYPE_VECTOR
  Cargo.lock
  Cargo.toml
  src/frontend/Cargo.toml
  src/frontend/src/expr/table_function.rs
Due: rustfmt, cargo sort

fix: fix test script (#23419) (#23422)
  ci/scripts/e2e-sqlserver-sink-test.sh
Due: none

refactor(batch): store BatchQueryEpoch in batch node
  e2e_test/ddl/not_null.slt
  proto/batch_plan.proto
  proto/plan_common.proto
  proto/task_service.proto
  src/batch/executors/src/executor/join/distributed_lookup_join.rs
  src/batch/executors/src/executor/join/local_lookup_join.rs
  src/batch/executors/src/executor/row_seq_scan.rs
  src/batch/executors/src/executor/vector_index_nearest.rs
  src/batch/src/execution/grpc_exchange.rs
  src/batch/src/executor/mod.rs
  src/batch/src/rpc/service/task_service.rs
  src/batch/src/task/task_execution.rs
  src/batch/src/task/task_manager.rs
  src/compute/tests/cdc_tests.rs
  src/compute/tests/integration_tests.rs
  src/frontend/src/handler/declare_cursor.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/batch_lookup_join.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/batch_vector_search.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/optimizer/plan_visitor/mod.rs
  src/frontend/src/optimizer/plan_visitor/read_storage_table_visitor.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/scheduler/snapshot.rs
  src/frontend/src/session/cursor_manager.rs
  src/rpc_client/src/compute_client.rs
Due: rustfmt

fix(meta): remove message size limit for sink coordination service
  src/meta/node/src/server.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

feat(vector): add metrics to monitor vector index
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/__init__.py
  grafana/dashboard/dev/vector_search.py
  grafana/risingwave-dev-dashboard.json
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/vector_writer.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/hummock/vector/file.rs
  src/storage/src/hummock/vector/mod.rs
  src/storage/src/hummock/vector/monitor.rs
  src/storage/src/hummock/vector/writer/hnsw.rs
  src/storage/src/hummock/vector/writer/mod.rs
  src/storage/src/lib.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/vector/hnsw.rs
Due: rustfmt

chore: set EventLogServiceServer to allow unlimited message size (#23203) (#23220)
  src/meta/node/src/server.rs
Due: rustfmt

fix: map_contains with polymorphic type (#22084) (#23241)
  src/expr/impl/src/scalar/array.rs
  src/frontend/src/expr/type_inference/func.rs
Due: rustfmt

tls shall also be enabled by default
  Cargo.lock
  Cargo.toml
Due: cargo sort
