Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

get rid of plan node dependencies
  dashboard/components/DdlGraph.tsx
  dashboard/lib/layout.ts
  dashboard/pages/ddl_graph.tsx
  src/meta/src/dashboard/mod.rs
Due: rustfmt

exclude non-streaming relations from ddl graph
  dashboard/lib/api/streaming.ts
  dashboard/pages/ddl_graph.tsx
Due: none

chore: update package version (#18542)
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix: existing actor splits were not updated
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

fix(sink): remove some todo!() with error
  src/common/src/array/map_array.rs
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/encoder/bson.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/encoder/template.rs
  src/connector/src/sink/encoder/text.rs
  src/expr/impl/src/scalar/array.rs
Due: rustfmt

add method to map relation to fragment vertices
  proto/meta.proto
  src/meta/src/dashboard/mod.rs
Due: rustfmt

open file
  src/connector/codec/src/common/protobuf/compiler.rs
Due: rustfmt

fix(metadata v2): existing actor splits were not updated (#18553)
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

Revert "fix: dup split assignment in source (#18541)"
  src/meta/src/barrier/command.rs
  src/meta/src/stream/source_manager.rs
Due: rustfmt

Revert "fix: check split assignment before pushing mutation (#18134)"
  src/meta/src/barrier/command.rs
  src/meta/src/stream/source_manager.rs
Due: rustfmt

fix: revert split assignment check (#18554)
  src/meta/src/barrier/command.rs
  src/meta/src/stream/source_manager.rs
Due: rustfmt

feat(metrics): support filtering metrics by name in Prometheus scrape handler
  Cargo.lock
  Cargo.toml
  src/common/common_service/Cargo.toml
  src/common/common_service/src/metrics_manager.rs
Due: rustfmt, cargo sort

fix(stream): handle 0.0 case of approx percentile, and fix computation of quantile_count (#18546) (#18549)
  src/expr/impl/src/aggregate/approx_percentile.rs
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/src/binder/expr/function/aggregate.rs
  src/stream/src/executor/approx_percentile/global_state.rs
Due: rustfmt

remove protobuf-src
  Cargo.lock
  src/connector/codec/Cargo.toml
Due: cargo sort

fix(sink): remove some todo!() with error (#18550)
  src/common/src/array/map_array.rs
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/encoder/bson.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/encoder/template.rs
  src/connector/src/sink/encoder/text.rs
  src/expr/impl/src/scalar/array.rs
Due: rustfmt

refactor(source): move protobuf to codec crate, and refactor tests (#18507)
  Cargo.lock
  ci/scripts/e2e-source-test.sh
  e2e_test/sink/kafka/protobuf.slt
  e2e_test/source/basic/kafka.slt
  e2e_test/source/basic/old_row_format_syntax/kafka.slt
  src/connector/Cargo.toml
  src/connector/codec/Cargo.toml
  src/connector/codec/build.rs
  src/connector/codec/src/common/mod.rs
  src/connector/codec/src/common/protobuf/compiler.rs
  src/connector/codec/src/common/protobuf/mod.rs
  src/connector/codec/src/decoder/mod.rs
  src/connector/codec/src/decoder/protobuf/mod.rs
  src/connector/codec/src/decoder/protobuf/parser.rs
  src/connector/codec/src/lib.rs
  src/connector/codec/tests/integration_tests/avro.rs
  src/connector/codec/tests/integration_tests/main.rs
  src/connector/codec/tests/integration_tests/protobuf.rs
  src/connector/codec/tests/integration_tests/protobuf/.gitignore
  src/connector/codec/tests/integration_tests/utils.rs
  src/connector/codec/tests/test_data/all-types.pb
  src/connector/codec/tests/test_data/all-types.proto
  src/connector/codec/tests/test_data/any-schema.proto
  src/connector/codec/tests/test_data/complex-schema.proto
  src/connector/codec/tests/test_data/recursive.proto
  src/connector/codec/tests/test_data/simple-schema.proto
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/mod.rs
  src/connector/src/schema/protobuf.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/test_data/any-schema.pb
  src/connector/src/test_data/complex-schema
  src/connector/src/test_data/proto_recursive/recursive.pb
  src/connector/src/test_data/proto_recursive/recursive.proto
  src/connector/src/test_data/simple-schema
  src/tests/simulation/src/slt.rs
Due: rustfmt, cargo sort

feat(source): support ingesting protobuf map (#18512)
  src/connector/codec/src/decoder/protobuf/parser.rs
  src/connector/codec/tests/integration_tests/protobuf.rs
  src/connector/codec/tests/test_data/all-types.proto
Due: rustfmt

avro
  src/common/src/array/map_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/types/mod.rs
  src/connector/src/sink/encoder/avro.rs
Due: rustfmt

fix doctest
  src/common/src/array/struct_array.rs
Due: rustfmt

update lock file
  Cargo.lock
Due: none

chore: use Postgres meta backend for `risedev d full`
  risedev.yml
Due: none

refactor(test): kafka sink with protobuf/avro as inline style (#18193)
  ci/scripts/e2e-kafka-sink-test.sh
  e2e_test/sink/kafka/avro.slt
  e2e_test/sink/kafka/protobuf.slt
Due: none

chore: use Postgres meta backend for `risedev d full` (#18560)
  risedev.yml
Due: none

fix ci
  ci/scripts/build.sh
  src/storage/src/hummock/sstable/mod.rs
Due: rustfmt

feat(mqtt): Add max_packet_size option to MQTT Source (#18520)
  integration_tests/mqtt/create_source.sql
  src/connector/src/connector_common/mqtt_common.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt

add optimized plan
  src/frontend/planner_test/tests/testdata/input/topn.yaml
  src/frontend/planner_test/tests/testdata/output/topn.yaml
Due: none

fix(optimizer): correctly derive cardinality for group top-n
  src/frontend/planner_test/tests/testdata/input/topn.yaml
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
Due: rustfmt

rename `gen_prost_table` to `gen_pbtable`
  src/stream/spill_test/src/test_mem_table.rs
  src/stream/src/common/log_store_impl/kv_log_store/test_utils.rs
  src/stream/src/common/table/test_state_table.rs
  src/stream/src/common/table/test_storage_table.rs
  src/stream/src/common/table/test_utils.rs
Due: rustfmt

remove one use of `StateTable::new_with_distribution`
  src/ctl/src/cmd_impl/table/scan.rs
Due: rustfmt

add fragment id to vertex map
  dashboard/lib/api/streaming.ts
  dashboard/pages/ddl_graph.tsx
  proto/meta.proto
  src/meta/src/dashboard/mod.rs
Due: rustfmt

remove `new_with_distributiuon_inconsistent_op`
  src/stream/src/common/table/state_table.rs
Due: rustfmt

fix
  e2e_test/backwards-compat-tests/scripts/utils.sh
Due: none

feat: improve error message of building encoder error
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/mod.rs
Due: rustfmt

minor
  risedev.yml
Due: none

enable python udf
  ci/scripts/backwards-compat-test.sh
Due: none

fix embedded udf compile
  e2e_test/backwards-compat-tests/scripts/utils.sh
Due: none

feat(storage): notify frontend with more hummock version info
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/scheduler/snapshot.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/transaction.rs
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/frontend_version.rs
  src/storage/hummock_sdk/src/lib.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
