Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

Remove assignment2 module; restrict compute_worker_quotas visibility; delete assignment2.rs file.
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_graph/assignment.rs
  src/meta/src/stream/stream_graph/assignment2.rs
Due: rustfmt

Refactor worker slot handling in ScaleController; remove obsolete scheduling functions and imports.
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

Add `assignment` module for weight-based item distribution; includes unbounded and weighted assignment functions.
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_graph/assignment.rs
Due: rustfmt

Remove redundant unclosed comment from `assign_items_weighted_with_scale_fn` function.
  src/meta/src/stream/stream_graph/assignment.rs
Due: rustfmt

Derive Eq/PartialEq for BalancedBy, make test helper pub(crate), refactor & extend affinity test module
  src/meta/src/stream/stream_graph/assignment.rs
Due: rustfmt

Refactor: rename vars in affinity_tests_horizon_scaling for clarity; update assign_hierarchical calls
  src/meta/src/stream/stream_graph/assignment.rs
Due: rustfmt

Add VNode chunking via MaximizeContiguity; update assigner & tests for contiguous vnode chunk splits
  src/meta/src/stream/stream_graph/assignment.rs
Due: rustfmt

Use XxHash64 for stable hashing, add ScaleFactor type, update scaling logic and tests, refactor test suite
  Cargo.lock
  src/meta/Cargo.toml
  src/meta/src/stream/stream_graph/assignment.rs
Due: rustfmt, cargo sort

work
  0521_can_work.dat
  0521_reproduce.dat
  java/com_risingwave_java_binding_Binding.h
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/JniSourceValidateHandler.java
  java/connector-node/risingwave-connector-service/src/main/resources/mysql.properties
  java/connector-node/risingwave-source-cdc/src/main/java/com/risingwave/connector/cdc/debezium/internal/OpendalSchemaHistory.java
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  src/jni_core/src/jvm_runtime.rs
  src/jni_core/src/macros.rs
  src/jni_core/src/opendal_schema_history.rs
Due: rustfmt

fix backfill tables
  src/common/src/catalog/internal_table.rs
Due: rustfmt

cleanup imports
  src/frontend/src/optimizer/rule/table_function_to_internal_source_backfill_progress.rs
Due: rustfmt

add proto
  proto/expr.proto
Due: none

add internal_source_backfill_progress table function
  src/frontend/src/binder/expr/function/mod.rs
  src/frontend/src/expr/table_function.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/table_function_to_internal_source_backfill_progress.rs
Due: rustfmt

add is_source_backfill
  src/common/src/catalog/internal_table.rs
Due: rustfmt

add slt
  e2e_test/backfill/backfill_progress_source.slt
Due: none

update docs
  src/frontend/src/optimizer/rule/table_function_to_internal_source_backfill_progress.rs
Due: rustfmt

update comment
  src/frontend/src/optimizer/rule/table_function_to_internal_backfill_progress.rs
Due: rustfmt

defer test to later branch
  e2e_test/backfill/backfill_progress_source.slt
Due: none

check
  proto/common.proto
  src/frontend/src/user/user_manager.rs
  src/meta/model/src/object.rs
Due: rustfmt

refactor: rename SetSinkProps to AlterConnectorProps in ALTER SINK operations
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

refactor(sqlsmith): adjust should_generate()
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
  src/tests/sqlsmith/src/sql_gen/time_window.rs
Due: rustfmt

fix(sqlsmith): use from/into trait
  src/tests/sqlsmith/src/config.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
Due: rustfmt

fix(sqlsmith): add lisense
  src/tests/sqlsmith/src/config.rs
Due: rustfmt

fix(sqlsmith): typo and fmt
  src/tests/sqlsmith/src/config.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
Due: rustfmt

refactor(sqlsmith): separate syntax and fature
  src/tests/sqlsmith/config.yml
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/config.rs
Due: rustfmt

refactor(sqlsmith): revert sql generator conext
  src/tests/sqlsmith/src/sql_gen/agg.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
Due: rustfmt

fix(sqlsmith): use Eowc instead of EOWC
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/config.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
  src/tests/sqlsmith/src/sql_gen/time_window.rs
Due: rustfmt

update unit test again
  src/tests/sqlsmith/src/lib.rs
Due: rustfmt

debug why check get slower
  ci/scripts/check.sh
Due: none

feat(stream): enhance source validation during property alteration in StreamServiceImpl
  src/meta/service/src/stream_service.rs
  src/meta/src/manager/metadata.rs
Due: rustfmt

feat(stream): add validate_source_once method for improved source property validation
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/source_manager/worker.rs
Due: rustfmt

work with hummock object store
  Cargo.lock
  java/connector-node/risingwave-source-cdc/src/main/java/com/risingwave/connector/cdc/debezium/internal/OpendalSchemaHistory.java
  src/jni_core/Cargo.toml
  src/jni_core/src/opendal_schema_history.rs
  src/meta/Cargo.toml
  src/meta/src/hummock/manager/mod.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/opendal_engine/hdfs.rs
Due: rustfmt, cargo sort

fix(sqlsmith): use `ObjectName` for column name to correctly distinguish qualified name (#22225)
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
  src/tests/sqlsmith/src/sql_gen/time_window.rs
Due: rustfmt

switch to workspace wrapper approach
  Cargo.toml
  ci/scripts/check.sh
  ci/scripts/common.sh
  ci/scripts/rustc-workspace-wrapper.sh
Due: cargo sort

add openai_embedding function
  proto/expr.proto
  src/expr/impl/src/scalar/ai_model.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

update cargo.toml
  Cargo.lock
  src/expr/impl/Cargo.toml
Due: cargo sort

re-enable udf coverage
  src/expr/impl/src/udf/mod.rs
Due: rustfmt

add reference
  ci/scripts/rustc-workspace-wrapper.sh
Due: none

try try again
  ci/scripts/rustc-workspace-wrapper.sh
Due: none

unset sccache
  ci/scripts/common.sh
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
