Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

feat(connector): support Pulsar ENCODE AUTO
  src/connector/src/parser/avro/mod.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/pulsar_resolver.rs
  src/connector/src/parser/config.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/schema/mod.rs
  src/connector/src/schema/pulsar.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema.rs
  src/frontend/src/handler/create_source/validate.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

feat(connector): support Pulsar ENCODE AUTO
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

refactor(connector): simplify Pulsar schema registry integration
  e2e_test/source_inline/pulsar/schema_registry.py
  e2e_test/source_inline/pulsar/schema_registry.slt
  src/connector/src/parser/avro/pulsar_resolver.rs
  src/connector/src/parser/config.rs
  src/connector/src/schema/mod.rs
  src/connector/src/schema/pulsar_schema_registry/config.rs
  src/connector/src/schema/pulsar_schema_registry/mod.rs
  src/connector/src/schema/pulsar_schema_registry/schema.rs
  src/connector/src/schema/pulsar_schema_registry/supplier.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema.rs
  src/frontend/src/handler/create_source/validate.rs
Due: rustfmt

fix(frontend): move Pulsar schema test module
  src/frontend/src/handler/create_source/external_schema.rs
Due: rustfmt

ci: increase standalone e2e timeout (#26539)
  ci/workflows/main-cron.yml
Due: none

feat(connector): support WebSocket source connector
  Cargo.lock
  ci/scripts/e2e-source-test.sh
  e2e_test/source_inline/requirements.txt
  e2e_test/source_inline/websocket/websocket_source.slt.serial
  e2e_test/source_inline/websocket/ws_server.py
  src/connector/Cargo.toml
  src/connector/src/error.rs
  src/connector/src/macros.rs
  src/connector/src/parser/additional_columns.rs
  src/connector/src/source/mod.rs
  src/connector/src/source/websocket/enumerator/mod.rs
  src/connector/src/source/websocket/mod.rs
  src/connector/src/source/websocket/source/message.rs
  src/connector/src/source/websocket/source/mod.rs
  src/connector/src/source/websocket/source/reader.rs
  src/connector/src/source/websocket/split.rs
  src/connector/with_options_source.yaml
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/validate.rs
Due: rustfmt, cargo sort

fix(connector): gate WebSocket source tests behind non-madsim builds
  src/connector/src/source/websocket/enumerator/mod.rs
  src/connector/src/source/websocket/source/reader.rs
Due: rustfmt

style(connector): apply rustfmt to websocket reader and test imports
  src/connector/src/source/websocket/enumerator/mod.rs
  src/connector/src/source/websocket/source/reader.rs
Due: rustfmt

style(connector): match rustfmt for websocket reader chain and assertion
  src/connector/src/source/websocket/source/reader.rs
Due: rustfmt

fix(frontend): gate iceberg engine schema changes by license
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
Due: rustfmt

fix(frontend): decouple iceberg engine schema change from compaction
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
Due: rustfmt

fix(dynamodb): retry unprocessed batch write items (#25985) (#26111)
  Cargo.lock
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/dynamodb_mock_server.py
  e2e_test/sink/dynamodb_sink.slt
  src/connector/Cargo.toml
  src/connector/src/sink/dynamodb.rs
  src/connector/with_options_sink.yaml
Due: rustfmt, cargo sort

fix(dynamodb): allow altering retry config on fly
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/sink/dynamodb.rs
  src/connector/with_options_sink.yaml
Due: rustfmt

fix(batch): improve await-tree trace correctness
  src/batch/src/execution/grpc_exchange.rs
  src/batch/src/execution/local_exchange.rs
  src/batch/src/task/task_manager.rs
  src/common/common_service/src/await_tree_middleware.rs
  src/compute/src/rpc/service/batch_exchange_service.rs
  src/compute/src/server.rs
  src/ctl/src/cmd_impl/await_tree.rs
Due: rustfmt

test: remove source-only options from file sink e2e (#26541)
  e2e_test/s3/file_sink.py
Due: none

fix(dynamodb): retry unprocessed batch write items (#26548)
  Cargo.lock
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/dynamodb_mock_server.py
  e2e_test/sink/dynamodb_sink.slt
  src/connector/Cargo.toml
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/sink/dynamodb.rs
  src/connector/with_options_sink.yaml
Due: rustfmt, cargo sort

fix mysql cdc auto schema type normalization
  src/connector/src/source/cdc/external/mod.rs
  src/meta/service/src/ddl_service.rs
Due: rustfmt

fix(frontend): decouple Iceberg Engine schema change from compaction (#26545)
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
Due: rustfmt

fix(frontend): gate Iceberg engine schema changes by license (#26536)
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
Due: rustfmt

test(cdc): add auto schema type compatibility e2e
  e2e_test/source_inline/cdc/mysql/mysql_auto_schema_change_type_compat.slt
  e2e_test/source_inline/cdc/postgres/postgres_auto_schema_change_type_compat.slt
Due: none

refactor(cdc): share type compatibility validation in rust
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/SqlServerValidator.java
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  src/common/src/catalog/cdc_type_compatibility.rs
  src/common/src/catalog/mod.rs
  src/connector/src/source/cdc/external/mod.rs
  src/jni_core/src/lib.rs
  src/jni_core/src/macros.rs
  src/meta/service/src/ddl_service.rs
Due: rustfmt

Potential fix for pull request finding
  src/meta/service/src/notification_service.rs
Due: rustfmt

fix(meta): avoid snapshot race during resubscribe
  src/meta/service/src/notification_service.rs
  src/meta/src/manager/notification.rs
  src/storage/hummock_test/src/mock_notification_client.rs
Due: rustfmt

Potential fix for pull request finding
  src/meta/src/manager/notification.rs
Due: rustfmt

style: format notification subscribe call
  src/meta/service/src/notification_service.rs
Due: rustfmt

refactor(meta): simplify snapshot notification delivery
  src/meta/src/manager/notification.rs
  src/storage/hummock_test/src/mock_notification_client.rs
Due: rustfmt

feat(iceberg): coordinator-driven size-based commit trigger (#39)
  proto/connector_service.proto
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/sink/coordinate.rs
  src/connector/src/sink/decouple_checkpoint_log_sink.rs
  src/connector/src/sink/iceberg/config.rs
  src/connector/src/sink/iceberg/engine_options.rs
  src/connector/src/sink/iceberg/test.rs
  src/connector/src/sink/iceberg/writer.rs
  src/connector/src/sink/writer.rs
  src/connector/with_options_sink.yaml
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/handle.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/rpc_client/src/sink_coordinate_client.rs
Due: rustfmt

fix(sink): always report buffered bytes to unblock coordinator epoch alignment
  src/connector/src/sink/coordinate.rs
  src/connector/src/sink/decouple_checkpoint_log_sink.rs
  src/connector/src/sink/iceberg/config.rs
  src/connector/src/sink/iceberg/test.rs
  src/connector/with_options_sink.yaml
  src/meta/src/manager/sink_coordination/manager.rs
Due: rustfmt

fix(cdc): diagnose postgres select privilege
  src/connector/src/connector_common/postgres.rs
  src/connector/src/sink/postgres.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

test(cdc): cover postgres select privilege error
  e2e_test/source_inline/cdc/postgres/postgres_select_privilege.slt
  src/connector/src/connector_common/postgres.rs
Due: rustfmt

test(cdc): fix postgres select privilege setup
  e2e_test/source_inline/cdc/postgres/postgres_select_privilege.slt
Due: none

fix(metrics): retain guards for metric lifetime
  src/batch/executors/src/executor/iceberg_scan.rs
  src/common/metrics/src/monitor/connection.rs
  src/connector/src/sink/iceberg/commit.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/metrics.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/iceberg/planner.rs
  src/connector/src/source/kafka/client_context.rs
  src/connector/src/source/kafka/stats.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/stream/refresh_manager.rs
  src/stream/src/executor/source/batch_source/batch_iceberg_fetch.rs
  src/stream/src/executor/source/iceberg_fetch_executor.rs
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt

fix(metrics): retain only cumulative metric guards
  src/common/metrics/src/guarded_metrics.rs
  src/connector/src/sink/iceberg/commit.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/planner.rs
  src/connector/src/source/kafka/client_context.rs
  src/connector/src/source/kafka/stats.rs
  src/meta/src/stream/refresh_manager.rs
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt

fix(metrics): retain guarded metrics locally
  src/common/metrics/src/monitor/connection.rs
  src/connector/src/sink/iceberg/commit.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/iceberg/planner.rs
  src/connector/src/source/kafka/stats.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/stream/refresh_manager.rs
  src/stream/src/executor/source/batch_source/batch_iceberg_fetch.rs
  src/stream/src/executor/source/iceberg_fetch_executor.rs
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt

chore(lints): detect temporary guarded metric updates
  lints/Cargo.toml
  lints/README.md
  lints/src/format_error.rs
  lints/src/lib.rs
  lints/src/temporary_guarded_metric.rs
  lints/ui/temporary_guarded_metric.rs
  lints/ui/temporary_guarded_metric.stderr
Due: rustfmt, cargo sort

fix(lints): allow temporary guarded gauge sets
  lints/src/temporary_guarded_metric.rs
  lints/ui/temporary_guarded_metric.stderr
Due: rustfmt

style: apply cargo fmt to size-based commit trigger code
  src/connector/src/sink/coordinate.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/rpc_client/src/sink_coordinate_client.rs
Due: rustfmt

chore: add actor_id and fragment_id in cdc backfill failure log (#25328)
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
Due: rustfmt

fix(iceberg): backtick MiB in doc comments and correct stale per-writer sizing guidance
  src/connector/src/sink/iceberg/config.rs
Due: rustfmt
