Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fix(frontend): preserve planning and index dependencies for views
  e2e_test/ddl/dependency_check.slt
  src/frontend/src/handler/create_view.rs
Due: rustfmt

ci: label external contributor PRs as community
  .github/workflows/label-community-contributor.yml
Due: none

feat(frontend): support auto locality backfill mode (#25990)
  e2e_test/backfill/locality_backfill/basic.slt
  e2e_test/backfill/locality_backfill/shard_by_exact_key.slt
  e2e_test/backfill/locality_backfill/share.slt
  e2e_test/backfill/locality_backfill/values.slt
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/error_ui/simple/license.slt
  src/common/src/session_config/locality_backfill_mode.rs
  src/common/src/session_config/mod.rs
  src/frontend/planner_test/tests/testdata/input/locality_backfill.yaml
  src/frontend/planner_test/tests/testdata/output/locality_backfill.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/optimizer/plan_node/convert.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/logical_dedup.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/plan_visitor/locality_backfill_scan_estimator.rs
  src/frontend/src/optimizer/plan_visitor/locality_provider_counter.rs
  src/frontend/src/optimizer/plan_visitor/mod.rs
  src/meta/src/controller/session_params.rs
  src/tests/simulation/tests/integration_tests/recovery/locality_backfill.rs
Due: rustfmt

feat: add pk-index compaction resolver stream operators
  Cargo.lock
  proto/stream_plan.proto
  proto/stream_service.proto
  src/meta/src/barrier/checkpoint/independent_job/batch_refresh_job/mod.rs
  src/meta/src/barrier/checkpoint/independent_job/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/partial_graph.rs
  src/meta/src/barrier/rpc.rs
  src/prost/build.rs
  src/stream/Cargo.toml
  src/stream/src/executor/iceberg_with_pk_index/compaction_resolver.rs
  src/stream/src/executor/iceberg_with_pk_index/mod.rs
  src/stream/src/executor/iceberg_with_pk_index/position_delete_handler_impl.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/iceberg_with_pk_index/compaction_resolver.rs
  src/stream/src/from_proto/iceberg_with_pk_index/mod.rs
Due: rustfmt, cargo sort

fix(meta): preserve recoverable foreground jobs after recovery
  e2e_test/slow_tests/ddl/creation_check.slt
  src/common/src/config/meta.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/manager.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/controller/catalog/list_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/controller/catalog/util.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/tests/simulation/tests/integration_tests/backfill_tests.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Due: rustfmt

ci: upgrade github-script action to v9
  .github/workflows/label-community-contributor.yml
Due: none

refactor(stream): load global watermark concurrently
  src/stream/src/executor/watermark_filter.rs
Due: rustfmt

fix(stream): reannounce async watermark refresh
  src/stream/src/executor/watermark_filter.rs
Due: rustfmt

refactor(stream): gate async watermark refresh on idle input
  src/stream/src/executor/watermark_filter.rs
Due: rustfmt

refactor(stream): read idle watermark asynchronously
  src/stream/src/executor/watermark_filter.rs
Due: rustfmt

feat: add pk-index compaction resolver stream operator (#26564)
  Cargo.lock
  proto/stream_plan.proto
  proto/stream_service.proto
  src/meta/src/barrier/checkpoint/independent_job/batch_refresh_job/mod.rs
  src/meta/src/barrier/checkpoint/independent_job/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/partial_graph.rs
  src/meta/src/barrier/rpc.rs
  src/prost/build.rs
  src/stream/Cargo.toml
  src/stream/src/executor/iceberg_with_pk_index/compaction_resolver.rs
  src/stream/src/executor/iceberg_with_pk_index/mod.rs
  src/stream/src/executor/iceberg_with_pk_index/position_delete_handler_impl.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/iceberg_with_pk_index/compaction_resolver.rs
  src/stream/src/from_proto/iceberg_with_pk_index/mod.rs
Due: rustfmt, cargo sort

fix(ci): authenticate cherry-pick checkout with PAT
  .github/workflows/cherry-pick-since-release-branch.yml
Due: none

ci: label community PRs only when opened
  .github/workflows/label-community-contributor.yml
Due: none

ci: label external contributor PRs as community (#26683)
  .github/workflows/label-community-contributor.yml
Due: none

chore(lints): detect temporary guarded metric updates
  lints/Cargo.toml
  lints/README.md
  lints/src/format_error.rs
  lints/src/lib.rs
  lints/src/temporary_guarded_metric.rs
  lints/ui/temporary_guarded_metric.rs
  lints/ui/temporary_guarded_metric.stderr
Due: rustfmt, cargo sort

fix(lints): allow temporary guarded gauge sets
  lints/src/temporary_guarded_metric.rs
  lints/ui/temporary_guarded_metric.stderr
Due: rustfmt

feat(cdc): report non-parallelized backfill progress
  proto/meta.proto
  proto/stream_service.proto
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/connector/src/source/cdc/external/sql_server.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_cdc_progress.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/cdc_progress.rs
  src/meta/src/barrier/info.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
  src/stream/src/task/barrier_manager/cdc_progress.rs
Due: rustfmt

refactor(stream): load global watermark asynchronously (#26640)
  src/stream/src/executor/watermark_filter.rs
Due: rustfmt

chore: update version to v3.0.3
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-lakekeeper.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: cargo sort

feat(sink): support LanceDb sink
  Cargo.lock
  Cargo.toml
  ci/scripts/e2e-lancedb-sink-test.sh
  ci/scripts/notify.py
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/sink/lancedb/expected_output.csv
  e2e_test/sink/lancedb/lancedb_helper.py
  e2e_test/sink/lancedb/lancedb_sink.slt
  src/common/src/array/arrow/arrow_lancedb.rs
  src/common/src/array/arrow/mod.rs
  src/connector/Cargo.toml
  src/connector/src/sink/lancedb.rs
  src/connector/src/sink/mod.rs
Due: rustfmt, cargo sort

feat(sink): support lancedb commit modes
  src/connector/src/sink/lancedb.rs
Due: rustfmt

fix(sink): fix lancedb CI failures
  src/common/src/array/arrow/arrow_lancedb.rs
  src/connector/src/sink/lancedb.rs
  src/connector/with_options_sink.yaml
  src/meta/src/lib.rs
Due: rustfmt

fix(sink): refresh lancedb alter config metadata
  src/connector/src/allow_alter_on_fly_fields.rs
Due: rustfmt

support postgis geography
  src/common/src/catalog/cdc_type_compatibility.rs
  src/common/src/types/from_sql.rs
  src/connector/src/connector_common/postgres.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

chore: update version to v3.0.3 (#26686)
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-lakekeeper.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: cargo sort

fix: address review comments
  e2e_test/batch/functions/like.slt.part
  src/expr/core/src/scalar/like.rs
Due: rustfmt

test(expr): add LIKE ESCAPE compatibility cases
  e2e_test/batch/functions/like.slt.part
Due: none

fix(expr): tighten the validation of escape character usage
  e2e_test/batch/functions/like.slt.part
  src/expr/core/src/scalar/like.rs
  src/frontend/src/handler/show.rs
Due: rustfmt

fix(expr): guard LIKE matching against excessive recursion
  src/expr/core/src/scalar/like.rs
Due: rustfmt

refactor: use Abort to prune LIKE backtracking
  src/expr/core/src/scalar/like.rs
Due: rustfmt

add slt tests
  e2e_test/source_inline/cdc/postgres/postgres_postgis_geography.slt
Due: none

add geography array support
  e2e_test/source_inline/cdc/postgres/postgres_postgis_geography.slt
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

feat(storage): isolate L0 block cache
  Cargo.lock
  Cargo.toml
  src/common/src/config/mod.rs
  src/common/src/config/storage.rs
  src/compute/src/memory/config.rs
  src/compute/src/rpc/service/config_service.rs
  src/compute/src/rpc/service/monitor_service.rs
  src/config/docs.md
  src/config/example.toml
  src/ctl/src/common/hummock_service.rs
  src/java_binding/src/hummock_iterator.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/iterator/concat_inner.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Due: rustfmt, cargo sort

refactor(connector): make TcpKeepaliveConfig a common with-options struct
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/connector_common/postgres.rs
  src/connector/src/sink/postgres.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt

fix(sink): apply postgres sink batch rows in chronological order
  src/connector/src/sink/postgres.rs
Due: rustfmt

fix(frontend): preserve fetch cancellation for local queries
  src/batch/src/task/task_execution.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/session.rs
  src/frontend/src/session/cursor_manager.rs
Due: rustfmt

add test for invalid type mapping
  e2e_test/source_inline/cdc/postgres/postgres_postgis_geography.slt
Due: none

fix(frontend): return accumulated rows on fetch cancellation
  src/frontend/src/session/cursor_manager.rs
Due: rustfmt

fix check
  src/connector/src/parser/unified/json.rs
Due: rustfmt

fix: update CI labels guide link in PR template
  .github/pull_request_template.md
Due: none
