Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

use graphviz-wasm
  dashboard/package-lock.json
  dashboard/package.json
Due: none

use wasm graphviz
  dashboard/components/GraphvizComponent.tsx
  dashboard/pages/explain_distsql.tsx
Due: none

feat: show backtrace from iceberg::Error by introducing a newtype
  Cargo.lock
  Cargo.toml
  clippy.toml
  src/batch/clippy.toml
  src/batch/src/error.rs
  src/common/src/error.rs
  src/connector/src/connector_common/iceberg/jni_catalog.rs
  src/connector/src/connector_common/iceberg/storage_catalog.rs
  src/connector/src/error.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/error/Cargo.toml
  src/error/src/lib.rs
  src/error/src/wrappers.rs
  src/stream/clippy.toml
Due: rustfmt, cargo sort

format
  dashboard/components/GraphvizComponent.tsx
  dashboard/pages/explain_distsql.tsx
Due: none

refactor(dashboard): use graphviz-wasm to visualize the dot output instead (#21918)
  dashboard/components/GraphvizComponent.tsx
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/pages/explain_distsql.tsx
Due: none

explain (text) backfill order
  src/frontend/planner_test/tests/testdata/input/backfill.yaml
  src/frontend/planner_test/tests/testdata/output/backfill.yaml
  src/frontend/src/handler/explain.rs
  src/frontend/src/optimizer/backfill_order_strategy.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

make edge ordering deterministic in output
  src/frontend/planner_test/tests/testdata/output/backfill.yaml
  src/frontend/src/optimizer/backfill_order_strategy.rs
Due: rustfmt

support explain (backfill, dot)
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/testdata/input/backfill.yaml
  src/frontend/planner_test/tests/testdata/output/backfill.yaml
  src/frontend/src/handler/explain.rs
  src/frontend/src/optimizer/backfill_order_strategy.rs
Due: rustfmt

fix ut
  src/sqlparser/tests/sqlparser_common.rs
Due: rustfmt

just remove it?
  dashboard/package-lock.json
  dashboard/package.json
Due: none

feat(kafka): add consumer polling task and refactor consumer handling
  src/connector/src/source/kafka/client_context.rs
  src/connector/src/source/kafka/source/reader.rs
Due: rustfmt

refactor(dashboard): remove react-syntax-highlighter (#21920)
  dashboard/package-lock.json
  dashboard/package.json
Due: none

reuse `resolve_secret_refs_inner`
  src/frontend/src/utils/with_options.rs
Due: rustfmt

refactor(meta): generate general hummock object id on meta
  proto/hummock.proto
  src/compute/src/server.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/sequence.rs
  src/meta/src/hummock/manager/utils.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/test_utils.rs
  src/rpc_client/src/compactor_client.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/compactor/src/server.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/object_id_manager.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Due: rustfmt

refine GetObjectId trait
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/object_id_manager.rs
Due: rustfmt

fix: use enum for features
  src/tests/sqlsmith/src/config.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
Due: rustfmt

feat(sqlsmith): enable append-only
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/test_runners/fuzzing.rs
  src/tests/sqlsmith/tests/testdata/alltypes.sql
Due: rustfmt

feat(sqlsmith): enable eowc
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
Due: rustfmt

refactor
  src/compute/src/server.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/compactor/mod.rs
Due: rustfmt

Add upstream and downstream job details to streaming job view
  dashboard/pages/fragment_graph.tsx
Due: none

fix sink config
  src/connector/src/sink/iceberg/mod.rs
  src/storage/compactor/src/server.rs
Due: rustfmt

fix bug
  src/storage/compactor/src/server.rs
Due: rustfmt

Refactor ScaleController, enhance actor assignment with new Assigner, and improve methods/logic clarity.
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_graph/assignment.rs
  src/meta/src/stream/stream_graph/assignment2.rs
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

Refactor assignment module, simplify vnode distribution, enhance error handling and documentation.
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_graph/assignment.rs
  src/meta/src/stream/stream_graph/assignment2.rs
Due: rustfmt

Refactor worker slot handling in ScaleController; remove obsolete scheduling functions and imports.
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

Simplify `Assigner` instantiation in `scale.rs` & `schedule.rs`, removing unnecessary method calls.
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

Refactor actor assignment: replace old functions with AssignerBuilder for improved logic and readability.
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/assignment.rs
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

Remove assignment2 module; restrict compute_worker_quotas visibility; delete assignment2.rs file.
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_graph/assignment.rs
  src/meta/src/stream/stream_graph/assignment2.rs
Due: rustfmt

Refactor tests for `assign_items_weighted`, add `assign_hierarchical_worker_oriented_n` with tests.
  src/meta/src/stream/stream_graph/assignment.rs
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

Refactor imports and comments for clarity in stream_graph.rs, assignment.rs, and assignment2.rs.
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_graph/assignment.rs
  src/meta/src/stream/stream_graph/assignment2.rs
Due: rustfmt

Add `assignment` module for weight-based item distribution; includes unbounded and weighted assignment functions.
  src/meta/src/stream/stream_graph.rs
  src/meta/src/stream/stream_graph/assignment.rs
Due: rustfmt

Remove redundant unclosed comment from `assign_items_weighted_with_scale_fn` function.
  src/meta/src/stream/stream_graph/assignment.rs
Due: rustfmt

feat(udf): support `CREATE FUNCTION/AGGREGATE IF NOT EXISTS` (#20079)
  e2e_test/udf/create_and_drop.slt
  e2e_test/udf/drop_function.slt
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/create_sql_function.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/session.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_postgres.rs
Due: rustfmt

Add `once_cell_get_mut`, update `support_multiple_splits`, and introduce `KafkaMuxReader` module.
  src/connector/src/lib.rs
  src/connector/src/source/base.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kafka/source/mod.rs
  src/connector/src/source/kafka/source/mux_reader.rs
Due: rustfmt

add await tree instrument for iceberg sink
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

feat(dashboard): add hidden cluster variable to hint query over promxy (#21735)
  grafana/dashboard/common.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.dashboard.py
Due: none

fix
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
