Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: typos
        name: typos
        entry: typos -w
        language: system
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

perf(connector): subtle optimization in parser performance (#17146)
  src/connector/Cargo.toml
  src/connector/src/parser/mod.rs
Due: rustfmt, cargo sort

fix ProjectSet
  e2e_test/streaming/bug_fixes/issue_11915.slt
  src/batch/src/executor/project_set.rs
  src/batch/src/executor/table_function.rs
  src/expr/core/src/table_function/mod.rs
  src/stream/src/executor/project_set.rs
  src/stream/src/from_proto/project_set.rs
Due: rustfmt

feat(connector): add SQL Server sink
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/sink/mod.rs
  src/connector/src/sink/sqlserver.rs
  src/connector/src/with_options.rs
  src/connector/with_options_sink.yaml
Due: rustfmt, cargo sort

handle error
  src/connector/src/error.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
Due: rustfmt

handle errors in iteration
  src/expr/macro/src/gen.rs
Due: rustfmt

minor
  src/frontend/src/handler/create_table.rs
Due: rustfmt

clean dpill directory at start
  src/batch/src/lib.rs
  src/batch/src/spill/spill_op.rs
  src/compute/src/server.rs
  src/frontend/src/session.rs
Due: rustfmt

test: fix pulsar test - expired credential (#17152)
  e2e_test/source/pulsar/astra-streaming.py
  e2e_test/source/pulsar/pulsar.slt
Due: none

fix clippy
  src/stream/tests/integration_tests/project_set.rs
Due: rustfmt

fix: reject concurrent altering table column (#17097)
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

fix: start new cluster with target commit version in backwards compat test (#17144)
  ci/scripts/backwards-compat-test.sh
Due: none

workaround madsim
  src/compute/src/server.rs
  src/frontend/src/session.rs
Due: rustfmt

change SubscribeResponse
  proto/meta.proto
Due: none

minor change
  proto/meta.proto
Due: none

change node label RPC
  proto/catalog.proto
  proto/meta.proto
Due: none

typo
  proto/meta.proto
Due: none

refactor(storage): limit use of hummock version safe epoch
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/meta/src/backup_restore/meta_snapshot_builder.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/manager/versioning.rs
  src/storage/backup/src/lib.rs
  src/storage/benches/bench_table_watermarks.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/src/hummock/error.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/local_version/pinned_version.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/utils.rs
Due: rustfmt

feat(batch): clean spill directory at the start (#17155)
  src/batch/src/lib.rs
  src/batch/src/spill/spill_op.rs
  src/compute/src/server.rs
  src/frontend/src/session.rs
Due: rustfmt

backfill flag
  proto/ddl_service.proto
Due: none

save
  src/storage/src/table/batch_table/storage_table.rs
Due: rustfmt

fix test case
  e2e_test/ddl/table/table.slt.part
Due: none

fix(test): fix meta backup test (#17147)
  src/storage/backup/integration_tests/common.sh
Due: none

test: remove duplicated avro pk test (#17062)
  e2e_test/source_inline/kafka/avro/name_strategy.slt
Due: none

merge pk checking logic
  ci/scripts/e2e-mongodb-sink-test.sh
  src/connector/src/sink/mongodb.rs
Due: rustfmt

fix config
  src/meta/src/hummock/compaction/compaction_config.rs
Due: rustfmt

chore: revert "perf(over window): optimize range cache with state table reverse iterator" (#17158)
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/over_window/over_partition.rs
Due: rustfmt

format error as report
  src/common/src/array/utf8_array.rs
  src/expr/core/src/codegen.rs
  src/expr/core/src/table_function/mod.rs
  src/expr/impl/src/scalar/format.rs
  src/expr/macro/src/gen.rs
Due: rustfmt

rename `capacity` to `item_capacity` in bytes and utf8 array builder
  src/common/src/array/bytes_array.rs
  src/common/src/array/utf8_array.rs
Due: rustfmt

reorder retry layer and timeout layer
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
Due: rustfmt

fix
  ci/scripts/e2e-cassandra-sink-test.sh
Due: none

fmt
  src/meta/src/hummock/manager/transaction.rs
Due: rustfmt

chore(storage): rename field with _v2
  src/ctl/src/common/hummock_service.rs
  src/jni_core/src/hummock_iterator.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Due: rustfmt

fix unit test
  src/expr/impl/src/table_function/generate_series.rs
Due: rustfmt

chore(storage): rename field with _v2 (#17166)
  src/ctl/src/common/hummock_service.rs
  src/jni_core/src/hummock_iterator.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/store_impl.rs
  src/tests/compaction_test/src/delete_range_runner.rs
Due: rustfmt

fix(storage): address comments
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/timer_task.rs
Due: rustfmt
