Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

Fix whitespace
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

feat(iceberg): update dep
  Cargo.lock
  Cargo.toml
  src/meta/src/manager/iceberg_compaction.rs
  src/storage/Cargo.toml
  src/storage/src/hummock/iceberg_compactor_runner.rs
Due: rustfmt, cargo sort

Refactor: rename vars in affinity_tests_horizon_scaling for clarity; update assign_hierarchical calls
  src/meta/src/stream/stream_graph/assignment.rs
Due: rustfmt

fix(iceberg): fix metrics
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/__init__.py
  grafana/dashboard/dev/iceberg_compaction_metrics.py
  grafana/dashboard/dev/iceberg_metrics.py
  grafana/risingwave-dev-dashboard.json
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/iceberg_compactor_runner.rs
Due: rustfmt

cargo sort
  src/batch/Cargo.toml
  src/batch/executors/Cargo.toml
  src/common/Cargo.toml
  src/compute/Cargo.toml
  src/connector/Cargo.toml
  src/connector/codec/Cargo.toml
  src/ctl/Cargo.toml
  src/dml/Cargo.toml
  src/expr/core/Cargo.toml
  src/expr/impl/Cargo.toml
  src/frontend/Cargo.toml
  src/frontend/planner_test/Cargo.toml
  src/meta/Cargo.toml
  src/meta/node/Cargo.toml
  src/meta/service/Cargo.toml
  src/prost/Cargo.toml
  src/rpc_client/Cargo.toml
  src/sqlparser/Cargo.toml
  src/storage/Cargo.toml
  src/storage/compactor/Cargo.toml
  src/storage/hummock_test/Cargo.toml
  src/stream/Cargo.toml
  src/tests/compaction_test/Cargo.toml
  src/tests/sqlsmith/Cargo.toml
  src/utils/local_stats_alloc/Cargo.toml
  src/utils/pgwire/Cargo.toml
Due: cargo sort

add slt and fix some bugs
  e2e_test/ddl/default_privilege.slt
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/session.rs
  src/frontend/src/user/user_manager.rs
  src/meta/model/migration/src/m20250603_084830_default_privilege.rs
  src/meta/model/src/user_default_privilege.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/user.rs
  src/meta/src/controller/utils.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

fix(ci): update pull-request PostgreSQL meta backend password
  ci/workflows/pull-request.yml
Due: none

fix(ci): update pull-request PostgreSQL meta backend password (#22203)
  ci/workflows/pull-request.yml
Due: none

implement rw_table_scan system catalog
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_table_scan.rs
Due: rustfmt

fix orm query
  src/meta/src/controller/fragment.rs
Due: rustfmt

add boilerplate
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_table_scan.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

update proto to add rpc endpoint
  proto/meta.proto
Due: none

add filtering to catalog
  src/meta/src/controller/fragment.rs
Due: rustfmt

feat(iceberg): introduce iceberg compaction metrics (#22061)
  Cargo.lock
  Cargo.toml
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/dashboard/dev/__init__.py
  grafana/dashboard/dev/iceberg_compaction_metrics.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/meta/src/manager/iceberg_compaction.rs
  src/storage/Cargo.toml
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/iceberg_compactor_runner.rs
Due: rustfmt, cargo sort

feat(catalog): add rw_table_scan system catalog (#22123)
  proto/meta.proto
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_table_scan.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/fragment.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

fix nullable column
  proto/plan_common.proto
  src/common/src/catalog/column.rs
  src/common/src/catalog/test_utils.rs
Due: rustfmt

fmt
  src/stream/src/executor/source/state_table_handler.rs
Due: rustfmt

fix(mssql-cdc): support `uuid` and `varchar` as primary key data type (#22157) (#22186)
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc_insert.sql
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc_prepare.sql
  src/connector/src/parser/sql_server.rs
Due: rustfmt

feat(metrics): add a relation info panel in grafana
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/dashboard/dev/actor_info.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/meta/model/src/object.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/rpc/metrics.rs
Due: rustfmt

fmt
  src/meta/src/controller/catalog/get_op.rs
Due: rustfmt

fix typo
  src/meta/src/rpc/metrics.rs
Due: rustfmt

fix(ci): fix backwards compat test offset version (#22133) (#22154)
  e2e_test/backwards-compat-tests/scripts/utils.sh
Due: none

support creating fragments
  e2e_test/batch/describe_fragments.slt
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/handler/describe.rs
Due: rustfmt

add rw_fragment_backfill_progress catalog
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragment_backfill_progress.rs
Due: rustfmt

run test
  ci/scripts/e2e-test-serial.sh
Due: none

add tests
  e2e_test/backfill/backfill_progress.slt
Due: none

make human readable
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragment_backfill_progress.rs
Due: rustfmt

fmt
  e2e_test/backfill/backfill_progress.slt
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragment_backfill_progress.rs
Due: rustfmt

fix(cdc/batch): special char during debezium props substitution and `postgres_query` (#21943) (#22151)
  Cargo.lock
  ci/docker-compose.yml
  ci/scripts/e2e-iceberg-test.sh
  ci/scripts/e2e-sink-test.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/regress-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  risedev.yml
  src/batch/executors/src/executor/postgres_query.rs
  src/frontend/Cargo.toml
  src/frontend/src/expr/table_function.rs
  src/frontend/src/handler/create_table.rs
Due: rustfmt, cargo sort

resolve comment
  src/connector/src/connector_common/mod.rs
  src/connector/src/sink/file_sink/s3.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/filesystem/opendal_source/s3_source.rs
  src/connector/src/source/filesystem/s3/mod.rs
  src/connector/src/source/reader/reader.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Due: rustfmt

minor
  src/connector/src/source/filesystem/s3/mod.rs
  src/connector/with_options_source.yaml
Due: rustfmt

fix(proto): fix nullable column (#22206)
  proto/plan_common.proto
  src/common/src/catalog/column.rs
  src/common/src/catalog/test_utils.rs
  src/stream/src/executor/source/state_table_handler.rs
Due: rustfmt

feat(catalog): add fragment backfill progress view (#22124)
  ci/scripts/e2e-test-serial.sh
  e2e_test/backfill/backfill_progress.slt
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragment_backfill_progress.rs
Due: rustfmt

refactor(s3 connector): expose `enable_config_load` to user for s3 source and sink (#22198)
  src/connector/src/connector_common/mod.rs
  src/connector/src/sink/file_sink/s3.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/filesystem/opendal_source/s3_source.rs
  src/connector/src/source/filesystem/s3/mod.rs
  src/connector/src/source/reader/reader.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/scheduler/plan_fragmenter.rs
Due: rustfmt

standardize SchemaCatalog and RootCatalog methods for getting tables + add get_table_by_name, parameterized by bind_creating_relations
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/optimizer/backfill_order_strategy.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
