Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: typos
        name: typos
        entry: typos -w
        language: system
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

add info log for resolving env
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt

migrate pull request workflow as well
  ci/workflows/pull-request.yml
Due: none

fix ci
  e2e_test/iceberg/test_case/iceberg_predicate_pushdown.slt
Due: none

feat(source): column pruning for parquet file source (#18967)
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
Due: rustfmt

cherry pick 19230 and 18967
  ci/workflows/main-cron.yml
  e2e_test/s3/file_sink.py
  e2e_test/s3/file_source.py
  e2e_test/s3/fs_source_v2.py
  e2e_test/s3/fs_source_v2_new_file.py
  e2e_test/s3/gcs_source.py
  e2e_test/s3/posix_fs_source.py
Due: none

cherry pick 19221
  e2e_test/s3/file_sink.py
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/types/timestamptz.rs
  src/connector/src/parser/parquet_parser.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
Due: rustfmt

cherry pick 19398
  src/batch/src/executor/s3_file_scan.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/connector/src/source/iceberg/parquet_file_reader.rs
  src/frontend/src/expr/table_function.rs
Due: rustfmt

feat(connector): support more parquet data types (#19561)
  e2e_test/s3/file_sink.py
  src/common/src/array/arrow/arrow_impl.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
Due: rustfmt

refactor(ci): introduce meta backend agnostic e2e tests (#19568)
  ci/scripts/run-e2e-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  risedev.yml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt

bug fix and more ut
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
Due: rustfmt

upgrade package version to 2.0.4
  Cargo.lock
  Cargo.toml
Due: cargo sort

handle init run
  src/connector/src/source/util.rs
  src/meta/src/stream/source_manager.rs
Due: rustfmt

determinsitic fallback sqlite
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt

make all ci profiles to use `meta-backend: env`
  risedev.yml
Due: none

more tests under 3 sql backends in main-cron
  ci/workflows/main-cron.yml
  risedev.yml
Due: none

default to container with mysql & pg
  ci/docker-compose.yml
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Due: none

empty if exists
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt

mkdir -p
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt

fmt
  src/frontend/src/handler/create_table.rs
Due: rustfmt

remove iceberg-engine from risedev
  risedev.yml
Due: none

feat(frontend): support dot output for distsql
  e2e_test/batch/explain.slt
  src/frontend/planner_test/tests/testdata/input/explain_dot_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_dot_format.yaml
  src/frontend/src/handler/explain.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/utils/stream_graph_formatter.rs
Due: rustfmt

migrate non-data files
  src/ctl/src/cmd_impl/hummock/migrate_legacy_object.rs
Due: rustfmt

revert unexpected change
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
Due: rustfmt

refactor: further clarify types of tables
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_description.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_relation_info.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_tables.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_swap_rename.rs
  src/frontend/src/handler/drop_schema.rs
  src/frontend/src/handler/show.rs
Due: rustfmt

remove check schema empty in fe
  src/frontend/src/catalog/mod.rs
  src/frontend/src/handler/drop_schema.rs
Due: rustfmt

fix
  src/common/src/array/arrow/arrow_impl.rs
Due: rustfmt

minor refactor
  src/ctl/src/cmd_impl/hummock/migrate_legacy_object.rs
Due: rustfmt

fmt
  src/common/src/array/arrow/arrow_impl.rs
Due: rustfmt

update
  src/common/src/catalog/internal_table.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_constraint.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_columns.rs
Due: rustfmt

fmt
  src/ctl/src/cmd_impl/hummock/migrate_legacy_object.rs
Due: rustfmt

enrich error message
  e2e_test/source_inline/kafka/avro/ref.slt
  src/connector/codec/src/decoder/avro/schema.rs
Due: rustfmt

test
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

refactor(storage): replace key range check with table_id
  src/storage/benches/bench_compactor.rs
  src/storage/src/hummock/iterator/concat_inner.rs
  src/storage/src/hummock/iterator/forward_merge.rs
  src/storage/src/hummock/iterator/forward_user.rs
  src/storage/src/hummock/iterator/mod.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/validator.rs
  src/storage/src/storage_failpoints/test_iterator.rs
  src/storage/src/storage_failpoints/test_sstable.rs
Due: rustfmt

fix tests
  src/storage/hummock_test/src/hummock_storage_tests.rs
Due: rustfmt

feat(frontend): support dot output for distsql (#19552)
  e2e_test/batch/explain.slt
  src/frontend/planner_test/tests/testdata/input/explain_dot_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_dot_format.yaml
  src/frontend/src/handler/explain.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/utils/stream_graph_formatter.rs
Due: rustfmt

copy concurrently
  src/ctl/src/cmd_impl/hummock/migrate_legacy_object.rs
  src/ctl/src/lib.rs
Due: rustfmt

fix(source): resolve avro `Ref` during `avro_schema_to_column_descs` without hack (#19601)
  e2e_test/source_inline/kafka/avro/ref.slt
  src/connector/codec/src/decoder/avro/schema.rs
  src/connector/codec/tests/integration_tests/avro.rs
  src/connector/src/parser/avro/parser.rs
Due: rustfmt

refactor(storage): use Arc<SStableInfo> in HummockVersion (#19535)
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tombstone_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/vnode_watermark_picker.rs
  src/meta/src/hummock/compaction/selector/mod.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/event_handler/uploader/test_utils.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/test_utils.rs
Due: rustfmt

fix bug
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/from_proto/sink.rs
Due: rustfmt
