Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: typos
        name: typos
        entry: typos -w
        language: system
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

save work
  src/connector/Cargo.toml
  src/connector/src/sink/file_sink/hdfs.rs
  src/connector/src/sink/file_sink/mod.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/mod.rs
  src/frontend/src/handler/create_sink.rs
Due: rustfmt, cargo sort

feat: read snapshot instead for migration from etcd to sql backend
  src/ctl/src/cmd_impl/meta/migration.rs
Due: rustfmt

add main-cron tests
  ci/workflows/main-cron.yml
Due: none

increase sleep time
  e2e_test/sink/iceberg_sink.slt
Due: none

refactor(meta): build actors in inject barrier
  proto/stream_service.proto
  src/compute/src/rpc/service/stream_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/creating_job/mod.rs
  src/meta/src/barrier/creating_job/status.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/model/stream.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/stream_client.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/stream_manager.rs
Due: rustfmt

update api
  proto/meta.proto
  src/meta/src/dashboard/mod.rs
Due: rustfmt

feat(cdc): add metrics for auto schema change (#18216)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  proto/meta.proto
  src/meta/node/src/server.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/rpc/metrics.rs
Due: rustfmt

fix ut
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

reorder
  e2e_test/sink/iceberg_sink.slt
Due: none

fix endpoint
  dashboard/lib/api/streaming.ts
  dashboard/pages/fragment_graph.tsx
Due: none

20s
  e2e_test/sink/iceberg_sink.slt
Due: none

use relationIdInfos to search
  dashboard/pages/fragment_graph.tsx
Due: none

fmt
  dashboard/lib/api/streaming.ts
  dashboard/pages/fragment_graph.tsx
Due: none

fix
  dashboard/pages/fragment_graph.tsx
Due: none

fix newline
  proto/meta.proto
Due: none

fix
  src/storage/hummock_sdk/src/change_log.rs
Due: rustfmt

fix
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/iceberg/storage_catalog.rs
Due: rustfmt

add test
  e2e_test/sink/iceberg_sink.slt
Due: none

rename
  src/meta/src/hummock/manager/versioning.rs
  src/storage/hummock_sdk/src/change_log.rs
Due: rustfmt

refine
  e2e_test/sink/iceberg_sink.slt
Due: none

set sink_decouple = false
  e2e_test/iceberg/test_case/append_only_with_checkpoint_interval.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_upsert_table.slt
  e2e_test/sink/iceberg_sink.slt
  integration_tests/iceberg-sink2/python/main.py
Due: none

fix: enable upsert protobuf combination (#17624)
  e2e_test/source_inline/kafka/protobuf/basic.slt
  e2e_test/source_inline/kafka/protobuf/pb.py
  src/frontend/src/handler/create_source.rs
Due: rustfmt

fix ci
  src/frontend/src/session/cursor_manager.rs
Due: rustfmt

fix
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

feat(storage): remove shared buffer grouped payload
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/local_version/pinned_version.rs
Due: rustfmt

fmt
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

fix
  src/meta/src/hummock/manager/versioning.rs
  src/storage/hummock_sdk/src/change_log.rs
Due: rustfmt

revert tests
  e2e_test/sink/iceberg_sink.slt
Due: none

fix(meta): fix list changed log epoch retrun null epoch (#18273)
  src/frontend/src/session/cursor_manager.rs
  src/meta/src/hummock/manager/versioning.rs
  src/storage/hummock_sdk/src/change_log.rs
Due: rustfmt

cherry-pick: fix list changed log epoch retrun null epoch (#18278)
  src/meta/src/hummock/manager/versioning.rs
  src/storage/hummock_sdk/src/change_log.rs
Due: rustfmt

increase time
  ci/workflows/pull-request.yml
Due: none

fix tests
  e2e_test/iceberg/test_case/append_only_with_checkpoint_interval.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_upsert_table.slt
  e2e_test/sink/iceberg_sink.slt
Due: none

remove file
  stest-73cc5911-e5e7-4de0-aff9-30c82b2d40c6.sqlite
Due: none

chore: remove sqlite file (#18282)
  stest-73cc5911-e5e7-4de0-aff9-30c82b2d40c6.sqlite
Due: none

fix(source/nats): add missing `default` attribute for vectors (#18261)
  src/connector/src/source/nats/mod.rs
  src/connector/with_options_source.yaml
Due: rustfmt

fix: enable upsert protobuf combination (#17624) (#18275)
  e2e_test/source_inline/kafka/protobuf/basic.slt
  e2e_test/source_inline/kafka/protobuf/pb.py
  src/frontend/src/handler/create_source.rs
Due: rustfmt

feat(cdc): add metrics for auto schema change (#18216) (cherry-pick) (#18271)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  proto/meta.proto
  src/meta/node/src/server.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/rpc/metrics.rs
Due: rustfmt

fix
  e2e_test/iceberg/test_case/append_only_with_checkpoint_interval.slt
Due: none
