Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

use futures unordered instead
  src/connector/src/sink/postgres.rs
Due: rustfmt

Apply suggestions from code review
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
Due: none

fix
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
Due: none

avoid return anything
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
Due: none

perf(connector): optimize pg native sink writer with pipelining (#22310)
  src/connector/src/sink/postgres.rs
Due: rustfmt

feat(optimizer): optimize select clause's subquery unnesting (#22386)
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/explain_dot_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_json_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_xml_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_yaml_format.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
  src/frontend/src/planner/select.rs
  src/frontend/src/planner/update.rs
Due: rustfmt

fix(connector): avoid returning any rows for jdbc sink#22280 (#22281)
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JDBCSink.java
Due: none

fix: update foyer, add timestamp in log batch
  Cargo.lock
  Cargo.toml
  src/storage/src/hummock/sstable_store.rs
Due: rustfmt, cargo sort

feat: try foyer keeper
  Cargo.lock
  Cargo.toml
Due: cargo sort

feat(meta): support offline realignment of unaligned join (#22331) (#22357)
  proto/meta.proto
  proto/stream_plan.proto
  src/frontend/src/handler/alter_streaming_enable_unaligned_join.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/optimizer/plan_node/stream_sync_log_store.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/streaming_job.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/from_proto/sync_log_store.rs
Due: rustfmt

refactor(kafka): streamline watermark handling in KafkaSplitEnumerator
  src/connector/src/source/kafka/enumerator.rs
Due: rustfmt

feat: support load from keeper
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix: fix lookup miss
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix(sqlparser): `arr[lo:hi]` and `map{k: v}` broken by `aggregate:` (#22394) (#22406)
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/array.yaml
  src/sqlparser/tests/testdata/select.yaml
Due: rustfmt

fix(sqlparser): `arr[lo:hi]` and `map{k: v}` broken by `aggregate:` (#22394) (#22411)
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/array.yaml
  src/sqlparser/tests/testdata/select.yaml
Due: rustfmt

fix(meta): fix incorrectly marking worker node as barrier collected (#22384) (#22410)
  src/meta/src/barrier/utils.rs
Due: rustfmt

fix(sqlparser): `arr[lo:hi]` and `map{k: v}` broken by `aggregate:` (#22394) (#22412)
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/array.yaml
  src/sqlparser/tests/testdata/select.yaml
Due: rustfmt

refactor(frontend): avoid multiple declaration of plan node in macro
  src/frontend/src/optimizer/plan_node/mod.rs
Due: rustfmt

fix
  e2e_test/source_inline/kafka/protobuf/alter_source.slt
Due: none

fix test
  e2e_test/source_inline/tvf/mysql_query.slt
Due: none

fix(stream): truncate flushed chunks which were read (#22320)
  src/stream/src/executor/sync_kv_log_store.rs
  src/tests/simulation/tests/integration_tests/log_store/recovery.rs
  src/tests/simulation/tests/integration_tests/log_store/scale.rs
  src/tests/simulation/tests/integration_tests/log_store/utils.rs
Due: rustfmt

fix(kafka): improve offset handling for beginning and invalid offsets
  src/connector/src/source/kafka/enumerator.rs
Due: rustfmt

refactor(meta): wrap fragment type mask with struct
  proto/stream_plan.proto
  src/common/src/catalog/column.rs
  src/common/src/catalog/mod.rs
  src/ctl/src/cmd_impl/meta/cluster_info.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_backfill_info.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragments.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_rate_limit.rs
  src/frontend/src/stream_fragmenter/graph/fragment_graph.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/barrier/backfill_order_control.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/test_fragmenter.rs
  src/prost/src/lib.rs
Due: rustfmt

.
  e2e_test/source_inline/tvf/mysql_query.slt
Due: none

support express onezone for s3
  src/object_store/src/object/opendal_engine/opendal_s3.rs
Due: rustfmt

bump opendal to v0.53
  Cargo.lock
  Cargo.toml
  src/connector/src/source/filesystem/opendal_source/opendal_enumerator.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
Due: rustfmt, cargo sort

chore: update version to v2.3.4
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: cargo sort

add missing arg
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
Due: rustfmt

move compaction for upsert from writer to reader
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/executor/sink.rs
Due: rustfmt

add chunk compaction post-reader, over logstore stream
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/from_proto/sink.rs
Due: rustfmt

skip compact for empty pk
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
Due: rustfmt

fix(kafka): handle invalid offsets in KafkaSplitEnumerator
  src/connector/src/source/kafka/enumerator.rs
Due: rustfmt

chore(ci): increase timeout for pull request workflow from 20 to 25 minutes
  ci/workflows/pull-request.yml
Due: none

feat(connector): allow schema registry with prefix path (#21138)
  e2e_test/source_inline/kafka/issue_20377.slt
  src/connector/src/schema/schema_registry/util.rs
Due: rustfmt

fix: remove assertion for exactly one rate limit node in a single fragment
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

Add database_id and schema_id to streaming job state, models, and system catalogs; add new job info view
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_streaming_job_info.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_streaming_jobs.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/fragment.rs
Due: rustfmt

refactor(frontend): avoid multiple declaration of plan node in macro (#22420)
  src/frontend/src/optimizer/plan_node/mod.rs
Due: rustfmt

chore: update version to v2.3.4 (#22424)
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: cargo sort

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
