Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

fix ci
  e2e_test/iceberg/test_case/iceberg_source_equality_delete.slt
Due: none

Add read lock on reschedule_lock in stream_manager for thread safety
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

feat: add `specific_resource_group` to `rw_streaming_jobs` (#20207)
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_actor_infos.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_streaming_jobs.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/controller/fragment.rs
  src/rpc_client/src/meta_client.rs
  src/tests/simulation/tests/integration_tests/scale/resource_group.rs
Due: rustfmt

Add read guard on reschedule_lock for thread-safe DDL operations
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

print panic db info
  src/meta/src/barrier/checkpoint/control.rs
Due: rustfmt

only run vnode
  ci/scripts/deterministic-e2e-test.sh
Due: none

fix: make dashboard prometheus queries work with cloud data sources
  src/meta/src/dashboard/prometheus.rs
Due: rustfmt

fix(meta): fix receiving scheduled command on blocked database
  ci/scripts/deterministic-e2e-test.sh
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/schedule.rs
Due: rustfmt

Fix compilation error
  src/meta/src/dashboard/prometheus.rs
Due: rustfmt

Update parallelism views: join with rw_streaming_jobs, change join condition, update columns
  e2e_test/ddl/alter_parallelism.slt
  e2e_test/ddl/max_parallelism.slt
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_streaming_jobs.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_streaming_parallelism.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_table_fragments.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/scale/auto_parallelism.rs
  src/tests/simulation/tests/integration_tests/scale/shared_source.rs
Due: rustfmt

Update SQL queries in shared source tests: select specific columns instead of all
  src/tests/simulation/tests/integration_tests/scale/shared_source.rs
Due: rustfmt

test
  ci/scripts/e2e-sink-test.sh
Due: none

fix(meta): fix receiving scheduled command on blocked database (#20241)
  src/meta/src/barrier/schedule.rs
Due: rustfmt

fix: Add read guard on reschedule_lock for `drop_streaming_jobs` (#20240)
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

fix: make dashboard prometheus queries work with cloud data sources (#20242)
  src/meta/src/dashboard/prometheus.rs
Due: rustfmt

fix(iceberg): fix iceberg eq delete schema (#20237)
  e2e_test/iceberg/test_case/iceberg_source_equality_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_equality_delete.toml
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/optimizer/rule/source_to_iceberg_scan_rule.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Due: rustfmt

fix
  src/meta/service/src/telemetry_service.rs
Due: rustfmt

show risedev-env
  ci/scripts/e2e-sink-test.sh
Due: none

load risedev-env vars
  ci/scripts/e2e-sink-test.sh
Due: none

docs
  ci/scripts/e2e-sink-test.sh
  src/connector/src/sink/postgres.rs
Due: rustfmt

fix(iceberg): fix iceberg write qps (#20225)
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Due: none

fix(connector): handle update insert and delete + subset pk + handle delete mapping (#20238)
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/postgres_sink.slt
  src/connector/src/sink/postgres.rs
  src/stream/src/common/compact_chunk.rs
Due: rustfmt

draft version
  proto/batch_plan.proto
  proto/task_service.proto
  src/batch/executors/src/executor.rs
  src/batch/executors/src/executor/fast_insert.rs
  src/batch/src/rpc/service/task_service.rs
  src/dml/src/table.rs
  src/dml/src/txn_channel.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/fast_insert.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/distributed/fast_insert.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/fast_insert.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/webhook/mod.rs
  src/rpc_client/src/compute_client.rs
  src/stream/src/executor/dml.rs
Due: rustfmt

fix secret
  proto/catalog.proto
  proto/task_service.proto
  src/batch/executors/src/executor/fast_insert.rs
  src/batch/executors/src/executor/insert.rs
  src/batch/src/rpc/service/task_service.rs
  src/common/src/transaction/transaction_message.rs
  src/dml/src/table.rs
  src/dml/src/txn_channel.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/fast_insert.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/fast_insert.rs
  src/frontend/src/webhook/mod.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/dml.rs
Due: rustfmt

check response
  proto/task_service.proto
  src/batch/executors/src/executor/fast_insert.rs
  src/batch/src/rpc/service/task_service.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/scheduler/fast_insert.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/webhook/mod.rs
Due: rustfmt

fix
  src/batch/executors/src/executor.rs
  src/batch/src/executor/fast_insert.rs
  src/batch/src/executor/mod.rs
  src/stream/src/executor/dml.rs
Due: rustfmt

fix
  Cargo.lock
  proto/batch_plan.proto
  proto/task_service.proto
  src/batch/Cargo.toml
  src/batch/src/executor/fast_insert.rs
  src/frontend/src/webhook/mod.rs
Due: rustfmt, cargo sort

fix
  proto/catalog.proto
  proto/task_service.proto
  src/frontend/src/scheduler/distributed/fast_insert.rs
  src/frontend/src/scheduler/mod.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/webhook/mod.rs
Due: rustfmt

fix
  src/batch/src/executor/fast_insert.rs
  src/frontend/src/scheduler/fast_insert.rs
Due: rustfmt

fmt
  proto/task_service.proto
  src/batch/src/executor/fast_insert.rs
  src/batch/src/rpc/service/task_service.rs
  src/frontend/src/scheduler/fast_insert.rs
Due: rustfmt

fix
  src/frontend/src/scheduler/fast_insert.rs
Due: rustfmt

fix
  proto/task_service.proto
Due: none

fix
  src/batch/src/rpc/service/task_service.rs
Due: rustfmt

fix
  src/frontend/src/webhook/mod.rs
Due: rustfmt

fix
  src/batch/src/executor/fast_insert.rs
Due: rustfmt

tmp
  src/frontend/src/webhook/mod.rs
Due: rustfmt

tmp
  src/frontend/src/scheduler/fast_insert.rs
  src/frontend/src/webhook/mod.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
