Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

rename `DataType::as_list` to `DataType::as_list_element_type`
  src/common/src/array/list_array.rs
  src/common/src/types/mod.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
  src/expr/impl/src/scalar/array.rs
  src/expr/impl/src/scalar/array_concat.rs
  src/expr/impl/src/scalar/array_flatten.rs
  src/expr/impl/src/scalar/cast.rs
  src/expr/impl/src/scalar/jsonb_build.rs
  src/expr/impl/src/scalar/to_jsonb.rs
  src/expr/impl/src/table_function/pg_expandarray.rs
Due: rustfmt

fix
  src/expr/impl/src/scalar/array_flatten.rs
Due: rustfmt

fix
  src/common/src/array/list_array.rs
  src/expr/impl/src/scalar/array.rs
  src/expr/impl/src/scalar/array_concat.rs
  src/expr/macro/src/gen.rs
Due: rustfmt

chore: update version to v2.3.2
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: cargo sort

refactor(risedev): deprecate `risedev-compose` (#21729)
  Cargo.lock
  Makefile.toml
  docs/dev/src/benchmark-and-profile/memory-profiling.md
  risedev.yml
  src/ctl/src/common/hummock_service.rs
  src/ctl/src/common/meta_service.rs
  src/risedevtool/Cargo.toml
  src/risedevtool/schemas/profile.json
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/compose.rs
  src/risedevtool/src/compose_deploy.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/config_gen/prometheus_gen.rs
  src/risedevtool/src/lib.rs
  src/risedevtool/src/service_config.rs
Due: rustfmt, cargo sort

unify tests
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Due: none

remove background_ddl
  e2e_test/background_ddl/common/create_bg_mv.slt
  e2e_test/background_ddl/common/create_fg_mv.slt
  e2e_test/background_ddl/common/create_index.slt
  e2e_test/background_ddl/common/create_sink.slt
  e2e_test/background_ddl/common/create_table.slt
  e2e_test/background_ddl/common/drop_index.slt
  e2e_test/background_ddl/common/drop_mv.slt
  e2e_test/background_ddl/common/drop_sink.slt
  e2e_test/background_ddl/common/drop_table.slt
  e2e_test/background_ddl/common/validate_backfilled_mv.slt
  e2e_test/background_ddl/common/validate_no_jobs.slt
  e2e_test/background_ddl/common/validate_one_job.slt
  e2e_test/background_ddl/sim.slt
  e2e_test/background_ddl/sim/basic.slt
Due: none

add back
  ci/scripts/e2e-test-serial.sh
Due: none

chore(ci): refactor backfill and background_ddl tests (#21710)
  ci/scripts/e2e-test-serial.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/background_ddl/common/create_bg_mv.slt
  e2e_test/background_ddl/common/create_fg_mv.slt
  e2e_test/background_ddl/common/create_index.slt
  e2e_test/background_ddl/common/create_sink.slt
  e2e_test/background_ddl/common/create_table.slt
  e2e_test/background_ddl/common/drop_index.slt
  e2e_test/background_ddl/common/drop_mv.slt
  e2e_test/background_ddl/common/drop_sink.slt
  e2e_test/background_ddl/common/drop_table.slt
  e2e_test/background_ddl/common/validate_backfilled_mv.slt
  e2e_test/background_ddl/common/validate_no_jobs.slt
  e2e_test/background_ddl/common/validate_one_job.slt
  e2e_test/background_ddl/sim.slt
  e2e_test/background_ddl/sim/basic.slt
Due: none

chore: increase check timeout
  ci/workflows/pull-request.yml
Due: none

chore: increase check timeout (#21737)
  ci/workflows/pull-request.yml
Due: none

fix(sqlsmith): typos and fmt
  src/tests/sqlsmith/src/sql_gen/table_functions.rs
Due: rustfmt

chore: update version to v2.3.2 (#21736)
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: cargo sort

install package when build
  Cargo.lock
  ci/scripts/build.sh
Due: none

bump commit
  Cargo.toml
Due: cargo sort

feat(storage): implement in memory hnsw builder
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
  src/storage/src/lib.rs
  src/storage/src/vector/hnsw.rs
  src/storage/src/vector/mod.rs
  src/storage/src/vector/utils.rs
Due: rustfmt, cargo sort

fix doc
  src/storage/src/vector/mod.rs
Due: rustfmt

include extra library in CI image and remove install in build.rs
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/build.sh
Due: none

stash
  proto/source.proto
  proto/stream_plan.proto
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/source/source_backfill_executor.rs
Due: rustfmt

Revert "detect ulimit"
  Cargo.lock
  src/compute/Cargo.toml
  src/compute/src/server.rs
Due: rustfmt, cargo sort

fix(sqlsmith): reuse gen_list_data_type()
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/table_functions.rs
Due: rustfmt

improve logs
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/utils.rs
  src/stream/src/executor/over_window/general.rs
Due: rustfmt

stash
  src/connector/src/lib.rs
  src/stream/src/executor/source/source_backfill_executor.rs
Due: rustfmt

feat(sqlsmith): support generation of unnest table function (#21738)
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/table_functions.rs
Due: rustfmt

chore(deps): Bump deltalake from 0.20.1 to 0.24 to drop some ancient transitive dependencies (#21712)
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_53.rs
  src/common/src/array/arrow/arrow_deltalake.rs
  src/common/src/array/arrow/mod.rs
Due: rustfmt, cargo sort

feat(expr): add date_bin (#21559)
  e2e_test/batch/functions/date_bin.part
  proto/expr.proto
  src/expr/impl/src/scalar/date_bin.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

add test
  e2e_test/slow_tests/streaming/bug_fixes/issue_21668.slt
Due: none

grammar
  src/meta/src/barrier/context/context_impl.rs
  src/tests/simulation/src/slt.rs
Due: rustfmt

fix docstirng
  src/common/src/types/mod.rs
Due: rustfmt

fix: assertion caused by missing check during sink into table recovery (#21714)
  src/meta/src/controller/catalog/util.rs
Due: rustfmt

fix: handle telemetry None event (#21652)
  src/common/src/telemetry/report.rs
Due: rustfmt

chore(deps): Migrate from google-cloud-* to gcloud-*
  Cargo.lock
  src/connector/Cargo.toml
  src/risedevtool/Cargo.toml
Due: cargo sort

refactor(common): rename `DataType::as_list` to `as_list_element_type` (#21643)
  src/common/src/array/list_array.rs
  src/common/src/types/mod.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
  src/expr/impl/src/scalar/array.rs
  src/expr/impl/src/scalar/array_concat.rs
  src/expr/impl/src/scalar/array_flatten.rs
  src/expr/impl/src/scalar/cast.rs
  src/expr/impl/src/scalar/jsonb_build.rs
  src/expr/impl/src/scalar/to_jsonb.rs
  src/expr/impl/src/table_function/pg_expandarray.rs
  src/expr/macro/src/gen.rs
Due: rustfmt

feat: support describe fragment <fragment-id> (#21587)
  e2e_test/README.md
  e2e_test/batch/decribe_fragment.slt
  proto/meta.proto
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/fragment.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

fix: cherry-pick action report_status is not run
  .github/workflows/cherry-pick-since-release-branch.yml
Due: none

chore(deps): Migrate from google-cloud-* to gcloud-* (#21743)
  Cargo.lock
  src/connector/Cargo.toml
  src/risedevtool/Cargo.toml
Due: cargo sort

risedev: user-managed pulsar
  e2e_test/source_inline/pulsar/basic.slt
  risedev.yml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/service_config.rs
Due: rustfmt

fix check
  src/meta/src/hummock/manager/compaction/compaction_event_loop.rs
Due: rustfmt

feat: support describe fragment <fragment-id> (#21587) (#21747)
  e2e_test/README.md
  e2e_test/batch/decribe_fragment.slt
  proto/meta.proto
  src/frontend/src/handler/describe.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/fragment.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
Due: rustfmt
