Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fix(frontend): exempt parquet sources from the variant gate in ALTER SOURCE
  e2e_test/ddl/variant.slt
  src/frontend/src/handler/alter_source_column.rs
Due: rustfmt

fix(common): reject a variant extension declared as a non-variant type
  e2e_test/iceberg/test_case/iceberg_source_variant.slt
  src/common/src/array/arrow/arrow_impl.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
Due: rustfmt

refactor(common): drop the extension-extras blanket rejection below list/map boundaries
  e2e_test/iceberg/test_case/iceberg_source_variant.slt
  src/common/src/array/arrow/arrow_impl.rs
Due: rustfmt

polish(common,e2e): rate-limit the corrupt-variant warn; fix comments and slt guards
  Cargo.toml
  e2e_test/iceberg/test_case/iceberg_source_variant.slt
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/frontend/src/datafusion/scalar_function/convert.rs
Due: rustfmt, cargo sort

perf(common): resolve the variant binary layout once per batch
  src/common/src/array/arrow/arrow_iceberg.rs
Due: rustfmt

chore(deps): declare parquet variant_experimental; drop unrelated lock churn
  Cargo.toml
Due: cargo sort

refactor(frontend): derive iceberg-side fields from the source catalog on demand
  src/frontend/src/optimizer/plan_node/logical_iceberg_intermediate_scan.rs
Due: rustfmt

fix(common): enforce the declared schema for nested parquet structs and containers
  src/common/src/array/arrow/arrow_impl.rs
Due: rustfmt

fix(frontend): exclude VARIANT from the DataFusion batch path
  e2e_test/iceberg/test_case/iceberg_source_variant.slt
  src/frontend/src/optimizer/plan_visitor/datafusion_execute_checker.rs
Due: rustfmt

fix(frontend): refuse variant-returning fallback exprs in the DataFusion converter
  e2e_test/iceberg/test_case/iceberg_source_variant.slt
  src/frontend/src/datafusion/scalar_function/convert.rs
Due: rustfmt

test(common,meta): consolidate variant decode and sink-rejection tests
  src/common/src/array/arrow/arrow_impl.rs
  src/meta/src/stream/sink.rs
Due: rustfmt

refactor(connector): trim the parquet schema-mismatch warn payload
  src/connector/src/source/iceberg/parquet_file_handler.rs
Due: rustfmt

test(frontend): cover the iceberg predicate pushability gate
  src/frontend/src/utils/iceberg_predicate.rs
Due: rustfmt

perf(frontend): resolve iceberg-side fields through a name map
  src/frontend/src/optimizer/plan_node/logical_iceberg_intermediate_scan.rs
Due: rustfmt

docs(common,frontend): correct two stale rationales
  src/common/src/array/arrow/arrow_iceberg.rs
  src/frontend/src/optimizer/plan_visitor/datafusion_execute_checker.rs
Due: rustfmt

chore(frontend): delete the never-compiled iceberg predicate pushdown rule
  src/frontend/src/optimizer/rule/batch/batch_iceberg_predicate_pushdown.rs
Due: rustfmt

test(iceberg): drop e2e assertions the batch variant-key gate rejects
  e2e_test/iceberg/test_case/iceberg_source_variant.slt
Due: none

fix(frontend): don't drop a pre-existing iceberg table when creating an engine table fails
  src/connector/src/sink/iceberg/create_table.rs
  src/connector/src/sink/iceberg/mod.rs
  src/frontend/src/handler/create_table.rs
Due: rustfmt

test(ddl): skip the posix_fs parquet source case under madsim
  e2e_test/ddl/variant.slt
Due: none

fix(connector): make file_scan parquet type inference fallible
  src/connector/src/source/iceberg/parquet_file_handler.rs
Due: rustfmt

test(iceberg): close variant e2e gaps in the existing test cases
  e2e_test/ddl/variant.slt
  e2e_test/iceberg/test_case/iceberg_source_variant.slt
  e2e_test/iceberg/test_case/iceberg_source_variant.toml
  e2e_test/iceberg/test_case/iceberg_source_variant_shredded.slt
Due: none

test(sink): cover VARIANT sink rejection and its exemptions end-to-end
  e2e_test/ddl/variant.slt
Due: none

feat(iceberg): read shredded variant columns as NULL instead of failing the file
  e2e_test/iceberg/test_case/iceberg_source_variant_shredded.slt
  e2e_test/iceberg/test_case/iceberg_source_variant_shredded.toml
  e2e_test/iceberg/test_utils/add_shredded_files.py
  src/common/src/array/arrow/arrow_iceberg.rs
  src/connector/src/source/iceberg/mod.rs
Due: rustfmt

chore(deps): reconcile Cargo.lock after restacking onto main
  Cargo.lock
Due: none

feat: support initial cache refill policy
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/ddl/alter_streaming_config.slt
  src/common/src/session_config/mod.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

chore: use foyer release branch
  Cargo.lock
  Cargo.toml
Due: cargo sort

refactor(frontend): rename StreamEowcSort to StreamWatermarkSort
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/gap_fill.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/planner_test/tests/testdata/output/watermark.yaml
  src/frontend/planner_test/tests/testdata/output/watermark_group.yaml
  src/frontend/src/optimizer/plan_node/convert.rs
  src/frontend/src/optimizer/plan_node/logical_gap_fill.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_watermark_sort.rs
Due: rustfmt

feat(stream): MATCH_RECOGNIZE pattern-matching core
  src/stream/src/executor/match_recognize/mod.rs
  src/stream/src/executor/match_recognize/nfa.rs
  src/stream/src/executor/mod.rs
Due: rustfmt

feat(frontend): secondary order columns for StreamWatermarkSort
  src/frontend/src/optimizer/plan_node/stream_watermark_sort.rs
Due: rustfmt

feat(sqlparser): parse MATCH_RECOGNIZE
  src/frontend/src/binder/relation/mod.rs
  src/meta/src/controller/rename.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/query.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/match_recognize.yaml
  src/tests/sqlsmith/src/reducer.rs
Due: rustfmt

feat(frontend): plan MATCH_RECOGNIZE as an ordered-input matcher over WatermarkSort
  proto/stream_plan.proto
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/planner_test/tests/testdata/input/match_recognize.yaml
  src/frontend/planner_test/tests/testdata/output/match_recognize.yaml
  src/frontend/src/optimizer/plan_node/generic/match_recognize.rs
  src/frontend/src/optimizer/plan_node/logical_match_recognize.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_match_recognize.rs
  src/prost/build.rs
  src/stream/src/from_proto/match_recognize.rs
  src/stream/src/from_proto/mod.rs
Due: rustfmt

feat(frontend): bind and logically plan MATCH_RECOGNIZE
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/match_recognize.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/optimizer/plan_node/generic/match_recognize.rs
  src/frontend/src/optimizer/plan_node/generic/mod.rs
  src/frontend/src/optimizer/plan_node/logical_match_recognize.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/planner/relation.rs
Due: rustfmt

test(stream): the MATCH_RECOGNIZE SLT battery over the ordered-input plan
  e2e_test/streaming/match_recognize.slt
  e2e_test/streaming/match_recognize_aggregate.slt
  e2e_test/streaming/match_recognize_classifier.slt
  e2e_test/streaming/match_recognize_define_nav.slt
  e2e_test/streaming/match_recognize_define_running.slt
  e2e_test/streaming/match_recognize_duplicate_output.slt
  e2e_test/streaming/match_recognize_eviction.slt
  e2e_test/streaming/match_recognize_idle_within_eviction.slt
  e2e_test/streaming/match_recognize_multi_partition.slt
  e2e_test/streaming/match_recognize_nav_horizon.slt
  e2e_test/streaming/match_recognize_navigation.slt
  e2e_test/streaming/match_recognize_null_order.slt
  e2e_test/streaming/match_recognize_order_multi.slt
  e2e_test/streaming/match_recognize_permute.slt
  e2e_test/streaming/match_recognize_preference_supersession.slt
  e2e_test/streaming/match_recognize_projection.slt
  e2e_test/streaming/match_recognize_reluctant.slt
  e2e_test/streaming/match_recognize_skip.slt
  e2e_test/streaming/match_recognize_skip_first_last_within.slt
  e2e_test/streaming/match_recognize_subset.slt
  e2e_test/streaming/match_recognize_terminal_finality.slt
  e2e_test/streaming/match_recognize_validation.slt
  e2e_test/streaming/match_recognize_watermark_boundary.slt
  e2e_test/streaming/match_recognize_within.slt
  e2e_test/streaming/match_recognize_within_boundary.slt
  e2e_test/streaming/match_recognize_within_held_emit.slt
  e2e_test/streaming/match_recognize_within_prune.slt
Due: none

feat(stream): incremental ordered-input matcher for MATCH_RECOGNIZE
  docs/dev/src/design/match-recognize.md
  e2e_test/streaming/match_recognize_permute_preference.slt
  e2e_test/streaming/match_recognize_recovery.slt.serial
  e2e_test/streaming/match_recognize_rescale.slt
  src/stream/src/executor/match_recognize/executor.rs
  src/stream/src/executor/match_recognize/incremental.rs
  src/stream/src/executor/match_recognize/mod.rs
  src/stream/src/executor/match_recognize/proto.rs
  src/stream/src/from_proto/match_recognize.rs
Due: rustfmt

docs(dev): design doc for MATCH_RECOGNIZE over ordered input
  docs/dev/src/SUMMARY.md
Due: none

feat(stream): operator metrics for MATCH_RECOGNIZE
  docs/metrics/inventory.tsv
  src/stream/src/executor/monitor/streaming_stats.rs
Due: rustfmt

feat(stream): ordered-input MATCH_RECOGNIZE executor
  src/stream/src/executor/match_recognize/mod.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/mod.rs
Due: rustfmt

feat(iceberg): add variant type for iceberg source (#25165)
  Cargo.lock
  Cargo.toml
  e2e_test/ddl/variant.slt
  e2e_test/iceberg/README.md
  e2e_test/iceberg/test_case/iceberg_source_variant.slt
  e2e_test/iceberg/test_case/iceberg_source_variant.toml
  e2e_test/iceberg/test_case/iceberg_source_variant_shredded.slt
  e2e_test/iceberg/test_case/iceberg_source_variant_shredded.toml
  e2e_test/iceberg/test_utils/add_shredded_files.py
  e2e_test/iceberg/test_utils/test_utils.py
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_58.rs
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/arrow/mod.rs
  src/connector/src/parser/parquet_parser.rs
  src/connector/src/sink/iceberg/create_table.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/frontend/src/datafusion/scalar_function/convert.rs
  src/frontend/src/handler/alter_source_column.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema/iceberg.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/logical_iceberg_intermediate_scan.rs
  src/frontend/src/optimizer/plan_visitor/datafusion_execute_checker.rs
  src/frontend/src/optimizer/rule/batch/batch_iceberg_predicate_pushdown.rs
  src/frontend/src/utils/iceberg_predicate.rs
  src/meta/src/stream/sink.rs
Due: rustfmt, cargo sort

fix: publish cache refill policy before backfill
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

fix(pgwire): support configurable OAuth audience (#26531)
  src/utils/pgwire/src/pg_server.rs
Due: rustfmt
