Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

add comment
  src/stream/src/executor/project_set.rs
Due: rustfmt

rename
  Cargo.lock
  Cargo.toml
  src/connector/Cargo.toml
  src/connector/codec/Cargo.toml
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/codec/src/decoder/avro/schema.rs
  src/connector/codec/src/decoder/mod.rs
  src/connector/codec/src/decoder/utils.rs
  src/connector/codec/src/lib.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/unified/avro.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/unified/mod.rs
Due: rustfmt, cargo sort

fix to_char test to use regex
  e2e_test/batch/functions/to_char.slt.part
Due: none

support spill metrics
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/monitor/stats.rs
  src/batch/src/spill/spill_op.rs
  src/batch/src/task/context.rs
  src/batch/src/task/env.rs
  src/compute/src/server.rs
  src/frontend/src/scheduler/task_context.rs
  src/frontend/src/session.rs
Due: rustfmt

fix
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/join/hash_join.rs
Due: rustfmt

fix mysql e2e
  e2e_test/source/cdc_inline/auto_schema_map_mysql.slt
Due: none

fix(storage): fix ut
  src/meta/src/hummock/manager/compaction_group_manager.rs
Due: rustfmt

feat(sink): batch add data to kinesis and async wait for delivery
  src/connector/src/sink/kinesis.rs
Due: rustfmt

add test
  src/connector/src/sink/kinesis.rs
Due: rustfmt

fix: support co-exist for sql backend and cdc
  risedev.yml
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt

trigger recovery by another bug
  e2e_test/error_ui/simple/recovery.slt
Due: none

clean code
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/frontend/src/handler/create_table.rs
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

Update meta, manager, rpc, stream modules; fix tests and proto
  proto/meta.proto
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/fragment.rs
Due: rustfmt

utilize seq! macro
  src/sqlparser/src/parser_v2/expr.rs
Due: rustfmt

fix(expr): evaluate scalar expr non-strictly in streaming (#17084)
  e2e_test/error_ui/simple/recovery.slt
  e2e_test/streaming/bug_fixes/issue_12474.slt
  src/batch/src/executor/project_set.rs
  src/expr/core/src/table_function/mod.rs
  src/stream/src/executor/project_set.rs
  src/stream/src/from_proto/project_set.rs
  src/stream/tests/integration_tests/project_set.rs
Due: rustfmt

add position
  src/sqlparser/src/parser.rs
  src/sqlparser/src/parser_v2/expr.rs
Due: rustfmt

minor
  src/compute/tests/cdc_tests.rs
Due: rustfmt

feat(sink): batch add data to kinesis and async wait for delivery (#17091)
  src/connector/src/sink/kinesis.rs
Due: rustfmt

fix: upgrade foyer-storage to fix direct io on arm (#17087)
  Cargo.lock
Due: none

perf(storage): upgrade foyer to spawn fetch block in dedicated runtime
  Cargo.lock
  Cargo.toml
Due: cargo sort

add overlay
  src/sqlparser/src/parser.rs
  src/sqlparser/src/parser_v2/expr.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/overlay.yaml
Due: rustfmt

fix
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
Due: rustfmt

fix: reject concurrent altering table column
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

add e2e tests
  ci/docker-compose.yml
  ci/scripts/e2e-mongodb-sink-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/sink/mongodb_sink.slt
  src/connector/src/sink/mod.rs
  src/connector/src/sink/mongodb.rs
Due: rustfmt

refactor(parser): use v2 parser for cast/extract/substring/position/overlay (#17053)
  src/sqlparser/src/parser.rs
  src/sqlparser/src/parser_v2/expr.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/extract.yaml
  src/sqlparser/tests/testdata/overlay.yaml
Due: rustfmt

upgrade to opendal pr 4684
  Cargo.lock
  src/object_store/Cargo.toml
Due: cargo sort

chore(batch): remove crate level expect(dead_code) (#17082)
  src/batch/src/executor/delete.rs
  src/batch/src/executor/generic_exchange.rs
  src/batch/src/executor/hash_agg.rs
  src/batch/src/executor/hop_window.rs
  src/batch/src/executor/insert.rs
  src/batch/src/executor/join/chunked_data.rs
  src/batch/src/executor/join/hash_join.rs
  src/batch/src/executor/join/local_lookup_join.rs
  src/batch/src/executor/join/mod.rs
  src/batch/src/executor/join/nested_loop_join.rs
  src/batch/src/executor/merge_sort_exchange.rs
  src/batch/src/executor/row_seq_scan.rs
  src/batch/src/executor/table_function.rs
  src/batch/src/executor/test_utils.rs
  src/batch/src/executor/top_n.rs
  src/batch/src/executor/values.rs
  src/batch/src/lib.rs
Due: rustfmt

fix e2e tests
  ci/scripts/e2e-mongodb-sink-test.sh
Due: none

update Cargo.lock
  Cargo.lock
Due: none

address comments
  risedev.yml
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt

fix: support co-exist for sql backend with cdc and support mysql sql backend in risedev (#17092)
  risedev.yml
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt

fix(storage): upgrade pull task
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/opts.rs
Due: rustfmt

add rustup to the release image
  docker/Dockerfile
Due: none

chore(metric): disply actor count per CN in grafana
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.dashboard.py
  grafana/risingwave-user-dashboard.json
Due: none

set default rust toolchain
  docker/Dockerfile
Due: none

refactor(source): split parser into separate crate (part 1) (#17081)
  Cargo.lock
  Cargo.toml
  src/connector/Cargo.toml
  src/connector/codec/Cargo.toml
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/codec/src/decoder/avro/schema.rs
  src/connector/codec/src/decoder/mod.rs
  src/connector/codec/src/decoder/utils.rs
  src/connector/codec/src/lib.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/util.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/unified/avro.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/unified/mod.rs
  src/connector/src/parser/unified/protobuf.rs
Due: rustfmt, cargo sort

chore(connector): remove crate level allow(dead_code)
  src/connector/src/lib.rs
  src/connector/src/macros.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/debezium/mod.rs
  src/connector/src/parser/debezium/mongo_json_parser.rs
  src/connector/src/parser/debezium/operators.rs
  src/connector/src/parser/maxwell/mod.rs
  src/connector/src/parser/maxwell/operators.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/schema/loader.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/doris_starrocks_connector.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/iceberg/prometheus/monitored_partition_writer.rs
  src/connector/src/sink/iceberg/prometheus/monitored_write_writer.rs
  src/connector/src/sink/mqtt.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/pulsar.rs
  src/connector/src/sink/redis.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/snowflake.rs
  src/connector/src/sink/snowflake_connector.rs
  src/connector/src/sink/starrocks.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/kafka/private_link.rs
  src/connector/src/source/kinesis/source/message.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/connector/src/source/mqtt/enumerator/mod.rs
  src/connector/src/source/mqtt/source/reader.rs
  src/connector/src/source/nats/enumerator/mod.rs
  src/connector/src/source/nats/source/reader.rs
  src/connector/src/source/nexmark/source/reader.rs
  src/connector/src/source/pulsar/source/reader.rs
Due: rustfmt

run rustup to create config file
  docker/Dockerfile
Due: none

chore(connector): remove crate level allow(dead_code) (#17089)
  src/connector/src/lib.rs
  src/connector/src/macros.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/debezium/mod.rs
  src/connector/src/parser/debezium/mongo_json_parser.rs
  src/connector/src/parser/debezium/operators.rs
  src/connector/src/parser/maxwell/mod.rs
  src/connector/src/parser/maxwell/operators.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/schema/loader.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/doris_starrocks_connector.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/iceberg/prometheus/monitored_partition_writer.rs
  src/connector/src/sink/iceberg/prometheus/monitored_write_writer.rs
  src/connector/src/sink/mqtt.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/pulsar.rs
  src/connector/src/sink/redis.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/snowflake.rs
  src/connector/src/sink/snowflake_connector.rs
  src/connector/src/sink/starrocks.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/datagen/source/reader.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/filesystem/s3/source/reader.rs
  src/connector/src/source/kafka/private_link.rs
  src/connector/src/source/kinesis/source/message.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/connector/src/source/mqtt/enumerator/mod.rs
  src/connector/src/source/mqtt/source/reader.rs
  src/connector/src/source/nats/enumerator/mod.rs
  src/connector/src/source/nats/source/reader.rs
  src/connector/src/source/nexmark/source/reader.rs
  src/connector/src/source/pulsar/source/reader.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
