Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: typos
        name: typos
        entry: typos -w
        language: system
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fix(meta): use per table mce and safe epoch in metadata backup
  proto/backup_service.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_meta_snapshot.rs
  src/storage/backup/integration_tests/common.sh
  src/storage/backup/integration_tests/test_query_backup.sh
  src/storage/backup/src/lib.rs
  src/storage/src/hummock/backup_reader.rs
  src/storage/src/hummock/store/hummock_storage.rs
Due: rustfmt

store rw_version in metadata backup manifest
  proto/backup_service.proto
  src/storage/backup/src/lib.rs
Due: rustfmt

include meta backup test in workflow
  ci/workflows/pull-request.yml
Due: none

devshell: add cargo-sort
  nix/devshell.nix
Due: none

feat: init nix devshell
  .envrc
  .gitignore
  nix/devshell.nix
  nix/flake.lock
  nix/flake.nix
  nix/overlays.nix
Due: none

devshell: provide env that RisingWave playground works
  nix/devshell.nix
Due: none

feat(connector): add SQL Server sink (#17154)
  Cargo.lock
  ci/docker-compose.yml
  ci/scripts/e2e-sqlserver-sink-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/sink/sqlserver_sink.slt
  src/connector/Cargo.toml
  src/connector/src/sink/mod.rs
  src/connector/src/sink/sqlserver.rs
  src/connector/src/with_options.rs
  src/connector/with_options_sink.yaml
Due: rustfmt, cargo sort

fix(meta): include secrets in metadata backup (#17225)
  ci/workflows/pull-request.yml
  proto/backup_service.proto
  src/meta/model_v2/src/secret.rs
  src/meta/src/backup_restore/meta_snapshot_builder_v2.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/storage/backup/src/lib.rs
  src/storage/backup/src/meta_snapshot_v2.rs
Due: rustfmt

fix check
  src/stream/src/executor/over_window/over_partition.rs
Due: rustfmt

add actor_id_to_ddl
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_actor_id_to_ddl.rs
Due: rustfmt

fix ci
  e2e_test/sink/clickhouse_sink.slt
  e2e_test/sink/kafka/avro.slt
  e2e_test/sink/kafka/create_sink.slt
  e2e_test/sink/kafka/protobuf.slt
  e2e_test/sink/mqtt_sink.slt
  e2e_test/sink/pulsar_sink.slt
Due: none

add fragment_id to ddl and actor_id to ddl
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragment_id_to_ddl.rs
Due: rustfmt

add fragment_id
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_actor_id_to_ddl.rs
Due: rustfmt

add license header
  src/connector/src/sink/encoder/bson.rs
Due: rustfmt

ci: make stale bot more kind, and close stale issues
  .github/workflows/stale.yml
Due: none

more more kind
  .github/workflows/stale.yml
Due: none

split large table
  src/meta/src/hummock/manager/timer_task.rs
Due: rustfmt

feat(storage): remove magic number MAX_COMPACT_LEVEL_COUNT (#17219)
  proto/hummock.proto
  src/common/src/config.rs
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/compaction_task_validator.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/mod.rs
  src/meta/src/hummock/compaction/picker/tier_compaction_picker.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
Due: rustfmt

fix insert order when restoring to satisfy FK constraint
  src/meta/src/backup_restore/meta_snapshot_builder_v2.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
Due: rustfmt

fix test
  src/storage/backup/integration_tests/common.sh
  src/storage/backup/integration_tests/test_query_backup.sh
Due: none

fix
  src/frontend/src/handler/drop_subscription.rs
  src/frontend/src/session/cursor_manager.rs
Due: rustfmt

feat(compaciton): batch cancel tasks
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/timer_task.rs
Due: rustfmt

chore: update tokio 0.2.24 to 0.2
  src/tests/e2e_extended_mode/Cargo.toml
  src/tests/simulation/Cargo.toml
Due: cargo sort

fix(compactor): Compactor potential oom risk of builder (#16802)
  proto/hummock.proto
  src/common/src/config.rs
  src/config/docs.md
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/opts.rs
Due: rustfmt

fix compatibility
  src/storage/src/hummock/backup_reader.rs
Due: rustfmt

bump mysql jdbc lib
  java/pom.xml
Due: none

fix
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
Due: rustfmt

feat(source): support JSON schema addtionalProperties (map) (#17110)
  e2e_test/source/basic/nosim_kafka.slt
  scripts/source/test_data/kafka_json_schema.1
  src/connector/src/parser/json_parser.rs
  src/frontend/src/handler/create_source.rs
Due: rustfmt

feat(storage): remove group payload
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
Due: rustfmt

fix(config): fix Cargo.lock
  Cargo.lock
Due: none

feat(catalog): add `rw_catalog.actor_id_to_ddl`, `rw_catalog.fragment_id_to_ddl` (#17229)
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_actor_id_to_ddl.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_fragment_id_to_ddl.rs
Due: rustfmt

fix `
  src/frontend/src/handler/drop_subscription.rs
  src/frontend/src/session.rs
  src/frontend/src/session/cursor_manager.rs
Due: rustfmt

refactor(storage): refactor compaction group manager txn (#17070)
  src/meta/node/src/server.rs
  src/meta/src/controller/session_params.rs
  src/meta/src/hummock/compactor_manager.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/manager/env.rs
  src/meta/src/model/catalog.rs
  src/storage/hummock_sdk/src/version.rs
Due: rustfmt

chore: bump mysql java library (#17234)
  java/pom.xml
Due: none

support spill sort
  src/batch/src/executor/merge_sort.rs
  src/batch/src/executor/mod.rs
  src/batch/src/executor/order_by.rs
Due: rustfmt

fix
  src/connector/src/sink/big_query.rs
Due: rustfmt

fix temporal join append only property
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
Due: rustfmt

chore: update tokio 0.2.24 to 0.2 (#17233)
  src/tests/e2e_extended_mode/Cargo.toml
  src/tests/simulation/Cargo.toml
Due: cargo sort

fix(meta): use per table mce and safe epoch in metadata backup (#17227)
  proto/backup_service.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_meta_snapshot.rs
  src/meta/src/backup_restore/meta_snapshot_builder_v2.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/storage/backup/integration_tests/common.sh
  src/storage/backup/integration_tests/test_query_backup.sh
  src/storage/backup/src/lib.rs
  src/storage/src/hummock/backup_reader.rs
  src/storage/src/hummock/store/hummock_storage.rs
Due: rustfmt
