Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

test(mssql-cdc): enrich tests and small refactor (#18081)
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc_insert.sql
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc_prepare.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/SqlServerValidator.java
  src/connector/src/parser/sql_server.rs
  src/connector/src/source/cdc/external/sql_server.rs
Due: rustfmt

fmt
  src/common/src/util/env_var.rs
Due: rustfmt

support retry_unknown_service_error for opendal s3
  src/object_store/src/object/error.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/s3.rs
Due: rustfmt

feat: use opendal as the s3 sdk by default
  src/common/src/config.rs
  src/common/src/util/env_var.rs
  src/config/example.toml
Due: rustfmt

feat(sink): introduce file sink in PARQUET format (#17311)
  ci/scripts/e2e-sink-test.sh
  ci/scripts/e2e-source-test.sh
  ci/workflows/main-cron.yml
  e2e_test/s3/fs_parquet_source_and_sink.py
  src/bench/sink_bench/main.rs
  src/connector/src/sink/catalog/mod.rs
  src/connector/src/sink/file_sink/fs.rs
  src/connector/src/sink/file_sink/gcs.rs
  src/connector/src/sink/file_sink/mod.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/file_sink/s3.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/with_options_sink.yaml
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/sqlparser/src/ast/statement.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Due: rustfmt

add table_type to filter
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/catalog/mod.rs
Due: rustfmt

ci: install addr2line-rs binary along with flamegraph
  docker/Dockerfile
Due: none

chore: fix script
  docker/Dockerfile
Due: none

fix(pgwire): allow configuring tcp keepalive idle time (#18136)
  Cargo.lock
  src/cmd_all/src/standalone.rs
  src/frontend/src/lib.rs
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/net.rs
  src/utils/pgwire/src/pg_server.rs
Due: rustfmt, cargo sort

chore: fix PATH
  docker/Dockerfile
Due: none

handle the old retry_unknown_service_error config entry
  src/object_store/src/object/mod.rs
Due: rustfmt

update docs and tests
  src/common/src/config.rs
  src/common/src/hash/consistent_hash/mapping.rs
  src/config/docs.md
  src/meta/src/stream/scale.rs
  src/meta/src/stream/test_scale.rs
  src/stream/src/executor/dispatch.rs
Due: rustfmt

support temporary source
  e2e_test/source/basic/temporary_kafka_batch.slt
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/session.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

typo
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.json
Due: none

feat: Add 20 missing NATS consumer parameters
  src/connector/src/connector_common/common.rs
  src/connector/src/source/nats/mod.rs
  src/connector/src/source/nats/source/reader.rs
Due: rustfmt

update some
  src/common/src/hash/consistent_hash/mapping.rs
Due: rustfmt

add docs on profiling on osx
  docs/dev/src/benchmark-and-profile/cpu-profiling.md
Due: none

refine
  Cargo.lock
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/debezium.rs
  src/meta/Cargo.toml
  src/tests/simulation/tests/integration_tests/sink/recovery.rs
Due: rustfmt, cargo sort

doc: add docs on profiling on osx (#18175)
  docs/dev/src/benchmark-and-profile/cpu-profiling.md
Due: none

fix ut
  src/connector/src/parser/plain_parser.rs
  src/meta/src/controller/catalog.rs
Due: rustfmt

incre e2e parallel timeout
  ci/workflows/pull-request.yml
Due: none

address comments
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/azblob.rs
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/gcs.rs
  src/object_store/src/object/opendal_engine/hdfs.rs
  src/object_store/src/object/opendal_engine/obs.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/opendal_engine/oss.rs
  src/object_store/src/object/opendal_engine/webhdfs.rs
Due: rustfmt

fix
  src/connector/src/parser/unified/debezium.rs
Due: rustfmt

typo
  docs/dev/src/benchmark-and-profile/cpu-profiling.md
Due: none

fix
  docs/dev/src/benchmark-and-profile/cpu-profiling.md
Due: none

chore: remove whitespace from `ci-profiling.md` (#18178)
  docs/dev/src/benchmark-and-profile/cpu-profiling.md
Due: none

feat(storage): adjust base compaction limitation (#17979)
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  docs/dev/src/benchmark-and-profile/cpu-profiling.md
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  proto/hummock.proto
  src/common/src/config.rs
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/compaction_task_validator.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
Due: rustfmt

fix: fix kinesis early exit
  src/connector/src/source/kinesis/source/reader.rs
Due: rustfmt

su
  src/connector/src/lib.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/decouple_checkpoint_log_sink.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/google_pubsub.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/mongodb.rs
  src/connector/src/sink/mqtt.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/pulsar.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/starrocks.rs
Due: rustfmt

allow config list interval
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/reader/reader.rs
Due: rustfmt

fix
  src/connector/src/source/kinesis/source/reader.rs
Due: rustfmt

update options
  src/connector/with_options_source.yaml
Due: none

fix tests
  src/sqlparser/tests/testdata/create.yaml
Due: none

stash
  Cargo.lock
  Cargo.toml
  src/common/telemetry_event/Cargo.toml
  src/common/telemetry_event/src/lib.rs
Due: rustfmt, cargo sort

add license for iceberg sink with glue
  src/connector/src/sink/iceberg/mod.rs
  src/license/src/feature.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
