Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

add a default value
  ci/workflows/docker.yml
Due: none

fix(frontend): correctly handle case-sensitive identifier (column name) during def purification (#21638)
  e2e_test/ddl/show_purify.slt
  src/frontend/src/catalog/purify.rs
  src/frontend/src/utils/data_type.rs
  src/sqlparser/src/ast/mod.rs
Due: rustfmt

fmt
  .github/workflows/build-docker-image.yml
Due: none

do not persist empty file info in state table
  src/stream/src/executor/source/fs_fetch_executor.rs
Due: rustfmt

chore(iceberg): remove emr compaction (#21641)
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/sink/iceberg/compaction.rs
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt, cargo sort

add table function
  proto/expr.proto
  src/common/src/catalog/internal_table.rs
  src/frontend/src/binder/expr/function/mod.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/expr/table_function.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/logical_project.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/optimizer/rule/table_function_to_file_scan_rule.rs
  src/frontend/src/optimizer/rule/table_function_to_internal_backfill_progress.rs
Due: rustfmt

chore(ci): report cherry-pick workflow status to PR
  .github/workflows/cherry-pick-since-release-branch.yml
Due: none

remove matrix
  ci/workflows/main-cron.yml
Due: none

fmt
  src/frontend/src/optimizer/rule/table_function_to_internal_backfill_progress.rs
Due: rustfmt

query hummock stats * need to query for upstream tables being scanned instead
  src/frontend/src/expr/table_function.rs
  src/frontend/src/optimizer/rule/table_function_to_internal_backfill_progress.rs
Due: rustfmt

fix: cherry-pick release-2.1: reset client pool for compute node (#21603, #21611) (#21633)
  src/compute/src/observer/observer_manager.rs
  src/compute/src/server.rs
  src/meta/src/barrier/recovery.rs
  src/stream/src/task/stream_manager.rs
Due: rustfmt

fix: cherry-pick release-2.3: reset client pool for compute node (#21603, #21611) (#21636)
  src/compute/src/observer/observer_manager.rs
  src/compute/src/server.rs
  src/meta/src/barrier/worker.rs
  src/stream/src/task/stream_manager.rs
Due: rustfmt

fix(file source): do not persist empty file info in state table (#21646)
  src/stream/src/executor/source/fs_fetch_executor.rs
Due: rustfmt

fix(log_store): fix init epoch of synced log store (#21557)
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/log_store/mod.rs
  src/tests/simulation/tests/integration_tests/log_store/recovery.rs
Due: rustfmt

fix(sqlparser): skip format_encode for cdc sources in CreateSourceStatement display
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

WIP nearest
  src/storage/src/row_serde/mod.rs
  src/storage/src/table/batch_table/mod.rs
  src/stream/src/common/table/state_table.rs
Due: rustfmt

fix
  src/common/src/telemetry/report.rs
Due: rustfmt

fix(sqlparser): skip format_encode for CDC source (#21649)
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

link back to github actions run page
  .github/workflows/cherry-pick-since-release-branch.yml
Due: none

feat(frontend): add a session config to allow disabling sql purification
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/ddl/show_purify.slt
  src/common/src/session_config/mod.rs
  src/frontend/src/catalog/purify.rs
  src/frontend/src/session/current.rs
Due: rustfmt

ai drafted reset stmt
  e2e_test/reset.slt
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/variable.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

chore(ci): report cherry-pick workflow status to PR (#21647)
  .github/workflows/cherry-pick-since-release-branch.yml
Due: none

feat(config): introduce compaction config enable_optimize_l0_interval_selection
  proto/hummock.proto
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
Due: rustfmt

support iceberg compaction manager
  Cargo.lock
  src/connector/src/connector_common/iceberg/compaction.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/test_sink.rs
  src/meta/Cargo.toml
  src/meta/node/src/server.rs
  src/meta/src/manager/iceberg_compaction.rs
  src/meta/src/manager/mod.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/manager.rs
Due: rustfmt, cargo sort

feat(storage): Optimizing the l0 intervals selection algorithm (#21042)
  proto/hummock.proto
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
Due: rustfmt

make sender optional
  src/bench/sink_bench/main.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/test_sink.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
Due: rustfmt

fm
  src/meta/node/src/server.rs
  src/meta/src/manager/iceberg_compaction.rs
Due: rustfmt

refactor(compaciton): refactor compaction group merge validator (#21135)
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/versioning.rs
Due: rustfmt

feat(compaction): Enhance the restrictions on the merge dimension var… (#21334)
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/manager/env.rs
Due: rustfmt

fmt
  src/tests/simulation/tests/integration_tests/sink/utils.rs
Due: rustfmt

fix(test): typo in glue schema registry license test
  e2e_test/source_inline/kafka/avro/glue.slt.serial
Due: none

feat(frontend): add a session config to allow disabling sql purification (#21656)
  e2e_test/batch/catalog/pg_settings.slt.part
  e2e_test/ddl/show_purify.slt
  src/common/src/session_config/mod.rs
  src/frontend/src/catalog/purify.rs
  src/frontend/src/session/current.rs
Due: rustfmt

feat(sink): support redis sink with pubsub format (#20991)
  src/connector/src/sink/encoder/template.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/redis.rs
Due: rustfmt

Refactor `apply_source_change`: remove condition, create `CreateJob` unconditionally for simplification.
  src/meta/src/barrier/context/context_impl.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
