Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

refactor(storage): finish complete iceberg rounds directly
  src/storage/src/hummock/compactor/iceberg_compaction/report.rs
  src/storage/src/hummock/compactor/mod.rs
Due: rustfmt

refactor(stream): clean over window state lazily
  e2e_test/streaming/over_window/state_cleaning.slt.part
  proto/stream_plan.proto
  src/stream/src/executor/over_window/general.rs
  src/stream/tests/integration_tests/over_window.rs
Due: rustfmt

fix(meta): gate iceberg rounds on file sequences
  src/connector/src/connector_common/iceberg/compaction.rs
  src/connector/src/sink/iceberg/commit.rs
  src/meta/src/manager/iceberg_compaction/schedule.rs
  src/meta/src/manager/iceberg_compaction/schedule/tests.rs
Due: rustfmt

feat(dashboard): support CPU profile dumps
  dashboard/components/Layout.tsx
  dashboard/pages/cpu_profiling.tsx
  src/meta/src/dashboard/mod.rs
Due: rustfmt

feat(cdc): add MySQL binlog file lag alert (#26743)
  docker/dashboards/risingwave-dev-dashboard.json
  docs/metrics/inventory.tsv
  grafana/dashboard/dev/cluster_alerts.py
  grafana/dashboard/dev/streaming_cdc.py
  grafana/risingwave-dev-dashboard.json
  src/connector/src/source/cdc/enumerator/mod.rs
  src/connector/src/source/monitor/metrics.rs
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt

fix(frontend): tie query lifetime to cursor lifecycle
  src/frontend/src/handler/declare_cursor.rs
  src/frontend/src/scheduler/distributed/query_manager.rs
  src/frontend/src/session.rs
  src/frontend/src/session/cursor_manager.rs
Due: rustfmt

fix(connector): isolate Pulsar ACK channels by actor (#26826) (#26910)
  src/connector/src/source/mod.rs
  src/connector/src/source/pulsar/source/reader.rs
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt

fix(iceberg): backport FastAppend path deduplication
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
Due: cargo sort

fix(iceberg): guard COW snapshot publication
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/src/hummock/compactor/iceberg_compaction/iceberg_compactor_runner.rs
  src/storage/src/monitor/compactor_metrics.rs
Due: rustfmt, cargo sort

doc: rephrase comments
  src/frontend/src/session/cursor_manager.rs
Due: rustfmt

fix(iceberg): persist COW publish watermark
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/src/hummock/compactor/iceberg_compaction/iceberg_compactor_runner.rs
Due: rustfmt, cargo sort

refactor(iceberg): fence COW publish by target snapshot
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/src/hummock/compactor/iceberg_compaction/iceberg_compactor_runner.rs
  src/storage/src/monitor/compactor_metrics.rs
Due: rustfmt, cargo sort

fix(iceberg): reject duplicate COW data files
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
  src/storage/src/hummock/compactor/iceberg_compaction/iceberg_compactor_runner.rs
Due: rustfmt, cargo sort

fix: address coderabbit comments
  src/frontend/src/handler/declare_cursor.rs
  src/frontend/src/session/cursor_manager.rs
Due: rustfmt

refactor(sink): share BatchingLogSinker between file and postgres sinks
  src/connector/src/sink/batching_log_sink.rs
  src/connector/src/sink/file_sink/mod.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/postgres.rs
Due: rustfmt

feat(sink): fail fast on incompatible postgres target tables
  src/connector/src/sink/postgres.rs
Due: rustfmt

refactor: split into add-only PR
  src/frontend/src/handler/util.rs
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/session/cursor_stream.rs
Due: rustfmt

fix(iceberg): detect duplicate data files before rewrite and keep main repairable
  src/storage/src/hummock/compactor/iceberg_compaction/iceberg_compactor_runner.rs
Due: rustfmt

fix(iceberg): restore FastAppend path deduplication
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
Due: cargo sort

fix(connector): simplify Snowflake CDC row IDs
  src/connector/src/sink/snowflake_redshift/mod.rs
  src/connector/src/sink/snowflake_redshift/redshift.rs
  src/connector/src/sink/snowflake_redshift/snowflake.rs
Due: rustfmt

chore(deps): pin merged iceberg compaction
  Cargo.lock
  src/storage/Cargo.toml
Due: cargo sort

fix(source): decode Parquet Utf8View columns (#26915)
  ci/scripts/e2e-source-test.sh
  e2e_test/source_inline/fs/data/utf8_view/data.parquet
  e2e_test/source_inline/fs/parquet_utf8_view.slt
  src/common/src/array/arrow/arrow_impl.rs
Due: rustfmt

feat(iceberg): support writing variant columns (#26620)
  Cargo.lock
  Cargo.toml
  e2e_test/ddl/variant.slt
  e2e_test/iceberg/test_case/iceberg_sink_variant.slt
  e2e_test/iceberg/test_case/iceberg_sink_variant.toml
  src/common/src/array/arrow/arrow_iceberg.rs
  src/connector/src/sink/iceberg/create_table.rs
  src/connector/src/sink/iceberg/mod.rs
  src/meta/src/stream/sink.rs
  src/storage/Cargo.toml
Due: rustfmt, cargo sort

test(iceberg): cover multi-batch compaction rounds
  ci/scripts/e2e-iceberg-test.sh
  e2e_test/iceberg/README.md
  e2e_test/iceberg/compaction_round.slt
  risedev.yml
  src/config/ci-iceberg-compaction-round.toml
Due: none

fix(meta): fence stale exchange requests across database recovery
  proto/stream_service.proto
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/independent_job/batch_refresh_job/mod.rs
  src/meta/src/barrier/checkpoint/independent_job/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/partial_graph.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/stream/src/task/barrier_manager/mod.rs
  src/stream/src/task/barrier_worker/managed_state.rs
  src/stream/src/task/barrier_worker/mod.rs
  src/stream/src/task/barrier_worker/tests.rs
Due: rustfmt

build(udf): bump arrow-udf-runtime to 0.10.0 for CPython 3.14 support
  Cargo.lock
  Cargo.toml
Due: cargo sort

test(udf): bump the arrow_udf Python package to 0.3.2
  e2e_test/udf/remote_python/requirements.txt
Due: none

feat(stream): support broadcast temporal join
  e2e_test/streaming/temporal_join/append_only/broadcast.slt
  proto/stream_plan.proto
  src/frontend/planner_test/tests/testdata/input/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/optimizer/plan_visitor/temporal_join_validator.rs
  src/frontend/src/planner/relation.rs
  src/meta/src/stream/stream_graph/schedule.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/query.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/stream/src/executor/temporal_join.rs
  src/stream/src/from_proto/temporal_join.rs
Due: rustfmt

feat(pg-cdc): support postgres point type
  e2e_test/source_inline/cdc/postgres/postgres_point.slt
  e2e_test/source_inline/cdc/postgres/postgres_point_type_validation.slt
  e2e_test/source_inline/cdc/postgres/postgres_schema_check_and_schema_change.slt
  src/connector/src/connector_common/postgres.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/postgres.rs
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

test(pg-cdc): cover postgres point type
  e2e_test/source_inline/cdc/postgres/postgres_point.slt
  e2e_test/source_inline/cdc/postgres/postgres_point_type_validation.slt
Due: none

fix(pg-cdc): assert point struct type
  src/connector/src/parser/scalar_adapter.rs
Due: rustfmt

refactor(pg-cdc): decode points with scalar adapter
  src/connector/src/parser/postgres.rs
  src/connector/src/parser/scalar_adapter.rs
Due: rustfmt

refactor(pg-cdc): simplify postgres point handling
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/postgres.rs
Due: rustfmt

test(pg-cdc): assert postgres point values
  e2e_test/source_inline/cdc/postgres/postgres_point.slt
Due: none

fix(pg-cdc): encode points with scalar adapter
  src/common/src/catalog/cdc_type_compatibility.rs
  src/connector/src/parser/scalar_adapter.rs
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

feat(stream): support retractable broadcast temporal join
  e2e_test/streaming/temporal_join/non_append_only/broadcast.slt
  src/frontend/planner_test/tests/testdata/input/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/stream/src/executor/temporal_join.rs
  src/stream/src/from_proto/temporal_join.rs
Due: rustfmt

feat(storage): add sequence-bounded Iceberg compaction rounds (#26766)
  Cargo.lock
  Cargo.toml
  ci/scripts/e2e-iceberg-test.sh
  e2e_test/iceberg/README.md
  e2e_test/iceberg/compaction_round.slt
  proto/iceberg_compaction.proto
  risedev.yml
  src/config/ci-iceberg-compaction-round.toml
  src/connector/src/connector_common/iceberg/compaction.rs
  src/connector/src/sink/iceberg/commit.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/iceberg/planner.rs
  src/meta/src/manager/iceberg_compaction/gc.rs
  src/meta/src/manager/iceberg_compaction/manual.rs
  src/meta/src/manager/iceberg_compaction/schedule.rs
  src/meta/src/manager/iceberg_compaction/schedule/tests.rs
  src/storage/Cargo.toml
  src/storage/src/hummock/compactor/iceberg_compaction/iceberg_compactor_runner.rs
  src/storage/src/hummock/compactor/iceberg_compaction/mod.rs
  src/storage/src/hummock/compactor/iceberg_compaction/report.rs
  src/storage/src/hummock/compactor/mod.rs
Due: rustfmt, cargo sort

fix(meta): fence stale exchange requests across database recovery (#26931)
  proto/stream_service.proto
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/independent_job/batch_refresh_job/mod.rs
  src/meta/src/barrier/checkpoint/independent_job/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/partial_graph.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/stream/src/task/barrier_manager/mod.rs
  src/stream/src/task/barrier_worker/managed_state.rs
  src/stream/src/task/barrier_worker/mod.rs
  src/stream/src/task/barrier_worker/tests.rs
Due: rustfmt

feat(pg-cdc): support postgres point type (#26764)
  e2e_test/source_inline/cdc/postgres/postgres_point.slt
  e2e_test/source_inline/cdc/postgres/postgres_schema_check_and_schema_change.slt
  src/common/src/catalog/cdc_type_compatibility.rs
  src/connector/src/connector_common/postgres.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/postgres.rs
  src/connector/src/parser/scalar_adapter.rs
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

refactor(cdc): compare source types directly
  src/common/src/catalog/cdc_type_compatibility.rs
  src/common/src/catalog/mod.rs
  src/common/src/types/postgres_type.rs
  src/connector/src/connector_common/postgres.rs
Due: rustfmt
