Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

try try try
  ci/scripts/single-node-utils.sh
Due: none

fix: fix catalog inconsistency when dropping stream jobs.
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/manager/metadata.rs
Due: rustfmt

s3 tables
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt

refactor
  proto/ddl_service.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_ddl_progress.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/rpc_client/src/meta_client.rs
  src/storage/src/compaction_catalog_manager.rs
Due: rustfmt

fmt
  src/connector/src/connector_common/iceberg/mod.rs
Due: rustfmt

fix
  ci/scripts/standalone-utils.sh
Due: none

perf(common): improve performance of col-aware encoding for structs (serialization part) (#20957)
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/lib.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
Due: rustfmt, cargo sort

rename properties to use _ instead of .
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt

fix(action): cherry-pick-since shall read `github.event.pull_request.labels` on merge (#21016)
  .github/workflows/cherry-pick-since-release-branch.yml
Due: none

feat(meta): maintain actor vnode distribution in global barrier manager
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/stream/scale.rs
Due: rustfmt

feat(meta): compose fragment dispatcher in barrier workers
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/edge_builder.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/source_manager/split_assignment.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/id.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
Due: rustfmt

fix: fix catalog inconsistency when dropping stream jobs. (#21017)
  proto/ddl_service.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_ddl_progress.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/manager/metadata.rs
  src/rpc_client/src/meta_client.rs
  src/storage/src/compaction_catalog_manager.rs
Due: rustfmt

minor refinement
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
Due: rustfmt

small mapping & lazy default row
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
Due: rustfmt

perf(common): improve performance of col-aware encoding for structs (deserialization part)
  src/common/src/types/struct_type.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
Due: rustfmt

add pure struct bench
  src/common/benches/bench_column_aware_row_encoding.rs
Due: rustfmt

fix(udf, 2.1): fix udf test for single-node and standalone binary test
  ci/scripts/single-node-utils.sh
  ci/scripts/standalone-utils.sh
  e2e_test/udf/alter_function.slt
  src/config/ci-single-node-standalone.toml
Due: none

fix(udf, 2.3): fix udf test for single-node and standalone binary test
  ci/scripts/single-node-utils.sh
  ci/scripts/standalone-utils.sh
  src/config/ci-single-node-standalone.toml
Due: none

fix(udf, 2.2): fix udf test for single-node and standalone binary test (#20978)
  ci/scripts/single-node-utils.sh
  ci/scripts/standalone-utils.sh
  e2e_test/udf/alter_function.slt
  src/config/ci-single-node-standalone.toml
Due: none

try refactored incremental scan
  Cargo.lock
  Cargo.toml
Due: cargo sort

perf(common): improve performance of col-aware encoding for structs (deserialization part) (#20990)
  src/common/benches/bench_column_aware_row_encoding.rs
  src/common/src/types/struct_type.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
Due: rustfmt

chore(deps): Bump rand from 0.8.5 to 0.9.0 in risingwave_frontend
  Cargo.lock
  src/frontend/Cargo.toml
  src/frontend/src/handler/create_source.rs
  src/frontend/src/session.rs
  src/frontend/src/utils/condition.rs
Due: rustfmt, cargo sort

update
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/dashboard/dev/streaming.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  risedev.yml
Due: none

fix compie
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

add purge flag to drop iceberg table api
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/catalog/JniCatalogWrapper.java
  src/frontend/src/handler/drop_table.rs
Due: rustfmt

fix bug
  Cargo.lock
  risedev.yml
  src/connector/src/sink/kafka.rs
  src/meta/Cargo.toml
  src/meta/src/controller/streaming_job.rs
Due: rustfmt, cargo sort

refactor(cdc): remove support for external default values
  src/common/src/catalog/column.rs
  src/connector/src/connector_common/postgres.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/source/cdc/external/mysql.rs
Due: rustfmt

also fix e2e tests
  e2e_test/source_legacy/cdc_inline/alter/cdc_table_alter.slt
  e2e_test/source_legacy/cdc_inline/auto_schema_change_mysql.slt
  e2e_test/source_legacy/cdc_inline/auto_schema_map_mysql.slt
  e2e_test/source_legacy/cdc_inline/auto_schema_map_pg.slt
Due: none

refactor(compaction): optimize pick multi levels
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
Due: rustfmt

chore(ci):  relax log size check
  Makefile.toml
Due: none

chore(ci):  relax log size check to 8MB (#21025)
  Makefile.toml
Due: none

fix(udf, 2.1): fix udf test for single-node and standalone binary test (#20984)
  ci/scripts/single-node-utils.sh
  ci/scripts/standalone-utils.sh
  e2e_test/udf/alter_function.slt
  src/config/ci-single-node-standalone.toml
Due: none

feat(iceberg): iceberg integration with s3 tables (#21018)
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/catalog/JniCatalogWrapper.java
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/handler/drop_table.rs
Due: rustfmt

sqlsmith
  Cargo.lock
  src/tests/sqlsmith/Cargo.toml
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/sql_gen/agg.rs
  src/tests/sqlsmith/src/sql_gen/cast.rs
  src/tests/sqlsmith/src/sql_gen/dml.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/functions.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
  src/tests/sqlsmith/src/sql_gen/scalar.rs
  src/tests/sqlsmith/src/sql_gen/time_window.rs
  src/tests/sqlsmith/src/test_runners/diff.rs
  src/tests/sqlsmith/src/test_runners/fuzzing.rs
  src/tests/sqlsmith/src/test_runners/utils.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Due: rustfmt, cargo sort

fix(udf, 2.3): fix udf test for single-node and standalone binary test (#20986)
  ci/scripts/single-node-utils.sh
  ci/scripts/standalone-utils.sh
  src/config/ci-single-node-standalone.toml
Due: none

fix(udf): fix udf test for single-node and standalone binary test (#21023)
  ci/scripts/single-node-utils.sh
  ci/scripts/standalone-utils.sh
  src/config/ci-single-node-standalone.toml
Due: none

avoid constructing vec
  src/stream/src/executor/project/materialized_exprs.rs
Due: rustfmt

risingwave_simulation
  Cargo.lock
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/src/slt.rs
  src/tests/simulation/tests/integration_tests/scale/singleton_migration.rs
  src/tests/simulation/tests/integration_tests/scale/sink.rs
  src/tests/simulation/tests/integration_tests/storage.rs
Due: rustfmt, cargo sort
