Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

fix warn
  src/frontend/src/optimizer/plan_node/logical_iceberg_scan.rs
Due: rustfmt

fmt
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/optimizer/plan_node/logical_iceberg_scan.rs
Due: rustfmt

add predicate proto
  proto/batch_plan.proto
Due: none

fix metadata
  src/connector/src/source/iceberg/mod.rs
Due: rustfmt

pass in schema fields as a parameter
  src/frontend/src/optimizer/plan_node/logical_iceberg_scan.rs
Due: rustfmt

refactor(meta): merge drop and cancel streaming job command (#19369)
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

fix recovery
  src/meta/src/barrier/worker.rs
Due: rustfmt

refactor(barrier): add control request to explicitly create partial graph
  proto/stream_service.proto
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
  src/rpc_client/src/stream_client.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/stream_manager.rs
Due: rustfmt

chore: use foyer simplified model
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix: NoClassDefFoundError: org/apache/commons/lang3/StringUtils
  java/connector-node/assembly/assembly.xml
  java/connector-node/risingwave-connector-service/pom.xml
Due: none

feat(frontend): support iceberg predicate pushdown (#19228)
  ci/scripts/e2e-iceberg-sink-v2-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/iceberg/start_spark_connect_server.sh
  e2e_test/iceberg/test_case/iceberg_predicate_pushdown.slt
  e2e_test/iceberg/test_case/iceberg_predicate_pushdown.toml
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/batch_filter.rs
  src/frontend/src/optimizer/plan_node/batch_iceberg_scan.rs
  src/frontend/src/optimizer/rule/batch/batch_iceberg_predicate_pushdown.rs
  src/frontend/src/optimizer/rule/batch/mod.rs
  src/frontend/src/optimizer/rule/mod.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Due: rustfmt

fix(ci): delete unused python install before embedded UDF tests (#19386)
  ci/scripts/run-e2e-test.sh
Due: none

fix(pg-cdc): write transactional WAL message as heartbeat action (#19385)
  java/connector-node/risingwave-connector-service/src/main/resources/postgres.properties
Due: none

bump icelake to fix meta serd
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix: fix system acl column type to support `\l` command (#19379)
  e2e_test/batch/catalog/slash_l_database.slt.part
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_database.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_namespace.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_tablespace.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_connections.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_databases.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_functions.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_indexes.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_internal_tables.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_materialized_views.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_relations.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_schemas.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_secrets.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_sinks.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_sources.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_subscriptions.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_system_tables.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_tables.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_views.rs
Due: rustfmt

refactor
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/manager/env.rs
Due: rustfmt

remove unused config
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/manager/env.rs
Due: rustfmt

feat(iceberg): make wrehouse.path optional for iceberg rest catalog (#19380)
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt

refactor(barrier): add control request to explicitly create partial graph (#19383)
  proto/stream_service.proto
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
  src/rpc_client/src/stream_client.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/stream_manager.rs
Due: rustfmt

feat(dashboard): show cluster version (#19388)
  dashboard/lib/api/cluster.ts
  dashboard/pages/cluster.tsx
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/diagnose.rs
Due: rustfmt

fix(compaction): empty group
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
Due: rustfmt

chore: split java connector tests (#19382)
  java/connector-node/assembly/assembly.xml
  java/connector-node/assembly/pom.xml
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/TestUtils.java
  java/connector-node/risingwave-connector-service/pom.xml
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/FileSink.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/sink/FileSinkTest.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/sink/SinkStreamObserverTest.java
  java/connector-node/risingwave-connector-service/src/test/resources/log4j2.properties
  java/connector-node/risingwave-sink-deltalake-test/pom.xml
  java/connector-node/risingwave-sink-deltalake-test/src/test/java/com/risingwave/connector/sink/deltalake/DeltaLakeLocalSinkTest.java
  java/connector-node/risingwave-sink-deltalake-test/src/test/java/com/risingwave/connector/sink/deltalake/DeltaLakeSinkFactoryTest.java
  java/connector-node/risingwave-sink-deltalake-test/src/test/resources/log4j2.properties
  java/connector-node/risingwave-sink-es-7/pom.xml
  java/connector-node/risingwave-sink-es-7/src/test/java/com/risingwave/connector/sink/elasticsearch/EsSinkTest.java
  java/connector-node/risingwave-sink-es-7/src/test/resources/log4j2.properties
  java/connector-node/risingwave-sink-jdbc/pom.xml
  java/connector-node/risingwave-sink-jdbc/src/test/java/com/risingwave/connector/sink/jdbc/JDBCSinkTest.java
  java/connector-node/risingwave-sink-jdbc/src/test/resources/log4j2.properties
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-http-sink/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-http-sink/src/test/java/com/risingwave/connector/sink/http/HttpTest.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-http-sink/src/test/resources/log4j2.properties
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/test/java/com/risingwave/connector/sink/flink/FlinkMockTest.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-runtime/src/test/resources/log4j2.properties
  java/connector-node/risingwave-source-cdc-test/pom.xml
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/MongoDbSourceTest.java
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/MongoDbValidatorTest.java
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/MySQLSourceTest.java
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/PostgresSourceTest.java
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/SourceTestClient.java
  java/connector-node/risingwave-source-cdc-test/src/test/resources/log4j2.properties
  java/connector-node/risingwave-source-cdc-test/src/test/resources/my.cnf
  java/connector-node/risingwave-source-cdc-test/src/test/resources/orders.tbl
  java/connector-node/risingwave-source-cdc-test/src/test/resources/stored_queries.properties
  java/connector-node/tracing/src/main/java/com/risingwave/tracing/TracingSlf4jAdapter.java
  java/pom.xml
  java/proto/pom.xml
Due: none

feat(iceberg): cherry-pick 19206 (#19378)
  Cargo.lock
  Cargo.toml
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  src/connector/src/connector_common/iceberg/storage_catalog.rs
  src/connector/src/source/iceberg/parquet_file_reader.rs
Due: rustfmt, cargo sort

Add icelake patch
  Cargo.lock
  Cargo.toml
Due: cargo sort

set opendal retry layer and timeout layer
  src/object_store/src/object/opendal_engine/gcs.rs
Due: rustfmt

config kinesis split reader
  src/connector/src/source/kinesis/source/reader.rs
Due: rustfmt

config batch heartbeat
  src/batch/src/task/task_manager.rs
Due: rustfmt

config regex backtrack limit
  src/expr/impl/src/scalar/regexp.rs
Due: rustfmt

fix: fix backward data compatible for job status (#18360)
  src/meta/src/manager/catalog/mod.rs
Due: rustfmt

suppress log
  src/storage/hummock_sdk/src/table_watermark.rs
Due: rustfmt

permit alter query_mode
  src/common/src/session_config/mod.rs
Due: rustfmt

debug
  src/meta/src/hummock/manager/timer_task.rs
Due: rustfmt

code refactor
  src/batch/src/executor/s3_file_scan.rs
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/connector/src/source/iceberg/parquet_file_reader.rs
  src/frontend/src/expr/table_function.rs
Due: rustfmt

fix retain
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
