Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fix test case
  e2e_test/batch/catalog/pg_settings.slt.part
Due: none

Update src/frontend/src/optimizer/rule/stream/separate_consecutive_join.rs
  src/frontend/src/optimizer/rule/stream/separate_consecutive_join.rs
Due: rustfmt

fix linter
  src/frontend/src/optimizer/rule/stream/separate_consecutive_join.rs
Due: rustfmt

&[F32] -> &[f32]
  src/common/src/array/vector_array.rs
  src/common/src/types/ordered_float.rs
Due: rustfmt

Fix whitespace
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

Refactor: use `get_fragment_mappings_txn` for txn-based fragment mapping fetch; update imports accordingly
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
Due: rustfmt

Cache actor and fragment info in-memory; update lookups; add debug checks for cache/DB consistency
  src/meta/model/src/actor.rs
  src/meta/model/src/object.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
Due: rustfmt

Remove unused get_fragment_mappings; silence actor_cache unused warning in get_fragment_mappings_txn
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
Due: rustfmt

Add async actor cache drop to CatalogController, update DDL cleanup, refactor fragment query logic
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

Remove #[cfg(debug_assertions)] in utils.rs; fragment actor DB code now runs in all build modes
  src/meta/src/controller/utils.rs
Due: rustfmt

Refactor fragment–actor–worker mapping and parallelism logic to use only in-memory cache; clean imports.
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

Refactor CatalogController: use in-memory ActorInfo cache for fragments; add actor drop/mutate methods and cache sync
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/stream/scale.rs
Due: rustfmt

Add Hash to enums; refactor controllers to use ActorInfo cache for fragment/actor mappings, not DB
  src/meta/model/src/fragment.rs
  src/meta/model/src/object.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
Due: rustfmt

refactor(frontend): adjust default value for worker thread number (#22236)
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/frontend/src/session.rs
Due: rustfmt

fix
  src/connector/src/connector_common/common_test.rs
Due: rustfmt

fix error message
  e2e_test/sink/license.slt
Due: none

minor
  java/connector-node/risingwave-source-cdc/src/main/java/com/risingwave/connector/cdc/debezium/internal/OpendalSchemaHistory.java
Due: none

fix e2e test file sink
  e2e_test/sink/license.slt
Due: none

chore: enhance the clarity of the error message for privilege denial (#22262)
  src/frontend/src/binder/delete.rs
  src/frontend/src/binder/expr/function/mod.rs
  src/frontend/src/binder/insert.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/binder/update.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_user_secrets.rs
  src/frontend/src/handler/alter_rename.rs
  src/frontend/src/handler/alter_user.rs
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_schema.rs
  src/frontend/src/handler/create_user.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/privilege.rs
  src/frontend/src/handler/use_db.rs
  src/frontend/src/session.rs
Due: rustfmt

remove unused test
  e2e_test/sink/pg_native_vs_jdbc.slt
Due: none

fix(pulsar): handle absolute path when load cert (#22243)
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/common_test.rs
  src/connector/src/connector_common/mod.rs
Due: rustfmt

add diagnosis log
  Cargo.lock
  src/storage/Cargo.toml
Due: cargo sort

fix snowflake error message
  e2e_test/sink/license.slt
Due: none

fix
  e2e_test/sink/license.slt
Due: none

feat(common): support input/output of new data type `vector(n)` (#22019)
  e2e_test/batch/types/vector.slt.part
  proto/data.proto
  src/common/src/array/iterator.rs
  src/common/src/array/list_array.rs
  src/common/src/array/proto_reader.rs
  src/common/src/array/vector_array.rs
  src/common/src/types/mod.rs
  src/common/src/types/ordered_float.rs
  src/common/src/types/postgres_type.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
  src/common/src/util/value_encoding/mod.rs
  src/expr/impl/src/scalar/cast.rs
  src/expr/impl/tests/sig.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/expr/literal.rs
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/handler/create_table/col_id_gen.rs
  src/frontend/src/utils/data_type.rs
  src/sqlparser/src/ast/data_type.rs
  src/sqlparser/src/parser_v2/data_type.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
Due: rustfmt

feat(expr): use `MaterializedExprs` for all impure expressions (#22257)
  e2e_test/streaming/materialized_project.slt
  src/frontend/planner_test/tests/testdata/input/project.yaml
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/planner_test/tests/testdata/output/project.yaml
  src/frontend/src/optimizer/plan_node/logical_project.rs
Due: rustfmt

fix(frontend): disable incomplete data type vector
  e2e_test/batch/types/vector.slt.part
  src/frontend/src/binder/expr/mod.rs
Due: rustfmt

fix(mssql-cdc): change the default behavior of schema checks for unsupported data types to reject (#21961)
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc.slt.serial
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_insert.sql
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_prepare.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/SqlServerValidator.java
Due: none

fix(pulsar): handle absolute path when load cert (#22243) (#22273)
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/common_test.rs
  src/connector/src/connector_common/mod.rs
Due: rustfmt

feat(expr): `l2_distance` between 2 `vector`s
  e2e_test/batch/types/vector.slt.part
  proto/expr.proto
  src/expr/impl/src/scalar/mod.rs
  src/expr/impl/src/scalar/vector_dist.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

add tests
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/pg_native.slt
Due: none

chore: report details when trying to drop some referring object in restrict mode
  src/meta/model/src/object.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/utils.rs
Due: rustfmt

check
  src/meta/src/controller/utils.rs
Due: rustfmt

fix(snapshot-backfill): ensure data chunk builder size has least 2
  src/stream/src/executor/backfill/utils.rs
Due: rustfmt

feat(pulsar): add support for Pulsar message ID data in additional columns
  Cargo.lock
  proto/plan_common.proto
  src/connector/Cargo.toml
  src/connector/src/parser/additional_columns.rs
  src/connector/src/parser/chunk_builder.rs
  src/connector/src/parser/utils.rs
  src/connector/src/source/mod.rs
  src/connector/src/source/pulsar/source/message.rs
  src/connector/src/source/pulsar/source/reader.rs
  src/connector/src/source/reader/desc.rs
  src/connector/src/with_options.rs
  src/prost/build.rs
  src/stream/src/executor/source/fs_fetch_executor.rs
  src/stream/src/executor/source/iceberg_fetch_executor.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt, cargo sort

fix(snapshot-backfill): ensure data chunk builder size has least 2 (#22279)
  src/stream/src/executor/backfill/utils.rs
Due: rustfmt

feat(frontend): add dummy handling of PREPARE and DEALLOCATE
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/prepared_statement.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_postgres.rs
  src/utils/pgwire/src/pg_response.rs
Due: rustfmt
