Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

fix_comments
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

fix_clippy
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

nlj
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/join/row.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/nested_loop_join.rs
Due: rustfmt

fmt
  src/risedevtool/src/task/lakekeeper_service.rs
Due: rustfmt

fix
  src/risedevtool/src/task/lakekeeper_service.rs
Due: rustfmt

refactor(pulsar): shrink write_chunk future by unifying formatter iterator via auto_enums
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/pulsar.rs
Due: rustfmt

improving the tests and fixing uncovered issues
  e2e_test/batch/aggregate/arg_min_max.slt.part
  src/expr/impl/src/aggregate/first_last_value.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Due: rustfmt

linting
  e2e_test/batch/aggregate/arg_min_max.slt.part
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Due: rustfmt

format new statements
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Due: rustfmt

remove barrier alignment
  src/stream/src/executor/mod.rs
Due: rustfmt

clippy happy
  src/common/src/types/jsonb.rs
  src/connector/src/parser/config.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/maxwell/simd_json_parser.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/source/datagen/source/generator.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
  src/stream/src/executor/mview/materialize.rs
Due: rustfmt

refine
  risedev.yml
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/lakekeeper_service.rs
Due: rustfmt

enhance test
  e2e_test/source_legacy/cdc_inline/test_postgres_toast.slt
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/source/cdc/source/reader.rs
Due: rustfmt

fix(connector): resolve clippy lint by boxing future in kafka/enumerator.rs
  src/connector/src/lib.rs
  src/connector/src/source/kafka/enumerator.rs
Due: rustfmt

fix lock
  src/connector/src/sink/snowflake_redshift/redshift.rs
Due: rustfmt

feat(iceberg): integrate lakekeeper to risedev (#22905)
  Cargo.lock
  Makefile.toml
  risedev.yml
  src/risedevtool/Cargo.toml
  src/risedevtool/config/src/main.rs
  src/risedevtool/lakekeeper.toml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/lakekeeper_service.rs
  src/risedevtool/src/task/mod.rs
Due: rustfmt, cargo sort

enhance test
  Cargo.lock
  e2e_test/source_legacy/cdc_inline/test_postgres_toast.slt
  java/connector-node/risingwave-connector-service/src/main/resources/debezium.properties
  java/connector-node/risingwave-connector-service/src/main/resources/postgres.properties
  src/stream/Cargo.toml
Due: cargo sort

refactor: shrink 'write_chunk' future (#22906)
  src/connector/src/lib.rs
  src/connector/src/sink/formatter/mod.rs
  src/connector/src/sink/pulsar.rs
  src/connector/src/source/kafka/enumerator.rs
Due: rustfmt

chore: log invalid sst indices
  src/storage/hummock_sdk/src/lib.rs
  src/storage/src/hummock/utils.rs
Due: rustfmt

minor
  e2e_test/source_legacy/cdc_inline/test_postgres_toast.slt
  src/frontend/src/handler/create_table.rs
Due: rustfmt

clippy happy
  src/frontend/src/handler/create_table.rs
Due: rustfmt

add lakekeeper e2e test
  ci/risedev-components.ci.iceberg.env
  ci/scripts/common.sh
  ci/scripts/e2e-iceberg-test.sh
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine_lakekeeper.slt
  risedev.yml
Due: none

fix compile
  src/storage/src/hummock/store/hummock_storage.rs
Due: rustfmt

fix
  ci/risedev-components.ci.iceberg.env
Due: none

fix spawn blocking
  src/connector/src/sink/jdbc_jni_client.rs
  src/connector/src/sink/snowflake_redshift/redshift.rs
  src/connector/src/sink/snowflake_redshift/snowflake.rs
Due: rustfmt

minor change test
  e2e_test/source_legacy/cdc_inline/test_postgres_toast.slt
Due: none

fix(redshift): fix redshift deadlock (#22912)
  src/connector/src/sink/jdbc_jni_client.rs
  src/connector/src/sink/snowflake_redshift/redshift.rs
  src/connector/src/sink/snowflake_redshift/snowflake.rs
Due: rustfmt

feat(dashboard): add Prometheus-based streaming stats with backpressure metrics (#22838)
  dashboard/components/FragmentGraph.tsx
  dashboard/components/RelationGraph.tsx
  dashboard/lib/api/streamingStats.ts
  dashboard/pages/fragment_graph.tsx
  dashboard/pages/relation_graph.tsx
  proto/monitor_service.proto
  src/meta/src/dashboard/mod.rs
Due: rustfmt

init
  proto/stream_plan.proto
  src/compute/tests/cdc_tests.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/rpc.rs
  src/prost/build.rs
  src/stream/src/executor/actor.rs
  src/stream/src/executor/chain.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/upstream_sink_union.rs
  src/stream/src/executor/values.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/upstream_sink_union.rs
  src/stream/src/task/actor_manager.rs
Due: rustfmt

init
  src/meta/src/barrier/schedule.rs
Due: rustfmt

fix
  src/meta/src/barrier/schedule.rs
Due: rustfmt

fix_check
  src/meta/src/barrier/schedule.rs
Due: rustfmt

robust test
  e2e_test/source_legacy/cdc_inline/test_postgres_toast.slt
Due: none

fix: cherry-pick fix remove empty schema
  Cargo.lock
  Cargo.toml
  src/connector/src/source/iceberg/mod.rs
  src/storage/Cargo.toml
  src/stream/src/executor/source/iceberg_fetch_executor.rs
Due: rustfmt, cargo sort

fix(ci): Skipping a unit test for barrier_interval (#22919)
  src/meta/src/barrier/schedule.rs
Due: rustfmt

typo branch
  Cargo.lock
  Cargo.toml
  src/connector/src/source/iceberg/mod.rs
  src/storage/Cargo.toml
  src/stream/src/executor/source/iceberg_fetch_executor.rs
Due: rustfmt, cargo sort

error messages for tests
  e2e_test/batch/aggregate/arg_min_max.slt.part
  src/expr/impl/src/aggregate/first_last_value.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Due: rustfmt

fix: cherry pick fix remove empty schema (#22921)
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
Due: cargo sort

assert equal dim
  src/stream/src/executor/dispatch/output_mapping.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
