Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

feat(risedev): add docker-managed RabbitMQ service profile
  risedev.yml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/mod.rs
  src/risedevtool/src/task/rabbitmq_service.rs
Due: rustfmt

feat(connector): implement RabbitMQ common client builder with TLS (PKCS#8)
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/connector_common/mod.rs
  src/connector/src/connector_common/rabbit_mq.rs
Due: rustfmt, cargo sort

fix(cdc): allow MySQL public key retrieval
  java/connector-node/risingwave-connector-service/src/main/resources/mysql.properties
Due: none

refactor(tests): remove unused Pulsar retry tests
  java/connector-node/risingwave-connector-service/src/main/resources/mysql.properties
  src/stream/src/executor/source/reader_stream.rs
Due: rustfmt

fix(ci): satisfy release-2.8 check gate
  src/meta/src/rpc/ddl_controller.rs
  src/prost/Cargo.toml
Due: rustfmt, cargo sort

fix(frontend): require schema usage for sink column show
  e2e_test/sink/blackhole_sink.slt
  src/frontend/src/handler/show.rs
Due: rustfmt

fix(storage): use zero read prefix to skip bloom entries
  proto/catalog.proto
  proto/plan_common.proto
  src/common/src/catalog/physical_table.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_vector_index_write.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20260326_120000_add_disable_bloom_filter_to_table.rs
  src/meta/model/src/table.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/controller/mod.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/compaction_catalog_manager.rs
  src/storage/src/table/batch_table/mod.rs
  src/storage/src/table/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/test_utils.rs
  src/stream/src/common/table/state_table.rs
Due: rustfmt

cherry-pick fix(meta): keep failed foreground DDL tables fetchable (#25647) to branch release-2.8 (#25667)
  Cargo.lock
  src/meta/src/rpc/ddl_controller.rs
  src/prost/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Due: rustfmt, cargo sort

fix(grafana): label streaming relations by type
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/dashboard/dev/hummock_write.py
  grafana/dashboard/dev/streaming_relations.py
  grafana/dashboard/user/memory.py
  grafana/dashboard/user/overview.py
  grafana/dashboard/user/streaming.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Due: none

fix(stream): address snapshot backfill scan range review
  src/frontend/planner_test/tests/testdata/input/backfill.yaml
  src/frontend/planner_test/tests/testdata/output/backfill.yaml
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/storage/src/table/batch_table/mod.rs
  src/stream/src/common/table/test_storage_table.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
Due: rustfmt

test(storage): validate cache refill policy after recovery
  e2e_test/refill/table_refill.slt
Due: none

fix(storage): propagate cache refill policy via hummock notification
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/frontend/src/observer/observer_manager.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/observer_manager.rs
  src/storage/src/hummock/store/hummock_storage.rs
Due: rustfmt

test(frontend): update sink planner output
  src/frontend/planner_test/tests/testdata/output/sink.yaml
Due: none

fix(grafana): stop labeling streaming tables as mviews (#25670)
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/dashboard/dev/hummock_write.py
  grafana/dashboard/dev/streaming_relations.py
  grafana/dashboard/user/memory.py
  grafana/dashboard/user/overview.py
  grafana/dashboard/user/streaming.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Due: none

draft: support arbitrary expression as time column of time window function
  src/frontend/src/binder/relation/window_table_function.rs
  src/frontend/src/optimizer/plan_node/batch_hop_window.rs
  src/frontend/src/optimizer/plan_node/generic/hop_window.rs
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/rule/apply_hop_window_transpose_rule.rs
  src/frontend/src/optimizer/rule/pull_up_hop_rule.rs
  src/frontend/src/planner/relation.rs
Due: rustfmt

refactor(meta): share serving table vnode mapping builder
  src/meta/service/src/notification_service.rs
  src/meta/src/serving/mod.rs
Due: rustfmt

fix(iceberg): prevent stuck state on empty tasks in fetch executor (#25538)
  src/stream/src/executor/source/iceberg_fetch_executor.rs
Due: rustfmt

fix(optimizer): normalize arithmetic rank predicates for over-window … (#25608)
  src/frontend/planner_test/tests/testdata/input/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/optimizer/rule/over_window_to_topn_rule.rs
Due: rustfmt

fix(frontend): harden SHOW object visibility (#25585)
  e2e_test/ddl/show_object_privilege.slt
  e2e_test/sink/blackhole_sink.slt
  e2e_test/source_inline/connection/schema_registry.slt
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_connections.rs
  src/frontend/src/handler/create_connection.rs
  src/frontend/src/handler/show.rs
Due: rustfmt

feat: disable bloom filter for kv log store tables (#25180)
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/src/optimizer/plan_node/utils.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/compaction_catalog_manager.rs
  src/storage/src/table/batch_table/mod.rs
  src/storage/src/table/mod.rs
  src/stream/src/common/table/state_table.rs
  src/tests/simulation/tests/integration_tests/sink/basic.rs
Due: rustfmt

docs(connector): update Lakehouse Iceberg REST notes
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/create_table.rs
  src/connector/src/sink/iceberg/test.rs
  src/connector/with_options_connection.yaml
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt

docs: clarify iceberg cancel task matching
  src/storage/src/hummock/compactor/mod.rs
Due: rustfmt

feat(expr): support array overlap predicates (#25597)
  e2e_test/batch/functions/array_predicates.slt.part
  proto/expr.proto
  src/expr/impl/src/scalar/array_contain.rs
  src/frontend/planner_test/tests/testdata/output/array.yaml
  src/frontend/src/binder/expr/binary_op.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/func.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

chore(docs): clarify adaptive parallelism migration note (#25661)
  docs/dev/src/design/streaming-parallelism.md
Due: none

feat(connector): expose Pulsar source operation retry controls (#25467)
  src/connector/Cargo.toml
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/connector_common/common.rs
  src/connector/src/sink/pulsar.rs
  src/connector/src/source/pulsar/enumerator/client.rs
  src/connector/src/source/pulsar/mod.rs
  src/connector/src/source/pulsar/source/reader.rs
  src/connector/with_options_source.yaml
  src/meta/src/stream/source_manager.rs
  src/stream/Cargo.toml
Due: rustfmt, cargo sort

fix: refresh table refill runtime state
  Cargo.lock
  src/common/common_service/src/observer_manager.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/serving/mod.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/observer_manager.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/tests/simulation/Cargo.toml
  src/tests/simulation/tests/integration_tests/scale/isolation.rs
Due: rustfmt, cargo sort

test: add test case for verification
  e2e_test/streaming/time_window.slt
  src/frontend/planner_test/tests/testdata/output/time_window.yaml
  src/frontend/src/optimizer/plan_node/logical_hop_window.rs
  src/frontend/src/planner/relation.rs
Due: rustfmt

fix: version table refill runtime config
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/frontend/src/observer/observer_manager.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/manager/notification.rs
  src/meta/src/serving/mod.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/observer_manager.rs
  src/storage/src/hummock/store/hummock_storage.rs
Due: rustfmt

test: cover flag-only grouping sets expand
  e2e_test/batch/grouping_sets/grouping_sets.slt
  e2e_test/streaming/grouping_sets/grouping_sets.slt
Due: none

feat(optimizer): support column pruning for expand (#25648)
  e2e_test/batch/grouping_sets/grouping_sets.slt
  e2e_test/streaming/aggregate/distinct_agg_with_row_id.slt
  e2e_test/streaming/grouping_sets/grouping_sets.slt
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/src/optimizer/plan_node/logical_expand.rs
Due: rustfmt

feat(frontend): support ALTER WATERMARK for live tables (#25651)
  e2e_test/ddl/alter_watermark.slt
  e2e_test/source_inline/cdc/mysql/mysql_alter_watermark.slt
  src/frontend/src/handler/alter_watermark.rs
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
Due: rustfmt

feat(sink): add HTTP sink (#25396) (#25656)
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/http_sink.slt
  e2e_test/sink/http_sink_mock_server.py
  src/connector/src/sink/http.rs
  src/connector/src/sink/mod.rs
  src/connector/with_options_sink.yaml
Due: rustfmt

fix(frontend): handle avg over empty window frame
  e2e_test/over_window/generated/batch/odd_frames/mod.slt.part
  e2e_test/over_window/generated/streaming/odd_frames/mod.slt.part
  e2e_test/over_window/templates/odd_frames/mod.slt.part
  src/frontend/planner_test/tests/testdata/input/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Due: rustfmt

fix(frontend): handle avg over empty window frame
  e2e_test/batch/aggregate/avg.slt.part
  e2e_test/over_window/generated/batch/odd_frames/mod.slt.part
  e2e_test/over_window/generated/streaming/odd_frames/mod.slt.part
  e2e_test/over_window/templates/odd_frames/mod.slt.part
  e2e_test/streaming/basic.slt
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/input/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Due: rustfmt

fix planner tests
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/named_window.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source_kafka.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/time_window.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/planner_test/tests/testdata/output/tpch_kafka.yaml
Due: none

test: stabilize odd over window frame output
  e2e_test/over_window/generated/batch/odd_frames/mod.slt.part
  e2e_test/over_window/generated/streaming/odd_frames/mod.slt.part
  e2e_test/over_window/templates/odd_frames/mod.slt.part
Due: none

test(interval): cover mid-string +/- separators
  src/common/src/types/interval.rs
Due: rustfmt

chore: bump version to 3.1.0-alpha
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix(connector): disable adaptive NATS splits
  src/connector/src/source/base.rs
  src/connector/src/source/util.rs
  src/meta/src/stream/source_manager/worker.rs
Due: rustfmt

refactor(cdc): ban directly creating CDC tables for shareable connectors
  ci/scripts/e2e-source-cdc-test.sh
  e2e_test/source_inline/cdc/ban_legacy_create_table.slt
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc.slt.serial
  e2e_test/source_inline/tvf/mysql_query.slt
  e2e_test/source_legacy/cdc/cdc.check.slt
  e2e_test/source_legacy/cdc/cdc.check_new_rows.slt
  e2e_test/source_legacy/cdc/cdc.load.slt
  e2e_test/source_legacy/cdc/cdc.validate.mysql.slt
  e2e_test/source_legacy/cdc/cdc.validate.postgres.slt
  e2e_test/source_legacy/cdc_inline/alter/postgres_alter.slt
  e2e_test/source_legacy/cdc_inline/postgres_create_drop.slt
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/with_options.rs
  src/frontend/src/handler/create_source.rs
Due: rustfmt
