Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

feat(ddl): allow alter table with generated columns (#17652)
  e2e_test/ddl/table/generated_columns.slt.part
  e2e_test/source_inline/kafka/avro/alter_table.slt
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/alter_table_with_sr.rs
  src/frontend/src/handler/create_table.rs
Due: rustfmt

GetStreamingJob
  proto/catalog.proto
  proto/meta.proto
Due: none

map
  proto/catalog.proto
  proto/common.proto
Due: none

init
  e2e_test/source_inline/kafka/avro/alter_table.slt
  src/frontend/src/handler/alter_table_column.rs
Due: rustfmt

refactor: graceful shutdown in standalone mode (#17633)
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/standalone.rs
Due: rustfmt

fix(streaming): find and return root actor failure when injection failed (#17672)
  src/meta/src/rpc/ddl_controller_v2.rs
  src/stream/src/task/barrier_manager.rs
Due: rustfmt

add more tests
  e2e_test/time_travel/license.slt
  e2e_test/time_travel/syntax.slt
  src/batch/src/executor/row_seq_scan.rs
Due: rustfmt

feat(source): Avro with AWS Glue Schema Registry (#17605) (#17677)
  Cargo.lock
  Cargo.toml
  e2e_test/source_inline/kafka/avro/glue.slt
  proto/catalog.proto
  src/connector/Cargo.toml
  src/connector/src/parser/avro/confluent_resolver.rs
  src/connector/src/parser/avro/glue_resolver.rs
  src/connector/src/parser/avro/mod.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/schema/mod.rs
  src/frontend/src/handler/create_source.rs
Due: rustfmt, cargo sort

fix tests
  e2e_test/time_travel/syntax.slt
Due: none

pass streaming error score to meta
  src/error/src/tonic.rs
  src/meta/src/barrier/rpc.rs
  src/stream/src/task/barrier_manager.rs
Due: rustfmt

handle single error
  src/meta/src/barrier/rpc.rs
Due: rustfmt

fix provides
  e2e_test/error_ui/simple/recovery.slt
  src/error/src/tonic.rs
  src/meta/src/barrier/rpc.rs
  src/rpc_client/src/error.rs
Due: rustfmt

refactor and refine docs
  src/error/src/tonic.rs
  src/error/src/tonic/extra.rs
  src/meta/src/barrier/rpc.rs
  src/rpc_client/src/error.rs
  src/stream/src/task/barrier_manager.rs
Due: rustfmt

fix tests
  e2e_test/time_travel/license.slt
  e2e_test/time_travel/syntax.slt
Due: none

fix(storage): license time travel feature (#17683)
  e2e_test/time_travel/license.slt
  e2e_test/time_travel/syntax.slt
  src/batch/src/executor/row_seq_scan.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/license/src/feature.rs
Due: rustfmt

fix time travel
  src/batch/src/executor/row_seq_scan.rs
Due: rustfmt

remove dead code and minor
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/proto_reader.rs
  src/common/src/types/macros.rs
  src/common/src/types/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_cast.rs
Due: rustfmt

Refactor, docs update, and tweak parallelism access
  src/common/src/hash/consistent_hash/mapping.rs
  src/ctl/src/cmd_impl/meta/migration.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/prost/src/lib.rs
Due: rustfmt

Add parallelism column to WorkerProperty migration
  src/meta/model_v2/migration/src/m20240630_131430_remove_parallel_unit.rs
Due: rustfmt

Add WorkerReschedule; rm/add rw_ modules; rename rs file.
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_worker_slots.rs
Due: rustfmt

Refactor worker manager & meta mgmt, simplify worker map & enhance batch proc logic
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

Deprecate `vnode_mapping`, reserve field 5, update `MigrationPlan`
  proto/meta.proto
Due: none

Cleanup imports and update Bitmap path in 4 Rust files
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

Renamed DDL vars for clarity
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
Due: rustfmt

Removed misnamed `get_fragment_ids_by_jobs` function
  src/meta/src/controller/utils.rs
Due: rustfmt

chore: update version to 1.10.0-rc.2
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix
  Makefile.toml
  ci/scripts/single-node-utils.sh
Due: none

Refactor ddl_controller: simplify rand, update imports, clean code
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

chore: update version to 1.10.0-rc.2 (#17692)
  Cargo.lock
  Cargo.toml
Due: cargo sort

refactor(types): remove dead code and minor (#17691)
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/proto_reader.rs
  src/common/src/types/macros.rs
  src/common/src/types/mod.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_cast.rs
Due: rustfmt

doc
  ci/scripts/find-regression.py
Due: none

take ownership
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/notifier.rs
  src/meta/src/barrier/schedule.rs
Due: rustfmt

chore: update image version from v1.10.0-rc.1 to v1.10.0-rc.2
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: none

fix comments
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

impl mysql schema event parser
  src/common/src/types/jsonb.rs
  src/connector/codec/src/decoder/mod.rs
  src/connector/src/parser/debezium/mod.rs
  src/connector/src/parser/debezium/schema_change.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/debezium.rs
Due: rustfmt

refactor streaming job
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/rpc/ddl_controller_v2.rs
Due: rustfmt

add doc
  src/meta/src/barrier/command.rs
Due: rustfmt

some clean up for stream nodes' constructors
  src/frontend/src/optimizer/plan_node/stream_changelog.rs
  src/frontend/src/optimizer/plan_node/stream_delta_join.rs
  src/frontend/src/optimizer/plan_node/stream_expand.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_hop_window.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
  src/frontend/src/optimizer/plan_node/stream_project_set.rs
  src/frontend/src/optimizer/plan_node/utils.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
