Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: typos
        name: typos
        entry: typos -w
        language: system
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

Refactor ActorMapping iteration and worker lookup in mapping.rs
  src/common/src/hash/consistent_hash/mapping.rs
Due: rustfmt

rename
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

init
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_secrets.rs
Due: rustfmt

derive condition_always_relax from column monotonicity
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
Due: rustfmt

improve StreamExchange monotonicity
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
Due: rustfmt

feat(dyn-filter): derive `condition_always_relax` from column monotonicity (#17704)
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
Due: rustfmt

check mysql version
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
Due: none

save
  src/connector/src/sink/elasticsearch_opensearch_common.rs
  src/connector/src/sink/elasticsearch_rust.rs
  src/connector/src/sink/opensearch.rs
Due: rustfmt

fix(storage): fix multi builder data loss
  src/storage/src/hummock/sstable/multi_builder.rs
Due: rustfmt

fix(storage): fix multi builder data loss (#17730)
  src/storage/src/hummock/sstable/multi_builder.rs
Due: rustfmt

fix(storage): fix multi builder data loss (cherry pick #17730) (#17731)
  src/storage/src/hummock/sstable/multi_builder.rs
Due: rustfmt

chore: update version to 1.10.0-rc.3
  Cargo.lock
  Cargo.toml
Due: cargo sort

chore: update version to 1.10.0-rc.3 (#17733)
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix(storage): fix the trivial-move loop caused by config and pick_whole_level (#17721)
  proto/hummock.proto
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/compaction_task_validator.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
Due: rustfmt

fix(storage): fix spill table id too strict assertion
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/event_handler/uploader/spiller.rs
Due: rustfmt

feat: support config sql metastore using username and password by env (#17530)
  src/cmd_all/src/single_node.rs
  src/cmd_all/src/standalone.rs
  src/common/src/config.rs
  src/ctl/src/lib.rs
  src/meta/node/src/lib.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/backup_restore/utils.rs
  src/meta/src/telemetry.rs
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt

fix
  ci/workflows/main-cron.yml
Due: none

fix
  src/stream/src/executor/watermark_filter.rs
Due: rustfmt

fix(storage): fix spill table id too strict assertion (#17736)
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/event_handler/uploader/spiller.rs
Due: rustfmt

try fix
  src/stream/src/executor/watermark_filter.rs
Due: rustfmt

refactor(meta): only store CreateStreamingJob command in tracker
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

fix(mysql-cdc): validate mysql version less then 8.4 (#17728)
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
Due: none

fix back
  src/stream/src/executor/watermark_filter.rs
Due: rustfmt

separate replace table out
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

fix(storage): use per-table committed epoch in read version update
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/utils.rs
Due: rustfmt

save
  src/connector/Cargo.toml
  src/connector/src/sink/elasticsearch_opensearch_common.rs
  src/connector/src/sink/elasticsearch_rust.rs
  src/connector/src/sink/opensearch.rs
Due: rustfmt, cargo sort

allow complex now expressions
  src/frontend/src/expr/mod.rs
Due: rustfmt

add planner tests
  src/frontend/planner_test/tests/testdata/input/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
Due: none

fix deadlock
  src/stream/src/executor/watermark_filter.rs
Due: rustfmt

fix
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/src/hummock/utils.rs
Due: rustfmt

Remove param from icelake and iceberg-rust
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

fix cargo lock
  Cargo.lock
Due: none

address comment
  src/stream/src/executor/mod.rs
Due: rustfmt

save
  src/connector/Cargo.toml
  src/connector/src/sink/elasticsearch_rust.rs
  src/connector/src/sink/opensearch.rs
Due: rustfmt, cargo sort
