Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

refactor: split source/table bounds
  src/common/src/session_config/mod.rs
Due: rustfmt

fix(ci): check future milestone in bump main workflow
  .github/workflows/bump-main.yml
Due: none

chore: refine comments
  src/frontend/src/binder/query.rs
Due: rustfmt

chore: bump main package version to 2.9.0-alpha
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix(ci): check future milestone in bump main workflow (#24685)
  .github/workflows/bump-main.yml
  Cargo.lock
  Cargo.toml
Due: cargo sort

support enable_serverless_backfill
  e2e_test/batch/catalog/pg_settings.slt.part
  src/common/src/session_config/mod.rs
  src/frontend/src/handler/create_mv.rs
Due: rustfmt

fix
  e2e_test/batch/catalog/pg_settings.slt.part
Due: none

fix: suggest using table alias for three-level column references
  e2e_test/batch/schema_qualified.slt
  src/frontend/src/binder/bind_context.rs
  src/frontend/src/binder/expr/column.rs
Due: rustfmt

feat: support queueing backfill jobs and refactor creating job tracker in stream manager
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20260121_120000_streaming_job_backfill_rate_limit.rs
  src/meta/model/src/streaming_job.rs
  src/meta/node/src/server.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/creating_job_tracker.rs
  src/meta/src/stream/mod.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

UPD: add fn has_schema_usage_privilege to allow schema owner has USAGE privilege on the schema
  src/frontend/src/expr/function_impl/pg_table_is_visible.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/user/mod.rs
  src/frontend/src/user/user_catalog.rs
Due: rustfmt

fix: optimize unwrap calls and improve parallelism tests
  src/common/src/system_param/reader.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/scale/mod.rs
  src/tests/simulation/tests/integration_tests/scale/parallelism_config.rs
Due: rustfmt

Update src/frontend/src/user/mod.rs
  src/frontend/src/user/mod.rs
Due: rustfmt

use string
  src/connector/src/sink/firestore.rs
Due: rustfmt

support for system catalog
  src/common/src/types/mod.rs
  src/common/src/types/with_data_type.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_branched_objects.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version_deltas.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_meta_snapshot.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/metrics_utils.rs
  src/prost/src/id.rs
Due: rustfmt

fix(snapshot-backfill): fix deadlock caused by next_epoch
  src/storage/src/hummock/utils.rs
  src/storage/src/lib.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
Due: rustfmt

address comment
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_branched_objects.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_compaction_group_configs.rs
  src/meta/model/src/hummock_sstable_info.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/selector/level_selector.rs
  src/meta/src/hummock/compaction/selector/mod.rs
  src/meta/src/hummock/level_handler.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/model/compaction_group_config.rs
  src/prost/build.rs
  src/prost/src/lib.rs
  src/storage/hummock_sdk/src/compact_task.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/src/hummock/compactor/mod.rs
Due: rustfmt

refine with Borrow
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_pinned_versions.rs
  src/frontend/src/expr/function_impl/pg_relation_size.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/info.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/prost/build.rs
  src/prost/src/id.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/src/compaction_catalog_manager.rs
  src/storage/src/hummock/compactor/mod.rs
Due: rustfmt

fix
  src/meta/src/barrier/info.rs
  src/meta/src/controller/scale.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/prost/src/id.rs
Due: rustfmt

Fix tests + add some
  src/compute/src/memory/config.rs
Due: rustfmt

Add metrics target for sync log store
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/stream_sync_log_store.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/from_proto/sync_log_store.rs
Due: rustfmt

fix: update config defaults
  src/common/src/session_config/mod.rs
  src/config/docs.md
  src/config/example.toml
Due: rustfmt

FIX: src/frontend/src/handler/show.rs format
  src/frontend/src/handler/show.rs
Due: rustfmt

feat: support drop the secret cascade
  proto/ddl_service.proto
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/drop_secret.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

fix: remove dependency when creating the source
  e2e_test/ddl/drop_secret_cascade.slt
Due: none

test: fix tese case
  e2e_test/ddl/drop_secret.slt
  e2e_test/ddl/drop_secret_cascade.slt
Due: none

chore: move to source_inline directory and rename slt name
  e2e_test/source_inline/connection/drop_connection_cascade.slt
  e2e_test/source_inline/connection/drop_secret_cascade.slt
Due: none

fix: read server address from env
  e2e_test/ddl/drop_secret_cascade.slt
Due: none

chore: drop the remaining materialized view and table
  e2e_test/source_inline/connection/drop_secret_cascade.slt
Due: none

test: add tests for tables and materialized views related to sinks
  e2e_test/source_inline/connection/drop_secret_cascade.slt
Due: none

test: add test case for drop secret cascade
  e2e_test/ddl/drop_secret.slt
Due: none

fix: respect output order
  e2e_test/source_inline/connection/drop_secret_cascade.slt
  src/meta/src/controller/catalog/drop_op.rs
Due: rustfmt

fix: fix protobuf breaking check
  proto/ddl_service.proto
Due: none

fix: fix the secret name on SLT test
  e2e_test/source_inline/connection/drop_secret_cascade.slt
Due: none

fix: remove all trailing spaces
  e2e_test/ddl/drop_secret_cascade.slt
Due: none

test: fix test cases for the DROP SECRET … CASCADE command
  e2e_test/source_inline/connection/drop_secret_cascade.slt
Due: none

chore: remove the test case for drop sink cascade command
  e2e_test/ddl/drop/drop_sink_cascade.slt
Due: none

fix: add missing materialized views
  e2e_test/source_inline/connection/drop_secret_cascade.slt
Due: none
