Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.23.1
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

feat(storage): support online cache resize via risectl (#19677)
  Cargo.lock
  Cargo.toml
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  proto/compute.proto
  src/compute/src/rpc/service/config_service.rs
  src/compute/src/server.rs
  src/ctl/src/cmd_impl/hummock.rs
  src/ctl/src/cmd_impl/hummock/resize_cache.rs
  src/ctl/src/lib.rs
  src/rpc_client/src/compute_client.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/utils.rs
Due: rustfmt, cargo sort

fix: missing dependency info of sql udf for streaming job ddl
  e2e_test/udf/drop_function.slt
  src/frontend/src/binder/expr/function/mod.rs
Due: rustfmt

feat(storage): avoid copy key slice in storage table iter when unnecessary
  src/ctl/src/cmd_impl/table/scan.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/table/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_state_table.rs
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/backfill/utils.rs
  src/stream/src/executor/join/hash_join.rs
  src/stream/src/executor/nested_loop_temporal_join.rs
  src/stream/src/executor/sort_buffer.rs
Due: rustfmt

sleep longer
  ci/scripts/e2e-source-test.sh
  ci/workflows/pull-request.yml
  e2e_test/source_inline/kafka/issue_19563.slt.serial
Due: none

unify drop path for all objects
  src/frontend/src/observer/observer_manager.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

remove comment
  src/stream/src/common/table/state_table.rs
Due: rustfmt

refactor(meta): extract code for connecting sql meta store (#19603)
  src/meta/node/src/server.rs
  src/meta/src/backup_restore/utils.rs
  src/meta/src/controller/mod.rs
  src/meta/src/lib.rs
Due: rustfmt

adjust sql udf bind order
  src/frontend/src/binder/expr/function/mod.rs
Due: rustfmt

Add job label to StreamingJob and related changes
  src/common/src/util/worker_util.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20241202_071413_job_label.rs
  src/meta/model/src/streaming_job.rs
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

Add schedulable workers with label filtering; update cluster info retrieval and actor graph prep.
  src/meta/src/controller/cluster.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/prost/src/lib.rs
Due: rustfmt

chore: fix some typos (#19710)
  .github/workflows/typo.yml
  .pre-commit-config.yaml
  Makefile.toml
  src/common/src/config.rs
  src/config/docs.md
  src/connector/src/parser/chunk_builder.rs
  src/connector/src/parser/utils.rs
  src/connector/src/source/reader/desc.rs
Due: rustfmt

rebase and resolve conflicts
  src/connector/src/sink/log_store.rs
  src/frontend/src/utils/overwrite_options.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/streaming_job.rs
  src/stream/src/executor/dml.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/utils.rs
Due: rustfmt

Enhance worker parallelism in `StreamingClusterInfo` with job label support; add filtering helper.
  src/meta/src/controller/cluster.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/test_fragmenter.rs
Due: rustfmt

Revert "feat(stream): create cdc table reader and source data stream with retry (#19467)"
  src/compute/tests/cdc_tests.rs
  src/connector/src/source/cdc/external/mock_external_table.rs
  src/connector/src/source/cdc/external/mod.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/external.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
Due: rustfmt

hack avro to resolve ref recursively despite potential stack overflow
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix test and fix iceberg arrow converter
  e2e_test/iceberg/test_case/iceberg_engine.slt
  src/common/src/array/arrow/arrow_iceberg.rs
Due: rustfmt

cherry-pick refactor(connector): re-arrange the connector::parser module for better readibility (#19711)
  src/common/src/config.rs
  src/config/docs.md
  src/connector/src/parser/access_builder.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/chunk_builder.rs
  src/connector/src/parser/common.rs
  src/connector/src/parser/config.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/postgres.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/sql_server.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/utils.rs
Due: rustfmt

delete meta store right after iceberg commit
  src/connector/src/sink/decouple_checkpoint_log_sink.rs
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

move dep
  Cargo.lock
  Cargo.toml
  src/batch/Cargo.toml
  src/batch/src/lib.rs
  src/expr/core/Cargo.toml
  src/expr/impl/Cargo.toml
  src/frontend/Cargo.toml
  src/prost/build.rs
Due: rustfmt, cargo sort

feat(snapshot-backfill): introduce state to snapshot backfill
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/backfill/snapshot_backfill/mod.rs
  src/stream/src/executor/backfill/snapshot_backfill/state.rs
  src/stream/src/executor/backfill/snapshot_backfill/vnode_stream.rs
Due: rustfmt

refine graph
  src/meta/src/stream/source_manager.rs
Due: rustfmt

RUST_MIN_STACK to 8388608 just in UT
  Makefile.toml
  ci/scripts/common.sh
  ci/scripts/deterministic-e2e-test.sh
  ci/scripts/e2e-source-test.sh
  ci/scripts/pr-unit-test.sh
Due: none

feat(storage): avoid using box dyn for storage table merge sort (#19713)
  src/storage/src/table/merge_sort.rs
  src/storage/src/table/mod.rs
Due: rustfmt

fix message offset of opendal source
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/stream/src/executor/source/fetch_executor.rs
Due: rustfmt

WIP
  src/connector/codec/src/decoder/avro/mod.rs
Due: rustfmt

s
  src/frontend/src/catalog/system_catalog/information_schema/key_column_usage.rs
Due: rustfmt

save work, todo: store sink metadata pb in meta store
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

fix deps
  src/stream/Cargo.toml
  src/stream/benches/stream_hash_agg.rs
  src/stream/src/executor/test_utils.rs
Due: rustfmt, cargo sort

Refactor system for resource group management; replace job labels with resource groups across codebase.
  proto/catalog.proto
  proto/ddl_service.proto
  src/common/src/util/worker_util.rs
  src/compute/src/lib.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/test_utils.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20241202_071413_job_label.rs
  src/meta/model/migration/src/m20241202_071413_resource_group.rs
  src/meta/model/src/database.rs
  src/meta/model/src/streaming_job.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/controller/mod.rs
  src/meta/src/controller/scale.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

pending
  proto/stream_service.proto
  src/batch/src/worker_manager/worker_node_manager.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/backfill/snapshot_backfill.rs
  src/stream/src/executor/rearranged_chain.rs
  src/stream/src/from_proto/source_backfill.rs
  src/stream/src/from_proto/stream_scan.rs
  src/stream/src/from_proto/values.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/barrier_manager/progress.rs
  src/stream/src/task/stream_manager.rs
Due: rustfmt

"Enhance vnode bitmap handling and progress tracking in backfill operations"
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/task/barrier_manager/progress.rs
Due: rustfmt

feat: improve error msg for sink into table
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Due: rustfmt

support key_columnn_usage
  src/frontend/src/catalog/system_catalog/information_schema/key_column_usage.rs
Due: rustfmt

test: improve sleep time for a source test
  e2e_test/source_inline/kafka/issue_19563.slt.serial
Due: none

.
  ci/scripts/e2e-source-test.sh
Due: none

.
  e2e_test/source_inline/kafka/issue_19563.slt.serial
Due: none

trytry flush
  e2e_test/source_inline/kafka/issue_19563.slt.serial
Due: none

fix(file source): fix message offset of opendal source (#19721)
  src/connector/src/source/filesystem/opendal_source/opendal_reader.rs
  src/stream/src/executor/source/fetch_executor.rs
Due: rustfmt

fix: missing dependency info of sql UDFs for streaming job ddl (#19716)
  e2e_test/udf/drop_function.slt
  src/frontend/src/binder/expr/function/mod.rs
Due: rustfmt
