Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

* add four OrderType combinations
  src/frontend/planner_test/tests/testdata/input/index_selection.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection.yaml
  src/frontend/src/optimizer/rule/top_n_on_index_rule.rs
Due: rustfmt

* fix format
  src/frontend/src/optimizer/rule/top_n_on_index_rule.rs
Due: rustfmt

modify log level
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

first version of manual compaction
  proto/ddl_service.proto
  src/frontend/src/binder/statement.rs
  src/frontend/src/handler/compact.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/planner/statement.rs
  src/frontend/src/test_utils.rs
  src/meta/node/src/server.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/manager/iceberg_compaction.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/utils/pgwire/src/pg_response.rs
Due: rustfmt

fix: only super user can alter system parameters (#22564)
  src/frontend/src/handler/alter_system.rs
Due: rustfmt

refine
  src/frontend/src/handler/compact.rs
  src/meta/src/manager/iceberg_compaction.rs
Due: rustfmt

feat(optimizer): optimize select clause's subquery unnesting (#22386)
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/explain_dot_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_json_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_xml_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_yaml_format.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
  src/frontend/src/planner/select.rs
  src/frontend/src/planner/update.rs
Due: rustfmt

add TODO
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
Due: rustfmt

add TODO
  src/meta/src/stream/cdc.rs
Due: rustfmt

fix: database owner should alway be able to connect
  src/frontend/src/session.rs
Due: rustfmt

refactor
  src/common/src/types/mod.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

feat(optimizer): optimize select clause's subquery unnesting (#22386) (#22567)
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/explain_dot_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_json_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_xml_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_yaml_format.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
  src/frontend/src/planner/select.rs
  src/frontend/src/planner/update.rs
Due: rustfmt

add test
  e2e_test/source_legacy/cdc_inline/auto_schema_change_pg.slt
Due: none

fix(cdc): limit cdc offset fetch concurrency globally (#22559)
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Due: rustfmt

fix: database owner should alway be able to connect (#22569)
  src/frontend/src/session.rs
Due: rustfmt

fix: prevent DROP CONNECTION CASCADE for Iceberg connections
  src/frontend/src/handler/drop_connection.rs
Due: rustfmt

.
  e2e_test/source_legacy/cdc_inline/auto_schema_change_pg.slt
Due: none

minor
  src/frontend/src/handler/drop_connection.rs
Due: rustfmt

feat(optimizer): optimize select clause's subquery unnesting (#22386) (#22568)
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/explain_dot_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_json_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_xml_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_yaml_format.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/plan_visitor/cardinality_visitor.rs
  src/frontend/src/planner/select.rs
  src/frontend/src/planner/update.rs
Due: rustfmt

typo
  src/stream/src/executor/source/executor_core.rs
Due: rustfmt

support vaccum iceberg table
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  src/frontend/src/binder/statement.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/vacuum.rs
  src/frontend/src/planner/statement.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/utils/pgwire/src/pg_response.rs
Due: rustfmt

fix test
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
Due: none

chore
  src/sqlparser/src/parser.rs
Due: rustfmt

fix(frontend): fix topn on index optimization rule bug (#22561)
  src/frontend/planner_test/tests/testdata/input/index_selection.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection.yaml
  src/frontend/src/optimizer/rule/top_n_on_index_rule.rs
Due: rustfmt

chore: update v2.5.0-rc.1
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: cargo sort

refine
  src/frontend/src/handler/vacuum.rs
  src/meta/src/manager/iceberg_compaction.rs
Due: rustfmt

revert CDC progress tracker
  src/meta/src/barrier/progress.rs
  src/meta/src/model/stream.rs
  src/meta/src/stream/cdc.rs
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
  src/stream/src/task/barrier_manager/progress.rs
Due: rustfmt

refactor
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
  src/stream/src/executor/backfill/cdc/state_v2.rs
Due: rustfmt

fix: inaccurate join barrier processing time and description
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/dashboard/dev/streaming_actors.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/stream/src/executor/hash_join.rs
Due: rustfmt

chore: increase unit test main-cron timeout
  ci/workflows/main-cron.yml
Due: none

refactor
  src/meta/src/stream/cdc.rs
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
  src/stream/src/executor/backfill/cdc/state_v2.rs
Due: rustfmt

mimalloc
  Cargo.lock
  Cargo.toml
  src/batch/executors/benches/expand.rs
  src/batch/executors/benches/filter.rs
  src/batch/executors/benches/hash_agg.rs
  src/batch/executors/benches/hash_join.rs
  src/batch/executors/benches/limit.rs
  src/batch/executors/benches/nested_loop_join.rs
  src/batch/executors/benches/sort.rs
  src/batch/executors/benches/top_n.rs
  src/cmd/Cargo.toml
  src/cmd/src/lib.rs
  src/cmd_all/Cargo.toml
  src/cmd_all/src/bin/risingwave.rs
  src/common/Cargo.toml
  src/common/src/jemalloc.rs
Due: rustfmt, cargo sort

refine
  src/meta/src/manager/iceberg_compaction.rs
Due: rustfmt

fmt
  src/meta/src/manager/iceberg_compaction.rs
Due: rustfmt

feat: impl has_database_privilege func
  e2e_test/batch/catalog/has_privilege.slt.part
  proto/expr.proto
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/catalog/database_catalog.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/expr/function_impl/has_privilege.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

chore: update v2.5.0-rc.1 (#22572)
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: cargo sort

remove profiler
  src/common/heap_profiling/src/profiler.rs
Due: rustfmt

add iceberg compactor node to ci-iceberg-test
  risedev.yml
Due: none

fix
  src/compute/src/server.rs
  src/frontend/src/session.rs
  src/meta/node/src/lib.rs
  src/storage/compactor/src/server.rs
Due: rustfmt
