Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

fix: simplify job fragment queries and correct internal table filtering
  src/meta/service/src/hummock_service.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
Due: rustfmt

fix: remove redundant actor split update logic
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

fix: remove unused imports for code cleanliness
  src/meta/src/controller/fragment.rs
  src/meta/src/stream/scale.rs
Due: rustfmt

fix: remove job_id from InflightFragmentInfo and related code
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

fix: remove redundant split assignment update and dead code
  src/meta/model/src/actor.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/scale.rs
Due: rustfmt

fix: optimize fragment retrieval and improve catalog statistics
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/diagnose.rs
  src/meta/src/manager/metadata.rs
Due: rustfmt

fix
  Cargo.lock
  Cargo.toml
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/storage/Cargo.toml
  src/stream/src/executor/source/iceberg_list_executor.rs
  src/stream/src/from_proto/source/trad_source.rs
Due: rustfmt, cargo sort

feat: add migration for fragment parallelism column
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20251016_220528_fragment_parallelism.rs
Due: rustfmt

feat(expr): add reverse(bytea)
  e2e_test/batch/functions/bytea_bits.slt.part
  src/expr/impl/src/scalar/bytea_bits.rs
Due: rustfmt

fix: refactor fragment rendering for scaling robustness
  src/meta/model/migration/src/m20251016_220528_fragment_parallelism.rs
  src/meta/src/controller/scale.rs
Due: rustfmt

docs: add detailed doc comments for core scaling routines
  src/meta/src/controller/scale.rs
Due: rustfmt

fix: use FragmentRenderMap type alias for fragment mappings
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
  src/meta/src/stream/scale.rs
Due: rustfmt

fix: replace unwrap() with error handling in scale.rs
  src/meta/src/stream/scale.rs
Due: rustfmt

refactor: derive Default for RenderedGraph to reduce boilerplate
  src/meta/src/controller/scale.rs
Due: rustfmt

feat: derive output dimensions from start and count
  proto/expr.proto
  src/expr/impl/src/scalar/vector.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

fix: enable in-place parallelism rescheduling for CDC backfill
  src/meta/model/src/fragment.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

fmt
  src/stream/src/executor/source/iceberg_list_executor.rs
Due: rustfmt

chore: fix formatting errors
  src/common/src/config/mod.rs
  src/connector/src/parser/config.rs
  src/connector/src/schema/protobuf.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/handler/alter_user.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/handle_privilege.rs
  src/frontend/src/optimizer/backfill_order_strategy.rs
  src/frontend/src/optimizer/rule/table_function_to_internal_get_channel_delta_stats.rs
  src/frontend/src/scheduler/local.rs
  src/meta/src/controller/catalog/util.rs
  src/meta/src/controller/utils.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/meta/src/stream/test_scale.rs
  src/storage/hummock_sdk/src/table_watermark.rs
  src/stream/src/executor/asof_join.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/hop_window.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt

feat: add ListFinish step in refresh table (#23487)
  proto/stream_plan.proto
  proto/stream_service.proto
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/task/barrier_manager/mod.rs
  src/stream/src/task/barrier_worker/managed_state.rs
  src/stream/src/task/barrier_worker/mod.rs
Due: rustfmt

remove clone for vector nearest
  src/batch/executors/src/executor/vector_index_nearest.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
Due: rustfmt

temp save
  .cargo/config.toml
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/mod.rs
  src/stream/src/common/table/state_table.rs
Due: rustfmt

remove static requirement on O
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
Due: rustfmt

fix(iceberg): fix iceberg streaming source when schema change. (#23491)
  Cargo.lock
  Cargo.toml
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/storage/Cargo.toml
  src/stream/src/executor/source/iceberg_list_executor.rs
  src/stream/src/from_proto/source/trad_source.rs
Due: rustfmt, cargo sort

work
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/stream/source_manager.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/source/trad_source.rs
Due: rustfmt

clippy happy
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_source_props.rs
  src/meta/model/migration/src/m20251017_000000_add_cdc_schema_change_policy.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/mod.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/source_manager.rs
  src/storage/src/compaction_catalog_manager.rs
  src/stream/src/executor/source/reader_stream.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/source/trad_source.rs
Due: rustfmt

fix unit test
  src/license/src/rwu.rs
Due: rustfmt

save work
  src/connector/src/parser/mod.rs
  src/connector/src/source/cdc/mod.rs
  src/meta/model/src/table.rs
  src/meta/src/stream/source_manager.rs
  src/stream/src/executor/source/reader_stream.rs
  src/stream/src/from_proto/source/trad_source.rs
Due: rustfmt

JsonConverter::asConnectSchema
  src/connector/codec/src/common/json/mod.rs
  src/connector/codec/src/common/kconnect/mod.rs
  src/connector/codec/src/common/mod.rs
Due: rustfmt

avoid passing owned vector
  src/batch/executors/src/executor/vector_index_nearest.rs
  src/storage/hummock_test/src/hummock_vector_tests.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/vector_writer.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/vector/writer/hnsw.rs
  src/storage/src/hummock/vector/writer/mod.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/executor/vector_index/mod.rs
Due: rustfmt

chore: update version to v2.6.1
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: cargo sort

feat(license): change cpu limit to rwu limit, restricting cluster total memory (#23403)
  Cargo.lock
  src/license/Cargo.toml
  src/license/src/key.rs
  src/license/src/lib.rs
  src/license/src/manager.rs
  src/license/src/rwu.rs
  src/meta/src/manager/license.rs
  src/risedevtool/src/task/utils.rs
Due: rustfmt, cargo sort

feat(batch): implement batch source executors for file processing
  Cargo.lock
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/stream/Cargo.toml
  src/stream/src/executor/source/batch_source/batch_posix_fs_fetch.rs
  src/stream/src/executor/source/batch_source/batch_posix_fs_list.rs
  src/stream/src/executor/source/batch_source/mod.rs
  src/stream/src/executor/source/mod.rs
Due: rustfmt, cargo sort

change buffer
  Cargo.lock
  src/common/src/array/stream_record.rs
  src/stream/Cargo.toml
  src/stream/src/common/change_buffer.rs
  src/stream/src/common/compact_chunk.rs
  src/stream/src/common/mod.rs
Due: rustfmt, cargo sort

Update rustfmt entry to use edition 2024
  .pre-commit-config.yaml
Due: none

use for materialize
  src/common/src/array/stream_chunk_builder.rs
  src/stream/src/common/change_buffer.rs
  src/stream/src/executor/mview/materialize.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
