Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: typos
        name: typos
        entry: typos -w
        language: system
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

delete only after querying objects to cancel
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

fmt
  src/batch/src/worker_manager/worker_node_manager.rs
Due: rustfmt

handle fragment update
  src/batch/src/worker_manager/worker_node_manager.rs
Due: rustfmt

use label
  ci/scripts/run-e2e-test.sh
  e2e_test/ddl/drop/drop_creating_mv.slt
Due: none

fix index test
  src/frontend/src/catalog/schema_catalog.rs
Due: rustfmt

change add to update for finish jobs
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

refactor logging out
  src/meta/src/controller/catalog.rs
Due: rustfmt

fix
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

permit recovery
  src/config/ci.toml
Due: none

fmt
  src/frontend/src/catalog/schema_catalog.rs
Due: rustfmt

fix
  e2e_test/ddl/drop/drop_creating_mv.slt
Due: none

notify delete for relation group
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
Due: rustfmt

start create ddl (internal tables)
  src/meta/src/controller/streaming_job.rs
  src/meta/src/rpc/ddl_controller_v2.rs
Due: rustfmt

Revert "Revert "notify internal table catalog for v2""
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller_v2.rs
Due: rustfmt

Revert "Revert "provide create job obj in finish_streaming_job""
  src/meta/src/controller/catalog.rs
Due: rustfmt

add e2e test
  e2e_test/ddl/drop/drop_creating_mv.slt
Due: none

fix create catalog txn deadlock
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

fix test and address comment
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/event_handler/uploader/task_manager.rs
  src/storage/src/hummock/store/hummock_storage.rs
Due: rustfmt

feat(storage): decouple spill task from epoch
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/event_handler/uploader/spiller.rs
Due: rustfmt

fix merge issue
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/catalog/mod.rs
  src/meta/src/manager/streaming_job.rs
Due: rustfmt

risingwave_common_secret
  Cargo.lock
  src/common/Cargo.toml
  src/common/secret/Cargo.toml
  src/common/secret/src/encryption.rs
  src/common/secret/src/error.rs
  src/common/secret/src/lib.rs
  src/common/secret/src/secret_manager.rs
  src/common/src/lib.rs
  src/compute/src/observer/observer_manager.rs
  src/frontend/src/observer/observer_manager.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/manager/catalog/mod.rs
Due: rustfmt, cargo sort

add secret key for ci
  ci/scripts/common.sh
Due: none

fix simulation
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/batch/mod.rs
Due: rustfmt

fix(storage): refill all version delta
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
Due: rustfmt

remove dep
  Cargo.lock
  src/meta/Cargo.toml
Due: cargo sort

fix(storage): fix abnormal file cache miss on fetch (#17513)
  Cargo.lock
  Cargo.toml
  src/storage/benches/bench_block_cache.rs
  src/storage/src/hummock/sstable_store.rs
Due: rustfmt, cargo sort

fix(storage): refill all version delta (#17540)
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
Due: rustfmt

chore(dep): bump arrow-udf-flight
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix(storage): fix abnormal file cache miss on fetch (#17513) (#17542)
  Cargo.lock
  Cargo.toml
  src/storage/benches/bench_block_cache.rs
  src/storage/src/hummock/sstable_store.rs
Due: rustfmt, cargo sort

add draw
  Cargo.lock
  src/bench/Cargo.toml
  src/bench/sink_bench/main.rs
Due: rustfmt, cargo sort

fix cargo lock
  Cargo.lock
Due: none

feat: support config sql metastore using username and password by env (#17530)
  src/cmd_all/src/single_node.rs
  src/cmd_all/src/standalone.rs
  src/common/src/config.rs
  src/ctl/src/lib.rs
  src/meta/node/src/lib.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/backup_restore/utils.rs
  src/meta/src/telemetry.rs
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt

fix(sql-backend): fix system_parameter value column type and remove unnecessary FKs in mysql metastore (#17535)
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240702_080451_system_param_value.rs
  src/meta/model_v2/migration/src/m20240702_084927_unnecessary_fk.rs
Due: rustfmt

use iceberg rust in iceberg scan
  Cargo.lock
  src/batch/Cargo.toml
  src/batch/src/error.rs
  src/batch/src/executor/iceberg_scan.rs
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt, cargo sort

fix(storage): fix cache refill
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
Due: rustfmt

make standalone return unit
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/standalone.rs
  src/utils/runtime/src/lib.rs
Due: rustfmt

rename get_table to get_any_table
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/handler/alter_rename.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/optimizer/property/distribution.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
Due: rustfmt

fix log
  src/frontend/src/handler/drop_mv.rs
Due: rustfmt
