Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

chore: remove trailing spaces
  e2e_test/source_inline/tvf/postgres_query.slt
Due: none

fix(uint256): remove unused import
  src/common/src/types/num256.rs
Due: rustfmt

chore: rustfmt
  src/common/src/types/decimal.rs
Due: rustfmt

test: fix catalog test to include decimal -> uint256 conversion
  e2e_test/batch/catalog/pg_cast.slt.part
Due: none

feat(catalog): add PostgreSQL OID mappings for uint256
  src/common/src/types/postgres_type.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_types.rs
Due: rustfmt

feat(connector): add uint256 support for sink connectors
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/postgres.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/encoder/proto.rs
  src/connector/src/sink/formatter/debezium_json.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/sqlserver.rs
  src/connector/src/sink/starrocks.rs
Due: rustfmt

feat(expr): implement arithmetic and comparison operators for uint256
  src/expr/impl/src/scalar/arithmetic_op.rs
  src/expr/impl/src/scalar/cmp.rs
  src/expr/macro/src/types.rs
  src/frontend/src/binder/expr/mod.rs
Due: rustfmt

test: update postgres_sink verification to show full numeric values
  e2e_test/sink/postgres_sink.slt
Due: none

fix: correctly display connection ref to secret in other schema (#22524)
  e2e_test/source_inline/connection/issue-22513.slt
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_connections.rs
  src/frontend/src/handler/create_connection.rs
  src/frontend/src/handler/show.rs
Due: rustfmt

chore: remove trailing whitespace
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc.slt.serial
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_insert.sql
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_prepare.sql
  e2e_test/source_inline/tvf/mysql_query.slt
Due: none

fix: remove duplicate java case
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
Due: none

skip test paid
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_features.rs
Due: rustfmt

keep `rw_test_paid_tier` for compatibility
  e2e_test/error_ui/simple/license.slt
  src/expr/impl/src/scalar/license.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
Due: rustfmt

update `rw_test_paid_tier` to `rw_test_feature(..)`
  e2e_test/error_ui/simple/license.slt
  proto/expr.proto
  src/expr/impl/src/scalar/test_license.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_features.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/license/src/cpu.rs
  src/license/src/feature.json
  src/license/src/lib.rs
  src/license/src/manager.rs
  src/risedevtool/src/task/utils.rs
  src/tests/simulation/tests/integration_tests/license_cpu_limit.rs
Due: rustfmt

add `rw_features` system table
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_features.rs
  src/license/src/feature.rs
Due: rustfmt

fix fmt
  src/tests/simulation/tests/integration_tests/license_cpu_limit.rs
Due: rustfmt

add e2e tests
  e2e_test/error_ui/simple/license.slt
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_features.rs
Due: rustfmt

minor update to the error message
  src/license/src/cpu.rs
  src/license/src/manager.rs
  src/tests/simulation/tests/integration_tests/license_cpu_limit.rs
Due: rustfmt

chore: clippy fixes
  src/common/src/array/arrow/arrow_impl.rs
  src/expr/impl/src/scalar/cmp.rs
Due: rustfmt

add license header
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_features.rs
Due: rustfmt

chore: cargo fmt
  src/expr/impl/src/scalar/cmp.rs
Due: rustfmt

feat: add CLAUDE.md (#22537)
  .gitignore
  CLAUDE.md
Due: none

Update reader.rs
  src/connector/src/source/pulsar/source/reader.rs
Due: rustfmt

Use in-memory ActorInfo cache in CatalogController; add debug assertions vs DB; sync cache after updates.
  src/meta/model/src/actor.rs
  src/meta/model/src/fragment.rs
  src/meta/model/src/object.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/rpc/ddl_controller.rs
  src/tests/simulation/tests/integration_tests/recovery/pause_on_bootstrap.rs
Due: rustfmt

Refactor fragment metadata loading to use cache-based parallelism; add debug assertion for cache vs DB
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
Due: rustfmt

Remove dead debug code, unused imports, and #[cfg(debug_assertions)] blocks to improve code clarity
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
  src/meta/src/controller/utils.rs
  src/meta/src/rpc/ddl_controller.rs
  src/tests/simulation/tests/integration_tests/recovery/pause_on_bootstrap.rs
Due: rustfmt

Update madsim deps to use shanicky/madsim@715b223 from GitHub; refresh Cargo.lock accordingly
  Cargo.lock
  Cargo.toml
  src/connector/Cargo.toml
  src/connector/src/source/base.rs
  src/connector/src/source/kafka/source/mux_reader.rs
  src/connector/src/source/kafka/source/reader.rs
  src/stream/src/executor/source/reader_stream.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/stream_reader.rs
Due: rustfmt, cargo sort

Refactor sender handling in mux_reader.rs; overhaul async cleanup logic in reader.rs with Condvar sync
  src/connector/src/source/kafka/source/mux_reader.rs
  src/connector/src/source/kafka/source/reader.rs
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

Refactor error handling: use `.context` and `.as_report()` for clearer, consistent error reporting
  src/connector/src/source/kafka/source/mux_reader.rs
  src/connector/src/source/kafka/source/reader.rs
Due: rustfmt

Refactor: remove redundant SourceDesc field, update source_info usage, and clean up unused imports
  src/connector/src/source/reader/desc.rs
  src/stream/src/executor/source/reader_stream.rs
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt

Refactor: call fetch_watermarks directly in KafkaMetaFetcher; remove explicit trait reference
  src/connector/src/source/kafka/source/reader.rs
Due: rustfmt

feat(kafka): add multiplexed reader, split reader, and mux mode support to Kafka source connector
  Cargo.lock
  Cargo.toml
  src/batch/executors/src/executor/source.rs
  src/connector/Cargo.toml
  src/connector/src/sink/kafka.rs
  src/connector/src/source/base.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kafka/source/message.rs
  src/connector/src/source/kafka/source/mod.rs
  src/connector/src/source/kafka/source/mux_reader.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/reader/desc.rs
  src/connector/with_options_source.yaml
  src/frontend/src/handler/create_source.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/rpc/ddl_controller.rs
  src/stream/src/executor/source/fs_fetch_executor.rs
  src/stream/src/executor/source/iceberg_fetch_executor.rs
  src/stream/src/executor/source/reader_stream.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/stream_reader.rs
Due: rustfmt, cargo sort

resend unack message
  src/connector/src/lib.rs
  src/connector/src/source/mod.rs
  src/connector/src/source/pulsar/mod.rs
  src/connector/src/source/pulsar/source/message.rs
  src/connector/src/source/pulsar/source/reader.rs
  src/connector/with_options_source.yaml
Due: rustfmt

fix: align type identifiers
  e2e_test/batch/catalog/issue_10177.slt.part
  e2e_test/batch/catalog/pg_cast.slt.part
  e2e_test/batch/catalog/pg_type.slt.part
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_types.rs
Due: rustfmt

fix(build): disable parallel frontend to reduce ICE
  Cargo.toml
Due: cargo sort

fix: pg_catalog test order
  e2e_test/batch/catalog/issue_10177.slt.part
Due: none

fix: pg_type test order
  e2e_test/batch/catalog/pg_type.slt.part
Due: none

remove debug info
  src/stream/src/executor/backfill/cdc/state_v2.rs
Due: rustfmt

fix(build): disable parallel frontend to reduce ICE (#22541)
  Cargo.toml
Due: cargo sort

add new fragment flag for CDC scan
  src/common/src/catalog/mod.rs
  src/frontend/src/stream_fragmenter/mod.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
