Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: typos
        name: typos
        entry: typos -w
        language: system
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

chore: update package version to 1.10.2
  Cargo.lock
  Cargo.toml
Due: cargo sort

change streaming upload timeout to 20s only for backfill test
  src/config/ci-backfill.toml
Due: none

chore: update package version to 1.10.2 (#18651)
  Cargo.lock
  Cargo.toml
Due: cargo sort

resolve conficts with iceberg properties refactor
  e2e_test/iceberg/test_case/iceberg_source_all_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_position_delete.slt
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/handler/drop_table.rs
Due: rustfmt

fix s3 source main-cron
  e2e_test/s3/fs_source_v2.py
Due: none

fix(test): fix backward compatibility test
  e2e_test/backwards-compat-tests/scripts/utils.sh
Due: none

fix(test): fix backward compatibility test (#18656)
  e2e_test/backwards-compat-tests/scripts/utils.sh
Due: none

fix(test): fix cassandra sink error (#17148)
  ci/scripts/e2e-cassandra-sink-test.sh
Due: none

fix(sink): fix sink in to Cassandra failed when using column name containing upper case letter (#17493)
  ci/scripts/common.sh
  ci/scripts/e2e-cassandra-sink-test.sh
  e2e_test/sink/cassandra_sink.slt
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraConfig.java
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraSink.java
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraUtil.java
Due: none

fix
  ci/scripts/backwards-compat-test.sh
Due: none

fix(ci): fix cassandra ci (#18536)
  ci/scripts/e2e-cassandra-sink-test.sh
Due: none

fix(ci): fix java connector node ci (#18229)
  ci/scripts/connector-node-integration-test.sh
Due: none

fix(connector): upsert+protobuf source (#18301)
  e2e_test/source_inline/kafka/protobuf/basic.slt
  src/connector/src/source/base.rs
  src/frontend/src/handler/create_source.rs
Due: rustfmt

fix(ci): fix java connector node ci (#18229) (#18659)
  ci/scripts/connector-node-integration-test.sh
Due: none

fix
  e2e_test/s3/fs_source_v2.py
Due: none

fix: s3 source main-cron (#18655)
  e2e_test/s3/fs_source_v2.py
Due: none

cherry-pick fix: a few fixes to Cassandra e2e test (#18657)
  ci/scripts/common.sh
  ci/scripts/e2e-cassandra-sink-test.sh
  e2e_test/sink/cassandra_sink.slt
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraConfig.java
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraSink.java
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraUtil.java
Due: none

fix(ci): build 2.0.0 from source in backwards compat test (#18649)
  ci/scripts/backwards-compat-test.sh
Due: none

feat(meta): skip command for empty cluster
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/state.rs
  src/meta/src/hummock/manager/commit_epoch.rs
Due: rustfmt

migrate s3 parquet test from s3 to minio
  ci/workflows/main-cron.yml
  e2e_test/s3/fs_parquet_source_and_sink.py
Due: none

add explanation on maybe prefix
  src/common/src/hash/consistent_hash/compat.rs
Due: rustfmt

refactor(test): migrate s3 parquet test from s3 to minio (#18662)
  ci/workflows/main-cron.yml
  e2e_test/s3/fs_parquet_source_and_sink.py
Due: none

modify ci.toml timeout
  src/config/ci.toml
Due: none

switch madsim integration tests to sql backend
  Cargo.lock
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/src/main.rs
  src/tests/simulation/tests/integration_tests/scale/auto_parallelism.rs
Due: rustfmt, cargo sort

refactor
  src/storage/src/hummock/time_travel_version_cache.rs
Due: rustfmt

chore(risedev): add `env` fields in schema of risedev profile
  src/risedevtool/schemas/profile.json
Due: none

feat(streaming): support up to 16-bit vnode count in row id gen
  src/common/src/hash/consistent_hash/vnode.rs
  src/common/src/util/row_id.rs
  src/stream/src/executor/row_id_gen.rs
Due: rustfmt

refine docs
  src/common/src/hash/consistent_hash/vnode.rs
  src/common/src/util/row_id.rs
Due: rustfmt

still use zip
  src/common/src/util/row_id.rs
Due: rustfmt

fix test
  e2e_test/streaming/on_conflict.slt
Due: none

revert
  src/frontend/src/optimizer/mod.rs
Due: rustfmt

chore(risedev): add `env` fields in schema of risedev profile (#18665)
  src/risedevtool/schemas/profile.json
Due: none

rename
  src/frontend/src/optimizer/mod.rs
Due: rustfmt

add test
  src/frontend/planner_test/tests/testdata/input/explain.yaml
  src/frontend/planner_test/tests/testdata/output/explain.yaml
Due: none

fix flaky state table ids
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
  src/tests/simulation/tests/integration_tests/scale/shared_source.rs
Due: rustfmt

fix dist
  src/frontend/planner_test/tests/testdata/input/explain.yaml
  src/frontend/planner_test/tests/testdata/output/explain.yaml
  src/frontend/src/optimizer/mod.rs
Due: rustfmt
