Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

feat: upgrade to opendal 0.47 in object store
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/connector/src/sink/snowflake_connector.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/azblob.rs
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/gcs.rs
  src/object_store/src/object/opendal_engine/hdfs.rs
  src/object_store/src/object/opendal_engine/obs.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/opendal_engine/oss.rs
  src/object_store/src/object/opendal_engine/webhdfs.rs
Due: rustfmt, cargo sort

fix comments and UT
  src/common/src/config.rs
  src/config/example.toml
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
Due: rustfmt

fix overflow UT
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
Due: rustfmt

feat: upgrade to opendal 0.47 in object store (#17198)
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/config/example.toml
  src/connector/src/sink/snowflake_connector.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/azblob.rs
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/gcs.rs
  src/object_store/src/object/opendal_engine/hdfs.rs
  src/object_store/src/object/opendal_engine/obs.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/opendal_engine/oss.rs
  src/object_store/src/object/opendal_engine/webhdfs.rs
Due: rustfmt, cargo sort

Update Error Message
  src/connector/src/sink/clickhouse.rs
Due: rustfmt

fix with_options_sink
  src/connector/with_options_sink.yaml
Due: none

Remove Unnecessary Memcpy For Sign/Deletes
  src/connector/src/sink/clickhouse.rs
Due: rustfmt

Fix Formatting
  src/connector/src/sink/clickhouse.rs
Due: rustfmt

fix(jdbc-sink): set network timeout (#17244)
  java/connector-node/risingwave-sink-jdbc/src/main/java/com/risingwave/connector/JdbcUtils.java
Due: none

feat(storage): remove unused code `calculate_table_align_rule` (#17199)
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/manager/env.rs
Due: rustfmt

syncing data upload tasks partial succeed
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader.rs
Due: rustfmt

extract poll_syncing_task
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/store/hummock_storage.rs
Due: rustfmt

remove uploader event
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader.rs
Due: rustfmt

refactor(storage): pass table ids to store store sync
  proto/stream_service.proto
  src/meta/src/barrier/rpc.rs
  src/storage/hummock_test/src/bin/replay/replay_impl.rs
  src/storage/hummock_trace/src/collector.rs
  src/storage/hummock_trace/src/record.rs
  src/storage/hummock_trace/src/replay/mod.rs
  src/storage/hummock_trace/src/replay/worker.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
Due: rustfmt

chore: upgrade chrono to 0.4.38 (#17279)
  Cargo.lock
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/hash/key.rs
  src/common/src/types/datetime.rs
  src/common/src/types/mod.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/source/iceberg/mod.rs
  src/ctl/src/cmd_impl/meta/migration.rs
  src/expr/impl/src/scalar/extract.rs
  src/expr/impl/src/scalar/to_char.rs
  src/expr/impl/src/scalar/tumble.rs
  src/meta/src/controller/mod.rs
Due: rustfmt

fix: make cherry-pick pr title checker more tolerant
  .github/pr-title-checker-config.json
Due: none

fix(secret): add a secret ref column to source (#17269)
  proto/catalog.proto
  src/connector/src/sink/catalog/desc.rs
  src/connector/src/sink/catalog/mod.rs
  src/ctl/src/cmd_impl/meta/migration.rs
  src/frontend/src/utils/with_options.rs
  src/meta/model_v2/migration/src/m20240525_090457_secret.rs
  src/meta/model_v2/src/lib.rs
  src/meta/model_v2/src/sink.rs
  src/meta/model_v2/src/source.rs
  src/meta/src/controller/mod.rs
  src/prost/build.rs
Due: rustfmt

save
  src/prost/build.rs
Due: rustfmt

fix: make cherry-pick pr title checker more tolerant (#17328)
  .github/pr-title-checker-config.json
Due: none

init
  proto/catalog.proto
  proto/secret.proto
  src/connector/src/sink/catalog/desc.rs
  src/connector/src/sink/catalog/mod.rs
  src/frontend/src/utils/with_options.rs
  src/meta/model_v2/src/lib.rs
  src/prost/build.rs
Due: rustfmt

fix
  Cargo.lock
  src/connector/src/source/cdc/external/mod.rs
Due: rustfmt

cherry-pick chore: upgrade chrono to 0.4.38 (#17279) (#17325)
  Cargo.lock
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/hash/key.rs
  src/common/src/types/datetime.rs
  src/common/src/types/mod.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/source/iceberg/mod.rs
  src/ctl/src/cmd_impl/meta/migration.rs
  src/expr/impl/src/scalar/extract.rs
  src/expr/impl/src/scalar/to_char.rs
  src/expr/impl/src/scalar/tumble.rs
  src/meta/src/controller/mod.rs
Due: rustfmt

refactor: move SecretRef to secret.proto (#17330)
  proto/catalog.proto
  proto/secret.proto
  src/connector/src/sink/catalog/desc.rs
  src/connector/src/sink/catalog/mod.rs
  src/frontend/src/utils/with_options.rs
  src/meta/model_v2/src/lib.rs
  src/prost/build.rs
Due: rustfmt

chore: remove the object_store prefix in the object store config naming (#17290)
  src/common/src/config.rs
  src/config/example.toml
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/s3.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
Due: rustfmt

feat(sink): Support Mongodb sink (#17102)
  Cargo.lock
  Cargo.toml
  ci/docker-compose.yml
  ci/scripts/e2e-mongodb-sink-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/sink/mongodb_sink.slt
  src/connector/Cargo.toml
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/error.rs
  src/connector/src/sink/encoder/bson.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/mongodb.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt, cargo sort

fix: fix type mismatch of compressed_binary column in function table (#17312)
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240618_072634_function_compressed_binary.rs
Due: rustfmt

fmt
  e2e_test/streaming/changed_log.slt
  src/frontend/src/binder/relation/share.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/optimizer/plan_node/generic/change_log.rs
  src/frontend/src/optimizer/plan_node/logical_change_log.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
Due: rustfmt

cherry-pick refactor: secret ref columns in protobuf (#17335)
  proto/catalog.proto
  proto/secret.proto
  src/connector/src/sink/catalog/desc.rs
  src/connector/src/sink/catalog/mod.rs
  src/ctl/src/cmd_impl/meta/migration.rs
  src/frontend/src/utils/with_options.rs
  src/meta/model_v2/migration/src/m20240525_090457_secret.rs
  src/meta/model_v2/src/lib.rs
  src/meta/model_v2/src/sink.rs
  src/meta/model_v2/src/source.rs
  src/meta/src/controller/mod.rs
  src/prost/build.rs
Due: rustfmt

fix(cherry-pick): fix type mismatch of compressed_binary column in function table (#17312) (#17339)
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20240618_072634_function_compressed_binary.rs
Due: rustfmt

cherry-pick chore: remove the object_store prefix in the object store config naming (#17290) (#17326)
  src/common/src/config.rs
  src/config/example.toml
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/s3.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
Due: rustfmt

upgrade maven dependency for pacx
  java/pom.xml
Due: none

fix(optimizer): reduce expr tree depth when merge logical operations
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/planner_test/tests/testdata/output/logical_scan_predicate_eliminate.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/range_scan.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
Due: rustfmt

Refactor: Remove funcs, set PbFragment mapping to None
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/catalog/fragment.rs
Due: rustfmt

refactor api
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/utils.rs
  src/frontend/src/optimizer/plan_node/logical_filter.rs
Due: rustfmt

Simplify PbFragmentWorkerSlotMapping creation in CatalogController
  src/meta/src/controller/catalog.rs
Due: rustfmt

refine delete sign checking logic
  src/connector/src/sink/starrocks.rs
Due: rustfmt

fix test
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/hummock_trace/src/replay/mod.rs
  src/storage/hummock_trace/src/replay/runner.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/barrier_manager/tests.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
