Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

Here's a descriptive commit message in 100 characters or less:
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250220_090144_move_expr_context_to_fragment.rs
Due: rustfmt

chore(test): change embedded udf tests to parallel, fix some failing tests (#20531)
  ci/scripts/build-other.sh
  ci/scripts/e2e-test-parallel-for-opendal.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/e2e-test-serial.sh
  ci/scripts/slow-e2e-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/slow_tests/udf/always_retry_python.slt
  e2e_test/slow_tests/udf/graceful_shutdown_python.slt
  e2e_test/udf/embedded/js_udf.slt
  e2e_test/udf/embedded/python_udf.slt
  e2e_test/udf/embedded/rust/datetime.slt.part
  e2e_test/udf/embedded/rust/decimal_add.slt.part
  e2e_test/udf/embedded/rust/gcd.slt.part
  e2e_test/udf/embedded/rust/int42.slt.part
  e2e_test/udf/embedded/rust/jsonb.slt.part
  e2e_test/udf/embedded/rust/key_value.slt.part
  e2e_test/udf/embedded/rust/key_values.slt.part
  e2e_test/udf/embedded/rust/main.slt
  e2e_test/udf/embedded/rust/panic.slt.part
  e2e_test/udf/embedded/rust/series.slt.part
  e2e_test/udf/embedded/rust/sum_array.slt.part
  e2e_test/udf/embedded/sql_udf.slt
  e2e_test/udf/embedded/wasm_udf.slt
  e2e_test/udf/external/external_udf.slt.part
  e2e_test/udf/external/main.slt
  e2e_test/udf/general/alter_function.slt
  e2e_test/udf/general/bug_fixes/17560_udaf_as_win_func.slt
  e2e_test/udf/general/bug_fixes/18202_sql_udf_aggregate_prefix.slt
  e2e_test/udf/general/create_and_drop.slt
  e2e_test/udf/retry_python.slt
  e2e_test/udf/rust_udf.slt
Due: none

feat(sink): resolve avro `Ref` to corresponding `Record` definition (#20401)
  e2e_test/source_inline/kafka/avro/ref.slt
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/mod.rs
Due: rustfmt

refactor(source): simplify Avro field to SQL column mapping (#20559)
  src/connector/codec/src/decoder/avro/schema.rs
  src/connector/codec/tests/integration_tests/avro.rs
  src/connector/codec/tests/integration_tests/json.rs
  src/connector/src/parser/debezium/avro_parser.rs
Due: rustfmt

update planner tests
  src/frontend/planner_test/tests/testdata/input/generate_series_with_now.yaml
  src/frontend/planner_test/tests/testdata/output/generate_series_with_now.yaml
Due: none

feat(iceberg): add nested bytea byte to `full_type_t` table (#20570)
  e2e_test/iceberg/test_case/iceberg_engine.slt
Due: none

feat(grafana): change default layout from 1/2 width to 1/3
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Due: none

refactor(source): protobuf ColumnDesc
  src/connector/codec/src/decoder/protobuf/parser.rs
Due: rustfmt

Add job definition support for fragment composition and retrieval (100 chars)
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
Due: rustfmt

Fix whitespace
  src/meta/src/controller/fragment.rs
Due: rustfmt

fix: Fix the remaining mview_definition errors (#20569)
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
Due: rustfmt

add frontend metric
  src/frontend/Cargo.toml
  src/frontend/src/lib.rs
  src/frontend/src/monitor/stats.rs
Due: rustfmt, cargo sort

WIP
  src/frontend/src/lib.rs
Due: rustfmt

fix
  src/frontend/src/handler/create_source.rs
Due: rustfmt

validate avro record field names
  src/connector/codec/src/decoder/avro/mod.rs
Due: rustfmt

unify EncodedBytes parser
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
Due: rustfmt

unify encode and encode_slice
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
Due: rustfmt

use bitfields to replace bitflag
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
  src/common/src/util/value_encoding/error.rs
Due: rustfmt, cargo sort

fix
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Due: rustfmt

ColumnId are assigned in `create` handler
  src/connector/codec/tests/integration_tests/protobuf.rs
Due: rustfmt

remove unset width
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
Due: rustfmt

feat(grafana): change default layout from 1/2 width to 1/3 (#20579)
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/common.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Due: none

refactor: remove unnessary check_iceberg_source (#20566)
  .git-blame-ignore-revs
  src/common/src/array/data_chunk.rs
  src/common/src/catalog/column.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema/iceberg.rs
Due: rustfmt

test: fix flaky license test
  e2e_test/source_inline/kafka/avro/glue.slt.serial
Due: none

docs: Update README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

refactor(iceberg): move scan from batch to connector (#20567)
  Cargo.lock
  src/batch/executors/Cargo.toml
  src/batch/executors/src/executor/iceberg_scan.rs
  src/batch/src/monitor/stats.rs
  src/batch/src/task/env.rs
  src/compute/src/server.rs
  src/connector/Cargo.toml
  src/connector/src/source/iceberg/metrics.rs
  src/connector/src/source/iceberg/mod.rs
Due: rustfmt, cargo sort

fix(meta): delete large time travel metadata in smaller batch
  src/connector/src/parser/parquet_parser.rs
  src/meta/src/hummock/manager/time_travel.rs
Due: rustfmt

fix(meta): delete large time travel metadata in smaller batch
  src/meta/src/hummock/manager/time_travel.rs
Due: rustfmt

Add AdaptiveParallelismStrategy: new enum, proto update, and dynamic parallelism adjustment
  Cargo.lock
  proto/meta.proto
  src/common/Cargo.toml
  src/common/src/system_param/adaptive_parallelism_strategy.rs
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/meta/src/stream/scale.rs
Due: rustfmt, cargo sort

feat(connector): resolve `$ref` in json schema (#20446)
  Cargo.lock
  src/connector/codec/Cargo.toml
  src/connector/codec/src/decoder/json/mod.rs
  src/connector/codec/tests/integration_tests/json.rs
  src/connector/codec/tests/integration_tests/main.rs
  src/connector/codec/tests/test_data/id_type.json
  src/connector/src/parser/json_parser.rs
Due: rustfmt, cargo sort

improve top_n_on_index rule
  src/frontend/planner_test/tests/testdata/input/index_selection.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection.yaml
  src/frontend/src/expr/mod.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/logical_topn.rs
  src/frontend/src/optimizer/property/order.rs
  src/frontend/src/optimizer/rule/top_n_on_index_rule.rs
  src/frontend/src/utils/condition.rs
Due: rustfmt

fix: Fix the remaining mview_definition errors (#20569) (#20581)
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
Due: rustfmt

bump arrow-udf-js
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix
  src/meta/model/src/function.rs
Due: rustfmt

bump udf-js to release ver
  Cargo.lock
  Cargo.toml
Due: cargo sort

feat(storage): wait committed epoch when update vnode bitmap
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/now.rs
  src/stream/src/executor/sort.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/tests/integration_tests/eowc_over_window.rs
  src/stream/tests/integration_tests/over_window.rs
Due: rustfmt

feat(meta): do configuration change in single barrier
  proto/meta.proto
  proto/stream_service.proto
  src/compute/src/rpc/service/stream_service.rs
  src/ctl/src/cmd_impl/meta/pause_resume.rs
  src/dml/src/dml_manager.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/stream_client.rs
  src/stream/src/executor/mod.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
