Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

fix(object store): try get_or_init jvm before creating hdfs builder (#17552)
  Cargo.lock
  src/object_store/Cargo.toml
  src/object_store/src/object/opendal_engine/hdfs.rs
Due: rustfmt, cargo sort

Add `serde` and `serde_json` v1 with derive to `Cargo.toml` and update `Cargo.lock`
  Cargo.lock
  src/meta/model_v2/migration/Cargo.toml
Due: cargo sort

rename
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_materialized_views.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_relation_info.rs
  src/frontend/src/expr/function_impl/pg_get_viewdef.rs
  src/frontend/src/handler/show.rs
Due: rustfmt

refactor notification functionality
  src/meta/src/controller/catalog.rs
Due: rustfmt

Revert "Revert "provide create job obj in finish_streaming_job""
  src/meta/src/controller/catalog.rs
Due: rustfmt

Revert "Revert "report catalog in v2, left internal tables""
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

Revert "Revert "notify internal table catalog for v2""
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller_v2.rs
Due: rustfmt

fix
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

add e2e test
  e2e_test/ddl/drop/drop_creating_mv.slt
Due: none

start create ddl (internal tables)
  src/meta/src/controller/streaming_job.rs
  src/meta/src/rpc/ddl_controller_v2.rs
Due: rustfmt

permit recovery
  src/config/ci.toml
Due: none

handle fragment update
  src/batch/src/worker_manager/worker_node_manager.rs
Due: rustfmt

fix
  e2e_test/ddl/drop/drop_creating_mv.slt
Due: none

fix create catalog txn deadlock
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

notify delete for relation group
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
Due: rustfmt

fmt
  src/batch/src/worker_manager/worker_node_manager.rs
Due: rustfmt

notify on create
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

delete only after querying objects to cancel
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

change add to update for finish jobs
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

fmt
  src/frontend/src/catalog/schema_catalog.rs
Due: rustfmt

report deleted dirty jobs catalog to fe
  src/meta/src/controller/catalog.rs
Due: rustfmt

refactor logging out
  src/meta/src/controller/catalog.rs
Due: rustfmt

use label
  ci/scripts/run-e2e-test.sh
  e2e_test/ddl/drop/drop_creating_mv.slt
Due: none

fix index test
  src/frontend/src/catalog/schema_catalog.rs
Due: rustfmt

fix comments
  Cargo.lock
  proto/telemetry.proto
  src/common/src/telemetry/manager.rs
  src/common/src/telemetry/report.rs
  src/compute/src/server.rs
  src/compute/src/telemetry.rs
  src/connector/src/sink/catalog/mod.rs
  src/frontend/src/session.rs
  src/frontend/src/telemetry.rs
  src/meta/Cargo.toml
  src/meta/node/src/server.rs
  src/meta/src/telemetry.rs
  src/storage/compactor/Cargo.toml
  src/storage/compactor/src/server.rs
  src/storage/compactor/src/telemetry.rs
  src/stream/Cargo.toml
  src/stream/src/from_proto/sink.rs
  src/stream/src/from_proto/source/mod.rs
  src/stream/src/telemetry.rs
Due: rustfmt, cargo sort

chore: Add `serde` and `serde_json` v1 with derive to `Cargo.toml` in SQL migration (#17564)
  Cargo.lock
  src/meta/model_v2/migration/Cargo.toml
Due: cargo sort

fix
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/arrow_udf.rs
  src/connector/src/error.rs
Due: rustfmt

refactor: demonstrate graceful shutdown on compute node (#17533)
  Cargo.lock
  src/cmd/src/lib.rs
  src/cmd_all/src/bin/risingwave.rs
  src/cmd_all/src/standalone.rs
  src/common/Cargo.toml
  src/common/src/util/mod.rs
  src/compute/src/lib.rs
  src/compute/src/server.rs
  src/connector/Cargo.toml
  src/tests/compaction_test/src/bin/compaction.rs
  src/tests/compaction_test/src/bin/delete_range.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/batch/mod.rs
  src/utils/runtime/src/lib.rs
Due: rustfmt, cargo sort

fix: fix inappropriate assertion in migration
  src/meta/src/barrier/recovery.rs
Due: rustfmt

feat: compact_noop_update_after_outer_join
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/join/builder.rs
Due: rustfmt

support dynamodb
  src/connector/src/sink/dynamodb.rs
  src/connector/src/sink/mongodb.rs
Due: rustfmt

fix ut
  src/stream/src/executor/hash_join.rs
Due: rustfmt

Deprecate `vnode_mapping`, reserve field 5, update `MigrationPlan`
  proto/meta.proto
Due: none

Add parallelism column to WorkerProperty migration
  src/meta/model_v2/migration/src/m20240630_131430_remove_parallel_unit.rs
Due: rustfmt

Refactor worker manager & meta mgmt, simplify worker map & enhance batch proc logic
  src/batch/src/worker_manager/worker_node_manager.rs
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

Add WorkerReschedule; rm/add rw_ modules; rename rs file.
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_worker_slots.rs
  src/meta/model_v2/migration/src/lib.rs
Due: rustfmt

perf(storage): allow dynamic enable/disable minitrace for tiered cache
  Cargo.lock
  Cargo.toml
  proto/monitor_service.proto
  src/compute/src/rpc/service/monitor_service.rs
  src/compute/src/server.rs
  src/ctl/Cargo.toml
  src/ctl/src/cmd_impl/hummock.rs
  src/ctl/src/cmd_impl/hummock/tiered_cache_tracing.rs
  src/ctl/src/lib.rs
  src/storage/compactor/src/rpc.rs
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/logger.rs
Due: rustfmt, cargo sort

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
