Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

feat: add a config to control whether state table vnode prunning is enabled
  src/common/src/config/mod.rs
  src/common/src/config/streaming.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_state_table.rs
  src/stream/src/executor/mview/materialize.rs
Due: rustfmt

fix comment
  src/stream/src/common/table/state_table.rs
Due: rustfmt

fix check
  src/stream/src/common/table/test_state_table.rs
Due: rustfmt

fix
  src/common/src/array/stream_chunk.rs
Due: rustfmt

fix example toml
  src/config/example.toml
Due: none

fix sit compile
  Cargo.lock
  src/storage/hummock_sdk/Cargo.toml
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/tests/integration_tests/compaction/mod.rs
Due: rustfmt, cargo sort

save work
  Cargo.lock
  Cargo.toml
  proto/iceberg_compaction.proto
  src/meta/Cargo.toml
  src/meta/src/hummock/manager/compaction/compaction_event_loop.rs
  src/meta/src/manager/iceberg_compaction.rs
  src/storage/Cargo.toml
  src/storage/src/hummock/compactor/iceberg_compaction/iceberg_compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
Due: rustfmt, cargo sort

chore(deps): bump aws-msk-iam-sasl-signer to 1.0.1
  Cargo.lock
  src/connector/Cargo.toml
Due: cargo sort

Update streaming overview queries
  grafana/dashboard/dev/streaming_fragments.py
Due: none

Normalize fragment tokio expressions
  grafana/dashboard/dev/streaming_fragments.py
Due: none

feat: pass fragmentId into Hummock Metrics
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/hummock_trace/src/replay/runner.rs
  src/storage/hummock_trace/src/replay/worker.rs
  src/storage/src/hummock/iterator/change_log.rs
  src/storage/src/hummock/shared_buffer/mod.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/storage/src/store.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/sync_kv_log_store.rs
Due: rustfmt

add modifications
  src/storage/hummock_test/src/state_store_tests.rs
Due: rustfmt

fix: fix some compiling problems
  src/storage/hummock_trace/src/opts.rs
  src/storage/hummock_trace/src/replay/runner.rs
  src/storage/hummock_trace/src/replay/worker.rs
  src/storage/src/hummock/iterator/change_log.rs
Due: rustfmt

Regenerate Grafana dashboard artifacts
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.json
Due: none

feat: add grafana panels
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/streaming_fragments.py
  grafana/dashboard/dev/streaming_relations.py
  grafana/risingwave-dev-dashboard.json
Due: none

fix: fmt the code
  src/storage/hummock_test/src/state_store_tests.rs
Due: rustfmt

Update grafana/dashboard/dev/streaming_relations.py
  grafana/dashboard/dev/streaming_relations.py
Due: none

chore(frontend): support FATAL message
  src/frontend/src/session.rs
  src/utils/pgwire/src/error_or_notice.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
Due: rustfmt

udf: use risingwavelabs ginepro fork
  Cargo.lock
  src/expr/impl/Cargo.toml
Due: cargo sort

feat: support caching object dependencies info in frontend
  dashboard/lib/api/streaming.ts
  proto/meta.proto
  src/frontend/src/catalog/database_catalog.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_depend.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/notification_service.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/list_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/catalog/util.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/notification.rs
  src/prost/build.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

Add Kafka consumer lag catalog and tests
  e2e_test/monitoring/kafka_lag_catalog.slt
  e2e_test/monitoring/kafka_lag_values.slt.serial
  src/common/src/metrics_reader/mod.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_kafka_job_lag.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_kafka_source_metrics.rs
  src/frontend/src/expr/table_function.rs
  src/frontend/src/metrics_reader.rs
  src/frontend/src/optimizer/rule/table_function_to_internal_source_backfill_progress.rs
  src/frontend/src/scheduler/task_context.rs
Due: rustfmt

doc: move cursor rules to AGENTS.md
  .cursor/rules/coding-style.mdc
  AGENTS.md
  CLAUDE.md
Due: none

Remove obsolete Kafka lag catalog tests and related files; refactor metrics reader for improved clarity in source metrics retrieval.
  e2e_test/monitoring/kafka_lag_catalog.slt
  e2e_test/monitoring/kafka_lag_values.slt.serial
  src/common/src/metrics_reader/mod.rs
  src/frontend/src/metrics_reader.rs
Due: rustfmt

doc: make CLAUDE.md a symlink
  CLAUDE.md
Due: none

improve locality backfill for agg
  src/frontend/planner_test/tests/testdata/input/locality_backfill.yaml
  src/frontend/planner_test/tests/testdata/output/explain_dot_format.yaml
  src/frontend/planner_test/tests/testdata/output/locality_backfill.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Due: rustfmt

migrate copilot instructions
  .github/copilot-instructions.md
  AGENTS.md
Due: none

save work
  proto/iceberg_compaction.proto
  src/meta/src/manager/iceberg_compaction.rs
  src/storage/src/hummock/compactor/iceberg_compaction/iceberg_compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
Due: rustfmt

fix error
  src/frontend/src/metrics_reader.rs
Due: rustfmt

fix and refine is_reschedulable
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
  src/prost/src/lib.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
Due: rustfmt

fix docs.md
  src/config/docs.md
Due: none

fix: adjust offset calculation in Kafka job lag catalog
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_kafka_job_lag.rs
Due: rustfmt

disable next_epoch
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
Due: rustfmt

style: format parallelism constants
  src/common/src/session_config/mod.rs
Due: rustfmt

style: apply rustfmt
  src/common/src/session_config/mod.rs
Due: rustfmt

test: force auto table strategy
  src/tests/simulation/tests/integration_tests/scale/auto_parallelism.rs
  src/tests/simulation/tests/integration_tests/scale/streaming_parallelism.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
