Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

feat(meta): rewrite index after `ALTER COLUMN TYPE` (#21681)
  e2e_test/ddl/alter_table_column_type/with_index.slt
  proto/expr.proto
  src/common/src/types/mod.rs
  src/common/src/types/struct_type.rs
  src/frontend/src/catalog/index_catalog.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/meta/src/controller/rename.rs
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

refactor: remove `col_index_mapping` when replacing table
  proto/ddl_service.proto
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/alter_source_column.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/alter_table_drop_connector.rs
  src/frontend/src/handler/alter_table_with_sr.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/rpc/mod.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

add_e2e_test
  e2e_test/ddl/database.slt
Due: none

check in meta node await tree, in dashboard
  Cargo.lock
  proto/monitor_service.proto
  src/common/src/util/prost.rs
  src/compute/src/rpc/service/monitor_service.rs
  src/meta/Cargo.toml
  src/meta/node/src/server.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/env.rs
Due: rustfmt, cargo sort

fmt
  src/compute/src/rpc/service/monitor_service.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

refactor to remove duplicated code
  Cargo.lock
  src/ctl/src/cmd_impl/await_tree.rs
  src/meta/node/src/server.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/lib.rs
  src/meta/service/src/monitor_service.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/diagnose.rs
  src/meta/src/rpc/await_tree.rs
  src/meta/src/rpc/mod.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt, cargo sort

add docs
  src/ctl/src/cmd_impl/await_tree.rs
  src/meta/service/src/monitor_service.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/env.rs
  src/meta/src/rpc/await_tree.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

fix: respect RUST_LOG when RISINGWAVE_KAFKA_LOG_LEVEL is not set
  src/connector/src/connector_common/connection.rs
Due: rustfmt

fix clippy
  src/ctl/src/cmd_impl/await_tree.rs
  src/meta/src/rpc/await_tree.rs
Due: rustfmt

feat(sqlsmith): an initial try
  src/tests/sqlsmith/src/sql_gen/agg.rs
  src/tests/sqlsmith/src/sql_gen/cast.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/functions.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
Due: rustfmt

refactor: remove `col_index_mapping` when replacing table (#21685)
  proto/ddl_service.proto
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/alter_source_column.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/alter_table_drop_connector.rs
  src/frontend/src/handler/alter_table_with_sr.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/rpc/mod.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

Revert "feat(sqlsmith): an initial try"
  src/tests/sqlsmith/src/sql_gen/agg.rs
  src/tests/sqlsmith/src/sql_gen/cast.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/functions.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
Due: rustfmt

ci: make sql server cdc source test serial
  ci/scripts/e2e-source-test.sh
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc.slt.serial
  src/meta/src/barrier/complete_task.rs
Due: rustfmt

refactor(sqlsmith): remove can_agg
  src/tests/sqlsmith/src/config.rs
  src/tests/sqlsmith/src/sql_gen/agg.rs
  src/tests/sqlsmith/src/sql_gen/expr.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
  src/tests/sqlsmith/src/sql_gen/relation.rs
Due: rustfmt

fix
  src/meta/src/barrier/complete_task.rs
Due: rustfmt

.
  src/connector/src/connector_common/connection.rs
Due: rustfmt

feat(ddl): Implement database-level barrier and checkpoint configuration - Part 1 (#22052)
  e2e_test/ddl/database.slt
  proto/catalog.proto
  proto/common.proto
  proto/ddl_service.proto
  src/common/src/catalog/mod.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/database_catalog.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_databases.rs
  src/frontend/src/handler/alter_database_param.rs
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/test_utils.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250528_064717_barrier_interval_per_database.rs
  src/meta/model/src/database.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/mod.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/src/parser_v2/data_type.rs
  src/sqlparser/src/parser_v2/number.rs
  src/sqlparser/tests/sqlparser_postgres.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

.
  ci/scripts/e2e-source-test.sh
Due: none

remove unused dep
  Cargo.lock
  src/meta/service/Cargo.toml
Due: cargo sort

fix: map_contains with polymorphic type
  src/expr/impl/src/scalar/array.rs
  src/frontend/src/expr/type_inference/func.rs
Due: rustfmt

Handle parameters gracefully in const eval rewriter with tests
  src/frontend/src/optimizer/plan_expr_rewriter/const_eval_rewriter.rs
Due: rustfmt

Fix: Preserve generated columns during ALTER SOURCE REFRESH SCHEMA
  bug_fix_summary.md
  e2e_test/source_inline/kafka/protobuf/alter_source_generated_column.slt
  src/frontend/src/handler/alter_source_with_sr.rs
Due: rustfmt

Optimize CI e2e tests by removing redundant serial test runs
  CI_E2E_TESTS.md
  IMPLEMENTATION_SUMMARY.md
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Due: none

fix: respect RUST_LOG when RISINGWAVE_KAFKA_LOG_LEVEL is not set (#22081)
  src/connector/src/connector_common/connection.rs
Due: rustfmt

update usages & fix from impl
  src/frontend/src/binder/relation/join.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/mod.rs
  src/meta/src/controller/rename.rs
  src/sqlparser/src/ast/mod.rs
Due: rustfmt

feat: print backtrace in pg_protocol in debug mode (#21849)
  src/common/src/util/deployment.rs
  src/utils/pgwire/src/error.rs
  src/utils/pgwire/src/lib.rs
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_protocol.rs
Due: rustfmt

fix
  src/connector/src/source/base.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
Due: rustfmt

address comments
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/meta/src/manager/iceberg_compaction.rs
Due: rustfmt

ci: make sql server cdc source test serial (#22083)
  ci/scripts/e2e-source-test.sh
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc.slt.serial
  src/meta/src/barrier/complete_task.rs
Due: rustfmt

fix
  e2e_test/source_inline/kafka/alter/alter_connector_props.slt
Due: none

.
  src/expr/impl/src/scalar/array.rs
Due: rustfmt

.
  bug_fix_summary.md
Due: none

proto
  proto/meta.proto
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

Fix ALTER SOURCE REFRESH SCHEMA for sources with generated columns
  bug_fix_summary.md
  e2e_test/source_inline/kafka/protobuf/alter_source.slt
  e2e_test/source_inline/kafka/protobuf/alter_source_generated_column.slt
Due: none

Optimize Kafka Protobuf source test by reusing topic and simplifying setup
  e2e_test/source_inline/kafka/protobuf/alter_source.slt
Due: none

Optimize CI e2e tests by removing redundant serial test execution
  CI_E2E_TESTS.md
  IMPLEMENTATION_SUMMARY.md
  ci/scripts/e2e-test-serial.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Due: none

don't panic
  src/frontend/src/optimizer/plan_expr_rewriter/const_eval_rewriter.rs
Due: rustfmt

fix
  src/expr/impl/src/scalar/array.rs
Due: rustfmt

Test ALTER SOURCE REFRESH SCHEMA with generated columns in Kafka source
  e2e_test/source_inline/kafka/protobuf/alter_source.slt
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
