Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

Refactor: reorder/de-dup deps & mods, simplify mux_reader w/ OwnedMessage, comment out mux_split_reader impl
  src/connector/Cargo.toml
  src/connector/src/source/kafka/source/mod.rs
  src/connector/src/source/kafka/source/mux_reader.rs
  src/connector/src/source/kafka/source/mux_split_reader.rs
Due: rustfmt, cargo sort

special password
  ci/docker-compose.yml
  ci/scripts/e2e-source-test.sh
  e2e_test/source_inline/tvf/postgres_query.slt
  risedev.yml
  src/batch/executors/src/executor/postgres_query.rs
  src/frontend/src/expr/table_function.rs
Due: rustfmt

workaround PGPASSWORD #21974
  e2e_test/source_inline/tvf/postgres_query.slt
Due: none

fix(cdc): special char during debezium props substitution
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
Due: none

repro with special password
  ci/docker-compose.yml
  ci/scripts/e2e-source-test.sh
  risedev.yml
Due: none

feat(iceberg): cherry-pick init and backup hosted iceberg system table (#21980)
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250522_074525_iceberg_tables.rs
  src/meta/model/migration/src/m20250522_074947_iceberg_namespace_properties.rs
  src/meta/model/src/iceberg_namespace_properties.rs
  src/meta/model/src/iceberg_tables.rs
  src/meta/model/src/lib.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/storage/backup/src/meta_snapshot_v2.rs
Due: rustfmt

fix(expr): `postgres_query` shall pass parameters structually rather than via interpolated string
  src/batch/executors/src/executor/postgres_query.rs
  src/frontend/src/expr/table_function.rs
Due: rustfmt

update cargo clickhouse
  Cargo.lock
  src/connector/Cargo.toml
Due: cargo sort

feat(optimizer): eliminate fixed output simple agg (#21753)
  src/frontend/planner_test/tests/testdata/input/agg.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/cast.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/rule/empty_agg_remove_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Due: rustfmt

add ci
  ci/scripts/e2e-clickhouse-sink-test.sh
  e2e_test/sink/clickhouse_sink.slt
  integration_tests/clickhouse-sink/clickhouse_prepare.sql
  integration_tests/clickhouse-sink/create_source.sql
  src/connector/src/sink/clickhouse.rs
Due: rustfmt

temp enable backup restore test output
  src/storage/backup/integration_tests/common.sh
Due: none

comment
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
Due: none

fix subscription
  src/frontend/src/catalog/mod.rs
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/session.rs
Due: rustfmt

Revert "temp enable backup restore test output"
  src/storage/backup/integration_tests/common.sh
Due: none

fix early panic
  src/storage/hummock_sdk/src/lib.rs
Due: rustfmt

update github labels
  .github/labeler.yml
  ci/workflows/pull-request.yml
Due: none

fix(ddl): create if not exists waits for job created (#21915)
  e2e_test/slow_tests/ddl/wait_creation.slt
  proto/ddl_service.proto
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/mod.rs
  src/frontend/src/handler/create_database.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/utils.rs
  src/meta/src/error.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

chore: update github labels (#21990)
  .github/labeler.yml
  ci/workflows/pull-request.yml
Due: none

use latest await-tree release
  Cargo.lock
  Cargo.toml
Due: cargo sort

update proto
  proto/stream_plan.proto
Due: none

fix graph builder
  src/meta/src/stream/stream_graph/fragment.rs
  src/prost/src/lib.rs
Due: rustfmt

refine docs
  proto/stream_plan.proto
  src/prost/src/lib.rs
Due: rustfmt

fix usages
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/stream_fragmenter/rewrite/delta_join.rs
  src/meta/src/controller/utils.rs
  src/meta/src/model/stream.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/test_fragmenter.rs
  src/prost/src/lib.rs
  src/stream/src/executor/dispatch.rs
Due: rustfmt

fix unit tests
  src/stream/src/executor/dispatch.rs
Due: rustfmt

fix unit test and check
  src/meta/src/stream/test_fragmenter.rs
Due: rustfmt

extract a `OutputMapping` executor type
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/dispatch/output_mapping.rs
  src/stream/src/executor/integration_tests.rs
Due: rustfmt

impl type mapping variant
  src/common/src/types/mod.rs
  src/stream/src/executor/dispatch/output_mapping.rs
Due: rustfmt

refine comments
  src/stream/src/executor/dispatch/output_mapping.rs
Due: rustfmt

add comments
  src/stream/src/executor/dispatch/output_mapping.rs
Due: rustfmt

resolve column types instead of ids in meta
  src/meta/src/stream/stream_graph/fragment.rs
  src/prost/src/lib.rs
Due: rustfmt

update model for type mapping in dispatcher
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250430_114514_dispatcher_type_mapping.rs
  src/meta/model/src/fragment_relation.rs
  src/meta/model/src/lib.rs
  src/meta/src/barrier/edge_builder.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

refine docs
  src/meta/src/stream/stream_graph/fragment.rs
  src/prost/src/lib.rs
Due: rustfmt

make it nullable for mysql
  src/meta/model/migration/src/m20250430_114514_dispatcher_type_mapping.rs
  src/meta/model/src/fragment_relation.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
Due: rustfmt

add default value for output_type_mapping
  src/meta/model/migration/src/m20250430_114514_dispatcher_type_mapping.rs
Due: rustfmt

update migration name
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250514_114514_dispatcher_type_mapping.rs
Due: rustfmt

test: add tests for `ALTER COLUMN TYPE` with downstream jobs
  e2e_test/ddl/alter_table_column_type/basic.slt
  e2e_test/ddl/alter_table_column_type/with_downstream.slt
  e2e_test/ddl/alter_table_column_type/with_downstream_complex.slt
Due: none

update password for sink and regress test
  ci/scripts/e2e-sink-test.sh
  ci/scripts/regress-test.sh
Due: none

init
  src/meta/service/src/ddl_service.rs
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

feat(storage): define vector index metadata (#21885)
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/meta/src/backup_restore/backup_manager.rs
  src/meta/src/backup_restore/restore.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/storage/backup/src/lib.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/frontend_version.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/vector_index.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/local_state_store_test_utils.rs
  src/storage/hummock_test/src/state_store_tests.rs
Due: rustfmt
