Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: typos
        name: typos
        entry: typos -w
        language: system
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fix
  src/connector/src/sink/encoder/bytes.rs
Due: rustfmt

add into_arrow_with_unit
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/types/timestamptz.rs
Due: rustfmt

fix
  e2e_test/sink/kafka/create_sink.slt
Due: none

remove cdc args helper
  src/frontend/src/handler/create_table.rs
Due: rustfmt

fix risedev yml
  risedev.yml
Due: none

minor
  src/common/src/array/arrow/arrow_impl.rs
Due: rustfmt

add multiple pk test
  src/frontend/src/handler/create_table.rs
Due: rustfmt

fmt
  src/frontend/src/handler/create_table.rs
Due: rustfmt

fix: don't panic and trigger recovery when applying cancel command for created job
  src/meta/src/barrier/command.rs
  src/meta/src/manager/catalog/mod.rs
Due: rustfmt

fix rounding err
  e2e_test/streaming/aggregate/two_phase_approx_percentile_merge_stateless_agg.slt
Due: none

tmp
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_mv.rs
  src/meta/model/migration/src/m20241022_072553_label.rs
  src/meta/model/src/table.rs
  src/meta/service/src/scale_service.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/controller/mod.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/schedule.rs
  src/meta/src/stream/test_fragmenter.rs
  src/prost/src/lib.rs
  src/storage/src/compaction_catalog_manager.rs
Due: rustfmt

move `first_value` and `last_value` to separate source file
  src/expr/impl/src/aggregate/first_last_value.rs
  src/expr/impl/src/aggregate/general.rs
  src/expr/impl/src/aggregate/mod.rs
Due: rustfmt

fix empty argument `#[aggregate]` generation
  src/expr/macro/src/gen.rs
Due: rustfmt

feat(storage): support clear the shared buffer of a subset of tables
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/event_handler/uploader/spiller.rs
  src/storage/src/hummock/event_handler/uploader/task_manager.rs
  src/storage/src/hummock/event_handler/uploader/test_utils.rs
  src/storage/src/hummock/store/hummock_storage.rs
Due: rustfmt

generate with options
  src/connector/with_options_sink.yaml
Due: none

fix
  e2e_test/sink/kafka/create_sink.slt
  src/connector/src/sink/formatter/mod.rs
  src/frontend/src/handler/create_sink.rs
Due: rustfmt

feat(subscription): support cusor order (#18801)
  e2e_test/subscription/create_table_and_subscription.slt
  e2e_test/subscription/drop_table_and_subscription.slt
  e2e_test/subscription/main.py
  proto/batch_plan.proto
  src/batch/src/executor/log_row_seq_scan.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/optimizer/plan_node/batch_log_seq_scan.rs
  src/frontend/src/optimizer/plan_node/generic/log_scan.rs
  src/frontend/src/session/cursor_manager.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/table/merge_sort.rs
  src/storage/src/table/mod.rs
  src/stream/src/executor/backfill/snapshot_backfill.rs
Due: rustfmt

refactor(sink): Use s3 sink to replace the original snowflake backend implementation (#18996)
  e2e_test/s3/file_sink.py
  e2e_test/sink/append_only_sink.slt
  e2e_test/sink/license.slt
  src/connector/src/sink/catalog/mod.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/file_sink/s3.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/snowflake.rs
  src/connector/with_options_sink.yaml
  src/frontend/src/handler/create_sink.rs
Due: rustfmt

fix(metric): include table_change_log when calculating object size (#18452)
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Due: rustfmt

fix data type map
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
Due: none

fix: don't panic and trigger recovery when applying cancel command for created job (#19291)
  src/meta/src/barrier/command.rs
  src/meta/src/manager/catalog/mod.rs
Due: rustfmt

fix(iceberg): fix iceberg source position and all delete (#18932)
  e2e_test/iceberg/test_case/iceberg_source_all_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_position_delete.slt
Due: none

fix(meta): set auto_increment when restoring metadata
  src/meta/src/backup_restore/restore_impl/v2.rs
Due: rustfmt

bugfix
  src/meta/src/backup_restore/restore_impl/v2.rs
Due: rustfmt

save
  proto/batch_plan.proto
  src/batch/src/executor/iceberg_scan.rs
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_rewriter/iceberg_source_rewriter.rs
Due: rustfmt

refine type
  src/meta/service/src/scale_service.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/model/mod.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/source_manager.rs
Due: rustfmt

chore: udpate version to v2.1.0-rc.2
  Cargo.lock
  Cargo.toml
Due: cargo sort

chore: udpate version to v2.1.0-rc.2 (#19304)
  Cargo.lock
  Cargo.toml
Due: cargo sort

refactor(meta): extend streaming scheduler to be aware of vnode count
  src/meta/src/lib.rs
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

add unit tests
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

remove any singleton
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

refine docs
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

fix typo
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

fix tests
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

extract vnode count requirement from table lookup
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

use const instead of constructor to minimize changes
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

add failed tests
  src/meta/src/stream/stream_graph/schedule.rs
Due: rustfmt

assert vnode count when scan table
  src/common/src/hash/table_distribution.rs
  src/stream/src/common/table/state_table.rs
Due: rustfmt
