Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

fix: Fix the panic issue with the parallelism() call (#19849)
  src/batch/executors/src/executor/join/local_lookup_join.rs
  src/batch/src/worker_manager/worker_node_manager.rs
  src/common/src/vnode_mapping/vnode_placement.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_worker_nodes.rs
  src/frontend/src/handler/show.rs
  src/meta/service/src/cluster_limit_service.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/manager/diagnose.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/schedule.rs
  src/meta/src/stream/stream_manager.rs
  src/prost/src/lib.rs
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/tests/integration_tests/scale/schedulability.rs
Due: rustfmt

fix: use ring as default provider (#19874)
  src/utils/runtime/src/lib.rs
Due: rustfmt

rename `next_plan_node_id` and similar to `last_plan_node_id` and similar to correct the semantics
  src/frontend/src/optimizer/optimizer_context.rs
Due: rustfmt

replace `RefCell` with `Cell`
  src/frontend/src/lib.rs
  src/frontend/src/optimizer/optimizer_context.rs
Due: rustfmt

fix meta store table name, verfify normal write path is right
  src/connector/src/sink/iceberg/mod.rs
  src/meta/model/migration/src/m20241203_065636_exactly_once_iceberg_sink_metadata.rs
Due: rustfmt

restrict mutation to `last_xxx_id`s
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/optimizer/plan_node/mod.rs
Due: rustfmt

pending
  proto/stream_service.proto
  src/batch/src/worker_manager/worker_node_manager.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/backfill/snapshot_backfill.rs
  src/stream/src/executor/rearranged_chain.rs
  src/stream/src/from_proto/source_backfill.rs
  src/stream/src/from_proto/stream_scan.rs
  src/stream/src/from_proto/values.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/barrier_manager/progress.rs
  src/stream/src/task/stream_manager.rs
Due: rustfmt

Remove debug prints; Update progress calls with vnode_bitmap; Refactor vnode tracking
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/from_proto/source_backfill.rs
  src/stream/src/from_proto/stream_scan.rs
  src/stream/src/from_proto/values.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/barrier_manager/progress.rs
  src/stream/src/task/stream_manager.rs
Due: rustfmt

"Enhance vnode bitmap handling and progress tracking in backfill operations"
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/task/barrier_manager/progress.rs
Due: rustfmt

remove unrelated file
  rustc-ice-2024-12-19T09_17_45-44041.txt
Due: none

feat: add risectl scale check command for sql in version 2.0.x (#19761)
  src/ctl/src/cmd_impl/meta/check.rs
  src/ctl/src/lib.rs
  src/meta/src/controller/scale.rs
  src/meta/src/error.rs
Due: rustfmt

avoid secret checking
  src/frontend/src/handler/create_table.rs
  src/frontend/src/webhook/mod.rs
Due: rustfmt

stash
  src/frontend/src/handler/create_table.rs
Due: rustfmt

build: prune unused dependencies
  Cargo.lock
  Cargo.toml
  Makefile.toml
  src/batch/Cargo.toml
  src/common/estimate_size/Cargo.toml
  src/common/telemetry_event/Cargo.toml
  src/connector/Cargo.toml
  src/dml/Cargo.toml
  src/expr/impl/Cargo.toml
  src/jni_core/Cargo.toml
  src/meta/Cargo.toml
  src/meta/model/Cargo.toml
  src/storage/Cargo.toml
  src/storage/hummock_test/Cargo.toml
  src/stream/Cargo.toml
  src/tests/compaction_test/Cargo.toml
Due: cargo sort

.
  Cargo.lock
  src/stream/Cargo.toml
Due: cargo sort

machete
  Cargo.lock
  e2e_test/udf/wasm/Cargo.toml
  integration_tests/feature-store/server/Cargo.toml
  integration_tests/feature-store/simulator/Cargo.toml
  src/batch/executors/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/common/Cargo.toml
  src/common/heap_profiling/Cargo.toml
  src/common/telemetry_event/Cargo.toml
  src/compute/Cargo.toml
  src/connector/Cargo.toml
  src/connector/with_options/Cargo.toml
  src/ctl/Cargo.toml
  src/dml/Cargo.toml
  src/error/Cargo.toml
  src/expr/core/Cargo.toml
  src/expr/impl/Cargo.toml
  src/frontend/Cargo.toml
  src/jni_core/Cargo.toml
  src/meta/Cargo.toml
  src/meta/model/Cargo.toml
  src/meta/model/migration/Cargo.toml
  src/meta/node/Cargo.toml
  src/meta/service/Cargo.toml
  src/object_store/Cargo.toml
  src/risedevtool/Cargo.toml
  src/rpc_client/Cargo.toml
  src/storage/Cargo.toml
  src/storage/backup/Cargo.toml
  src/storage/compactor/Cargo.toml
  src/storage/hummock_sdk/Cargo.toml
  src/storage/hummock_test/Cargo.toml
  src/stream/spill_test/Cargo.toml
  src/tests/compaction_test/Cargo.toml
  src/tests/libpq_test/Cargo.toml
  src/tests/simulation/Cargo.toml
  src/tests/sqlsmith/Cargo.toml
  src/tests/state_cleaning_test/Cargo.toml
Due: cargo sort

fix
  Cargo.lock
  src/meta/model/migration/Cargo.toml
Due: cargo sort

fix
  Cargo.lock
  src/expr/impl/Cargo.toml
Due: cargo sort

fix
  Cargo.lock
  src/meta/model/Cargo.toml
Due: cargo sort

fix
  Cargo.lock
  src/batch/executors/Cargo.toml
Due: cargo sort

fix
  Cargo.lock
  Cargo.toml
  e2e_test/udf/wasm/Cargo.toml
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
  src/tests/simulation/Cargo.toml
Due: cargo sort

improve
  ci/scripts/common.sh
Due: none

/
  src/common/secret/Cargo.toml
Due: cargo sort

fix
  Cargo.lock
  Cargo.toml
  src/object_store/Cargo.toml
  src/tests/simulation/Cargo.toml
Due: cargo sort

rough impl
  src/frontend/src/handler/create_table.rs
  src/frontend/src/webhook/mod.rs
Due: rustfmt

fix(iceberg): fix commit_checkpoint_interval for iceberg table with connector (#19788)
  e2e_test/iceberg/test_case/iceberg_engine.slt
  src/frontend/src/handler/create_table.rs
Due: rustfmt

empty func
  src/frontend/src/webhook/mod.rs
Due: rustfmt

stash, todo: rebase me
  proto/stream_plan.proto
  src/common/src/lib.rs
  src/common/src/throttle.rs
  src/stream/src/common/mod.rs
  src/stream/src/common/rate_limit.rs
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/backfill/snapshot_backfill.rs
  src/stream/src/executor/backfill/utils.rs
  src/stream/src/executor/dml.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/executor/source/list_executor.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/from_proto/dml.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/from_proto/source_backfill.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
  src/stream/src/from_proto/stream_scan.rs
Due: rustfmt

refactor(optimizer): use `Cell` instead of `RefCell` for interior mutability (#19883)
  src/frontend/src/lib.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/optimizer/plan_node/mod.rs
Due: rustfmt

fix(meta): fix & enable e2e tests with MySQL meta backend (#19846)
  ci/docker-compose.yml
  ci/scripts/run-e2e-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  src/meta/model/migration/clippy.toml
  src/meta/model/migration/src/m20241125_043732_connection_params.rs
  src/meta/model/migration/src/utils.rs
Due: rustfmt

chore: update docker image to v2.1.0
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: none

PulsarSchemaCache
  src/connector/src/parser/avro/mod.rs
  src/connector/src/parser/avro/pulsar_resolver.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/schema/pulsar_schema.rs
Due: rustfmt

feat(storage): basic of non_pk_watermark state clean
  src/common/src/util/row_serde.rs
  src/frontend/src/handler/mod.rs
  src/meta/src/hummock/compaction/picker/vnode_watermark_picker.rs
  src/storage/hummock_sdk/src/compact_task.rs
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/src/compaction_catalog_manager.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/iterator/skip_watermark.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/test_utils.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/watermark_filter.rs
Due: rustfmt

fix: raise error when sink rate limit control channel closed
  src/connector/src/sink/log_store.rs
Due: rustfmt

fix: disable telemetry report with madsim
  src/meta/node/src/server.rs
Due: rustfmt

fix(frontend): check data type in column id generator (#19828)
  e2e_test/source_inline/kafka/avro/alter_table.slt
  src/common/src/catalog/column.rs
  src/common/src/catalog/mod.rs
  src/common/src/catalog/schema.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/session.rs
Due: rustfmt

add ci
  e2e_test/batch/types/timestamp_ns.slt.part
  src/expr/impl/src/scalar/to_char.rs
Due: rustfmt

pulsar_rest_base
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/config.rs
  src/frontend/src/handler/create_source.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
