Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

handle `AggKind::WrapScalar` in streaming agg
  src/expr/core/src/aggregate/def.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/stream/src/executor/aggregation/minput.rs
Due: rustfmt

add e2e test for wrap_scalar agg
  e2e_test/streaming/aggregate/wrap_scalar.slt
Due: none

add metrics
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  proto/meta.proto
  src/meta/node/src/server.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/rpc/metrics.rs
Due: rustfmt

address comments
  src/storage/src/hummock/sstable/builder.rs
Due: rustfmt

revert
  src/storage/src/hummock/sstable/builder.rs
Due: rustfmt

begin full and null
  src/frontend/src/handler/declare_cursor.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

fix(test): sleep after flaky test
  e2e_test/batch/basic/join.slt.part
  e2e_test/batch/basic/lookup_join.slt.part
Due: none

fix ut
  src/meta/src/hummock/manager/tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
Due: rustfmt

fix comm
  proto/batch_plan.proto
  src/batch/src/executor/iceberg_scan.rs
  src/batch/src/executor/mod.rs
  src/frontend/src/optimizer/plan_node/batch_iceberg_scan.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/prost/build.rs
Due: rustfmt

update workload
  dashboard/README.md
Due: none

fix
  src/connector/src/source/filesystem/opendal_source/mod.rs
Due: rustfmt

fix
  e2e_test/s3/fs_parquet_source_and_sink.py
Due: none

visualize average bp rather than spot bp
  dashboard/lib/api/metric.ts
  dashboard/pages/fragment_graph.tsx
Due: none

hide console.log
  dashboard/lib/api/metric.ts
Due: none

format
  dashboard/lib/api/metric.ts
  dashboard/pages/fragment_graph.tsx
Due: none

feat(dashboard): visualize average backpressure rather than spot backpressure (#18219)
  dashboard/README.md
  dashboard/lib/api/metric.ts
  dashboard/pages/fragment_graph.tsx
Due: none

chore: add curl into docker image
  docker/Dockerfile
Due: none

chore: add less
  docker/Dockerfile
Due: none

chore(build): add curl & less into docker image (#18223)
  docker/Dockerfile
Due: none

fix(test): sleep after flaky test
  e2e_test/batch/basic/lookup_join.slt.part
Due: none

refactor: raise error if policy is invalid
  src/connector/src/source/nats/mod.rs
Due: rustfmt

refactor: rename time-related properties to *.sec
  src/connector/src/lib.rs
  src/connector/src/source/nats/mod.rs
  src/connector/src/with_options.rs
  src/connector/with_options_source.yaml
Due: rustfmt

fix(ctl): support the configuration of read timeout for restoring meta backup (#17901)
  src/meta/src/backup_restore/restore.rs
  src/meta/src/backup_restore/restore_impl/v1.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/meta/src/backup_restore/utils.rs
Due: rustfmt

Update README.md
  README.md
Due: none

fix(ctl): support the configuration of read timeout for restoring meta backup (#18225)
  src/meta/src/backup_restore/restore.rs
  src/meta/src/backup_restore/restore_impl/v1.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/meta/src/backup_restore/utils.rs
Due: rustfmt

feat(iceberg): use native glue impl for iceberg source (#18106)
  Cargo.lock
  Cargo.toml
  src/connector/Cargo.toml
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt, cargo sort

add new route for fetching table fragments by id
  src/meta/src/dashboard/mod.rs
Due: rustfmt

add fetch for fragments by id
  dashboard/lib/api/streaming.ts
  dashboard/pages/fragment_graph.tsx
Due: none

chore: add license to file sink
  e2e_test/sink/license.slt
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/license/src/feature.rs
Due: rustfmt

use useEffect for updating fragmentGraph + introduce fragmentids
  dashboard/lib/api/streaming.ts
  dashboard/pages/fragment_graph.tsx
  src/meta/src/dashboard/mod.rs
Due: rustfmt

try fix
  ci/scripts/connector-node-integration-test.sh
Due: none

chore(test): sleep after flaky test (#18218)
  e2e_test/batch/basic/join.slt.part
  e2e_test/batch/basic/lookup_join.slt.part
Due: none

feat(source): add NATS source consumer parameters (#17615)
  src/connector/src/connector_common/common.rs
  src/connector/src/lib.rs
  src/connector/src/source/nats/mod.rs
  src/connector/src/source/nats/source/reader.rs
  src/connector/src/with_options.rs
  src/connector/with_options_source.yaml
Due: rustfmt

feat(sink): set default_sink_decouple = true for all sink (#18182)
  e2e_test/sink/cassandra_sink.slt
  e2e_test/sink/clickhouse_sink.slt
  e2e_test/sink/elasticsearch/elasticsearch_sink.slt
  src/connector/src/lib.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/decouple_checkpoint_log_sink.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/google_pubsub.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/kinesis.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/mongodb.rs
  src/connector/src/sink/mqtt.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/pulsar.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/starrocks.rs
  src/connector/with_options_sink.yaml
Due: rustfmt

fix ci
  e2e_test/subscription/main.py
  src/frontend/src/handler/show.rs
Due: rustfmt

feat: deprecate current epoch in pinned snapshot
  proto/hummock.proto
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/scheduler/snapshot.rs
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/test_utils.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_test/src/bin/replay/replay_impl.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_trace/src/collector.rs
  src/storage/hummock_trace/src/error.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/hummock_trace/src/record.rs
  src/storage/hummock_trace/src/replay/mod.rs
  src/storage/hummock_trace/src/replay/runner.rs
  src/storage/hummock_trace/src/replay/worker.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/task/barrier_manager/managed_state.rs
Due: rustfmt

fix(ci): fix java connector node ci (#18229)
  ci/scripts/connector-node-integration-test.sh
Due: none

fix(log-store): fix incorrect lag caused by invalid initial read epoch
  src/connector/src/sink/log_store.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Due: rustfmt

chore: add license to file sink (#18227)
  e2e_test/sink/license.slt
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/license/src/feature.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
