Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

demo
  risedev.yml
  src/common/src/config/mod.rs
  src/common/src/config/streaming.rs
  src/config/example.toml
  src/stream/src/common/change_buffer.rs
  src/stream/src/executor/locality_provider.rs
  src/stream/src/from_proto/locality_provider.rs
Due: rustfmt

fix
  src/stream/src/executor/locality_provider.rs
  src/stream/src/from_proto/locality_provider.rs
Due: rustfmt

feat(iceberg): support rw_iceberg_compaction_schedules (#25013)
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_iceberg_compaction_schedules.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/node/src/server.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/manager/iceberg_compaction.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

test: parse nested direct CDC offsets
  e2e_test/source_inline/cdc/mysql/cron_only/extract_cdc_inject_offsets.py
Due: none

test: rebuild direct CDC inject-offset CI from source metrics
  e2e_test/source_inline/cdc/mysql/cron_only/build_mysql_inject_offsets.py
  e2e_test/source_inline/cdc/mysql/cron_only/direct_cdc_inject_offset.slt.serial
  e2e_test/source_inline/cdc/mysql/cron_only/extract_cdc_inject_offsets.py
  e2e_test/source_inline/cdc/mysql/cron_only/wait_mysql_cdc_metrics.py
Due: none

fix(udf): support secrets in sql udf
  e2e_test/udf/tests/language_specific/sql.slt
  e2e_test/udf/tests/management/secret_dependency.slt
  src/frontend/src/binder/expr/function/mod.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/create_sql_function.rs
Due: rustfmt

refactor: complete owned hummock protobuf conversions
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/hummock_sdk/src/version.rs
Due: rustfmt

chore(deps): migrate hyper from 0.14 to 1 as much as possible (#24655)
  Cargo.lock
  Cargo.toml
  src/common/metrics/Cargo.toml
  src/common/metrics/src/monitor/connection.rs
  src/connector/Cargo.toml
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/pulsar.rs
  src/connector/src/source/pulsar/enumerator/client.rs
  src/connector/src/source/pulsar/topic.rs
  src/frontend/Cargo.toml
  src/meta/Cargo.toml
  src/object_store/Cargo.toml
  src/object_store/src/object/s3.rs
Due: rustfmt, cargo sort

limit only to actual worker
  src/meta/service/src/cluster_service.rs
Due: rustfmt

dump rw iceberg compaction schedules to diagnosis
  src/meta/node/src/server.rs
  src/meta/src/manager/diagnose.rs
Due: rustfmt

refactor(hummock): add owned from_persisted_protobuf to reduce memory amplification (#24940)
  src/meta/src/backup_restore/meta_snapshot_builder.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/storage/backup/src/meta_snapshot_v1.rs
  src/storage/backup/src/meta_snapshot_v2.rs
  src/storage/benches/bench_table_watermarks.rs
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/src/hummock/event_handler/uploader/test_utils.rs
  src/storage/src/hummock/store/version.rs
Due: rustfmt

fix
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_iceberg_compaction_schedules.rs
Due: rustfmt

feat(connector): implement SQS sink connector
  Cargo.lock
  ci/scripts/e2e-sink-test.sh
  e2e_test/.coverageignore
  e2e_test/sink/sqs_sink.slt
  e2e_test/sink/sqs_sink_localstack.slt
  risedev.yml
  src/connector/Cargo.toml
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/sqs.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/handler/create_sink.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/localstack_service.rs
  src/risedevtool/src/task/mod.rs
Due: rustfmt, cargo sort

feat: support watermark ttl for cdc table (#24992)
  .bk.yaml
  e2e_test/source_inline/cdc/mysql/mysql_watermark_ttl.slt
  src/frontend/src/handler/create_table.rs
Due: rustfmt

change to internal err
  src/meta/service/src/cluster_service.rs
Due: rustfmt

chore(deps): bump arrow used by adbc from 56 to 57
  Cargo.lock
  src/connector/src/source/adbc_snowflake/mod.rs
  src/connector/src/source/adbc_snowflake/schema.rs
  src/stream/src/executor/source/batch_source/batch_adbc_snowflake_fetch.rs
Due: rustfmt

feat(meta): reject registeration of workers in different RW_VERSION (#25019)
  src/meta/service/src/cluster_service.rs
Due: rustfmt

feat(iceberg): support rw_iceberg_compaction_schedules (#25013) (#25020)
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_iceberg_compaction_schedules.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/node/src/server.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/manager/iceberg_compaction.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

chore(deps): bump arrow used by adbc from 56 to 57 (#25034)
  Cargo.lock
  src/connector/src/source/adbc_snowflake/mod.rs
  src/connector/src/source/adbc_snowflake/schema.rs
  src/stream/src/executor/source/batch_source/batch_adbc_snowflake_fetch.rs
Due: rustfmt

feat(iceberg): dump rw iceberg compaction schedules to diagnosis (#25015)
  src/meta/node/src/server.rs
  src/meta/src/manager/diagnose.rs
Due: rustfmt

fix(stream): skip empty chunks in synced kv log store to prevent seq_id progress assertion failure
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/executor/sync_kv_log_store.rs
Due: rustfmt

refactor(meta): split source split assignment into discovery and resolution phases
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/source_manager/split_assignment.rs
  src/meta/src/stream/source_manager/worker.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

try fix
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/stream/source_manager/split_assignment.rs
Due: rustfmt

also update aws-lc-rs so that aws-lc-sys >= 0.38.0
  Cargo.lock
Due: none

e2e: fix kafka txn backfill offset assertion
  e2e_test/source_inline/kafka/kafka_txn_backfill_issue_24829.py
Due: none

fix(ci): repair madsim build and refresh options
  src/connector/src/source/kafka/source/reader.rs
  src/connector/with_options_source.yaml
Due: rustfmt

connector: hide internal with-options and tighten kafka txn test
  e2e_test/source_inline/kafka/kafka_txn_backfill_issue_24829.py
  src/connector/src/with_options_test.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt

fix(ci): keep kafka recv path outside madsim
  src/connector/src/source/kafka/source/reader.rs
Due: rustfmt

test: trim unrelated changes and refine issue_24829 slt
  e2e_test/source_inline/connection/ddl.slt
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka_shared.slt.serial
  e2e_test/source_inline/kafka/issue_24829.slt
  e2e_test/source_inline/kafka/kafka_txn_backfill_issue_24829.py
  e2e_test/source_inline/kafka/tpch.slt
  e2e_test/streaming/tpch/views/q11.slt.part
  e2e_test/streaming/tpch/views/q12.slt.part
Due: none

fix: avoid kafka backfill hang on control-record tail
  e2e_test/source_inline/kafka/issue_24829.slt
  e2e_test/source_inline/kafka/kafka_txn_backfill_issue_24829.py
  src/batch/executors/src/executor/source.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/source/base.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/reader/reader.rs
  src/stream/src/executor/source/fs_fetch_executor.rs
  src/stream/src/executor/source/reader_stream.rs
  src/stream/src/executor/source/source_backfill_executor.rs
Due: rustfmt

test(e2e): retry flaky tpch and rate-limit checks
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka_shared.slt.serial
  e2e_test/streaming/tpch/views/q11.slt.part
  e2e_test/streaming/tpch/views/q12.slt.part
Due: none

test(e2e): stabilize flaky source inline cases
  e2e_test/source_inline/connection/ddl.slt
  e2e_test/source_inline/kafka/tpch.slt
Due: none

fix(meta): commit transaction after aborting subscription creation
  src/meta/src/controller/catalog/test.rs
Due: rustfmt

test: wait for direct CDC to catch up after resume
  e2e_test/source_inline/cdc/mysql/cron_only/capture_mysql_master_status.py
  e2e_test/source_inline/cdc/mysql/cron_only/direct_cdc_inject_offset.slt.serial
  e2e_test/source_inline/cdc/mysql/cron_only/wait_mysql_cdc_metrics.py
Due: none

fix(meta): commit transaction after aborting subscription creation
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/test.rs
Due: rustfmt

feat(sql): add backup and meta snapshot admin commands
  src/frontend/src/handler/backup.rs
  src/frontend/src/handler/delete_meta_snapshot.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/backup.yaml
  src/sqlparser/tests/testdata/delete_meta_snapshot.yaml
  src/storage/backup/integration_tests/common.sh
  src/utils/pgwire/src/pg_response.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
