Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

Update src/meta/model_v2/src/source.rs
  src/meta/model_v2/src/source.rs
Due: rustfmt

fix
  e2e_test/source/basic/alter/rate_limit_table_kafka.slt
Due: none

add tests
  e2e_test/source/basic/rate_limit_source_kafka.slt
Due: none

fix
  src/meta/model_v2/migration/src/lib.rs
Due: rustfmt

update slt
  e2e_test/source/basic/alter/rate_limit_table_kafka.slt
Due: none

test(mssql-cdc): enrich test cases
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc_prepare.sql
Due: none

tmp
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc_prepare.sql
Due: none

feat(sink): support ck shared tree (#17934)
  src/connector/src/sink/clickhouse.rs
Due: rustfmt

tmp
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc.slt
Due: none

disable macro feature
  Cargo.toml
Due: cargo sort

feat(stream): add two-phase stateless simple approx percentile (#17873)
  e2e_test/streaming/aggregate/shuffle_approx_percentile.slt
  e2e_test/streaming/aggregate/two_phase_approx_percentile.slt
  proto/stream_plan.proto
  src/common/src/util/stream_graph_visitor.rs
  src/expr/impl/src/aggregate/approx_percentile.rs
  src/frontend/src/optimizer/plan_node/stream_global_approx_percentile.rs
  src/frontend/src/optimizer/plan_node/stream_local_approx_percentile.rs
  src/storage/src/mem_table.rs
  src/stream/src/executor/approx_percentile/global.rs
  src/stream/src/executor/approx_percentile/local.rs
  src/stream/src/executor/approx_percentile/mod.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/approx_percentile/global.rs
  src/stream/src/from_proto/approx_percentile/local.rs
  src/stream/src/from_proto/approx_percentile/mod.rs
  src/stream/src/from_proto/mod.rs
Due: rustfmt

rename MergeProject to RowMerge
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_row_merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/row_merge.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/row_merge.rs
Due: rustfmt

implement merge project
  src/stream/src/executor/merge_project.rs
Due: rustfmt

rename
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_merge_project.rs
  src/stream/src/executor/merge_project.rs
  src/stream/src/executor/mod.rs
Due: rustfmt

dapt
  src/frontend/planner_test/tests/testdata/output/agg.yaml
Due: none

fmt
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/stream/src/executor/merge_project.rs
  src/stream/src/from_proto/mod.rs
Due: rustfmt

finish impl
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_merge_project.rs
  src/stream/src/from_proto/merge_project.rs
  src/stream/src/from_proto/mod.rs
Due: rustfmt

add test + fix bugs
  e2e_test/streaming/aggregate/two_phase_approx_percentile_merge.slt
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
  src/frontend/src/optimizer/plan_node/stream_merge_project.rs
  src/stream/src/executor/merge_project.rs
Due: rustfmt

fix
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
Due: rustfmt

fix
  src/frontend/src/optimizer/plan_node/mod.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/mod.rs
Due: rustfmt

reduce use of node_map
  src/meta/src/barrier/rpc.rs
Due: rustfmt

refactor(topn): audit and refactor `TopNCache` and fix a potential bug (#17947)
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/top_n/top_n_state.rs
Due: rustfmt

handle multiple inputs in one epoch
  src/stream/src/executor/row_merge.rs
Due: rustfmt

better code style
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/from_proto/merge.rs
Due: rustfmt

fix(storage): fix sub_level partition count and split/merge condition
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/hummock/model/compaction_group_config.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Due: rustfmt

notify source catalog
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/catalog/mod.rs
Due: rustfmt

update test
  e2e_test/s3/fs_parquet_source.py
  e2e_test/s3/fs_source_batch.py
  e2e_test/s3/fs_source_v2.py
  integration_tests/kinesis-s3-source/create_source.sql
Due: none

minor
  src/meta/src/manager/catalog/mod.rs
Due: rustfmt

feat(storage): add metrics for split/merge
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/rpc/metrics.rs
Due: rustfmt

re sink
  src/stream/src/error.rs
  src/stream/src/executor/error.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
  src/stream/src/task/barrier_manager.rs
Due: rustfmt

fix
  src/frontend/src/handler/create_source.rs
Due: rustfmt

temp save
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/model/ext/hummock.rs
  src/storage/backup/src/lib.rs
  src/storage/backup/src/meta_snapshot_v2.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/local_version/pinned_version.rs
  src/storage/src/hummock/store/hummock_storage.rs
Due: rustfmt

fix op
  src/meta/src/manager/catalog/mod.rs
Due: rustfmt

fix(storage): reorg code
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/mod.rs
Due: rustfmt

refactor(storage): reorg code
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
Due: rustfmt

su
  src/stream/src/executor/error.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
  src/stream/src/task/barrier_manager.rs
Due: rustfmt

fix: early terminate when reach the end of inactive shard (#17957)
  src/connector/src/source/kinesis/source/reader.rs
Due: rustfmt

feat(sink): add Clickhouse Null engine (#17899)
  integration_tests/clickhouse-sink/clickhouse_prepare.sql
  integration_tests/clickhouse-sink/create_sink.sql
  integration_tests/clickhouse-sink/sink_check.py
  src/connector/src/sink/clickhouse.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
