Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

feat(session): allow unitless `statement_timeout` to mean `ms`
  Cargo.lock
  e2e_test/batch/config.slt
  src/common/src/session_config/statement_timeout.rs
Due: rustfmt

Preserve role grants for keyword-like role names
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
Due: rustfmt

feat(tracing): Phase-A fastrace bridge proof-of-concept
  Cargo.lock
  Cargo.toml
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/fastrace_bridge.rs
  src/utils/runtime/src/lib.rs
  src/utils/runtime/src/logger.rs
Due: rustfmt, cargo sort

test(tracing): add unit tests for ToggleableReporter
  src/utils/runtime/src/toggleable_reporter.rs
Due: rustfmt

feat(tracing): B1/B2 — fastrace-native TracingContext + RPC inject/extract
  Cargo.lock
  Cargo.toml
  src/batch/Cargo.toml
  src/batch/src/task/task_execution.rs
  src/common/Cargo.toml
  src/common/common_service/Cargo.toml
  src/common/common_service/src/tracing.rs
  src/common/src/util/tracing.rs
  src/common/src/util/tracing/mod.rs
  src/meta/Cargo.toml
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/trace.rs
  src/rpc_client/Cargo.toml
  src/rpc_client/src/channel.rs
  src/stream/Cargo.toml
  src/stream/src/executor/actor.rs
Due: rustfmt, cargo sort

chore: restore windows-registry 0.6.1 in Cargo.lock
  Cargo.lock
Due: none

feat(tracing): B5 — migrate common_service test to shared MemoryReporter
  src/common/common_service/src/tracing.rs
  src/common/src/util/tracing/mod.rs
  src/common/src/util/tracing/test_util.rs
Due: rustfmt

feat(tracing): B4 — add MemoryReporter test utility for fastrace assertions
  src/common/src/util/tracing/mod.rs
  src/common/src/util/tracing/test_util.rs
Due: rustfmt

feat(tracing): B3 — replace tokio-tracing OTLP layer with fastrace-native reporter
  Cargo.lock
  Cargo.toml
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/fastrace_bridge.rs
  src/utils/runtime/src/lib.rs
  src/utils/runtime/src/logger.rs
  src/utils/runtime/src/toggleable_reporter.rs
Due: rustfmt, cargo sort

fix(tracing): restore windows-registry 0.6.1 in Cargo.lock
  Cargo.lock
Due: none

chore(tracing): Post-migration cleanup — unused dep + ToggleableReporter doc clarity
  Cargo.toml
  src/utils/runtime/src/toggleable_reporter.rs
Due: rustfmt, cargo sort

Lock staged role-option rejection coverage
  docs/dev/src/design/rbac-parser-surface.md
  src/frontend/src/handler/alter_user.rs
  src/frontend/src/handler/create_user.rs
Due: rustfmt

test(tracing): assert stable fastrace span shapes
  src/common/common_service/src/tracing.rs
  src/common/src/util/tracing/test_util.rs
Due: rustfmt

test(binder): add test case to verify ambiguous columns in CTE
  e2e_test/batch/basic/cte.slt.part
Due: none

chore(typo): fix typos
  src/stream/src/executor/source/source_backfill_executor.rs
  src/tests/simulation/tests/integration_tests/compaction/mod.rs
Due: rustfmt

fix(binder): refine error message for ambiguous columns
  src/frontend/src/binder/bind_context.rs
Due: rustfmt

Establish role membership read contract
  proto/user.proto
  src/frontend/src/handler/create_user.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/user/user_catalog.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20260422_000001_role_membership.rs
  src/meta/model/migration/src/m20260422_000002_user_inherit_flag.rs
  src/meta/model/src/lib.rs
  src/meta/model/src/prelude.rs
  src/meta/model/src/user.rs
  src/meta/model/src/user_role_membership.rs
  src/meta/service/src/user_service.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/meta/src/controller/user.rs
  src/rpc_client/src/meta_client.rs
  src/storage/backup/src/meta_snapshot_v2.rs
Due: rustfmt

chore(tracing): fix license header year
  src/common/src/util/tracing/mod.rs
Due: rustfmt

fix(meta): sync inflight stream node rate_limit on Throttle command
  AGENTS.md
  e2e_test/source_inline/kafka/alter/source_rate_limit_inflight_sync.slt.serial
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/info.rs
Due: rustfmt

fix(frontend): support date-only strings in timestamptz bind parameters
  src/frontend/src/binder/bind_param.rs
  src/frontend/src/handler/extended_handle.rs
  src/frontend/src/session.rs
Due: rustfmt

feat: add hasura metadata compatibility stub
  src/frontend/planner_test/tests/testdata/input/hasura_compatibility.yaml
  src/frontend/planner_test/tests/testdata/output/hasura_compatibility.yaml
  src/frontend/src/binder/expr/function/builtin_scalar.rs
Due: rustfmt

fix: make pg_relation_is_updatable relkind-aware
  proto/expr.proto
  src/frontend/planner_test/tests/testdata/input/hasura_compatibility.yaml
  src/frontend/planner_test/tests/testdata/output/hasura_compatibility.yaml
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/function_impl/mod.rs
  src/frontend/src/expr/function_impl/pg_relation_is_updatable.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

test: add e2e coverage for pg_relation_is_updatable
  e2e_test/batch/catalog/pg_relation_is_updatable.slt
  src/frontend/src/expr/function_impl/pg_relation_is_updatable.rs
Due: rustfmt

test: clean up pg_relation_is_updatable e2e coverage
  e2e_test/batch/catalog/pg_relation_is_updatable.slt
Due: none

feat: add ca option for schema registry (#17826)
  src/connector/src/error.rs
  src/connector/src/schema/mod.rs
  src/connector/src/schema/schema_registry/client.rs
  src/frontend/src/handler/create_source.rs
Due: rustfmt

feat: expose hasura-required catalog flags
  src/frontend/planner_test/tests/testdata/input/hasura_compatibility.yaml
  src/frontend/planner_test/tests/testdata/output/hasura_compatibility.yaml
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_attribute.rs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_type.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_columns.rs
Due: rustfmt

fix: treat generated columns as having defaults
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_columns.rs
Due: rustfmt

fix: align hasura license years with hawkeye
  e2e_test/batch/catalog/pg_relation_is_updatable.slt
  src/frontend/src/expr/function_impl/pg_relation_is_updatable.rs
Due: rustfmt

feat: expose hasura column requiredness flags
  e2e_test/batch/catalog/pg_attribute_hasura.slt
  e2e_test/batch/catalog/pg_type_category.slt
  src/frontend/planner_test/tests/testdata/input/hasura_compatibility.yaml
  src/frontend/planner_test/tests/testdata/output/hasura_compatibility.yaml
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_attribute.rs
Due: rustfmt

test: cover plain nullable hasura attribute case
  e2e_test/batch/catalog/pg_attribute_hasura.slt
Due: none

set max_decoding_message_size for compute node
  src/compute/src/server.rs
Due: rustfmt

Revert "fix(common): [BREAK] `Hash for jsonbb::StringRef` shall be same as `&str` (#25345) (#25359)"
  Cargo.lock
  Cargo.toml
  src/common/src/types/jsonb.rs
Due: rustfmt, cargo sort

fix ci failures for streaming parallelism
  ci/scripts/e2e-source-kafka-test.sh
  ci/scripts/e2e-source-test.sh
  e2e_test/ddl/streaming_parallelism/source.slt
  src/tests/simulation/tests/integration_tests/log_store/utils.rs
  src/tests/simulation/tests/integration_tests/scale/auto_parallelism.rs
Due: rustfmt

feat: expose foreign keys in pg constraint
  src/frontend/planner_test/tests/testdata/input/hasura_compatibility.yaml
  src/frontend/planner_test/tests/testdata/output/hasura_compatibility.yaml
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_constraint.rs
  src/frontend/src/handler/create_table.rs
Due: rustfmt

feat: add ca option for schema registry (#17826) (#25568)
  src/connector/src/error.rs
  src/connector/src/schema/mod.rs
  src/connector/src/schema/schema_registry/client.rs
  src/frontend/src/handler/create_source.rs
Due: rustfmt

test: cover hasura foreign key metadata runtime
  e2e_test/batch/catalog/pg_constraint_hasura_fk.slt
  src/frontend/src/handler/create_table.rs
Due: rustfmt

test: cover default foreign key action metadata
  e2e_test/batch/catalog/pg_constraint_hasura_fk.slt
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_constraint.rs
Due: rustfmt

feat(stream): support iceberg V3 sink with PK index on executor
  Cargo.lock
  Cargo.toml
  src/common/src/bitmap.rs
  src/connector/src/sink/iceberg/create_table.rs
  src/connector/src/sink/iceberg/prometheus/monitored_general_writer.rs
  src/connector/src/sink/iceberg/prometheus/monitored_partition_writer.rs
  src/connector/src/sink/iceberg/writer.rs
  src/connector/src/sink/mod.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/stream_iceberg_with_pk_index_dv_merger.rs
  src/frontend/src/optimizer/plan_node/stream_iceberg_with_pk_index_writer.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/stream/Cargo.toml
  src/stream/src/executor/iceberg_with_pk_index/dv_handler_impl.rs
  src/stream/src/executor/iceberg_with_pk_index/dv_merger.rs
  src/stream/src/executor/iceberg_with_pk_index/mod.rs
  src/stream/src/executor/iceberg_with_pk_index/writer.rs
  src/stream/src/executor/iceberg_with_pk_index/writer_impl.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/iceberg_with_pk_index/dv_merger.rs
  src/stream/src/from_proto/iceberg_with_pk_index/writer.rs
  src/stream/src/from_proto/sink.rs
Due: rustfmt, cargo sort

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
