Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.23.1
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

cherry-pick fix(udf): bump arrow-udf-wasm to 0.4.1 to fix rust udf compile target (#20255)
  Cargo.lock
Due: none

fix
  src/batch/executors/src/executor/join/hash_join.rs
Due: rustfmt

feat(stream agg): add agg state cache miss ratio metric (#18900)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/aggregation/agg_state.rs
  src/stream/src/executor/aggregation/minput.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/simple_agg.rs
Due: rustfmt

fix(metric): better agg state cache miss ratio metric (#19012)
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/simple_agg.rs
Due: rustfmt

fix: patch compactor meta cache config
  src/common/src/config.rs
  src/storage/compactor/src/server.rs
  src/storage/src/opts.rs
Due: rustfmt

refactor: replace hardcoded buffer size with config
  src/common/src/config.rs
  src/compute/src/rpc/service/exchange_service.rs
  src/config/example.toml
  src/frontend/src/scheduler/distributed/stage.rs
Due: rustfmt

fix(sink): fix bq sink (#18892)
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
Due: rustfmt

fmt
  src/batch/executors/src/executor/join/hash_join.rs
Due: rustfmt

fix cargo lock
  Cargo.lock
Due: none

feat(compaction): Limit the size of the new overlapping level (#19277)
  src/ctl/src/lib.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/transaction.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
Due: rustfmt

refactor(storage): use Arc<SStableInfo> in HummockVersion (#19535)
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tombstone_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/vnode_watermark_picker.rs
  src/meta/src/hummock/compaction/selector/mod.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/versioning.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/event_handler/uploader/test_utils.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/test_utils.rs
Due: rustfmt

Simplify by removing `streaming_parallelisms` conversion; clean up imports in `fragment.rs`.
  src/meta/src/controller/fragment.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

add to grafana
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Due: none

fix(batch): fix batch anti join (#20264)
  src/batch/executors/src/executor/join/hash_join.rs
Due: rustfmt

rename `identifier` in function model to `name_in_runtime`
  proto/catalog.proto
  proto/expr.proto
  src/expr/core/src/aggregate/user_defined.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/table_function/user_defined.rs
  src/frontend/src/catalog/function_catalog.rs
  src/frontend/src/expr/user_defined_function.rs
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/handler/create_sql_function.rs
  src/meta/model/migration/src/m20250121_085800_change_wasm_udf_identifier.rs
  src/meta/model/src/function.rs
  src/meta/src/controller/mod.rs
  src/prost/src/lib.rs
Due: rustfmt

rename UdfProtoVersion to UdfExprVersion
  proto/expr.proto
  src/expr/core/src/aggregate/user_defined.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/table_function/user_defined.rs
  src/frontend/src/catalog/function_catalog.rs
  src/frontend/src/expr/user_defined_function.rs
  src/prost/src/lib.rs
Due: rustfmt

use unchecked for drop column
  src/frontend/src/handler/alter_table_column.rs
Due: rustfmt

fix ci
  e2e_test/batch/types/timestamp_ns.slt.part
  proto/expr.proto
  src/common/src/types/datetime.rs
  src/expr/impl/src/aggregate/general.rs
  src/expr/impl/src/scalar/cast.rs
  src/expr/impl/src/scalar/cmp.rs
  src/expr/impl/src/scalar/extract.rs
  src/expr/impl/src/scalar/make_time.rs
  src/expr/impl/src/scalar/to_char.rs
  src/expr/impl/src/table_function/generate_series.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

enhance visibility by upgrading log levels and adding new `info` logs for key events in recovery.rs and fragment.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/fragment.rs
Due: rustfmt

Update logging, refactor method names, and align interfaces across multiple modules.
  src/batch/src/worker_manager/worker_node_manager.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/stream/scale.rs
  src/tests/simulation/tests/integration_tests/scale/background_ddl.rs
  src/tests/simulation/tests/integration_tests/scale/mod.rs
Due: rustfmt

Refactor: clean logs & remove debug prints in Worker Node, Streaming Controller, Integration Tests
  src/batch/src/worker_manager/worker_node_manager.rs
  src/meta/src/controller/streaming_job.rs
  src/tests/simulation/tests/integration_tests/scale/background_ddl.rs
  src/tests/simulation/tests/integration_tests/scale/mod.rs
Due: rustfmt

feat(compaction): support trivial-move multi ssts
  proto/hummock.proto
  src/common/src/config.rs
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/overlap_strategy.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/rpc/metrics.rs
  src/storage/hummock_sdk/src/compact_task.rs
Due: rustfmt

fix: skip source backfill when start_offset > high watermark
  e2e_test/source_inline/kafka/shared_source.slt.serial
  src/connector/src/source/kafka/source/reader.rs
Due: rustfmt

feat(storage): support more write-stop condition
  proto/hummock.proto
  src/common/src/config.rs
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/manager/versioning.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/version.rs
Due: rustfmt

address comments
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/meta/src/hummock/level_handler.rs
Due: rustfmt

feat(storage): support more write-stop condition
  proto/hummock.proto
  src/common/src/config.rs
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/manager/versioning.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/version.rs
Due: rustfmt

refactor(risedev): parallel service startup
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task.rs
  src/risedevtool/src/util.rs
Due: rustfmt

fix psql command
  src/risedevtool/src/bin/risedev-dev.rs
Due: rustfmt

adapt for latest arrow-udf-wasm
  src/expr/impl/src/udf/wasm.rs
Due: rustfmt

update `arrow-udf-wasm`
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix check
  src/meta/src/hummock/compaction/picker/vnode_watermark_picker.rs
Due: rustfmt

fix check
  proto/hummock.proto
  src/meta/src/hummock/manager/compaction/mod.rs
Due: rustfmt

fips
  Cargo.lock
  src/utils/workspace-config/Cargo.toml
Due: cargo sort

try fips in ci
  ci/scripts/build.sh
Due: none

fix
  src/cmd/Cargo.toml
  src/cmd_all/Cargo.toml
Due: cargo sort
