Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

sleep
  e2e_test/source_inline/kafka/shared_source.slt
Due: none

feat: support arrow map -> rw map (#18375)
  src/common/src/array/arrow/arrow_impl.rs
Due: rustfmt

feat: introduce cluster limit
  proto/meta.proto
  src/common/src/config.rs
  src/common/src/session_config/mod.rs
  src/common/src/util/cluster_limit.rs
  src/common/src/util/mod.rs
  src/config/example.toml
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_worker_actor_count.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/license/src/manager.rs
  src/meta/node/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/service/src/cluster_limit_service.rs
  src/meta/service/src/lib.rs
  src/meta/src/error.rs
  src/meta/src/manager/env.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

cleanup
  src/common/src/config.rs
  src/common/src/util/cluster_limit.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/util.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

support create table with primary key
  proto/catalog.proto
  src/common/src/catalog/mod.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/meta/model_v2/src/table.rs
  src/meta/src/controller/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/storage/src/filter_key_extractor.rs
  src/tests/compaction_test/src/delete_range_runner.rs
  src/tests/sqlsmith/src/lib.rs
Due: rustfmt

chore: update Cargo version
  Cargo.lock
  Cargo.toml
Due: cargo sort

feat(streaming): add `must_output_per_barrier` flag for stream simple agg (#18374)
  proto/stream_plan.proto
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/append_only.yaml
  src/frontend/planner_test/tests/testdata/output/bushy_join.yaml
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/planner_test/tests/testdata/output/dynamic_filter.yaml
  src/frontend/planner_test/tests/testdata/output/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/output/limit.yaml
  src/frontend/planner_test/tests/testdata/output/mv_column_name.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
  src/frontend/src/optimizer/plan_node/stream_simple_agg.rs
  src/frontend/src/optimizer/plan_node/stream_stateless_simple_agg.rs
  src/stream/src/executor/agg_common.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/simple_agg.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/simple_agg.rs
Due: rustfmt

address CI issues
  e2e_test/batch/catalog/pg_settings.slt.part
  proto/meta.proto
  src/common/src/config.rs
  src/common/src/session_config/mod.rs
  src/config/example.toml
Due: rustfmt

chore: update Cargo version (#18385)
  Cargo.lock
  Cargo.toml
Due: cargo sort

refactor: use high watermark to finish backfill faster (#18342)
  e2e_test/source_inline/kafka/shared_source.slt
  src/connector/src/source/base.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/source/reader.rs
  src/connector/src/source/reader/reader.rs
  src/stream/src/executor/source/source_backfill_executor.rs
Due: rustfmt

fmt
  src/frontend/src/scheduler/distributed/query.rs
Due: rustfmt

fix(ci): fix bad indent of `cassandra sink test` (#18150)
  ci/workflows/main-cron.yml
Due: none

feat(risedev): attempt to kill existing session when launching `risedev-dev` (#18370)
  src/risedevtool/src/task/configure_tmux_service.rs
Due: rustfmt

feat: track progress for SourceBackfill
  Cargo.lock
  src/meta/Cargo.toml
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/model/stream.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/from_proto/source_backfill.rs
  src/stream/src/task/barrier_manager/managed_state.rs
Due: rustfmt, cargo sort

update for scaling
  src/meta/src/barrier/progress.rs
  src/meta/src/stream/scale.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_backfill_state_table.rs
Due: rustfmt

fix(streaming): correctly retrieve initial split assignments from combined mutation for sink-into-table (#18356)
  e2e_test/source_inline/kafka/issue_18308.slt
  src/stream/src/executor/mod.rs
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt

polish notice messages
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
Due: rustfmt

polish limit message
  src/common/src/util/cluster_limit.rs
Due: rustfmt

fix(ci): fix java connector node ci (#18229)
  ci/scripts/connector-node-integration-test.sh
Due: none

fix error log
  src/meta/service/src/cluster_limit_service.rs
Due: rustfmt

remove unused codes
  src/meta/src/error.rs
Due: rustfmt

reproduce the missing-comma bug in unit test
  src/sqlparser/tests/testdata/create.yaml
Due: none

fix display comma logic
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

refactor: make telemetry event a separate crate (#18192)
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/src/telemetry/mod.rs
  src/common/src/telemetry/report.rs
  src/common/telemetry_event/Cargo.toml
  src/common/telemetry_event/src/lib.rs
  src/common/telemetry_event/src/util.rs
  src/frontend/src/telemetry.rs
  src/meta/src/telemetry.rs
  src/storage/compactor/src/telemetry.rs
  src/stream/src/telemetry.rs
Due: rustfmt, cargo sort

fix
  Cargo.lock
Due: none

feat(telemetry): add telemetry data point when checking license (#18371)
  Cargo.lock
  src/license/Cargo.toml
  src/license/src/feature.rs
  src/license/src/lib.rs
Due: rustfmt, cargo sort

fix(sqlparser): display create items with comma properly (#18393)
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

feat(risedev): support providing env var in yaml config
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/task/configure_tmux_service.rs
Due: rustfmt

fix
  e2e_test/s3/fs_parquet_source_and_sink.py
Due: none

feat(expr): support `jsonb_populate_map` (#18378)
  e2e_test/batch/types/map.slt.part
  proto/expr.proto
  src/common/src/types/jsonb.rs
  src/expr/impl/src/scalar/jsonb_record.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

support drop table
  Cargo.lock
  Cargo.toml
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/catalog/JniCatalogWrapper.java
  src/connector/src/sink/iceberg/jni_catalog.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/iceberg/storage_catalog.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/drop_table.rs
Due: rustfmt, cargo sort

fix
  src/connector/src/lib.rs
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

fix tests
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

increase sleep time
  e2e_test/sink/iceberg_sink.slt
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
