Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

tomls
  Cargo.toml
  src/common/Cargo.toml
  src/connector/Cargo.toml
Due: cargo sort

checks
  src/connector/src/sink/deltalake/imp.rs
  src/connector/src/sink/encoder/json.rs
  src/jni_core/src/lib.rs
Due: rustfmt

lock
  Cargo.lock
Due: none

add a `memory-isolated-for-test` for unit tests
  src/common/src/system_param/mod.rs
  src/object_store/src/object/mod.rs
Due: rustfmt

fix(iceberg): fix delete file lost wake (#21848)
  Cargo.lock
  Cargo.toml
  e2e_test/iceberg/test_utils/test_result.py
Due: cargo sort

fix
  Cargo.lock
  Cargo.toml
  proto/iceberg_compaction.proto
  src/compute/src/server.rs
  src/meta/node/src/server.rs
  src/meta/src/hummock/manager/compaction/compaction_event_loop.rs
  src/meta/src/manager/iceberg_compaction.rs
  src/storage/Cargo.toml
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/compactor/mod.rs
Due: rustfmt, cargo sort

fix join reorder for temporal join
  src/frontend/planner_test/tests/testdata/input/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/src/optimizer/plan_node/logical_multi_join.rs
Due: rustfmt

fix(ci): fix container name conflict (#21850)
  ci/docker-compose.yml
  integration_tests/clickhouse-sink/create_sink.sql
Due: none

do not print backtrace on ci & cache current deployment
  src/common/src/util/deployment.rs
  src/utils/pgwire/src/pg_protocol.rs
Due: rustfmt

cleanup
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_55.rs
  src/common/src/array/arrow/arrow_deltalake.rs
  src/common/src/array/arrow/mod.rs
  src/connector/Cargo.toml
Due: rustfmt, cargo sort

fix: change the source name associated with the table for the rename command (#21793)
  e2e_test/ddl/alter_rename.slt
  src/meta/src/controller/utils.rs
Due: rustfmt

fix: fix disk cache wrong result on hash collision
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix(foyer): fix wrong disk cache result on hash collision
  Cargo.lock
  Cargo.toml
Due: cargo sort

feat(kafka): add dynamic log level configuration for Kafka connections
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/source/kafka/enumerator.rs
  src/connector/src/source/kafka/source/reader.rs
Due: rustfmt

fix unit test
  src/cmd_all/src/single_node.rs
Due: rustfmt

fix(foyer): fix wrong disk cache result on hash collision (#21864)
  Cargo.lock
  Cargo.toml
Due: cargo sort

feat(foyer): cherry-pick disk cache optimization related PRs (#21844)
  Cargo.lock
  Cargo.toml
  src/batch/executors/src/executor/insert.rs
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Due: rustfmt, cargo sort

refactor
  src/meta/src/manager/iceberg_compaction.rs
Due: rustfmt

typo
  src/meta/src/manager/iceberg_compaction.rs
Due: rustfmt

fix(ci): CI_STEPS regex shall not require leading space
  ci/workflows/pull-request.yml
Due: none

refactor: unify `hummock+memory` with `hummock+memory-shared` & fix compactor service in playground (#21847)
  src/cmd_all/src/single_node.rs
  src/common/src/system_param/mod.rs
  src/compute/src/server.rs
  src/object_store/src/object/mem.rs
  src/object_store/src/object/mod.rs
  src/risedevtool/src/task/meta_node_service.rs
  src/risedevtool/src/task/utils.rs
  src/storage/backup/src/storage.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/src/hummock/iterator/test_utils.rs
Due: rustfmt

address comments
  src/meta/src/manager/iceberg_compaction.rs
Due: rustfmt

chore(deps): Bump deltalake from 0.24 to 0.26 (#21860)
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_55.rs
  src/common/src/array/arrow/arrow_deltalake.rs
  src/common/src/array/arrow/mod.rs
  src/connector/Cargo.toml
  src/connector/src/sink/deltalake/imp.rs
  src/connector/src/sink/encoder/json.rs
  src/jni_core/src/lib.rs
Due: rustfmt, cargo sort

fix(ci): CI_STEPS regex shall not require leading space  (#21867)
  ci/workflows/pull-request.yml
Due: none

feat(kafka): add dynamic log level configuration for Kafka connections
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kafka/source/reader.rs
Due: rustfmt

fix
  src/connector/src/connector_common/mod.rs
  src/connector/src/sink/kafka.rs
Due: rustfmt

feat(frontend): support batch scan on datagen source
  e2e_test/source_inline/kafka/datagen.slt
  src/connector/src/macros.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Due: rustfmt

feat(sqlsmith): add weight control option
  src/tests/sqlsmith/src/bin/main.rs
Due: rustfmt

fix(sqlsmith): split weight config to config.rs
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/config.rs
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/test_runners/fuzzing.rs
Due: rustfmt

feat(compaction): introduce iceberg compaction pull strategy (#21824)
  src/meta/src/hummock/manager/compaction/compaction_event_loop.rs
  src/meta/src/manager/iceberg_compaction.rs
  src/prost/build.rs
Due: rustfmt

feat(storage): define vector index metadata
  proto/hummock.proto
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/frontend_version.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/vector_index.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/local_state_store_test_utils.rs
  src/storage/hummock_test/src/state_store_tests.rs
Due: rustfmt

feat(sqlsmith): add config without conflict
  src/tests/simulation/src/main.rs
  src/tests/sqlsmith/src/bin/main.rs
  src/tests/sqlsmith/src/config.rs
  src/tests/sqlsmith/src/lib.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/test_runners/diff.rs
  src/tests/sqlsmith/src/test_runners/fuzzing.rs
  src/tests/sqlsmith/src/test_runners/utils.rs
Due: rustfmt

feat(sqlsmith): add basic prob to sql_gen
  src/tests/sqlsmith/src/config.rs
  src/tests/sqlsmith/src/sql_gen/mod.rs
  src/tests/sqlsmith/src/sql_gen/query.rs
Due: rustfmt

in memory struct
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/transaction.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/vector_index.rs
  src/storage/hummock_sdk/src/version.rs
Due: rustfmt

impl
  proto/hummock.proto
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_test/src/hummock_vector_tests.rs
  src/storage/hummock_test/src/lib.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/vector_writer.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/hummock/vector/block.rs
  src/storage/src/hummock/vector/mod.rs
  src/storage/src/lib.rs
  src/storage/src/vector/mod.rs
Due: rustfmt

test
  src/connector/src/source/kafka/source/mux_reader.rs
Due: rustfmt

stash
  src/connector/src/source/kafka/client_context.rs
Due: rustfmt

feat(sqlsmith): enable frontend test
  src/tests/sqlsmith/tests/frontend/mod.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
