Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fix(risedev): skip unnecessary pgpass lookup
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/task/lakekeeper_service.rs
Due: rustfmt

refactor(meta): support two-phase barrier command notifiers (#26612)
  src/meta/service/src/ddl_service.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/independent_job/batch_refresh_job/mod.rs
  src/meta/src/barrier/checkpoint/independent_job/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/independent_job/creating_job/status.rs
  src/meta/src/barrier/checkpoint/independent_job/mod.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/notifier.rs
  src/meta/src/barrier/partial_graph.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
Due: rustfmt

refactor(storage): decouple table change logs from hummock versions (#26561)
  proto/hummock.proto
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/manager/versioning.rs
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/frontend_version.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/local_version/pinned_version.rs
Due: rustfmt

reset and add slt
  e2e_test/sink/sink_into_table/multiple_sinks_same_target.slt
Due: none

fix(meta): support subscription migration on MySQL (#26592)
  src/meta/model/migration/src/m20260705_000000_subscription_dependent_object_fk.rs
Due: rustfmt

fix(cdc): preserve default metadata when normalizing schema types
  src/meta/service/src/ddl_service.rs
Due: rustfmt

fix(metrics): retain cumulative guarded metrics for owner lifetime (#26408)
  src/batch/executors/src/executor/iceberg_scan.rs
  src/common/metrics/src/guarded_metrics.rs
  src/connector/src/source/iceberg/metrics.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/iceberg/planner.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/meta/src/stream/refresh_manager.rs
  src/stream/src/executor/source/batch_source/batch_iceberg_fetch.rs
  src/stream/src/executor/source/iceberg_fetch_executor.rs
Due: rustfmt

fix(risedev): skip unnecessary pgpass lookup (#26630)
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/task/lakekeeper_service.rs
Due: rustfmt

fix(test): avoid logging Vault AppRole secret IDs (#26621)
  e2e_test/source_inline/vault/vault_approle_setup.py
Due: none

fix(meta): tolerate exactly-once metadata cleanup during sink drop
  src/meta/src/manager/exactly_once_util.rs
Due: rustfmt

fix(source): nack uncommitted Pub/Sub messages on recovery
  src/connector/Cargo.toml
  src/connector/src/source/mod.rs
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt, cargo sort

fix(object_store): replace static bucket-name validator with live list check
  src/object_store/src/object/mod.rs
  src/object_store/src/object/s3.rs
Due: rustfmt

fix fmt
  src/meta/src/controller/catalog/test.rs
Due: rustfmt

feat(connector): ADLS Gen2 service-principal auth for Iceberg sink (#26124)
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/test.rs
  src/connector/with_options_connection.yaml
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt

fix(iceberg): bump dependencies for operator caching
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
Due: cargo sort

fix(storage): report incomplete iceberg compaction tasks as failed
  src/storage/src/hummock/compactor/iceberg_compaction/report.rs
  src/storage/src/hummock/compactor/mod.rs
Due: rustfmt

fix(storage): replan stale iceberg compaction tasks
  src/storage/src/hummock/compactor/iceberg_compaction/iceberg_compactor_runner.rs
Due: rustfmt

cherry-pick feat(connector): ADLS Gen2 service-principal auth for Iceberg sink (#26124) to release-3.0 (#26633)
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/test.rs
  src/connector/with_options_connection.yaml
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt

fix(meta): make object cleanup and migration restartable
  src/meta/model/migration/src/m20260805_000000_object_belong_to_oid.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/iceberg_compaction/mod.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

perf(meta): summarize time travel version epochs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20260811_000000_hummock_time_travel_version_epoch_summary.rs
  src/meta/model/src/hummock_time_travel_version_epoch_summary.rs
  src/meta/model/src/lib.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/storage/backup/tests/metadata_models_v2.rs
Due: rustfmt

fix(sink): throttle coordinator recovery retries
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/exactly_once_util.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/stream/src/executor/sink.rs
Due: rustfmt

fix(sink): throttle coordinator recovery retries
  src/meta/src/manager/exactly_once_util.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/stream/src/executor/sink.rs
Due: rustfmt

bump proto-src-confluent to include confluent/type/variant.proto from 8.3.0
  Cargo.lock
Due: none

fix(iceberg): bump dependencies for operator caching (#26642)
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
Due: cargo sort

feat(connector): support Confluent's known types beyond protobuf WKT (#25766)
  Cargo.lock
  src/connector/codec/Cargo.toml
  src/connector/codec/src/common/protobuf/compiler.rs
  src/connector/codec/tests/integration_tests/protobuf.rs
Due: rustfmt, cargo sort

refactor(sink): address review feedback
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/meta/src/manager/sink_coordination/manager.rs
  src/stream/src/executor/sink.rs
Due: rustfmt

feat(iceberg): support auto compaction type
  proto/iceberg_compaction.proto
  src/connector/src/sink/iceberg/config.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/iceberg/test.rs
  src/connector/with_options_sink.yaml
  src/meta/src/manager/iceberg_compaction/schedule.rs
  src/meta/src/manager/iceberg_compaction/schedule/tests.rs
  src/storage/src/hummock/compactor/iceberg_compaction/iceberg_compactor_runner.rs
Due: rustfmt

chore(deps): preserve unrelated lockfile versions
  Cargo.lock
Due: none

feat(meta): model catalog object belong-to relations (#26491)
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine_set_schema.slt
  src/frontend/src/handler/mod.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20260805_000000_object_belong_to_oid.rs
  src/meta/model/src/object.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/controller/catalog/util.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/iceberg_compaction/mod.rs
  src/meta/src/manager/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

ci: extend deltalake sink test timeout
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Due: none

fix(catalog): reject altering internal table schema
  e2e_test/ddl/alter_set_schema.slt
  src/frontend/src/handler/alter_set_schema.rs
  src/frontend/src/handler/alter_utils.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/catalog/test.rs
Due: rustfmt

refactor(sink): acquire coordinator init permit locally
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
Due: rustfmt

fix(sink): throttle coordinator recovery retries (#26641)
  src/meta/src/manager/exactly_once_util.rs
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
  src/stream/src/executor/sink.rs
Due: rustfmt

feat(connector): allow protobuf schema registry reference non-default names
  src/connector/src/schema/avro.rs
  src/connector/src/schema/loader.rs
  src/connector/src/schema/protobuf.rs
  src/connector/src/schema/schema_registry/client.rs
  src/connector/src/schema/schema_registry/util.rs
Due: rustfmt

feat(connector): support INCLUDE header on NATS source
  e2e_test/source_inline/nats/operation.py
  e2e_test/source_inline/nats/test.slt.serial
  src/connector/src/parser/additional_columns.rs
  src/connector/src/parser/utils.rs
  src/connector/src/source/nats/source/message.rs
Due: rustfmt

fix(stream): skip CDC snapshot reader when backfill disabled
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/state.rs
Due: rustfmt

ci: test fork approval gate
  approve-run-bk-test.md
Due: none

doc: explain Buildkite approval for fork PRs
  docs/dev/src/ci.md
  docs/dev/src/contributing.md
Due: none

fix comment
  src/connector/src/schema/schema_registry/client.rs
Due: rustfmt
