Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

refactor: prevent duplicate vnode watermark commits to Hummock
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_state_table.rs
Due: rustfmt

revert ut
  src/stream/src/common/table/test_state_table.rs
Due: rustfmt

fix: fix sstable serde to avoid losing bloom filter (#24025)
  src/common/src/config/storage.rs
  src/config/docs.md
  src/config/example.toml
  src/ctl/src/common/hummock_service.rs
  src/java_binding/src/hummock_iterator.rs
  src/storage/benches/bench_compactor.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable/mod.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Due: rustfmt

fix: pin flamegraph install in docker image
  docker/Dockerfile
Due: none

doc(metrics): add Prometheus metrics reference and inventory
  ci/scripts/check-metrics-inventory.sh
  docs/metrics/extract.py
  docs/metrics/inventory.tsv
  docs/metrics/reference.md
Due: none

fix(iceberg): skip empty chunks in fetch executor to avoid unwrap panic
  src/stream/src/executor/source/iceberg_fetch_executor.rs
Due: rustfmt

chore: ignore .project-memory/ directory
  .gitignore
Due: none

Preserve role-name parsing before role-option revoke
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
Due: rustfmt

chore: remove accidentally committed .project-memory files
  .project-memory/store.db
  .project-memory/store.db-wal
Due: none

test(iceberg): add unit test for empty-chunk skip guard in fetch executor
  src/stream/src/executor/source/iceberg_fetch_executor.rs
Due: rustfmt

sqlparser: pilot winnow-rule integration for expr_cast
  Cargo.lock
  src/sqlparser/Cargo.toml
  src/sqlparser/src/parser_v2/expr.rs
Due: rustfmt, cargo sort

refactor(sqlsmith): add reset_and_replay_setup helper for explicit pre-EXPLAIN setup
  src/tests/sqlsmith/src/sqlreduce/checker.rs
Due: rustfmt

fix(sqlsmith): explicitly reconstruct setup state before running EXPLAIN
  src/tests/sqlsmith/src/sqlreduce/reducer.rs
Due: rustfmt

fix(sqlsmith): add reset_and_replay_setup() to Checker — fixes build
  src/tests/sqlsmith/src/sqlreduce/checker.rs
Due: rustfmt

feat(compaction): support compaction for all watermark type
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/meta/src/hummock/compaction/picker/vnode_watermark_picker.rs
  src/meta/src/hummock/compaction/selector/vnode_watermark_selector.rs
  src/storage/hummock_sdk/src/compact_task.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/compaction_catalog_manager.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/test_utils.rs
Due: rustfmt

fix unit tests
  src/meta/src/hummock/compaction/picker/vnode_watermark_picker.rs
  src/storage/benches/bench_multi_builder.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/multi_builder.rs
  src/storage/src/hummock/test_utils.rs
Due: rustfmt

rename
  proto/hummock.proto
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/meta/src/hummock/compaction/picker/vnode_watermark_picker.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/store/version.rs
Due: rustfmt

fix unit tests
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_sdk/src/sstable_info.rs
Due: rustfmt

fix unit tests
  src/storage/benches/bench_compactor.rs
Due: rustfmt

refactor sit
  src/tests/simulation/tests/integration_tests/compaction/mod.rs
Due: rustfmt

use opaque dispatching future
  src/stream/src/executor/dispatch/dispatch_sync_log_store.rs
Due: rustfmt

add sit
  src/tests/simulation/tests/integration_tests/compaction/mod.rs
Due: rustfmt

fix unit tests
  src/meta/src/hummock/compaction/picker/vnode_watermark_picker.rs
  src/tests/simulation/tests/integration_tests/compaction/mod.rs
Due: rustfmt

fix: trailing spaces, doc build unused_braces, and generated file
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/optimizer/property/monotonicity.rs
  src/object_store/src/object/mod.rs
  src/prost/build.rs
  src/prost/src/lib.rs
  src/utils/pgwire/src/lib.rs
Due: rustfmt

chore(release): bump version to v2.8.3
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-lakekeeper.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: cargo sort

chore(release): bump version to v2.8.3 (#25540)
  Cargo.lock
  Cargo.toml
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-lakekeeper.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: cargo sort

fix(sqlsmith): fix fuzz test cleanup to handle server-side MV creation after client timeout (#25379)
  src/tests/sqlsmith/src/test_runners/diff.rs
  src/tests/sqlsmith/src/test_runners/fuzzing.rs
  src/tests/sqlsmith/src/test_runners/utils.rs
  src/tests/sqlsmith/tests/testdata/drop_alltypes.sql
Due: rustfmt

fix(sqlsmith): fix fuzz test cleanup to handle server-side MV creation after client timeout (#25379) (#25541)
  src/tests/sqlsmith/src/test_runners/diff.rs
  src/tests/sqlsmith/src/test_runners/fuzzing.rs
  src/tests/sqlsmith/src/test_runners/utils.rs
  src/tests/sqlsmith/tests/testdata/drop_alltypes.sql
Due: rustfmt

fix(iceberg): always yield ChunksWithState for empty tasks to prevent stuck state
  src/stream/src/executor/source/iceberg_fetch_executor.rs
Due: rustfmt

test: target stale sst manual compaction
  e2e_test/backwards-compat-tests/scripts/utils.sh
Due: none

refactor(stream): tolerate upstream inconsistency and TTL skew across operators
  src/stream/src/executor/aggregate/agg_group.rs
  src/stream/src/executor/aggregate/distinct.rs
  src/stream/src/executor/approx_percentile/global_state.rs
  src/stream/src/executor/backfill/utils.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/join/hash_join.rs
  src/stream/src/executor/join/row.rs
  src/stream/src/executor/over_window/over_partition.rs
  src/stream/src/executor/project/project_scalar.rs
  src/stream/src/executor/project/project_set.rs
  src/stream/src/executor/row_merge.rs
  src/stream/src/executor/temporal_join.rs
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/lib.rs
Due: rustfmt

refactor(stream): saturate hash join degree decrement at zero
  src/stream/src/executor/join/hash_join.rs
  src/stream/src/executor/join/row.rs
Due: rustfmt

refactor(stream): pair hash join state and degree rows by pk
  src/stream/src/executor/join/hash_join.rs
Due: rustfmt

feat(stream): session-controlled retention on internal state tables
  Makefile.toml
  e2e_test/ttl/inconsistent_internal_retention.slt
  src/common/src/session_config/mod.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/frontend/src/optimizer/plan_node/stream_asof_join.rs
  src/frontend/src/optimizer/plan_node/stream_dedup.rs
  src/frontend/src/optimizer/plan_node/stream_dynamic_filter.rs
  src/frontend/src/optimizer/plan_node/stream_global_approx_percentile.rs
  src/frontend/src/optimizer/plan_node/stream_group_topn.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/frontend/src/optimizer/plan_node/stream_materialized_exprs.rs
  src/frontend/src/optimizer/plan_node/stream_over_window.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/frontend/src/optimizer/plan_node/stream_topn.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/storage/src/hummock/utils.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/lib.rs
  src/stream/src/task/actor_manager.rs
Due: rustfmt

fix(stream): restore committed watermark by natural value
  src/stream/src/common/table/state_table.rs
Due: rustfmt

test(stream): add test for descending watermark restoration
  src/stream/src/common/table/test_state_table.rs
Due: rustfmt

chore(typo): fix typos
  src/stream/src/executor/source/source_backfill_executor.rs
  src/tests/simulation/tests/integration_tests/compaction/mod.rs
Due: rustfmt
