Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

feat(parser): implement memory pooling for CSV and JSON parsers to optimize performance
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/benches/memory_pooling_bench.rs
  src/connector/src/parser/csv_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/memory_pool.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
Due: rustfmt, cargo sort

support specifying redshift sink schema
  src/connector/src/sink/jdbc_jni_client.rs
  src/connector/src/sink/redshift.rs
Due: rustfmt

feat(sqlsmith): unit test with some fix
  src/tests/sqlsmith/src/sqlreduce/passes/pullup.rs
  src/tests/sqlsmith/src/sqlreduce/passes/remove.rs
  src/tests/sqlsmith/src/sqlreduce/passes/replace.rs
Due: rustfmt

fix(sqlsmith): cfg
  src/tests/sqlsmith/src/sqlreduce/passes/pullup.rs
  src/tests/sqlsmith/src/sqlreduce/passes/remove.rs
  src/tests/sqlsmith/src/sqlreduce/passes/replace.rs
Due: rustfmt

fix(sqlsmith): typo and fmt
  src/tests/sqlsmith/src/reducer.rs
  src/tests/sqlsmith/src/sqlreduce/checker.rs
  src/tests/sqlsmith/src/sqlreduce/passes/remove.rs
  src/tests/sqlsmith/src/sqlreduce/reducer.rs
Due: rustfmt

feat(iceberg): introduce small file compaction (#22527)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/iceberg_compaction_metrics.py
  grafana/risingwave-dev-dashboard.json
  proto/iceberg_compaction.proto
  src/common/src/config/storage.rs
  src/config/docs.md
  src/config/example.toml
  src/frontend/src/handler/create_table.rs
  src/meta/src/manager/iceberg_compaction.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/iceberg_compactor_runner.rs
  src/storage/src/opts.rs
Due: rustfmt

save work
  e2e_test/source_inline/cdc/postgres/auto_schema_change.slt
  e2e_test/source_legacy/cdc_inline/auto_schema_change_pg.slt
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

fix(sqlsmith): add missing license
  src/tests/sqlsmith/src/sqlreduce/checker.rs
Due: rustfmt

change bit(>1) unsupported
  e2e_test/source_inline/cdc/postgres/postgres_schema_check.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
Due: none

directly resolve udf body as subquery expr
  src/frontend/src/binder/mod.rs
  src/frontend/src/handler/create_sql_function.rs
Due: rustfmt

Update src/connector/src/sink/webhook.rs
  src/connector/src/sink/webhook.rs
Due: rustfmt

fix(sqlsmith): add test for reducer
  src/tests/sqlsmith/src/sqlreduce/reducer.rs
Due: rustfmt

.
  e2e_test/source_inline/cdc/postgres/postgres_schema_check.slt
Due: none

leave some type in later pr
  e2e_test/source_inline/cdc/postgres/auto_schema_change.slt
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

remove some log
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
Due: none

.
  e2e_test/source_inline/cdc/postgres/auto_schema_change.slt
Due: none

fix test
  e2e_test/source_inline/cdc/postgres/auto_schema_change.slt
Due: none

fix(webhook): pass clippy check
  src/connector/src/sink/webhook.rs
Due: rustfmt

feat: implement CDC table source functionality
  e2e_test/source_inline/cdc/mysql/mysql_alter_drop_connector.serial
  e2e_test/source_inline/cdc/mysql/mysql_create_drop.slt.serial
  e2e_test/source_inline/cdc/mysql/source_from_source.slt.serial
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  proto/catalog.proto
  proto/stream_plan.proto
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/generic/cdc_scan.rs
  src/frontend/src/optimizer/plan_node/logical_cdc_scan.rs
  src/frontend/src/planner/relation.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/utils/with_options.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250528_234105_cdc_etl_source.rs
  src/meta/model/src/lib.rs
  src/meta/model/src/source.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/mod.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/prost/build.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Due: rustfmt

ready for review
  e2e_test/source_inline/cdc/postgres/auto_schema_change.slt
Due: none

fix(sqlsmith): remove reducer test for now
  src/tests/sqlsmith/src/sqlreduce/reducer.rs
Due: rustfmt

fix
  src/common/src/catalog/mod.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/logical_cdc_scan.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/stream/stream_graph/fragment.rs
Due: rustfmt

chore(vault): add documentation links and increase retry count for token retrieval
  ci/scripts/setup-vault.sh
  src/common/secret/src/vault_client.rs
Due: rustfmt

fix(mssql-cdc): support binary as primary key data type (#22192)
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc.slt.serial
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_prepare.sql
  src/connector/src/parser/sql_server.rs
Due: rustfmt

fix doc
  src/frontend/src/optimizer/plan_node/expr_rewritable.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/plan_tree_node.rs
  src/frontend/src/optimizer/property/mod.rs
  src/frontend/src/planner/mod.rs
Due: rustfmt

stash
  src/common/secret/src/vault_client.rs
Due: rustfmt

feat: enhance ETL parser functionality
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

resolve comments
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/postgresql/connection/pgoutput/PgOutputMessageDecoder.java
  src/connector/src/parser/unified/debezium.rs
Due: rustfmt

run_command_no_wait
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
Due: rustfmt

feat: refreshable table, source part
  proto/stream_service.proto
  src/common/src/array/stream_chunk.rs
  src/common/src/array/stream_chunk_builder.rs
  src/connector/src/source/base.rs
  src/connector/src/source/batch.rs
  src/connector/src/source/mod.rs
  src/connector/src/with_options.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/generic/source.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/node/src/server.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/manager.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/meta/src/barrier/utils.rs
  src/meta/src/barrier/worker.rs
  src/stream/src/executor/source/executor_core.rs
  src/stream/src/executor/source/reader_stream.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/executor/wrapper/schema_check.rs
  src/stream/src/executor/wrapper/trace.rs
  src/stream/src/from_proto/source/trad_source.rs
  src/stream/src/task/barrier_manager/mod.rs
  src/stream/src/task/barrier_worker/managed_state.rs
  src/stream/src/task/barrier_worker/mod.rs
Due: rustfmt

add test
  e2e_test/source_inline/cdc/postgres/auto_schema_change.slt
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/postgresql/connection/pgoutput/PgOutputMessageDecoder.java
  src/connector/src/parser/unified/debezium.rs
Due: rustfmt

disallow create source with refreshable source
  src/frontend/src/handler/create_source.rs
Due: rustfmt

minor
  e2e_test/source_inline/cdc/postgres/auto_schema_change.slt
Due: none

chore(deps): add `url` crate and update Vault client to use `Url` for constructing endpoints
  Cargo.lock
  src/common/secret/Cargo.toml
  src/common/secret/src/vault_client.rs
  src/frontend/src/handler/alter_secret.rs
Due: rustfmt, cargo sort

fix(webhook): correct dylint error
  src/connector/src/sink/webhook.rs
Due: rustfmt

reject null in `VectorVal::from_inner`
  src/common/src/array/vector_array.rs
Due: rustfmt
