Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

fix fmt
  src/frontend/src/handler/create_source.rs
Due: rustfmt

refactor(iceberg): simplify scan_task_to_chunk by using the sdk to handle delete (#24089)
  src/connector/src/source/iceberg/mod.rs
Due: rustfmt

feat: Make VALIDATE clause optional when creating webhook connection
  src/frontend/src/handler/create_table.rs
Due: rustfmt

change iceberg partition field id from 0 to 1000
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

fix(meta): avoid global recovery on single database reload failure
  ci/scripts/run-backfill-tests.sh
  e2e_test/backfill/snapshot_backfill/create_nexmark_table.slt
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/worker.rs
Due: rustfmt

feat(meta): trigger barrier immediately on force checkpoint
  src/meta/src/barrier/schedule.rs
Due: rustfmt

reset timer
  src/meta/src/barrier/schedule.rs
Due: rustfmt

feat(adbc): update ADBC Snowflake properties for JWT authentication
  src/connector/src/source/adbc_snowflake/mod.rs
  src/connector/with_options_source.yaml
Due: rustfmt

fix
  src/connector/with_options_source.yaml
Due: none

feat(adbc): update ADBC Snowflake properties to support optional password
  src/connector/src/source/adbc_snowflake/mod.rs
Due: rustfmt

feat(metrics): add CDC engine failure metrics and update dashboard for monitoring
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/streaming_cdc.py
  grafana/risingwave-dev-dashboard.json
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngineRunner.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/metrics/ConnectorNodeMetrics.java
Due: none

feat(meta): trigger barrier immediately on force checkpoint (#24141)
  src/meta/src/barrier/schedule.rs
Due: rustfmt

fix: fix hummock metrics buckct
  src/storage/src/monitor/compactor_metrics.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
Due: rustfmt

fix
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/metrics/ConnectorNodeMetrics.java
Due: none

Update java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/metrics/ConnectorNodeMetrics.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/metrics/ConnectorNodeMetrics.java
Due: none

fix(frontend): reject defining watermarks on upsert source (#24113)
  e2e_test/ddl/table/watermark.slt.part
  e2e_test/source_inline/kafka/upsert_source.slt
  src/frontend/src/handler/create_source.rs
  src/frontend/src/optimizer/plan_node/stream_watermark_filter.rs
Due: rustfmt

fix(meta): avoid global recovery on single database reload failure (#24140)
  ci/scripts/run-backfill-tests.sh
  e2e_test/backfill/snapshot_backfill/create_nexmark_table.slt
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/worker.rs
Due: rustfmt

feat(iceberg): do not commit large statistical to avoid persistent metadata becoming too large (#24054)
  Cargo.lock
  Cargo.toml
  src/connector/src/sink/iceberg/mod.rs
  src/storage/Cargo.toml
Due: rustfmt, cargo sort

bump deltalake to 0.29
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_55.rs
  src/common/src/array/arrow/arrow_deltalake.rs
  src/common/src/array/arrow/mod.rs
  src/connector/src/sink/deltalake.rs
Due: rustfmt, cargo sort

fmt
  Cargo.toml
Due: cargo sort

minor
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt

fix unit test
  src/connector/src/sink/deltalake.rs
Due: rustfmt

feat(adbc): integrate ADBC Snowflake driver download script and update Dockerfile
  docker/Dockerfile
  src/risedevtool/adbc.toml
  src/risedevtool/scripts/download_adbc_snowflake_driver.sh
Due: none

bump
  Cargo.lock
  Cargo.toml
Due: cargo sort

chore:  update package version in Cargo.toml (#24147)
  Cargo.lock
  Cargo.toml
Due: cargo sort

format
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/metrics/ConnectorNodeMetrics.java
Due: none

add e2e test for datafusion error
  e2e_test/iceberg/test_case/pure_slt/iceberg_datafusion_engine.slt
  src/frontend/src/datafusion/error.rs
Due: rustfmt

refactor(streaming): remove watermark cache in state table
  src/stream/benches/bench_state_table.rs
  src/stream/src/common/table/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/state_table_cache.rs
  src/stream/src/common/table/test_state_table.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/from_proto/dynamic_filter.rs
Due: rustfmt

feat(deltalake): bump deltalake to 0.29 and remove arrow 55 (#24145)
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_55.rs
  src/common/src/array/arrow/arrow_deltalake.rs
  src/common/src/array/arrow/mod.rs
  src/connector/src/sink/deltalake.rs
Due: rustfmt, cargo sort

save
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/optimizer/rule/source_to_iceberg_scan_rule.rs
Due: rustfmt

fix(meta): forbid temporal join with snapshot backfill
  ci/scripts/run-backfill-tests.sh
  e2e_test/backfill/snapshot_backfill/failed_tests.slt
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/convert.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
Due: rustfmt

fix and move more to apply_command
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/state.rs
Due: rustfmt

feat(meta): replace force next barrier checkpoint with proactive issue command
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/rpc.rs
Due: rustfmt

only merge snapshot backfill on checkpoint
  src/meta/src/barrier/checkpoint/state.rs
Due: rustfmt

fix iceberg_source_streaming flaky test
  e2e_test/iceberg/test_case/iceberg_source_streaming.slt
Due: none

save
  src/frontend/src/optimizer/plan_node/logical_iceberg_scan.rs
  src/frontend/src/optimizer/rule/batch/batch_iceberg_count_star.rs
  src/frontend/src/optimizer/rule/batch/mod.rs
  src/frontend/src/optimizer/rule/iceberg_count_star_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Due: rustfmt

move e2e test to planner test
  e2e_test/backfill/snapshot_backfill/failed_tests.slt
  src/frontend/planner_test/tests/testdata/input/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
Due: none

minor
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

refactor: improve error handling for datafusion engine (#24097)
  e2e_test/iceberg/test_case/pure_slt/iceberg_datafusion_engine.slt
  src/frontend/Cargo.toml
  src/frontend/src/datafusion/error.rs
  src/frontend/src/datafusion/function.rs
  src/frontend/src/datafusion/iceberg_executor.rs
  src/frontend/src/datafusion/iceberg_table_provider.rs
  src/frontend/src/datafusion/mod.rs
Due: rustfmt, cargo sort

fix(iceberg): fix iceberg_source_streaming flaky test (#24150)
  e2e_test/iceberg/test_case/iceberg_source_streaming.slt
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
