Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

Use Grafana UID variable
  .github/workflows/grafana-generate-prod.yml
  grafana/README.md
Due: none

feat(ci): generate grafana artifacts for cloud (#24545)
  .github/workflows/grafana-generate-prod.yml
  grafana/README.md
Due: none

refactor(test): add tests for watermark based state cleaning (#24549)
  src/tests/simulation/tests/integration_tests/compaction/mod.rs
Due: rustfmt

fix udf test
  src/common/src/array/arrow/arrow_impl.rs
Due: rustfmt

feat(storage): refine imm memory limiter management
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/hummock_write.py
  grafana/risingwave-dev-dashboard.json
  src/storage/benches/bench_imm_compact.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/event_handler/uploader/spiller.rs
  src/storage/src/hummock/event_handler/uploader/test_utils.rs
  src/storage/src/hummock/shared_buffer/shared_buffer_batch.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
Due: rustfmt

feat: support ALTER FUNCTION OWNER TO statement
  proto/ddl_service.proto
  src/frontend/src/handler/alter_owner.rs
  src/frontend/src/handler/mod.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/rpc/ddl_controller.rs
  src/prost/src/id.rs
Due: rustfmt

feat: support alter function owner to syntax
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

test: add test case for alter function owner to statement
  e2e_test/ddl/alter_owner.slt
Due: none

feat(snapshot-backfill): support alter rate limit for snapshot backfill (#24302)
  e2e_test/backfill/snapshot_backfill/failed_tests.slt
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/barrier_control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/creating_job/status.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/backfill/snapshot_backfill/vnode_stream.rs
Due: rustfmt

test(cdc): wait for and verify data before schema change
  e2e_test/source_legacy/cdc_inline/auto_schema_change_mysql.slt
Due: none

refactor with PostCollectCommand
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/barrier_control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/meta/src/barrier/utils.rs
Due: rustfmt

fix(meta): handle post collect snapshot backfill job on collecting first job barrier
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/barrier_control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
Due: rustfmt

test(cdc): wait for and verify data before schema change (#24562)
  e2e_test/source_legacy/cdc_inline/auto_schema_change_mysql.slt
Due: none

feat(storage): enable watermark read for all WatermarkSerdeType
  src/storage/benches/bench_table_watermarks.rs
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/stream/src/common/table/state_table.rs
Due: rustfmt

fix comment
  src/storage/src/hummock/store/local_hummock_storage.rs
Due: rustfmt

fix comments
  src/stream/src/common/table/state_table.rs
Due: rustfmt

feat(storage): enable watermark read for all WatermarkSerdeType (#24563)
  src/storage/benches/bench_table_watermarks.rs
  src/storage/hummock_sdk/src/table_watermark.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/stream/src/common/table/state_table.rs
Due: rustfmt

perf(optimizer): rewrite array_agg(unnest) to array_transform
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/rule/apply_array_agg_unnest_to_array_transform_rule.rs
  src/frontend/src/optimizer/rule/mod.rs
Due: rustfmt

feat(storage): vnode user key range pruning for point get
  docker/dashboards/risingwave-dev-dashboard.json
  e2e_test/backfill/snapshot_backfill/failed_tests.slt
  grafana/dashboard/dev/hummock_read.py
  grafana/risingwave-dev-dashboard.json
  proto/hummock.proto
  src/common/src/config/meta.rs
  src/config/ci.toml
  src/config/docs.md
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/cmd_impl/hummock/sst_dump.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/prost/build.rs
  src/storage/benches/bench_compactor.rs
  src/storage/hummock_sdk/src/compact_task.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/storage/src/monitor/local_metrics.rs
Due: rustfmt

thin-production by default
  ci/scripts/release.sh
Due: none

only upload dwp if found
  ci/scripts/release.sh
Due: none

apply to all config section
  src/common/src/config/batch.rs
  src/common/src/config/frontend.rs
  src/common/src/config/meta.rs
  src/common/src/config/mod.rs
  src/common/src/config/server.rs
  src/common/src/config/storage.rs
  src/common/src/config/streaming.rs
  src/common/src/config/system.rs
  src/common/src/config/udf.rs
  src/config/docs.md
  src/config/example.toml
Due: rustfmt

introduce none_as_empty_string
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/config/mod.rs
  src/common/src/config/none_as_empty_string.rs
  src/common/src/config/storage.rs
  src/config/docs.md
  src/config/example.toml
Due: rustfmt, cargo sort

also show developer config in config docs
  src/common/src/config/batch.rs
  src/common/src/config/meta.rs
  src/common/src/config/streaming.rs
  src/config/docs.md
Due: rustfmt

add tests
  src/common/src/config/merge.rs
  src/common/src/config/none_as_empty_string.rs
Due: rustfmt

fix cargo sort
  src/common/Cargo.toml
Due: cargo sort

update example config
  src/config/docs.md
  src/config/example.toml
Due: none

update license header
  src/common/src/config/none_as_empty_string.rs
Due: rustfmt

feat(meta): enable MonitorService profiling
  Cargo.lock
  src/ctl/src/cmd_impl/profile.rs
  src/meta/Cargo.toml
  src/meta/node/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/service/Cargo.toml
  src/meta/service/src/monitor_service.rs
  src/meta/src/dashboard/mod.rs
  src/rpc_client/src/monitor_client.rs
Due: rustfmt, cargo sort

Delete develop/sql_bench/benchmarks/aligned-join.yaml
  develop/sql_bench/benchmarks/aligned-join.yaml
Due: none

feat: add aligned mode for dispatcher
  develop/sql_bench/benchmarks/sink.yaml
  develop/sql_bench/benchmarks/sink_uj.yaml
  develop/sql_bench/benchmarks/slow-sink.yaml
  develop/sql_bench/benchmarks/two-sinks.yaml
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/dispatch_sync_log_store.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/executor/synced_log_store_shared.rs
  src/stream/src/task/actor_manager.rs
Due: rustfmt

fix: fix the code to pass check lint
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/dispatch_sync_log_store.rs
  src/stream/src/task/actor_manager.rs
Due: rustfmt

fix: fix doc error
  src/stream/src/executor/dispatch_sync_log_store.rs
Due: rustfmt

feat(dispatch): decouple the read and write of dispatcher for synclogstore
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/dispatch_sync_log_store.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/executor/synced_log_store_shared.rs
  src/stream/src/task/actor_manager.rs
Due: rustfmt

fix: add header for sync log store dispatcher
  src/stream/src/executor/dispatch_sync_log_store.rs
Due: rustfmt

Update src/stream/src/executor/dispatch_sync_log_store.rs
  src/stream/src/executor/dispatch_sync_log_store.rs
Due: rustfmt

update: add benchmark
  develop/sql_bench/benchmarks/slow-sink.yaml
Due: none

fix: now it could dispatch the first barrier
  develop/sql_bench/benchmarks/sink.yaml
  develop/sql_bench/benchmarks/two-sinks.yaml
  src/stream/src/executor/dispatch_sync_log_store.rs
Due: rustfmt

fix: modify the dispatcher
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/dispatch_sync_log_store.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sync_kv_log_store.rs
  src/stream/src/task/actor_manager.rs
Due: rustfmt

Delete develop/sql_bench/benchmarks/sink.yaml
  develop/sql_bench/benchmarks/sink.yaml
Due: none
