Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

use cow in path of json
  src/connector/benches/json_vs_plain_parser.rs
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/codec/src/decoder/mod.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/unified/kv_event.rs
  src/connector/src/parser/unified/mod.rs
Due: rustfmt

rename to borrowed
  src/common/src/types/cow.rs
  src/connector/src/parser/unified/json.rs
Due: rustfmt

move cow
  src/common/src/types/cow.rs
  src/common/src/types/mod.rs
  src/connector/src/parser/mod.rs
Due: rustfmt

update docs
  src/connector/codec/src/decoder/mod.rs
Due: rustfmt

fix typo & refine doc
  src/common/src/types/cow.rs
  src/connector/codec/src/decoder/mod.rs
Due: rustfmt

increase nexmark parse batch size and revert cargo.toml
  Cargo.toml
  src/connector/benches/nexmark_integration.rs
Due: rustfmt, cargo sort

accept cow
  src/connector/src/parser/mod.rs
  src/connector/src/parser/unified/json.rs
Due: rustfmt

perf(connector): support zero-copy `access` during parsing (#17153)
  src/common/src/types/cow.rs
  src/common/src/types/mod.rs
  src/connector/benches/json_vs_plain_parser.rs
  src/connector/benches/nexmark_integration.rs
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/codec/src/decoder/mod.rs
  src/connector/src/parser/common.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/unified/kv_event.rs
  src/connector/src/parser/unified/mod.rs
Due: rustfmt

use more cow
  Cargo.lock
  src/common/src/types/cow.rs
  src/connector/benches/json_vs_plain_parser.rs
  src/connector/codec/Cargo.toml
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/codec/src/decoder/mod.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/bytes_parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/bytes.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/unified/kv_event.rs
  src/connector/src/parser/unified/maxwell.rs
  src/connector/src/parser/unified/mod.rs
  src/connector/src/parser/unified/protobuf.rs
  src/connector/src/parser/upsert_parser.rs
Due: rustfmt, cargo sort

fix log level
  src/stream/src/executor/backfill/arrangement_backfill.rs
Due: rustfmt

refactor(connector): migrate to zero-copy access implementation (#17165)
  Cargo.lock
  src/common/src/types/cow.rs
  src/connector/benches/json_vs_plain_parser.rs
  src/connector/codec/Cargo.toml
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/codec/src/decoder/mod.rs
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/bytes_parser.rs
  src/connector/src/parser/debezium/avro_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/bytes.rs
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/parser/unified/kv_event.rs
  src/connector/src/parser/unified/maxwell.rs
  src/connector/src/parser/unified/mod.rs
  src/connector/src/parser/unified/protobuf.rs
  src/connector/src/parser/upsert_parser.rs
Due: rustfmt, cargo sort

pref(connector): avoid allocation for metadata column when parsing
  src/connector/src/parser/mod.rs
  src/connector/src/parser/util.rs
  src/connector/src/source/cdc/source/message.rs
  src/connector/src/source/kafka/source/message.rs
Due: rustfmt

impl avro borrow
  src/common/src/types/cow.rs
  src/connector/codec/src/decoder/avro/mod.rs
  src/connector/src/parser/unified/json.rs
Due: rustfmt

impl protobuf borrow
  src/common/src/types/jsonb.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/unified/protobuf.rs
Due: rustfmt

apply adaptive rate limit immediately from first chunk
  src/stream/src/executor/backfill/arrangement_backfill.rs
Due: rustfmt

minor
  e2e_test/source/cdc_inline/auto_schema_map_mysql.slt
Due: none

fix
  e2e_test/source/pulsar/astra-streaming.py
Due: none

fix
  src/connector/src/schema/schema_registry/client.rs
Due: rustfmt

feat(cdc): map upstream table schema automatically for cdc table (#16986)
  Cargo.lock
  Cargo.toml
  e2e_test/source/cdc_inline/auto_schema_map_mysql.slt
  e2e_test/source/cdc_inline/auto_schema_map_pg.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  src/compute/tests/cdc_tests.rs
  src/connector/Cargo.toml
  src/connector/src/error.rs
  src/connector/src/macros.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/frontend/src/handler/create_table.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
Due: rustfmt, cargo sort

fix
  src/stream/src/executor/backfill/arrangement_backfill.rs
Due: rustfmt

fmt
  src/connector/src/parser/unified/json.rs
Due: rustfmt

revert cargo toml change
  Cargo.toml
Due: cargo sort

test(connector): add benchmark for parsing combined (struct-field) nexmark events
  Cargo.toml
  src/connector/benches/nexmark_integration.rs
Due: rustfmt, cargo sort

refactor backwards-compat-tests into e2e
  Makefile.toml
  ci/scripts/backwards-compat-test.sh
  e2e_test/backwards-compat-tests/README.md
  e2e_test/backwards-compat-tests/scripts/run_local.sh
  e2e_test/backwards-compat-tests/scripts/utils.sh
  e2e_test/backwards-compat-tests/slt/basic/seed.slt
  e2e_test/backwards-compat-tests/slt/basic/validate_original.slt
  e2e_test/backwards-compat-tests/slt/basic/validate_restart.slt
  e2e_test/backwards-compat-tests/slt/kafka/invalid_options/seed.slt
  e2e_test/backwards-compat-tests/slt/kafka/invalid_options/validate_original.slt
  e2e_test/backwards-compat-tests/slt/kafka/invalid_options/validate_restart.slt
  e2e_test/backwards-compat-tests/slt/kafka/seed.slt
  e2e_test/backwards-compat-tests/slt/kafka/upsert/deprecate_upsert.slt
  e2e_test/backwards-compat-tests/slt/kafka/upsert/include_key_as.slt
  e2e_test/backwards-compat-tests/slt/kafka/validate_original.slt
  e2e_test/backwards-compat-tests/slt/kafka/validate_restart.slt
  e2e_test/backwards-compat-tests/slt/nexmark-backwards-compat/delete.slt.part
  e2e_test/backwards-compat-tests/slt/nexmark-backwards-compat/insert.slt
  e2e_test/backwards-compat-tests/slt/nexmark-backwards-compat/seed.slt
  e2e_test/backwards-compat-tests/slt/nexmark-backwards-compat/validate_original.slt
  e2e_test/backwards-compat-tests/slt/nexmark-backwards-compat/validate_restart.slt
  e2e_test/backwards-compat-tests/slt/tpch-backwards-compat/delete.slt.part
  e2e_test/backwards-compat-tests/slt/tpch-backwards-compat/insert.slt.part
  e2e_test/backwards-compat-tests/slt/tpch-backwards-compat/seed.slt
  e2e_test/backwards-compat-tests/slt/tpch-backwards-compat/validate_original.slt
  e2e_test/backwards-compat-tests/slt/tpch-backwards-compat/validate_restart.slt
Due: none

comment
  src/connector/src/parser/unified/json.rs
Due: rustfmt

refactor e2e slow tests
  ci/scripts/slow-e2e-test.sh
  e2e_test/slow_tests/backfill/rate_limit/slow-udf.slt
  e2e_test/slow_tests/udf/always_retry_python.slt
Due: none

refactor(jni): remove jni_core's dependency on storage
  Cargo.lock
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  java/java-binding/src/main/java/com/risingwave/java/binding/HummockIterator.java
  src/java_binding/Cargo.toml
  src/java_binding/src/hummock_iterator.rs
  src/java_binding/src/lib.rs
  src/jni_core/Cargo.toml
  src/jni_core/src/jvm_runtime.rs
  src/jni_core/src/lib.rs
  src/jni_core/src/macros.rs
Due: rustfmt, cargo sort

fix test
  src/jni_core/src/lib.rs
  src/jni_core/src/macros.rs
Due: rustfmt

perf(source): reserve capacity when building struct fields (#17170)
  src/connector/src/parser/unified/json.rs
Due: rustfmt

add experiments for chunk_size=1
  src/stream/src/executor/backfill/arrangement_backfill.rs
Due: rustfmt

always disable at-least-one-snapshot read
  src/stream/src/executor/backfill/arrangement_backfill.rs
Due: rustfmt

update to opendal main
  src/object_store/Cargo.toml
Due: cargo sort

upgrade to 0.47
  Cargo.lock
  src/object_store/Cargo.toml
Due: cargo sort

refactor(meta): maintain fragment actor and table info in barrier manager
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/utils.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/mod.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller_v2.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
Due: rustfmt

fix: pass ut
  src/config/example.toml
  src/storage/src/opts.rs
Due: rustfmt

feat(expr): add `jsonb_set` function (#17124)
  proto/expr.proto
  src/expr/impl/src/scalar/jsonb_set.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/binder/expr/function.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/tests/regress/Cargo.toml
  src/tests/regress/data/sql/jsonb.sql
Due: rustfmt, cargo sort

split large table
  src/common/src/config.rs
  src/meta/node/src/lib.rs
  src/meta/src/hummock/compaction/picker/compaction_task_validator.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/manager/env.rs
Due: rustfmt

add e2e test workflow
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Due: none

resolve conflict
  src/connector/src/sink/sqlserver.rs
Due: rustfmt

use gradient proportion to calculate reserved memory
  src/compute/src/memory/config.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
