Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

fix debezium json parse usigned int and unsigned tinyint
  src/connector/src/parser/unified/json.rs
Due: rustfmt

Refactor imports; update render_jobs in scale.rs to use Default::default() instead of None
  src/meta/model/src/source_splits.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/scale.rs
  src/tests/simulation/tests/integration_tests/scale/sink.rs
Due: rustfmt

Remove commented-out actor_splits field
  src/meta/src/model/stream.rs
Due: rustfmt

fix
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/unified/json.rs
Due: rustfmt

revert change in debezium json
  src/connector/src/parser/unified/json.rs
Due: rustfmt

fmt
  src/connector/src/parser/unified/json.rs
Due: rustfmt

Remove pb_actor_splits HashMap and related logic from CatalogController fragment actor processing method
  src/meta/src/controller/fragment.rs
Due: rustfmt

remove explain batch
  e2e_test/vector_search/vector_nearest.slt
  src/frontend/src/handler/explain.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/optimizer_context.rs
  src/frontend/src/session/cursor_manager.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
Due: rustfmt

parse ident
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
Due: rustfmt

no parse EOF or semicolon
  src/sqlparser/src/parser.rs
Due: rustfmt

feat: unify the notification for background and foreground job
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

refactor cancel progress
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

Remove unused build_actor_split_impls import; replace unused variable with _ in compose_fragment call
  src/meta/src/controller/fragment.rs
Due: rustfmt

remove unneccessary json index in mysql auto schema change test
  e2e_test/source_legacy/cdc_inline/auto_schema_change_mysql.slt
Due: none

fix: update dropped table cache for pre-applied commands in recovery
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

fix notification
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/catalog/mod.rs
Due: rustfmt

fix slt test
  .github/workflows/copilot-setup-steps.yml
  Makefile.toml
  ci/.env
  ci/Dockerfile
  e2e_test/vector_search/vector_nearest.slt.part
Due: none

Remove actor_splits field and related logic from TableFragments and associated construction functions
  proto/meta.proto
  src/ctl/src/cmd_impl/meta/cluster_info.rs
  src/meta/service/src/scale_service.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/model/stream.rs
  src/tests/simulation/src/ctl_ext.rs
Due: rustfmt

fix iceberg compact get sink error
  src/meta/src/manager/iceberg_compaction.rs
Due: rustfmt

fix(meta): isolate barrier injection pause between databases (#23206)
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/worker.rs
Due: rustfmt

Reserve actor_splits (field 5) in TableFragments to ensure proto compatibility; permanent removal
  proto/meta.proto
Due: none

chore: set EventLogServiceServer to allow unlimited message size (#23203)
  src/meta/node/src/server.rs
Due: rustfmt

init
  e2e_test/sink/sink_into_table/alter_column.slt
  src/stream/src/executor/upstream_sink_union.rs
  src/stream/src/from_proto/upstream_sink_union.rs
Due: rustfmt

log instead of throwing an error
  src/meta/src/manager/iceberg_compaction.rs
Due: rustfmt

Test MySQL CDC support for partitioning
  e2e_test/source_inline/cdc/mysql/mysql_alter_drop_connector.serial
  e2e_test/source_inline/cdc/mysql/mysql_create_drop.slt.serial
  e2e_test/source_inline/cdc/mysql/mysql_partition.slt
Due: none

feat(sink): support redis sink tls
  Cargo.lock
  src/connector/Cargo.toml
Due: cargo sort

Refactor DashboardService init order; remove source_manager; clarify empty actor splits in job fragment
  src/meta/node/src/server.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/dashboard/mod.rs
Due: rustfmt

fix(iceberg): fix iceberg compact get sink error (#23217)
  src/meta/src/manager/iceberg_compaction.rs
Due: rustfmt

test release
  Cargo.toml
  ci/scripts/docker.sh
  ci/scripts/release.sh
  ci/workflows/main-cron.yml
Due: cargo sort

refactor(source): remove actor_splits in StreamJobFragments (#23212)
  proto/meta.proto
  src/ctl/src/cmd_impl/meta/cluster_info.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/tests/simulation/src/ctl_ext.rs
Due: rustfmt

fix linting
  Cargo.lock
  ci/scripts/docker.sh
  ci/workflows/main-cron.yml
  e2e_test/sink/kafka/avro-enum.slt
Due: none

chore(ci): increase CI timeout for build other components
  ci/workflows/pull-request.yml
Due: none

fmt test file
  e2e_test/source_inline/cdc/mysql/mysql_partition.slt
Due: none

feat(kafka): validate and adjust start offsets based on watermarks in KafkaSplitReader
  src/connector/src/source/kafka/source/reader.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
