Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

fix cargo lock
  Cargo.lock
Due: none

refactor(types): simplify ArrayImpl::from_protobuf (#17763)
  src/common/src/array/mod.rs
  src/common/src/array/primitive_array.rs
  src/common/src/array/proto_reader.rs
  src/common/src/array/value_reader.rs
  src/common/src/types/datetime.rs
  src/common/src/types/interval.rs
  src/common/src/types/mod.rs
  src/common/src/types/scalar_impl.rs
  src/common/src/types/timestamptz.rs
Due: rustfmt

chore: add `production` profile for version release & add developer docs (#17760)
  Cargo.toml
  ci/scripts/release.sh
  docker/Dockerfile
  docker/Dockerfile.hdfs
  docker/aws/aws-build.sh
  docs/dev/src/SUMMARY.md
  docs/dev/src/build-and-run/profiles.md
Due: cargo sort

update e2e
  e2e_test/source_inline/kafka/avro/name_strategy.slt
Due: none

grammar check
  e2e_test/source/basic/ddl.slt
  e2e_test/source/basic/old_row_format_syntax/ddl.slt
  java/connector-node/risingwave-sink-cassandra/src/main/java/com/risingwave/connector/CassandraUtil.java
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-common/src/main/java/com/risingwave/mock/flink/common/FlinkDynamicUtil.java
  src/connector/src/sink/log_store.rs
  src/connector/src/sink/mqtt.rs
  src/connector/src/sink/nats.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/connector/src/source/kinesis/source/reader.rs
  src/connector/src/source/pulsar/enumerator/client.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/catalog/database.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/rpc/ddl_controller.rs
  src/stream/src/executor/dynamic_filter.rs
  src/stream/src/executor/source/state_table_handler.rs
  src/stream/src/executor/watermark_filter.rs
Due: rustfmt

fix
  src/frontend/src/expr/table_function.rs
Due: rustfmt

fix ut
  src/connector/with_options_sink.yaml
Due: none

fix(batch): support dedicated runtime for file scan (#17764)
  src/frontend/src/expr/table_function.rs
Due: rustfmt

feat(storage): support get_table_watermark for LocalStateStore
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/mem_table.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
Due: rustfmt

fix(source): cleanup unused key schema logic & requirements for `format upsert encode avro` (#17759)
  e2e_test/source_inline/kafka/avro/name_strategy.slt
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/maxwell/maxwell_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/upsert_parser.rs
Due: rustfmt

call frontend to generate new table plan
  proto/frontend_service.proto
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/rpc/mod.rs
  src/rpc_client/src/error.rs
Due: rustfmt

minor
  src/frontend/src/rpc/mod.rs
Due: rustfmt

refactor
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/doris_starrocks_connector.rs
  src/connector/src/sink/nats.rs
  src/connector/src/sink/redis.rs
  src/connector/src/sink/sqlserver.rs
Due: rustfmt

launch rpc service
  src/frontend/src/session.rs
Due: rustfmt

introduce BoundCreateView
  src/frontend/src/binder/create_view.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/query.rs
  src/frontend/src/binder/statement.rs
  src/frontend/src/handler/privilege.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/planner/query.rs
  src/frontend/src/planner/statement.rs
Due: rustfmt

clean imports
  src/frontend/src/binder/create_view.rs
  src/frontend/src/handler/query.rs
Due: rustfmt

refactor(storage-table): ensure UpdataInsert emit next to UpdateDelete
  src/batch/src/executor/log_row_seq_scan.rs
  src/batch/src/lib.rs
  src/common/src/row/mod.rs
  src/storage/src/lib.rs
  src/storage/src/store.rs
  src/storage/src/table/batch_table/storage_table.rs
  src/storage/src/table/mod.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/batch_query.rs
Due: rustfmt

fmt
  src/stream/src/common/table/state_table.rs
Due: rustfmt

test: add more java client tests (#17717)
  .typos.toml
  integration_tests/client-library/java/pom.xml
  integration_tests/client-library/java/src/test/java/com/risingwave/TestCreateTable.java
  integration_tests/client-library/java/src/test/java/com/risingwave/TestDatabaseConnection.java
  integration_tests/client-library/java/src/test/java/com/risingwave/TestMaterializedView.java
  integration_tests/client-library/java/src/test/java/com/risingwave/TestMetadata.java
  integration_tests/client-library/java/src/test/java/com/risingwave/TestSubscription.java
  integration_tests/client-library/java/src/test/java/com/risingwave/TestUtils.java
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_proc.rs
Due: rustfmt

move node_labels and flag
  proto/catalog.proto
  proto/meta.proto
Due: none

GetStreamingJobsStatus
  proto/meta.proto
Due: none

repeat
  proto/meta.proto
Due: none

parse
  src/frontend/src/binder/query.rs
  src/frontend/src/binder/set_expr.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/query.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

fix
  src/common/secret/src/secret_manager.rs
Due: rustfmt

fix test
  ci/scripts/e2e-source-test.sh
  e2e_test/source/cdc/cdc.check.slt
  e2e_test/source/cdc/cdc.load.slt
  e2e_test/source/cdc/cdc.share_stream.slt
  e2e_test/source/cdc/cdc.upper_case.postgres.slt
  e2e_test/source/cdc/postgres_cdc.sql
Due: none

fix test
  e2e_test/source/cdc/cdc.share_stream.slt
Due: none

fix test
  ci/docker-compose.yml
  e2e_test/source/cdc/cdc.check.slt
  e2e_test/source/cdc/cdc.load.slt
  e2e_test/source/cdc/cdc.share_stream.slt
  e2e_test/source/cdc/postgres_cdc.sql
Due: none

fix(pgcdc): fix uppercase-identifier of pgcdc (#17754)
  ci/docker-compose.yml
  e2e_test/source/cdc/cdc.check.slt
  e2e_test/source/cdc/cdc.load.slt
  e2e_test/source/cdc/cdc.share_stream.slt
  e2e_test/source/cdc/postgres_cdc.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
Due: none

refactor frontend service
  proto/frontend_service.proto
  src/frontend/src/rpc/mod.rs
  src/frontend/src/session.rs
  src/meta/service/src/ddl_service.rs
Due: rustfmt

minor fix
  src/frontend/src/binder/query.rs
  src/frontend/src/handler/extended_handle.rs
Due: rustfmt

add tests
  src/tests/e2e_extended_mode/src/test.rs
Due: rustfmt

avoid unnecessary Cargo.lock changes
  Cargo.lock
Due: none

feat(streaming): follow `server.connection_pool_size` config for exchange service
  src/batch/src/task/env.rs
  src/common/src/config.rs
  src/compute/src/server.rs
  src/ctl/src/cmd_impl/await_tree.rs
  src/ctl/src/cmd_impl/profile.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/session.rs
  src/meta/node/src/server.rs
  src/meta/src/manager/diagnose.rs
  src/meta/src/manager/env.rs
  src/rpc_client/src/compute_client.rs
  src/rpc_client/src/lib.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/merge.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/env.rs
  src/stream/src/task/mod.rs
Due: rustfmt

add docs
  src/common/src/config.rs
  src/meta/node/src/server.rs
  src/meta/src/manager/env.rs
  src/rpc_client/src/lib.rs
Due: rustfmt

explicit 1
  src/meta/node/src/server.rs
  src/meta/src/manager/env.rs
Due: rustfmt

fix
  src/connector/src/sink/doris.rs
  src/connector/src/sink/sqlserver.rs
Due: rustfmt

feat(streaming): follow `server.connection_pool_size` config for exchange service (#17755)
  src/batch/src/task/env.rs
  src/compute/src/server.rs
  src/ctl/src/cmd_impl/await_tree.rs
  src/ctl/src/cmd_impl/profile.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/session.rs
  src/meta/node/src/server.rs
  src/meta/src/manager/diagnose.rs
  src/meta/src/manager/env.rs
  src/rpc_client/src/compute_client.rs
  src/rpc_client/src/lib.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/merge.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/env.rs
  src/stream/src/task/mod.rs
Due: rustfmt

fix(test): skip creating secret file dir in simulation test (#17772)
  src/common/secret/src/secret_manager.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
