Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fix(object-store): avoid redundant stat for empty fs entries
  Cargo.lock
  src/object_store/Cargo.toml
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
Due: rustfmt, cargo sort

fix(iceberg): Update upstream dependencies and share ADLS file IO configuration
  Cargo.lock
  Cargo.toml
  src/connector/src/connector_common/iceberg/mod.rs
  src/storage/Cargo.toml
Due: rustfmt, cargo sort

fix(iceberg): Backport renewable REST credentials to release-3.0
  Cargo.lock
  Cargo.toml
  src/connector/src/connector_common/iceberg/mod.rs
  src/storage/Cargo.toml
  src/utils/runtime/Cargo.toml
Due: rustfmt, cargo sort

refactor(storage): simplify pin cache GC snapshots
  src/storage/src/hummock/pin_cache/gc.rs
  src/storage/src/hummock/pin_cache/mod.rs
  src/storage/src/hummock/pin_cache/refill.rs
Due: rustfmt

refactor(storage): move pin cache lifecycle cleanup into base layer
  src/storage/src/hummock/pin_cache/membership.rs
  src/storage/src/hummock/pin_cache/mod.rs
  src/storage/src/hummock/pin_cache/refill.rs
  src/storage/src/hummock/pin_cache/tests.rs
Due: rustfmt

test(storage): move pin cache recovery cleanup into recovery layer
  src/storage/src/hummock/pin_cache/recovery/tests.rs
  src/storage/src/hummock/pin_cache/test_utils.rs
  src/storage/src/hummock/pin_cache/tests.rs
Due: rustfmt

perf(stream): replay the vnodes of a locality provider merged in locality order
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/locality_provider.rs
Due: rustfmt

fix(iceberg): set rest.auth.type explicitly for JNI REST catalog (#27221)
  src/connector/src/connector_common/iceberg/mod.rs
Due: rustfmt

chore(iceberg): align merged credential refresh dependencies
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
Due: cargo sort

fix(ci): harden Oracle test isolation
  src/risedevtool/src/task/oracle_service.rs
Due: rustfmt

feat(connector): initialize Oracle heartbeat tables automatically
  ci/docker-compose.yml
  ci/workflows/pull-request.yml
  e2e_test/requirements.txt
  e2e_test/source_inline/cdc/oracle/oracle_heartbeat_auto_initialize_concurrent.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_heartbeat_auto_initialize_errors.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_test_utils.py
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/SourceValidateHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleHeartbeatTable.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleValidator.java
  risedev.yml
  src/frontend/src/handler/create_source/validate.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/mod.rs
  src/risedevtool/src/task/oracle_service.rs
  src/risedevtool/src/task/task_log_ready_check.rs
Due: rustfmt

fix(connector): align Oracle heartbeat auto-initialization
  e2e_test/source_inline/cdc/oracle/oracle_heartbeat_auto_initialize_errors.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_test_utils.py
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/SourceValidateHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleValidator.java
  src/frontend/src/handler/create_source/validate.rs
Due: rustfmt

test(connector): refactor Oracle heartbeat fixtures into reusable hooks
  .github/workflows/slt-coverage-check.yml
  e2e_test/check_slt_coverage.py
  e2e_test/source_inline/cdc/oracle/oracle_heartbeat_auto_initialize_concurrent.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_heartbeat_auto_initialize_errors.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_test_env.slt.part
  e2e_test/source_inline/cdc/oracle/oracle_test_hooks.py
  e2e_test/source_inline/cdc/oracle/oracle_test_utils.py
Due: none

test(connector): stabilize Oracle heartbeat concurrency coverage
  e2e_test/source_inline/cdc/oracle/oracle_heartbeat_auto_initialize_concurrent.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_heartbeat_auto_initialize_errors.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_test_utils.py
Due: none

refactor(connector): remove unused Oracle reader RAC plumbing
  src/common/src/catalog/cdc_type_compatibility.rs
  src/compute/src/rpc/service/stream_service.rs
  src/compute/src/server.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/oracle.rs
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

fix(connector): enforce lossless Oracle primary key ordering
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleExternalTable.java
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/oracle/OracleExternalTableTest.java
Due: none

test(connector): stabilize Oracle flashback readiness
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/oracle/OracleExternalTableTest.java
Due: none

fix(connector): preserve Oracle recovery offsets and quiet heartbeats
  e2e_test/source_inline/cdc/oracle/oracle_live_page_backfill_recover.slt.serial
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/oracle/OracleOffsetContext.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/oracle/logminer/unbuffered/UnbufferedLogMinerStreamingChangeEventSource.java
Due: none

feat(connector): add Oracle CDC event decoding and recovery
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzChangeEventConsumer.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/common/DbzConnectorConfigTest.java
  src/connector/src/parser/config.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/maxwell/simd_json_parser.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/source/cdc/source/message.rs
  src/connector/src/source/cdc/split.rs
  src/connector/src/source/datagen/source/generator.rs
  src/connector/src/source/reader/reader.rs
  src/frontend/src/webhook/payload.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt

test(connector): update Oracle validation fixture setup
  e2e_test/source_legacy/cdc/cdc.validate.shared.slt
  licenserc.toml
Due: none

test(connector): remove decoder-only Oracle snapshot tests
  src/connector/src/source/cdc/external/oracle.rs
Due: rustfmt

fix(connector): validate declared Oracle primary key equivalence
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/SourceValidateHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleValidator.java
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/SourceTestClient.java
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/oracle/OracleSourceTestBase.java
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/oracle/OracleSourceValidationTest.java
Due: none

fix: address coderabbit comment
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleExternalTable.java
Due: none

refactor(connector): use live pages in the Oracle external reader
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleExternalTable.java
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/oracle/OracleExternalTableTest.java
  proto/connector_service.proto
  src/connector/src/source/cdc/external/oracle.rs
Due: rustfmt

fix(connector): query Oracle hidden column metadata
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleExternalTable.java
Due: none

add Oracle shared CDC tests
  e2e_test/source_inline/cdc/oracle/oracle_cdc_state.py
  e2e_test/source_inline/cdc/oracle/oracle_heartbeat_auto_initialize_concurrent.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_heartbeat_auto_initialize_errors.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_live_page_backfill_common.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_live_page_backfill_long_large_transactions.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_live_page_backfill_recovery.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_primary_keys.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_quiet_heartbeat.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_shared_source.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_test_utils.py
  e2e_test/source_inline/cdc/oracle/oracle_transaction_fixture.py
  e2e_test/source_legacy/cdc/cdc.validate.shared.slt
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/oracle/OracleOldestOpenTransactionTest.java
  src/connector/src/source/cdc/external/oracle.rs
  src/connector/src/source/cdc/split.rs
Due: rustfmt

test(connector): exercise Oracle external reads against real database
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleExternalTable.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/common/OracleExternalTableTest.java
  java/connector-node/risingwave-source-cdc-test/src/test/java/com/risingwave/connector/source/oracle/OracleExternalTableTest.java
Due: none

feat(connector): support Oracle shared CDC backfill
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzSourceUtils.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/JniOracleExternalTable.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleExternalTable.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngine.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngineRunner.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzChangeEventConsumer.java
  java/connector-node/risingwave-source-cdc/src/main/java/com/risingwave/connector/cdc/debezium/internal/OracleMiningInitialization.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/oracle/logminer/buffered/BufferedLogMinerAdapter.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/oracle/logminer/buffered/RisingWaveBufferedLogMinerStreamingChangeEventSource.java
  proto/catalog.proto
  proto/connector_service.proto
  proto/meta.proto
  proto/stream_service.proto
  src/common/src/catalog/cdc_type_compatibility.rs
  src/compute/src/rpc/service/stream_service.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/oracle.rs
  src/connector/src/source/cdc/external/postgres.rs
  src/connector/src/source/cdc/split.rs
  src/frontend/src/handler/cdc.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/model/src/table.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/catalog/get_op.rs
  src/rpc_client/src/meta_client.rs
  src/rpc_client/src/stream_client.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt

refactor(connector): simplify Oracle CDC configuration
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/common/DbzConnectorConfigTest.java
  src/connector/src/source/cdc/source/message.rs
  src/connector/src/source/cdc/split.rs
  src/connector/src/source/reader/reader.rs
Due: rustfmt

fix: fix headers
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/JniOracleExternalTable.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleExternalTable.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/common/OracleExternalTableTest.java
Due: none

fix(connector): validate Oracle primary key equivalence and fix license headers
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/oracle/logminer/buffered/RisingWaveBufferedLogMinerStreamingChangeEventSource.java
  licenserc.toml
Due: none

feat: add external reader for Oracle connector
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/JniOracleExternalTable.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleExternalTable.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/common/OracleExternalTableTest.java
  proto/connector_service.proto
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/oracle.rs
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

test(connector): refactor Oracle CDC fixtures and cover heartbeat recovery
  e2e_test/source_inline/cdc/oracle/oracle_cdc_state.py
  e2e_test/source_inline/cdc/oracle/oracle_heartbeat_auto_initialize_concurrent.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_heartbeat_auto_initialize_errors.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_live_page_backfill_common.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_live_page_backfill_long_large_transactions.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_live_page_backfill_recovery.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_primary_keys.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_quiet_heartbeat.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_shared_source.slt.serial
  e2e_test/source_inline/cdc/oracle/oracle_test_hooks.py
  e2e_test/source_inline/cdc/oracle/oracle_test_utils.py
  e2e_test/source_inline/cdc/oracle/oracle_transaction_fixture.py
Due: none

fix(connector): parse Oracle CDC numeric strings
  src/connector/src/parser/config.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/maxwell/simd_json_parser.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/source/datagen/source/generator.rs
  src/frontend/src/webhook/payload.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Due: rustfmt

fix(connector): satisfy Oracle CDC Checkstyle
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
Due: none

docs(connector): clarify Oracle numeric parsing and remove redundant config tests
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/common/DbzConnectorConfigTest.java
  src/connector/src/parser/debezium/debezium_parser.rs
Due: rustfmt

docs(connector): format Oracle commit SCN field reference
  src/connector/src/source/cdc/external/oracle.rs
Due: rustfmt

fix(docker): replace inaccessible MinIO image with pinned Silo
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-lakekeeper.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: none

fix(source): support altering file refresh interval
  ci/scripts/e2e-source-test.sh
  e2e_test/source_inline/fs/alter_refresh_interval.slt
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/with_options_source.yaml
  src/stream/src/executor/source/fs_list_executor.rs
Due: rustfmt
