Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fix: resolve columns by schema and table
  src/frontend/src/binder/bind_context.rs
  src/frontend/src/binder/create.rs
  src/frontend/src/binder/expr/column.rs
Due: rustfmt

improve UT coverage
  src/common/src/config/mod.rs
  src/common/src/config/streaming.rs
  src/config/docs.md
  src/config/example.toml
  src/stream/src/common/table/state_table.rs
  src/stream/src/common/table/test_state_table.rs
Due: rustfmt

fix: fix the comparision about schema name
  src/frontend/src/binder/bind_context.rs
Due: rustfmt

chore(ci): update e2e test script to conditionally skip cron_only tests in pull-request CI; adjust timeout in pull-request workflow; add new SLT test for dynamic source property updates
  ci/scripts/e2e-source-test.sh
  ci/workflows/pull-request.yml
  e2e_test/source_inline/kafka/alter/cron_only/alter_source_properties_safe.slt
Due: none

working
  src/utils/pgwire/src/pg_protocol.rs
Due: rustfmt

chore(connector): bump pulsar to 6.6.0
  Cargo.lock
  src/connector/Cargo.toml
  src/connector/src/source/pulsar/source/message.rs
  src/connector/src/source/pulsar/source/reader.rs
Due: rustfmt, cargo sort

chore(deps): pin pulsar to 6.6.x
  src/connector/Cargo.toml
Due: cargo sort

chore(deps): pin pulsar to 6.6.0
  src/connector/Cargo.toml
Due: cargo sort

chore(deps): use pulsar 6.6.0
  src/connector/Cargo.toml
Due: cargo sort

feat(compaction): support table change log compaction
  proto/hummock.proto
  src/common/src/config/meta.rs
  src/common/src/config/mod.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/src/hummock/compaction/mod.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/mod.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/table_change_log_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tier_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/selector/level_selector.rs
  src/meta/src/hummock/compaction/selector/mod.rs
  src/meta/src/hummock/compaction/selector/table_change_log_compaction_selector.rs
  src/meta/src/hummock/compaction/table_change_log.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/manager/env.rs
  src/prost/build.rs
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/hummock_sdk/src/compact_task.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
  src/storage/hummock_sdk/src/frontend_version.rs
  src/storage/hummock_sdk/src/level.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/compactor/table_change_log_compactor_runner.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
Due: rustfmt

fmt
  proto/hummock.proto
Due: none

fix HummockVersionId::MAX
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/versioning.rs
  src/prost/src/id.rs
  src/storage/hummock_sdk/src/version.rs
  src/storage/hummock_test/src/sync_point_tests.rs
Due: rustfmt

doc
  src/common/src/config/meta.rs
  src/config/docs.md
  src/meta/src/manager/env.rs
Due: rustfmt

add warning log
  ci/scripts/e2e-source-test.sh
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/lib.rs
  src/stream/src/task/stream_manager.rs
Due: rustfmt

feat: initial version for log store buffer metrics
  src/stream/src/common/log_store_impl/kv_log_store/buffer.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/sync_kv_log_store.rs
Due: rustfmt

fix: fmt the code
  src/stream/src/executor/monitor/streaming_stats.rs
Due: rustfmt

feat: add log store buffer memory metrics
  src/stream/src/common/log_store_impl/kv_log_store/buffer.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Due: rustfmt

feat: change estimated size of buffer
  src/stream/src/common/log_store_impl/kv_log_store/buffer.rs
Due: rustfmt

feat: update the dashboard
  .github/agents/chat.agent.md
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.json
Due: none

Delete .github/agents/chat.agent.md
  .github/agents/chat.agent.md
Due: none

fix existing tests
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/manager/tests.rs
  src/storage/hummock_test/src/compactor_tests.rs
Due: rustfmt

fix existing tests
  src/storage/hummock_test/src/sync_point_tests.rs
Due: rustfmt

feat: support table functions for datafusion
  e2e_test/iceberg/test_case/pure_slt/datafusion/table_function.slt
  src/frontend/src/datafusion/execute.rs
  src/frontend/src/datafusion/mod.rs
  src/frontend/src/datafusion/project_set.rs
  src/frontend/src/optimizer/plan_visitor/datafusion_execute_checker.rs
  src/frontend/src/optimizer/plan_visitor/datafusion_plan_converter.rs
Due: rustfmt

save work, e2e test passed
  src/meta/src/manager/iceberg_compaction.rs
  src/storage/src/hummock/compactor/iceberg_compaction/iceberg_compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
Due: rustfmt

remove unreadable select_items info
  src/frontend/src/datafusion/project_set.rs
Due: rustfmt

add dependency cache for all objects and only notify created streaming catalog to keep consistent
  src/frontend/src/observer/observer_manager.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/list_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/catalog/util.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
Due: rustfmt

bugfix and add tests
  src/meta/src/hummock/compaction/picker/mod.rs
  src/meta/src/hummock/compaction/picker/table_change_log_compaction_picker.rs
  src/meta/src/hummock/compaction/selector/table_change_log_compaction_selector.rs
  src/meta/src/hummock/compaction/table_change_log.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/storage/hummock_sdk/src/change_log.rs
Due: rustfmt

fix
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_depend.rs
  src/meta/src/controller/catalog/create_op.rs
Due: rustfmt

fix tests
  src/meta/src/hummock/compaction/picker/table_change_log_compaction_picker.rs
Due: rustfmt

fix(sqlparser): make COMPACTION a keyword
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

finish framework
  src/meta/src/manager/iceberg_compaction.rs
  src/storage/src/hummock/compactor/iceberg_compaction/iceberg_compactor_runner.rs
  src/storage/src/hummock/compactor/mod.rs
Due: rustfmt

e2e test options with concise output
  e2e_test/batch/config.slt
Due: none

Skip bad file splits in fs_fetch executor after retries
  src/stream/src/executor/source/fs_fetch_executor.rs
Due: rustfmt

only iter_log on checkpoint epoch
  ci/scripts/e2e-source-test.sh
  src/storage/src/hummock/utils.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/lib.rs
  src/stream/src/task/stream_manager.rs
Due: rustfmt

add unit tests
  src/meta/src/hummock/compaction/picker/table_change_log_compaction_picker.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/table_change_log_compactor_runner.rs
Due: rustfmt

code refactor
  e2e_test/source_inline/fs/utf8_err_tmp/data_1.csv
  e2e_test/source_inline/fs/utf8_err_tmp/data_2_bad.csv
  e2e_test/source_inline/fs/utf8_err_tmp/data_bad.csv
  src/stream/src/executor/mview/cache.rs
  src/stream/src/executor/source/fs_fetch_executor.rs
Due: rustfmt

refactor to RwCustomQueryPlanner
  src/frontend/src/datafusion/execute.rs
  src/frontend/src/datafusion/mod.rs
  src/frontend/src/datafusion/project_set.rs
  src/frontend/src/optimizer/plan_visitor/datafusion_plan_converter.rs
Due: rustfmt

code refactor
  src/stream/src/executor/mview/cache.rs
Due: rustfmt
