Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

fix check
  src/frontend/src/session/cursor_manager.rs
Due: rustfmt

fix ci
  e2e_test/iceberg/test_case/iceberg_source_all_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_all_delete.toml
  e2e_test/iceberg/test_case/iceberg_source_equality_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_equality_delete.toml
  e2e_test/iceberg/test_case/iceberg_source_position_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_position_delete.toml
Due: none

remove debug info
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
Due: rustfmt

use relation deps api
  dashboard/README.md
  dashboard/pages/ddl_graph.tsx
Due: none

rename to relation graph
  dashboard/components/Layout.tsx
  dashboard/components/RelationGraph.tsx
  dashboard/lib/layout.ts
  dashboard/pages/relation_graph.tsx
Due: none

format
  dashboard/components/RelationGraph.tsx
  dashboard/lib/layout.ts
  dashboard/pages/relation_graph.tsx
Due: none

refactor: refactor arrow conversion
  Cargo.lock
  src/batch/Cargo.toml
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_52.rs
  src/common/src/array/arrow/arrow_deltalake.rs
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/arrow/arrow_udf.rs
  src/common/src/array/arrow/mod.rs
  src/connector/Cargo.toml
  src/connector/src/error.rs
  src/connector/src/parser/parquet_parser.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/iceberg/prometheus/monitored_base_file_writer.rs
  src/connector/src/sink/iceberg/prometheus/monitored_partition_writer.rs
  src/connector/src/sink/iceberg/prometheus/monitored_position_delete_writer.rs
  src/connector/src/sink/iceberg/prometheus/monitored_write_writer.rs
  src/connector/src/source/pulsar/source/reader.rs
  src/expr/core/Cargo.toml
  src/expr/core/src/aggregate/user_defined.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/sig/udf.rs
  src/expr/core/src/table_function/user_defined.rs
  src/expr/impl/Cargo.toml
  src/expr/impl/src/scalar/external/iceberg.rs
  src/expr/impl/src/udf/mod.rs
  src/expr/impl/src/udf/quickjs.rs
  src/frontend/Cargo.toml
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
Due: rustfmt, cargo sort

revert upgrade
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_48.rs
  src/common/src/array/arrow/arrow_50.rs
  src/common/src/array/arrow/arrow_52.rs
  src/common/src/array/arrow/arrow_deltalake.rs
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/arrow_udf.rs
  src/common/src/array/arrow/mod.rs
  src/connector/src/error.rs
  src/expr/core/src/aggregate/user_defined.rs
  src/expr/core/src/expr/expr_udf.rs
  src/expr/core/src/table_function/user_defined.rs
  src/expr/impl/src/udf/quickjs.rs
Due: rustfmt, cargo sort

add bp to dependency graph
  dashboard/components/Layout.tsx
  dashboard/components/RelationDependencyGraph.tsx
  dashboard/pages/dependency_graph.tsx
Due: none

fix
  src/expr/impl/src/udf/external.rs
  src/expr/impl/src/udf/python.rs
Due: rustfmt

remove obsolete
  dashboard/components/RelationDependencyGraph.tsx
  dashboard/components/RelationGraph.tsx
  dashboard/pages/dependency_graph.tsx
  dashboard/pages/relation_graph.tsx
Due: none

add bp labels
  dashboard/components/RelationDependencyGraph.tsx
  dashboard/pages/dependency_graph.tsx
Due: none

typecheck
  dashboard/components/RelationDependencyGraph.tsx
  dashboard/pages/dependency_graph.tsx
Due: none

chore: use foyer main
  Cargo.lock
  Cargo.toml
Due: cargo sort

further distinguish v1 and v2
  src/connector/src/connector_common/iceberg/mod.rs
Due: rustfmt

feat(sink): support sink map to avro (#18551)
  src/common/src/array/map_array.rs
  src/common/src/array/struct_array.rs
  src/common/src/types/mod.rs
  src/connector/src/sink/encoder/avro.rs
Due: rustfmt

fix
  src/connector/src/sink/encoder/proto.rs
Due: rustfmt

feat(sink): support sink map to protobuf
  src/connector/codec/tests/test_data/all-types.pb
  src/connector/src/sink/encoder/proto.rs
Due: rustfmt

reuse
  dashboard/components/FragmentGraph.tsx
  dashboard/components/RelationDependencyGraph.tsx
  dashboard/components/utils/backPressure.tsx
Due: none

fix mysql default col mapping
  src/connector/src/error.rs
  src/connector/src/source/cdc/external/mysql.rs
Due: rustfmt

fix ci
  e2e_test/iceberg/test_case/iceberg_source_all_delete.toml
Due: none

feat(dashboard): add backpressure to the relation dependency graph (#18280)
  dashboard/README.md
  dashboard/components/FragmentGraph.tsx
  dashboard/components/Layout.tsx
  dashboard/components/RelationDependencyGraph.tsx
  dashboard/components/utils/backPressure.tsx
  dashboard/lib/api/fetch.ts
  dashboard/lib/api/streaming.ts
  dashboard/lib/layout.ts
  dashboard/pages/dependency_graph.tsx
  dashboard/pages/fragment_graph.tsx
  proto/meta.proto
  src/meta/src/dashboard/mod.rs
Due: rustfmt

fix
  e2e_test/source/cdc_inline/auto_schema_map_mysql.slt
Due: none

chore: update image version to v2.0.0 (#18574)
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: none

rename
  dashboard/components/Layout.tsx
  dashboard/components/RelationGraph.tsx
  dashboard/components/Relations.tsx
  dashboard/pages/relation_graph.tsx
Due: none

fix
  e2e_test/source/cdc_inline/auto_schema_map_pg.slt
Due: none

fix ci
  e2e_test/iceberg/test_case/iceberg_source_all_delete.slt
Due: none

fmt
  dashboard/pages/relation_graph.tsx
Due: none

feat(iceberg): support position delete for iceberg source (#18579)
  ci/scripts/e2e-iceberg-sink-v2-test.sh
  e2e_test/iceberg/test_case/iceberg_source_all_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_all_delete.toml
  e2e_test/iceberg/test_case/iceberg_source_eq_delete.toml
  e2e_test/iceberg/test_case/iceberg_source_equality_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_equality_delete.toml
  e2e_test/iceberg/test_case/iceberg_source_position_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_position_delete.toml
  src/batch/src/executor/iceberg_scan.rs
  src/connector/src/source/iceberg/mod.rs
Due: rustfmt

add flush after dml
  e2e_test/source/cdc_inline/auto_schema_map_pg.slt
Due: none

avoid recalculate
  src/frontend/planner_test/tests/testdata/input/share.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/src/handler/query.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/scheduler/snapshot.rs
Due: rustfmt

fix typo
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/set_expr.rs
Due: rustfmt

chore: upgrade to foyer 0.11.3
  Cargo.lock
  Cargo.toml
Due: cargo sort

feat(storage): notify frontend with more hummock version info (#18570)
  proto/meta.proto
  src/common/common_service/src/observer_manager.rs
  src/frontend/src/observer/observer_manager.rs
  src/frontend/src/scheduler/snapshot.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/transaction.rs
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/frontend_version.rs
  src/storage/hummock_sdk/src/lib.rs
Due: rustfmt

refactor(state table): cleanup `StateTable::seal_current_epoch` (#18578)
  src/stream/src/common/table/state_table.rs
Due: rustfmt

feat(sink): support sink map to protobuf (#18552)
  src/connector/codec/tests/test_data/all-types.pb
  src/connector/src/sink/encoder/proto.rs
Due: rustfmt

refactor(iceberg): extract IcebergCommon config (#18600)
  src/batch/src/executor/iceberg_scan.rs
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/iceberg/jni_catalog.rs
  src/connector/src/connector_common/iceberg/mock_catalog.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/connector_common/iceberg/storage_catalog.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/connector_common/mqtt_common.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/with_options.rs
  src/connector/src/with_options_test.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_iceberg_files.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_iceberg_snapshots.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/optimizer/plan_node/batch_source.rs
Due: rustfmt

feat: upgrade foyer to 0.11.3 (#18313)
  Cargo.lock
  Cargo.toml
  src/common/src/config.rs
  src/config/example.toml
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/logger.rs
Due: rustfmt, cargo sort

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
