Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

feat(nimtable): nimtable hide iceberg row (#18410)
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
Due: rustfmt

rename and add docs
  src/frontend/src/catalog/system_catalog/pg_catalog/pg_cast.rs
  src/frontend/src/expr/function_call.rs
  src/frontend/src/expr/mod.rs
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/expr/type_inference/mod.rs
Due: rustfmt

fix engine migration
  src/common/src/catalog/mod.rs
  src/frontend/src/handler/create_source.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20241121_101830_table_engine.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

feat(iceberg): support drop table for nimtable (#18404)
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/catalog/JniCatalogWrapper.java
  src/connector/src/connector_common/iceberg/jni_catalog.rs
  src/connector/src/connector_common/iceberg/storage_catalog.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/drop_table.rs
Due: rustfmt

feat(iceberg): support dql for nimtable (#18408)
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/table_catalog.rs
Due: rustfmt

feat(nimtable): support ban ddl for iceberg engine table (#18409)
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/util.rs
Due: rustfmt

preserve source
  src/frontend/src/expr/function_call.rs
Due: rustfmt

add & update planner tests
  src/frontend/planner_test/tests/testdata/input/cast.yaml
  src/frontend/planner_test/tests/testdata/output/array.yaml
  src/frontend/planner_test/tests/testdata/output/cast.yaml
  src/frontend/planner_test/tests/testdata/output/expr.yaml
  src/frontend/planner_test/tests/testdata/output/struct_query.yaml
  src/frontend/planner_test/tests/testdata/output/update.yaml
Due: none

feat(nimtable): nimtable make drop table more robust (#18422)
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/drop_table.rs
Due: rustfmt

feat(nimtable): enable create index on iceberg table (#18526)
  src/frontend/src/handler/mod.rs
Due: rustfmt

refactor: rename dummy table id to tmp table id (#19509)
  src/meta/src/barrier/command.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

feat(nimtable): reuse existing env and add risedev nimtable (#18531)
  Cargo.lock
  risedev.yml
  src/connector/Cargo.toml
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/handler/create_table.rs
Due: rustfmt, cargo sort

feat(nimtable): fix drop table with schema (#18904)
  src/frontend/src/handler/drop_table.rs
Due: rustfmt

update `UPDATE` test
  e2e_test/batch/basic/dml_update.slt.part
Due: none

add test
  src/frontend/planner_test/tests/testdata/input/sink_into_table.yaml
  src/frontend/planner_test/tests/testdata/output/sink_into_table.yaml
Due: none

perf(topn): compact the (Group)TopN output to avoid amplification (#19451)
  src/stream/src/executor/top_n/group_top_n.rs
  src/stream/src/executor/top_n/group_top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_appendonly.rs
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/top_n/top_n_state.rs
  src/stream/src/executor/top_n/utils.rs
Due: rustfmt

refactor: update configuration (#19501)
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
Due: rustfmt

add test for nan/inf
  e2e_test/python_client/main.py
Due: none

fix(compactor): Fix an unexpected termination of shared compactor (#19505)
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/compactor/mod.rs
Due: rustfmt

add cases for jsonb
  e2e_test/python_client/main.py
Due: none

add cases for byte array
  e2e_test/python_client/main.py
Due: none

save
  src/connector/src/sink/log_store.rs
Due: rustfmt

refine message: - only show "context" in the bottom level - show struct field name - do not expose internal impl of map type, instead, show "key" or "value"
  e2e_test/batch/basic/dml_update.slt.part
  src/frontend/planner_test/tests/testdata/output/cast.yaml
  src/frontend/src/expr/type_inference/cast.rs
Due: rustfmt

advance the error checking
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Due: rustfmt

resolve conficts with iceberg properties refactor
  e2e_test/iceberg/test_case/iceberg_source_all_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_position_delete.slt
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/handler/drop_table.rs
Due: rustfmt

fix(nimtable): fix database path (#19182)
  src/connector/src/connector_common/iceberg/mod.rs
  src/frontend/src/handler/create_table.rs
Due: rustfmt

add many cases and refactor code
  e2e_test/python_client/main.py
Due: none

refactor: update configuration (#19501) (#19516)
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
Due: rustfmt

check `remaining_close` before peeking for `LBracket`
  src/sqlparser/src/parser_v2/data_type.rs
  src/sqlparser/tests/testdata/array.yaml
Due: rustfmt

feat(frontend): output explain result as graphviz dot format (#19446)
  src/frontend/planner_test/tests/testdata/input/explain_dot_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_dot_format.yaml
  src/frontend/src/handler/explain.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/utils/pretty_serde.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

fix check
  src/frontend/src/expr/function_call.rs
Due: rustfmt

test: try to enable backwards compat tests
  Makefile.toml
  ci/scripts/backwards-compat-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
Due: none

feat(iceberg): support rest authentication (#19406)
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt

refactor(estimate_size, topn): merge `TopNCacheState` with `EstimatedBTreeMap` (#17892)
  src/common/estimate_size/src/collections/btreemap.rs
  src/common/estimate_size/src/lib.rs
  src/stream/src/executor/top_n/mod.rs
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/executor/top_n/top_n_state.rs
  src/stream/src/executor/top_n/topn_cache_state.rs
  src/stream/src/executor/top_n/utils.rs
Due: rustfmt

refactor(topn): audit and refactor `TopNCache` and fix a potential bug (#17947)
  src/stream/src/executor/top_n/top_n_cache.rs
  src/stream/src/executor/top_n/top_n_plain.rs
  src/stream/src/executor/top_n/top_n_state.rs
Due: rustfmt

fix compile
  risedev.yml
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/handler/create_table.rs
Due: rustfmt

clippy
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
Due: rustfmt

change nimtable to iceberg
  grafana/risingwave-dev-dashboard.dashboard.py
  risedev.yml
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/drop_table.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
