Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

feat(storage): add metrics for merge compaction group
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/rpc/metrics.rs
Due: rustfmt

chore(config): Corrects and removes some config
  src/common/src/config.rs
  src/meta/node/src/lib.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/manager/env.rs
Due: rustfmt

typo
  src/meta/src/rpc/metrics.rs
Due: rustfmt

upload concurrency = 16
  src/config/ci.toml
Due: none

refactor: unify to subscribe mutation via barrier sender (#18255)
  proto/stream_service.proto
  src/meta/src/barrier/creating_job/mod.rs
  src/meta/src/barrier/creating_job/status.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/stream/src/executor/backfill/snapshot_backfill.rs
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/executor/test_utils.rs
  src/stream/src/from_proto/merge.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/stream_scan.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/barrier_manager/tests.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Due: rustfmt

rename fragment to ddl
  dashboard/README.md
  dashboard/components/DdlGraph.tsx
  dashboard/pages/ddl_graph.tsx
Due: none

fix UT
  src/connector/src/sink/encoder/avro.rs
Due: rustfmt

display schema name
  dashboard/README.md
  dashboard/components/DdlGraph.tsx
  dashboard/pages/ddl_graph.tsx
Due: none

add dynamic lib check
  ci/scripts/build.sh
  ci/scripts/common.sh
  ci/scripts/release.sh
Due: none

enable static openssl
  ci/scripts/build.sh
  ci/scripts/release.sh
Due: none

Add clarity comments, assert no bitmap for `Single` distribution, and modify `upstream_fragment_bitmap`.
  src/meta/src/stream/scale.rs
Due: rustfmt

cleanup `StateTable::seal_current_epoch`
  src/stream/src/common/table/state_table.rs
Due: rustfmt

support position delete
  e2e_test/iceberg/test_case/iceberg_source_all_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_all_delete.toml
  e2e_test/iceberg/test_case/iceberg_source_equality_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_equality_delete.toml
  e2e_test/iceberg/test_case/iceberg_source_position_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_position_delete.toml
  risedev.yml
  src/batch/src/executor/iceberg_scan.rs
  src/connector/src/source/iceberg/mod.rs
Due: rustfmt

fix ci
  ci/scripts/e2e-iceberg-sink-v2-test.sh
Due: none

refactor(connector): replace `protobuf-native` with `protox` for schema compiling (#18543)
  Cargo.lock
  src/connector/codec/Cargo.toml
  src/connector/codec/build.rs
  src/connector/codec/src/common/protobuf/compiler.rs
  src/connector/codec/tests/integration_tests/protobuf.rs
  src/connector/src/schema/protobuf.rs
Due: rustfmt, cargo sort

feat(metrics): support filtering metrics by name in Prometheus scrape handler (#18556)
  Cargo.lock
  Cargo.toml
  src/common/common_service/Cargo.toml
  src/common/common_service/src/metrics_manager.rs
Due: rustfmt, cargo sort

remove more useless things
  dashboard/README.md
  dashboard/components/DdlGraph.tsx
  dashboard/pages/ddl_graph.tsx
Due: none

Refactor `test_singleton_migration` & add async tests for varied configurations using a new helper function
  src/tests/simulation/tests/integration_tests/scale/singleton_migration.rs
Due: rustfmt

fix(backup): fix restore order (#18423)
  src/meta/src/backup_restore/restore_impl/v2.rs
Due: rustfmt

fix(ci): fix static link for `openssl` (#18569)
  ci/scripts/build.sh
  ci/scripts/check.sh
  ci/scripts/common.sh
  ci/scripts/release.sh
Due: none

feat(storage): support split compaction group v2
  proto/hummock.proto
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/transaction.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
Due: rustfmt

fix(backup): fix restore order (#18423) (#18582)
  src/meta/src/backup_restore/restore_impl/v2.rs
Due: rustfmt

fix: Fix the panic caused by scaling with a single fragment downstream of no shuffle (#18581)
  src/meta/src/stream/scale.rs
  src/tests/simulation/tests/integration_tests/scale/singleton_migration.rs
Due: rustfmt

refactor(storage): remove legacy version delta type
  proto/hummock.proto
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/version.rs
Due: rustfmt

typo
  proto/hummock.proto
Due: none

support prom
  dashboard/pages/ddl_graph.tsx
Due: none

fix: set opendal upload concurrency to 16
  src/common/src/config.rs
  src/config/example.toml
Due: rustfmt

chore(config): update example
  src/config/docs.md
  src/config/example.toml
Due: none

add doc
  risedev.yml
  src/batch/src/executor/iceberg_scan.rs
  src/connector/src/source/iceberg/mod.rs
Due: rustfmt

feat(compaction): introduce new task status for serverless compaction (#18575)
  proto/hummock.proto
Due: none

fix ci
  e2e_test/iceberg/test_case/iceberg_source_all_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_position_delete.slt
Due: none

fix
  src/stream/src/executor/asof_join.rs
Due: rustfmt

OpenDAL write concurrent unlimit
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
Due: rustfmt

fix
  risedev.yml
  src/frontend/src/handler/create_table.rs
Due: rustfmt

chore(test): add ut
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
Due: rustfmt

OpenDAL write concurrent = 256
  src/common/src/config.rs
  src/config/example.toml
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
