Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.23.1
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

chore(deps): Bump sct from 0.7.0 to 0.7.1 (ring from 0.16 to 0.17) (#20804)
  Cargo.lock
Due: none

patch: remove all integration_tests
  ci/Dockerfile
  ci/scripts/e2e-test-parallel-in-memory.sh
  ci/scripts/release.sh
  ci/scripts/run-backfill-tests.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  docker/Dockerfile
  docker/Dockerfile.hdfs
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  integration_tests/debezium-mongo-strong-schema/create_mv.sql
  integration_tests/debezium-mongo-strong-schema/create_source.sql
  integration_tests/debezium-mongo-strong-schema/data_check
  integration_tests/debezium-mongo-strong-schema/docker-compose.yaml
  integration_tests/debezium-mongo-strong-schema/query.sql
  integration_tests/debezium-mongo-strong-schema/register-mongodb-connector.sh
Due: none

chore(deps): Bump ring from 0.17.5 to 0.17.13
  Cargo.lock
Due: none

refactor(storage): better backtrace display in warn log for `wait_for_update`
  src/storage/src/hummock/utils.rs
Due: rustfmt

remove unused imports
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/create_source.rs
Due: rustfmt

recursively use col-aware encoding for structs
  src/common/src/array/struct_array.rs
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
Due: rustfmt

specify dummy id, use new new to construct serializer
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
  src/storage/src/row_serde/value_serde.rs
Due: rustfmt

deserialize part
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
Due: rustfmt

avoid cloning struct data slice
  src/common/src/util/value_encoding/column_aware_row_encoding.rs
Due: rustfmt

ci: use buildkite job parallelism to speed up sqllogictests (#20727)
  Cargo.lock
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/e2e-sink-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  src/tests/simulation/Cargo.toml
  src/tests/simulation/src/slt.rs
Due: rustfmt, cargo sort

refactor(storage): better backtrace display in warn log for `wait_for_update` (#20810)
  src/storage/src/hummock/utils.rs
Due: rustfmt

chore(test): show each output line immediately in deterministic recovery test (#20808)
  ci/scripts/deterministic-recovery-test.sh
Due: none

patch: stop revert rustup fix
  ci/Dockerfile
Due: none

fix(meta): allow subset of databases enter running after global recovery
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/stream_manager.rs
  src/tests/simulation/tests/integration_tests/backfill_tests.rs
Due: rustfmt

feat(meta): isolate database worker node failure
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/barrier_control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/manager.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/utils.rs
  src/meta/src/barrier/worker.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Due: rustfmt

ci: Pin dylint version
  lints/Cargo.toml
Due: cargo sort

chore(deps): Bump ginepro from 0.8.1 to 0.8.2 (avoid idna@0.4 and trust-dns-resolver@0.23)
  Cargo.lock
Due: none

chore(deps): Bump hashbrown from 0.15.0 to 0.15.2
  Cargo.lock
Due: none

to 0.15.1 to avoid build issue
  Cargo.lock
Due: none

ci: fix dylint version
  ci/build-ci-image.sh
  ci/docker-compose.yml
  integration_tests/debezium-mysql/dockerfile
Due: none

support enable_config_load for glue catalog
  src/connector/src/connector_common/iceberg/mod.rs
Due: rustfmt

fix parse
  src/sqlparser/src/parser.rs
Due: rustfmt

feat(stream): support not null in stream
  e2e_test/ddl/not_null.slt
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  e2e_test/source_legacy/cdc/cdc.validate.postgres.slt
  src/common/src/catalog/column.rs
  src/frontend/src/catalog/system_catalog/information_schema/columns.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_columns.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_filter.rs
Due: rustfmt

tmp
  e2e_test/source_legacy/cdc/cdc.validate.postgres.slt
Due: none

ci: exclude e2e_test/source_inline/pubsub
  Cargo.toml
Due: cargo sort

adapt downstreams
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
Due: rustfmt

fix(sqlparser): `Display` of `WITH VERSION COLUMN`
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

fix syntax
  src/utils/pgwire/src/pg_server.rs
Due: rustfmt

fix comm
  proto/meta.proto
  proto/stream_plan.proto
  risedev.yml
  src/frontend/src/handler/alter_sink_props.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/utils/with_options.rs
  src/meta/src/barrier/command.rs
  src/meta/src/stream/source_manager.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sink.rs
Due: rustfmt

rename
  proto/stream_plan.proto
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/stream/source_manager.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sink.rs
Due: rustfmt

fmt
  src/meta/src/barrier/command.rs
  src/stream/src/executor/mod.rs
Due: rustfmt

feat(frontend): memory throttling for frontend messages (#20649)
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/frontend/src/lib.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/session.rs
  src/utils/pgwire/src/error.rs
  src/utils/pgwire/src/lib.rs
  src/utils/pgwire/src/memory_manager.rs
  src/utils/pgwire/src/pg_message.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_server.rs
Due: rustfmt

fix test
  e2e_test/sink/append_only_sink.slt
Due: none

refactor(compaction): optimize level_insert_ssts
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Due: rustfmt

avoid set fragment_type_mask
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

use job id rather than fragment id
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/catalog/get_op.rs
Due: rustfmt

update test
  e2e_test/streaming/rate_limit/fragment.slt
Due: none

parse alter fragment rate limit
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
Due: rustfmt
