Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

perf(stream): set `noop_update_hint` when jsonb access exists (#18065)
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/src/optimizer/plan_node/generic/project.rs
  src/frontend/src/optimizer/plan_node/stream_project.rs
Due: rustfmt

fix(iceberg): fix path style access (#18259)
  ci/workflows/pull-request.yml
  e2e_test/iceberg/test_case/append_only_with_checkpoint_interval.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_upsert_table.slt
  e2e_test/sink/iceberg_sink.slt
  integration_tests/iceberg-sink2/python/main.py
  src/connector/src/lib.rs
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

compress before init fragment manager
  src/meta/node/src/server.rs
  src/meta/src/manager/catalog/fragment.rs
  src/meta/src/model/mod.rs
Due: rustfmt

refactor(storage): reorg writer code
  src/compute/src/server.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/utils.rs
Due: rustfmt

refactor(storage): reorg writer code (#18291)
  src/compute/src/server.rs
  src/storage/compactor/src/server.rs
  src/storage/src/hummock/sstable/writer.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/utils.rs
Due: rustfmt

add project for non hash agg
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/append_only.yaml
  src/frontend/planner_test/tests/testdata/output/bushy_join.yaml
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/planner_test/tests/testdata/output/dynamic_filter.yaml
  src/frontend/planner_test/tests/testdata/output/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/output/limit.yaml
  src/frontend/planner_test/tests/testdata/output/mv_column_name.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Due: rustfmt

add webhdfs sink
  src/connector/src/sink/file_sink/mod.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/file_sink/webhdfs.rs
  src/connector/src/sink/mod.rs
  src/frontend/src/handler/create_sink.rs
Due: rustfmt

generate with options yml
  src/connector/with_options_sink.yaml
Due: none

minor
  src/connector/Cargo.toml
Due: cargo sort

feat(storage): remove shared buffer compaction grouped payload (#18277)
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/local_version/pinned_version.rs
Due: rustfmt

add azblob source
  src/connector/src/macros.rs
  src/connector/src/source/base.rs
  src/connector/src/source/filesystem/opendal_source/azblob_source.rs
  src/connector/src/source/filesystem/opendal_source/mod.rs
  src/connector/src/source/mod.rs
  src/connector/src/source/reader/reader.rs
  src/connector/src/with_options.rs
  src/frontend/src/handler/create_source.rs
  src/stream/src/executor/source/fetch_executor.rs
  src/stream/src/from_proto/source/fs_fetch.rs
Due: rustfmt

generate with options yml
  src/connector/with_options_source.yaml
Due: none

increase acquire timeout for sql backend conn pool
  src/meta/node/src/server.rs
Due: rustfmt

fix(batch): fix CTAS pins snapshot too long (#18248)
  Cargo.lock
  src/frontend/src/handler/query.rs
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_response.rs
Due: rustfmt, cargo sort

set to undefined while waiting to fetch new graph
  dashboard/pages/fragment_graph.tsx
Due: none

fix flaky
  e2e_test/ddl/secret.slt
Due: none

fix
  src/frontend/src/handler/create_source.rs
Due: rustfmt

perf(dashboard): only fetch ids and specified fragments for a relation (#18272)
  dashboard/lib/api/streaming.ts
  dashboard/pages/fragment_graph.tsx
  proto/meta.proto
  src/meta/src/dashboard/mod.rs
Due: rustfmt

refactor: simplify SourceBackfill's memory state
  src/stream/src/executor/source/source_backfill_executor.rs
Due: rustfmt

address comments
  src/ctl/src/cmd_impl/debug/meta_store.rs
  src/ctl/src/cmd_impl/meta/migration.rs
  src/meta/src/backup_restore/meta_snapshot_builder.rs
  src/meta/src/manager/system_param/model.rs
  src/meta/src/model/cluster.rs
  src/meta/src/model/mod.rs
Due: rustfmt

fmt
  src/connector/Cargo.toml
Due: cargo sort

fxi
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/ElasticBulkProcessorAdapter.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSinkConfig.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/OpensearchBulkProcessorAdapter.java
Due: none

refactor: simplify SourceBackfill's memory state (#18296)
  src/stream/src/executor/source/source_backfill_executor.rs
Due: rustfmt

feat(connector): add webhdfs sink (#18293)
  src/connector/Cargo.toml
  src/connector/src/sink/file_sink/mod.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/file_sink/webhdfs.rs
  src/connector/src/sink/mod.rs
  src/connector/with_options_sink.yaml
  src/frontend/src/handler/create_sink.rs
Due: rustfmt, cargo sort

fix
  e2e_test/ddl/secret.slt
Due: none

fix: upsert+protobuf
  e2e_test/source_inline/kafka/protobuf/basic.slt
  src/frontend/src/handler/create_source.rs
Due: rustfmt

rename
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/logical_optimization.rs
  src/frontend/src/scheduler/snapshot.rs
Due: rustfmt

also add azblob for batch read
  src/connector/src/parser/additional_columns.rs
  src/connector/src/source/filesystem/opendal_source/opendal_enumerator.rs
  src/connector/src/source/reader/reader.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Due: rustfmt

check in meta
  src/connector/src/parser/unified/debezium.rs
  src/meta/service/src/ddl_service.rs
Due: rustfmt

madsim-kafka 4d77c98
  Cargo.lock
  Cargo.toml
  src/connector/src/source/kafka/client_context.rs
Due: rustfmt, cargo sort

fix: upsert+protobuf
  src/connector/src/source/base.rs
Due: rustfmt

fix for #18219
  dashboard/lib/api/metric.ts
Due: none

minor
  src/frontend/src/handler/create_table.rs
Due: rustfmt

fix(frontend): add project after simple agg to avoid noop updates (#18292)
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/append_only.yaml
  src/frontend/planner_test/tests/testdata/output/bushy_join.yaml
  src/frontend/planner_test/tests/testdata/output/ch_benchmark.yaml
  src/frontend/planner_test/tests/testdata/output/cse_expr.yaml
  src/frontend/planner_test/tests/testdata/output/dynamic_filter.yaml
  src/frontend/planner_test/tests/testdata/output/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/output/limit.yaml
  src/frontend/planner_test/tests/testdata/output/mv_column_name.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_source.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/share.yaml
  src/frontend/planner_test/tests/testdata/output/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/tpch.yaml
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Due: rustfmt

add struct
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/creating_job/mod.rs
  src/meta/src/barrier/creating_job/status.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/model/stream.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

rename struct
  src/meta/src/barrier/creating_job/mod.rs
  src/meta/src/barrier/creating_job/status.rs
Due: rustfmt

fix(storage): fix merge levels with conflict sub level type
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
Due: rustfmt

fix(cdc): only allow `ADD` and `DROP` in auto schema change (#18245)
  e2e_test/source/cdc_inline/auto_schema_change_mysql.slt
  src/connector/src/parser/unified/debezium.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_table.rs
  src/meta/service/src/ddl_service.rs
Due: rustfmt

fmt
  src/meta/src/barrier/creating_job/mod.rs
  src/meta/src/barrier/creating_job/status.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
