Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fix(refresh): make meta the single owner of a refresh cycle
  ci/scripts/e2e-source-test.sh
  e2e_test/source_inline/refresh/drop_refresh_table_200k.slt.part
  e2e_test/source_inline/refresh/refresh_table_200k.slt.part
  e2e_test/source_inline/refresh/refresh_table_recovery.slt.serial
  e2e_test/source_inline/refresh/refresh_table_reschedule.slt
  e2e_test/source_inline/refresh/refresh_table_restart_after.slt
  e2e_test/source_inline/refresh/refresh_table_restart_before.slt
  proto/stream_service.proto
  src/meta/node/src/server.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/manager.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/meta/src/barrier/utils.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/catalog/list_op.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/refresh_manager.rs
  src/meta/src/stream/scale.rs
  src/prost/build.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/mview/refresh_progress_table.rs
  src/stream/src/task/barrier_manager/mod.rs
  src/stream/src/task/barrier_worker/managed_state.rs
  src/stream/src/task/barrier_worker/mod.rs
Due: rustfmt

fix(refresh): abandon interrupted refresh cycles during recovery
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/controller/catalog/list_op.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/refresh_manager.rs
Due: rustfmt

test(refresh): hold a refresh cycle open with a rate limit instead of a large load
  e2e_test/source_inline/refresh/drop_refresh_table_200k.slt.part
  e2e_test/source_inline/refresh/drop_refresh_table_paused.slt.part
  e2e_test/source_inline/refresh/refresh_table_200k.slt.part
  e2e_test/source_inline/refresh/refresh_table_paused.slt.part
  e2e_test/source_inline/refresh/refresh_table_recovery.slt.serial
  e2e_test/source_inline/refresh/refresh_table_reschedule.slt
  e2e_test/source_inline/refresh/refresh_table_restart_after.slt
  e2e_test/source_inline/refresh/refresh_table_restart_before.slt
Due: none

test(refresh): flush before reading the result of a refresh cycle
  e2e_test/source_inline/refresh/refresh_table_paused.slt.part
  e2e_test/source_inline/refresh/refresh_table_recovery.slt.serial
  e2e_test/source_inline/refresh/refresh_table_reschedule.slt
  e2e_test/source_inline/refresh/refresh_table_restart_after.slt
Due: none

test(refresh): carry the held cycle's trigger in a let variable
  e2e_test/source_inline/refresh/drop_refresh_table_paused.slt.part
  e2e_test/source_inline/refresh/refresh_table_paused.slt.part
  e2e_test/source_inline/refresh/refresh_table_recovery.slt.serial
  e2e_test/source_inline/refresh/refresh_table_restart_after.slt
  e2e_test/source_inline/refresh/refresh_table_restart_before.slt
Due: none

test(refresh): flush before reading the result of a rate-limited refresh
  e2e_test/source_inline/refresh/refresh_table_rate_limit.slt
Due: none

fix(cdc): validate the declared schema of a CDC table source
  e2e_test/source_inline/cdc/mysql/mysql_cdc_table_source_validation.slt.serial
  e2e_test/source_inline/cdc/postgres/postgres_cdc_table_source.slt.serial
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

refactor(frontend): share CDC table helpers
  src/frontend/src/handler/cdc.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/planner/relation.rs
Due: rustfmt

test(cdc): verify existing consumers after credential rotation
  e2e_test/source_inline/cdc/mysql/disconnect_table_source_user.py
  e2e_test/source_inline/cdc/mysql/mysql_cdc_table_source.slt.serial
Due: none

fix(frontend): avoid copied CDC source credentials
  e2e_test/source_inline/cdc/mysql/mysql_cdc_table_source.slt.serial
  src/frontend/src/binder/expr/function/mod.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
Due: rustfmt

fix(frontend): resolve current CDC source properties
  e2e_test/source_inline/cdc/mysql/mysql_cdc_table_source.slt.serial
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/planner/relation.rs
Due: rustfmt

fix(sqlparser): escape CDC external table names
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

test(cdc): cover rescaling and changelog for CDC table sources
  ci/scripts/e2e-source-cdc-test.sh
  e2e_test/source_inline/cdc/mysql/mysql_cdc_table_source_changelog.slt.serial
  e2e_test/source_inline/cdc/mysql/mysql_cdc_table_source_scale.slt.serial
Due: none

fix(frontend): preserve CDC scan schema when pruning
  e2e_test/source_inline/cdc/mysql/mysql_cdc_table_source.slt.serial
  src/frontend/src/optimizer/plan_node/logical_cdc_scan.rs
Due: rustfmt

fix(meta): rewrite dependent definitions when renaming or swapping a source
  src/meta/src/controller/utils.rs
Due: rustfmt

fix(meta): recognize legacy CDC fragments during progress recovery
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/model/stream.rs
Due: rustfmt

fix(meta): track progress for mixed CDC jobs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/model/stream.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

fix(frontend): reject controls for CDC table sources
  e2e_test/source_inline/cdc/mysql/mysql_cdc_table_source.slt.serial
  src/frontend/src/handler/alter_streaming_rate_limit.rs
  src/frontend/src/handler/reset_source.rs
Due: rustfmt

test(cdc): update shared stream fragment flags
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
Due: none

feat(cdc): support upsert table sources
  e2e_test/source_inline/cdc/mysql/mysql_cdc_table_source.slt.serial
  src/common/src/catalog/external_table.rs
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/handler/alter_source_column.rs
  src/frontend/src/handler/alter_source_props.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/generic/cdc_scan.rs
  src/frontend/src/optimizer/plan_node/logical_changelog.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/frontend/src/planner/relation.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/controller/rename.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

refactor(frontend): simplify CDC fragment flags
  src/frontend/src/stream_fragmenter/mod.rs
Due: rustfmt

fix(frontend): preserve predicates on CDC table scans
  e2e_test/source_inline/cdc/mysql/mysql_cdc_table_source.slt.serial
  src/frontend/src/optimizer/plan_node/logical_cdc_scan.rs
Due: rustfmt

fix check
  src/frontend/src/handler/create_source.rs
Due: rustfmt

fix(optimizer): rename IndexCost::le and sync cost-matrix docs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/frontend/src/optimizer/rule/streaming_index_selection_rule.rs
Due: rustfmt

feat(iceberg): support per-table metadata relations (#26466)
  e2e_test/iceberg/test_case/pure_slt/iceberg_metadata_relations.slt
  proto/batch_plan.proto
  src/batch/executors/src/executor.rs
  src/batch/executors/src/executor/iceberg_metadata_scan.rs
  src/connector/src/sink/iceberg/metadata.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/optimizer/plan_node/batch_iceberg_metadata_scan.rs
  src/frontend/src/optimizer/plan_node/generic/iceberg_metadata_scan.rs
  src/frontend/src/optimizer/plan_node/generic/mod.rs
  src/frontend/src/optimizer/plan_node/logical_iceberg_metadata_scan.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/planner/relation.rs
  src/prost/build.rs
Due: rustfmt

refactor(optimizer): rename IndexCost::le to strictly_cheaper_than
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/frontend/src/optimizer/rule/streaming_index_selection_rule.rs
Due: rustfmt

feat(iceberg): add checkpointed update source planning and execution
  Cargo.lock
  proto/stream_plan.proto
  src/common/src/util/stream_graph_visitor.rs
  src/connector/Cargo.toml
  src/connector/src/connector_common/iceberg/source_contract.rs
  src/connector/src/sink/iceberg/position_delete.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/iceberg/update_planner.rs
  src/connector/src/source/iceberg/update_planner_test.rs
  src/connector/src/source/iceberg/update_planner_test_io.rs
  src/connector/src/source/iceberg/update_reader.rs
  src/connector/src/source/iceberg/update_reader_test.rs
  src/connector/src/source/iceberg/update_state.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/stream/src/executor/source/iceberg_update_executor.rs
  src/stream/src/executor/source/iceberg_update_executor_test.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/trad_source.rs
Due: rustfmt, cargo sort

fix(meta): include interval in recovery barriers
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/worker.rs
Due: rustfmt

feat(iceberg): support per-table metadata relations (release-3.0) (#27132)
  e2e_test/iceberg/test_case/pure_slt/iceberg_metadata_relations.slt
  proto/batch_plan.proto
  src/batch/executors/src/executor.rs
  src/batch/executors/src/executor/iceberg_metadata_scan.rs
  src/connector/src/sink/iceberg/metadata.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/optimizer/plan_node/batch_iceberg_metadata_scan.rs
  src/frontend/src/optimizer/plan_node/generic/iceberg_metadata_scan.rs
  src/frontend/src/optimizer/plan_node/generic/mod.rs
  src/frontend/src/optimizer/plan_node/logical_iceberg_metadata_scan.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/planner/relation.rs
  src/prost/build.rs
Due: rustfmt

docs(proto): clarify barrier interval semantics
  proto/stream_plan.proto
Due: none

fix(stream): avoid blocking runtime on source cleanup
  src/stream/src/executor/source/mod.rs
Due: rustfmt

docs(stream): clarify barrier interval comments
  src/stream/src/executor/mod.rs
  src/stream/src/executor/now.rs
Due: rustfmt

feat(iceberg): enable opt-in streaming update sources
  docs/dev/src/SUMMARY.md
  docs/dev/src/connector/iceberg-streaming-updates.md
  src/connector/src/connector_common/iceberg/mock_catalog.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/iceberg/update_planner.rs
  src/connector/src/with_options.rs
  src/frontend/src/binder/relation/table_or_source.rs
  src/frontend/src/catalog/source_catalog.rs
  src/frontend/src/handler/alter_source_props.rs
  src/frontend/src/handler/alter_streaming_rate_limit.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema/iceberg.rs
  src/frontend/src/handler/create_source/iceberg_update_test.rs
  src/frontend/src/optimizer/plan_node/generic/source.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/plan_node/stream_source.rs
  src/frontend/src/optimizer/rule/iceberg_intermediate_scan_rule.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/controller/streaming_job.rs
  src/stream/src/executor/source/iceberg_update_executor.rs
  src/stream/src/executor/source/iceberg_update_executor_test.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/trad_source.rs
Due: rustfmt

refactor(frontend): rename IndexCost::le to strictly_cheaper_than
  src/frontend/src/optimizer/rule/index_selection_rule.rs
  src/frontend/src/optimizer/rule/streaming_index_selection_rule.rs
Due: rustfmt

perf(storage): reduce compaction picker scans and allocations (#27081)
  Cargo.lock
  src/meta/Cargo.toml
  src/meta/src/hummock/compaction/overlap_strategy.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/non_overlap_sub_level_picker.rs
Due: rustfmt, cargo sort

fix(iceberg): unblock streaming update source startup
  e2e_test/iceberg/manual/README.md
  e2e_test/iceberg/manual/streaming_updates.slt
  e2e_test/iceberg/manual/streaming_updates_catalog.py
  src/connector/src/connector_common/iceberg/mod.rs
  src/stream/src/executor/iceberg_with_pk_index/compaction_resolver.rs
  src/stream/src/executor/source/iceberg_update_executor.rs
Due: rustfmt

refactor: require barrier interval in barrier messages
  proto/stream_plan.proto
  src/meta/src/barrier/checkpoint/independent_job/batch_refresh_job/mod.rs
  src/meta/src/barrier/checkpoint/independent_job/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/independent_job/creating_job/status.rs
  src/meta/src/barrier/checkpoint/independent_job/mod.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/partial_graph.rs
  src/meta/src/barrier/worker.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/now.rs
  src/stream/src/from_proto/now.rs
Due: rustfmt

feat(stream): forward watermarks through general over window (#27050)
  e2e_test/streaming/over_window/watermark_forwarding.slt
  src/expr/core/src/window_function/call.rs
  src/frontend/planner_test/tests/testdata/input/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark_watermark.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/optimizer/plan_node/stream_over_window.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/tests/integration_tests/over_window.rs
Due: rustfmt

fix(lints): allow temporary guarded gauge sets
  lints/src/temporary_guarded_metric.rs
  lints/ui/temporary_guarded_metric.stderr
Due: rustfmt

chore(lints): detect temporary guarded metric updates
  lints/Cargo.toml
  lints/README.md
  lints/src/format_error.rs
  lints/src/lib.rs
  lints/src/temporary_guarded_metric.rs
  lints/ui/temporary_guarded_metric.rs
  lints/ui/temporary_guarded_metric.stderr
Due: rustfmt, cargo sort
