Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fix_comment
  src/connector/src/sink/mod.rs
Due: rustfmt

chore: increase timeout for iceberg test
  ci/workflows/pull-request.yml
Due: none

fix source rate limit and adjust iceberg catalog commit
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine_append_only.slt
  src/meta/node/src/server.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
Due: rustfmt

check
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

address comments
  src/common/src/catalog/mod.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/handler/drop_source.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog/create_op.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

feat(vector): add metrics to monitor vector index (#23151)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/__init__.py
  grafana/dashboard/dev/vector_search.py
  grafana/risingwave-dev-dashboard.json
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/vector_writer.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/hummock/vector/file.rs
  src/storage/src/hummock/vector/mod.rs
  src/storage/src/hummock/vector/monitor.rs
  src/storage/src/hummock/vector/writer/hnsw.rs
  src/storage/src/hummock/vector/writer/mod.rs
  src/storage/src/lib.rs
  src/storage/src/monitor/hummock_state_store_metrics.rs
  src/storage/src/monitor/monitored_storage_metrics.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/vector/hnsw.rs
Due: rustfmt

improve panel docs
  grafana/dashboard/dev/cluster_essential.py
Due: none

add busy rate + concurrently report blocking inputs
  grafana/dashboard/common.py
  grafana/dashboard/dev/cluster_essential.py
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/receiver.rs
Due: rustfmt

improve metric accuracy + add docs
  grafana/dashboard/dev/cluster_essential.py
Due: none

generate artifacts
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.json
Due: none

avoid recompile reducer
  ci/scripts/run-fuzz-test.sh
Due: none

fix reducer
  ci/scripts/run-fuzz-test.sh
Due: none

fix
  ci/scripts/run-fuzz-test.sh
Due: none

fix: fix slt
  e2e_test/iceberg/test_case/iceberg_sink_compaction_type_validation.slt
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

resolve review comments
  Cargo.lock
  src/common/src/array/bytes_array.rs
  src/expr/macro/Cargo.toml
  src/expr/macro/src/lib.rs
  src/expr/macro/src/parse.rs
Due: rustfmt, cargo sort

fix(ci): fix reducer script (#23745)
  ci/scripts/run-fuzz-test.sh
Due: none

feat(stream,dashboard): improve actor input buffer blocking metrics and add actor busy time panel (#23612)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/common.py
  grafana/dashboard/dev/cluster_essential.py
  grafana/risingwave-dev-dashboard.json
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/receiver.rs
Due: rustfmt

add relation busy rate to dashboard
  grafana/dashboard/dev/cluster_essential.py
Due: none

add docs
  grafana/dashboard/dev/cluster_essential.py
Due: none

report actor metrics at the fragment level
  grafana/dashboard/dev/streaming_actors_tokio.py
  src/common/src/config/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/task/actor_manager.rs
Due: rustfmt

whitespace
  grafana/dashboard/dev/cluster_essential.py
Due: none

address comments
  ci/scripts/e2e-ldap-test.sh
  e2e_test/ldap/ldap_auth.slt
Due: none

refactor(refresh): enhance query retry logic and logging
  e2e_test/iceberg/test_case/pure_slt/refresh_iceberg_table.slt
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/stream/refresh_manager.rs
  src/stream/src/executor/mview/materialize.rs
Due: rustfmt

meta_store_migration
  src/connector/src/sink/iceberg/mod.rs
  src/meta/model/migration/src/m20251104_195858_pending_sink_state.rs
Due: rustfmt

refactor(refresh): remove deprecated refresh state handling
  proto/catalog.proto
  src/frontend/src/catalog/table_catalog.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20251022_294610_source_refresh_mode.rs
  src/meta/model/migration/src/m20251030_120000_refresh_jobs.rs
  src/meta/model/src/refresh_job.rs
  src/meta/model/src/table.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/controller/catalog/list_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/mod.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/refresh_manager.rs
Due: rustfmt

org.apache.kafka.connect.data.{Schema,SchemaBuilder,ConnectSchema,Field}
  Cargo.lock
  src/connector/codec/Cargo.toml
  src/connector/codec/src/kconnect/data/mod.rs
  src/connector/codec/src/kconnect/data/schema.rs
  src/connector/codec/src/kconnect/json/mod.rs
  src/connector/codec/src/kconnect/mod.rs
  src/connector/codec/src/lib.rs
Due: rustfmt, cargo sort

commit_retry_loop
  src/meta/src/manager/sink_coordination/coordinator_worker.rs
Due: rustfmt

fix: fix copy-on-write slt
  Cargo.lock
  Cargo.toml
  src/connector/src/sink/iceberg/mod.rs
  src/meta/src/manager/iceberg_compaction.rs
  src/storage/Cargo.toml
  src/storage/src/hummock/compactor/iceberg_compaction/iceberg_compactor_runner.rs
Due: rustfmt, cargo sort

test(ci): add e2e ldap authentication tests (#23642)
  ci/docker-compose.yml
  ci/ldap-test/.gitignore
  ci/ldap-test/README.md
  ci/ldap-test/ldif/01-users.ldif
  ci/ldap-test/setup-ldap-certs.sh
  ci/scripts/e2e-ldap-test.sh
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  e2e_test/ldap/ldap_auth.slt
  risedev.yml
  src/config/ci-ldap-search-bind-url.toml
  src/config/ci-ldap-search-bind.toml
  src/config/ci-ldap-simple-bind-url.toml
  src/config/ci-ldap-simple-bind.toml
  src/utils/pgwire/src/ldap_auth.rs
Due: rustfmt

fix removed source ids
  src/meta/src/controller/catalog/drop_op.rs
Due: rustfmt

typo
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
Due: rustfmt

chore: revert pull-request.yml
  ci/workflows/pull-request.yml
Due: none

chore: cleanup some workaround for background siit
  src/frontend/src/handler/cancel_job.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

feat(refresh): add ListRefreshTableStates RPC and related structures
  proto/meta.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/mod.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_refresh_table_state.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/meta/model/migration/src/m20251030_120000_refresh_jobs.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/stream/refresh_manager.rs
  src/prost/build.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

fix canceling creating jobs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

errors
  src/connector/codec/src/kconnect/data/schema.rs
  src/connector/codec/src/kconnect/errors.rs
  src/connector/codec/src/kconnect/mod.rs
Due: rustfmt

fix
  src/stream/src/executor/locality_provider.rs
  src/stream/src/from_proto/locality_provider.rs
Due: rustfmt

add src + revert default for tokio metrics to false + add fragment_id to labels
  src/common/src/config/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/task/actor_manager.rs
Due: rustfmt
