Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: typos
        name: typos
        entry: typos -w
        language: system
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

tolerate more
  src/tests/simulation/src/slt.rs
Due: rustfmt

fix display of math equations in dev docs
  docs/dev/book.toml
  docs/dev/src/design/consistent-hash.md
Due: none

fix(docs): display of math equations in dev docs (#17998)
  docs/dev/book.toml
  docs/dev/src/design/consistent-hash.md
Due: none

do not filter stack trace
  ci/scripts/deterministic-recovery-test.sh
Due: none

provide dummy Ord/memcmp impl
  src/common/src/array/list_array.rs
  src/common/src/array/map_array.rs
  src/common/src/hash/key.rs
  src/common/src/types/mod.rs
  src/common/src/util/memcmp_encoding.rs
Due: rustfmt

feat(source): use the default_provider for AWS-related connectors (#17933)
  src/connector/src/connector_common/common.rs
Due: rustfmt

output every epoch
  src/stream/src/executor/approx_percentile/global.rs
Due: rustfmt

remove rust_min_stack in e2e sink test
  ci/scripts/e2e-sink-test.sh
Due: none

leave first 10 lines
  ci/scripts/common.sh
  ci/scripts/deterministic-recovery-test.sh
Due: none

fix(stream): let approx percentile output its results every epoch (#18002)
  ci/scripts/common.sh
  src/stream/src/executor/approx_percentile/global.rs
Due: rustfmt

feat(storage): introduce estimated_sst_size
  proto/hummock.proto
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_hummock_version.rs
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/compaction_task_validator.rs
  src/meta/src/hummock/compaction/picker/intra_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/manual_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/min_overlap_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/space_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/tombstone_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/ttl_reclaim_compaction_picker.rs
  src/meta/src/hummock/compaction/selector/level_selector.rs
  src/meta/src/hummock/compaction/selector/mod.rs
  src/meta/src/hummock/level_handler.rs
  src/meta/src/hummock/manager/compaction.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/test_utils.rs
  src/storage/hummock_sdk/src/compact.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_sdk/src/sstable_info.rs
  src/storage/hummock_sdk/src/time_travel.rs
  src/storage/hummock_test/src/hummock_read_version_tests.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/test_utils.rs
Due: rustfmt

update connector-node java to 17 and may fix ci
  ci/scripts/connector-node-integration-test.sh
Due: none

su
  src/frontend/src/monitor/stats.rs
  src/frontend/src/session/cursor_manager.rs
Due: rustfmt

another try
  ci/scripts/connector-node-integration-test.sh
  java/pom.xml
Due: none

do not change pom.xml
  java/pom.xml
Due: none

add test
  e2e_test/streaming/aggregate/two_phase_approx_percentile_merge_stateful_agg.slt
  e2e_test/streaming/aggregate/two_phase_approx_percentile_merge_stateless_agg.slt
Due: none

implement two phase stateful approx_percentile agg
  e2e_test/streaming/aggregate/two_phase_approx_percentile_merge_stateful_agg.slt
  e2e_test/streaming/aggregate/two_phase_approx_percentile_merge_stateless_agg.slt
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Due: rustfmt

chore: test data shall not use non-existent option `kafka.servers` (#17996)
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/show.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

fix(storage): split overlapping level
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
  src/storage/src/hummock/compactor/iterator.rs
Due: rustfmt

fix
  src/batch/src/worker_manager/worker_node_manager.rs
  src/common/src/vnode_mapping/vnode_placement.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/manager/cluster.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

fix
  src/frontend/src/optimizer/plan_node/logical_agg.rs
Due: rustfmt

fix(ci): wait for the standalone/single-node process to be killed before starting again
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/single-node-utils.sh
  ci/scripts/standalone-utils.sh
Due: none

WIP: support ssl cert for pg
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

fix(mssql-cdc): remove vendored-openssl
  Cargo.lock
  src/connector/Cargo.toml
Due: cargo sort

add cache docs
  e2e_test/streaming/aggregate/two_phase_approx_percentile_1m.slt
  src/stream/src/executor/approx_percentile/global.rs
  src/stream/src/executor/approx_percentile/global_cache.rs
  src/stream/src/executor/approx_percentile/mod.rs
Due: rustfmt

fix(ci): wait for the standalone/single-node process to be killed before starting again (#18010)
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  ci/scripts/single-node-utils.sh
  ci/scripts/standalone-utils.sh
Due: none

fix(mssql-cdc): remove vendored-openssl of tiberus (#18013)
  Cargo.lock
  src/connector/Cargo.toml
Due: cargo sort

feat: support create table with map type
  e2e_test/batch/distribution_mode.slt
  e2e_test/batch/local_mode.slt
  e2e_test/batch/types/list.slt.part
  e2e_test/batch/types/map.slt.part
  e2e_test/batch/types/struct.slt.part
  src/expr/impl/src/scalar/cast.rs
  src/frontend/planner_test/tests/testdata/output/insert.yaml
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/binder/insert.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/expr/type_inference/cast.rs
  src/frontend/src/handler/create_mv.rs
  src/sqlparser/src/ast/data_type.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/src/parser_v2/data_type.rs
Due: rustfmt

fix batch file source when no file and 1 file
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/plan_fragmenter.rs
Due: rustfmt

fix comment
  src/connector/src/sink/kinesis.rs
Due: rustfmt

fix
  src/connector/src/source/reader/reader.rs
  src/stream/src/executor/source/list_executor.rs
Due: rustfmt

update test
  e2e_test/s3/fs_source_v2_new_file.py
Due: none

remove export RUST_MIN_STACK=4194304
  ci/scripts/e2e-source-test.sh
Due: none

allow more err
  src/tests/simulation/src/slt.rs
Due: rustfmt

fix
  e2e_test/s3/fs_source_v2_new_file.py
Due: none

resolve comments
  src/frontend/src/binder/insert.rs
  src/frontend/src/binder/select.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/utils/mod.rs
Due: rustfmt

chore(storage): add some debug log
  src/storage/hummock_sdk/src/compact.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
  src/storage/hummock_sdk/src/key.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/iterator.rs
  src/storage/src/hummock/compactor/mod.rs
Due: rustfmt
