Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

fix test
  e2e_test/batch/describe_fragments.slt
Due: none

only assert for non-singleton
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
Due: rustfmt

refactor: migrate actor and fragment metadata from db to in-memory cache (#22932)
  Cargo.lock
  src/meta/Cargo.toml
  src/meta/model/src/actor.rs
  src/meta/model/src/fragment.rs
  src/meta/model/src/prelude.rs
  src/meta/service/src/ddl_service.rs
  src/meta/service/src/scale_service.rs
  src/meta/src/backup_restore/restore_impl/v2.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/controller/catalog/get_op.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/id.rs
  src/meta/src/controller/scale.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/manager/env.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/mod.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_graph/id.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_scale.rs
  src/storage/backup/src/meta_snapshot_v2.rs
Due: rustfmt, cargo sort

fix ci
  e2e_test/sink/license.slt
Due: none

fix index selection to ensure the distribution key of the index scan is the subset of the locality columns
  src/frontend/planner_test/tests/testdata/input/index_selection_for_backfilling.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection_for_backfilling.yaml
  src/frontend/src/optimizer/plan_node/logical_scan.rs
Due: rustfmt

tolerate vnode column
  src/frontend/src/optimizer/plan_node/generic/project.rs
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
Due: rustfmt

feat(sink): introduce `Retract` sink type (#23593)
  e2e_test/sink/append_only_sink.slt
  e2e_test/sink/kafka/create_sink.slt
  proto/catalog.proto
  src/connector/src/sink/catalog/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/pulsar.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/meta/model/src/sink.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/stream/src/executor/sink.rs
  src/stream/src/from_proto/sink.rs
Due: rustfmt

implement for drop
  src/frontend/src/handler/common.rs
  src/frontend/src/handler/drop_mv.rs
Due: rustfmt

feat(ci): add option to control push to dockerhub (#22889) (#23610)
  .github/workflows/build-docker-image.yml
  ci/scripts/multi-arch-docker.sh
Due: none

fix schema display
  src/frontend/src/optimizer/plan_node/stream_exchange.rs
Due: rustfmt

fix(binder): fix explain with parameters; simplify IN expr without consts (#23579)
  src/frontend/planner_test/tests/testdata/input/parameters.yaml
  src/frontend/planner_test/tests/testdata/output/parameters.yaml
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/optimizer/plan_expr_rewriter/const_eval_rewriter.rs
Due: rustfmt

feat(frontend): notify user when DROP and CANCEL operations take too long (#23614)
  src/common/src/session_config/mod.rs
  src/frontend/src/handler/cancel_job.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_subscription.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/handler/drop_view.rs
  src/frontend/src/handler/util.rs
Due: rustfmt

Delete src/frontend/src/handler/common.rs
  src/frontend/src/handler/common.rs
Due: rustfmt

Simplify drop view execution by removing notification
  src/frontend/src/handler/drop_view.rs
Due: rustfmt

enable aws_lc_rs (1.x more stable API than rust_crypto)
  Cargo.lock
  Cargo.toml
  src/license/Cargo.toml
  src/utils/pgwire/Cargo.toml
Due: cargo sort

cherry pick up cast unsigned int to 2.6
  e2e_test/source_inline/cdc/mysql/mysql_alter_drop_connector.serial
  e2e_test/source_inline/cdc/mysql/mysql_create_drop.slt.serial
  e2e_test/source_inline/cdc/mysql/mysql_timestamptz_as_pk.slt
  e2e_test/source_inline/cdc/mysql/test_unsigned_int.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  src/connector/src/parser/config.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/maxwell/simd_json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/datagen/source/generator.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
Due: rustfmt

aws-lc-fips-sys/bindgen
  Cargo.lock
Due: none

bugfix: resume changes that are removed incorrectly during merge
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

fix test
  e2e_test/batch/catalog/pg_settings.slt.part
Due: none

add sql-reduce-full
  Makefile.toml
Due: none

add risedev command
  .gitignore
  Makefile.toml
Due: none

Apply suggestions from code review
  Makefile.toml
Due: none

feat(risedev): add sqlsmith-reducer risedev command (#23606)
  Makefile.toml
Due: none

fix(streaming): fix index's stream key to include distribution key (#23592)
  e2e_test/batch/describe_fragments.slt
  e2e_test/streaming/mv_on_index.slt
  src/frontend/planner_test/tests/testdata/input/index_selection_for_backfilling.yaml
  src/frontend/planner_test/tests/testdata/output/agg.yaml
  src/frontend/planner_test/tests/testdata/output/basic_query.yaml
  src/frontend/planner_test/tests/testdata/output/delta_join.yaml
  src/frontend/planner_test/tests/testdata/output/distribution_derive.yaml
  src/frontend/planner_test/tests/testdata/output/functional_dependency.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection_for_backfilling.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/planner_test/tests/testdata/output/locality_backfill.yaml
  src/frontend/planner_test/tests/testdata/output/stream_dist_agg.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/derive.rs
  src/frontend/src/optimizer/plan_node/generic/join.rs
  src/frontend/src/optimizer/plan_node/generic/table_scan.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/frontend/src/optimizer/plan_node/stream_vector_index_write.rs
Due: rustfmt

feat(frontend): notify user to RECOVER when DROP or CANCEL take too long (#23613)
  e2e_test/batch/catalog/pg_settings.slt.part
  src/common/src/session_config/mod.rs
  src/frontend/src/handler/cancel_job.rs
  src/frontend/src/handler/drop_index.rs
  src/frontend/src/handler/drop_mv.rs
  src/frontend/src/handler/drop_sink.rs
  src/frontend/src/handler/drop_source.rs
  src/frontend/src/handler/drop_subscription.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/handler/util.rs
Due: rustfmt

fix(mysql-cdc): upcast unsigned bigint to decimal (#23616)
  e2e_test/source_inline/cdc/mysql/mysql_alter_drop_connector.serial
  e2e_test/source_inline/cdc/mysql/mysql_create_drop.slt.serial
  e2e_test/source_inline/cdc/mysql/mysql_timestamptz_as_pk.slt
  e2e_test/source_inline/cdc/mysql/test_unsigned_int.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
  src/connector/src/parser/config.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/maxwell/simd_json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/mysql.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/datagen/source/generator.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
Due: rustfmt

feat: stream gap fill executor (#23083)
  src/common/src/gap_fill_types.rs
  src/common/src/lib.rs
  src/stream/src/executor/gap_fill.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/monitor/streaming_stats.rs
Due: rustfmt

feat: eowc gap_fill executor (#22731)
  src/stream/src/executor/eowc/eowc_gap_fill.rs
  src/stream/src/executor/eowc/mod.rs
Due: rustfmt

chore(frontend): add sql_benchmark for gap_fill
  develop/sql_bench/benchmarks/gap_fill_eowc.yaml
  develop/sql_bench/benchmarks/gap_fill_streaming.yaml
Due: none

chore(frontend): add eowc planner test and fix clippy check
  src/frontend/planner_test/tests/testdata/input/gap_fill.yaml
  src/frontend/planner_test/tests/testdata/output/gap_fill.yaml
  src/frontend/src/binder/relation/gap_fill.rs
  src/frontend/src/optimizer/plan_node/generic/gap_fill.rs
  src/frontend/src/optimizer/plan_node/logical_gap_fill.rs
  src/frontend/src/optimizer/plan_node/stream_eowc_gap_fill.rs
  src/frontend/src/optimizer/plan_node/stream_gap_fill.rs
  src/frontend/src/stream_fragmenter/mod.rs
Due: rustfmt

feat: frontend of gap fill
  e2e_test/streaming/gap_fill.slt
  e2e_test/streaming/gap_fill_eowc.slt
  proto/stream_plan.proto
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/src/binder/gap_fill_binder.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/gap_fill.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/binder/relation/table_function.rs
  src/frontend/src/optimizer/plan_node/generic/gap_fill.rs
  src/frontend/src/optimizer/plan_node/generic/mod.rs
  src/frontend/src/optimizer/plan_node/logical_gap_fill.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_eowc_gap_fill.rs
  src/frontend/src/optimizer/plan_node/stream_gap_fill.rs
  src/frontend/src/planner/relation.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/src/stream/stream_graph/schedule.rs
  src/prost/build.rs
  src/stream/src/from_proto/eowc_gap_fill.rs
  src/stream/src/from_proto/gap_fill.rs
  src/stream/src/from_proto/mod.rs
Due: rustfmt

chore(frontend): apply default NULL strategy in gap fill slt test
  e2e_test/streaming/gap_fill.slt
  e2e_test/streaming/gap_fill_eowc.slt
Due: none

chore(slt): use flush in gap fill slt tests
  develop/sql_bench/benchmarks/gap_fill_eowc.yaml
  develop/sql_bench/benchmarks/gap_fill_streaming.yaml
  e2e_test/streaming/gap_fill.slt
  e2e_test/streaming/gap_fill_eowc.slt
Due: none

chore(frontend): resolve some comments and conflicts
  e2e_test/streaming/gap_fill.slt
  e2e_test/streaming/gap_fill_eowc.slt
  src/frontend/planner_test/tests/testdata/input/gap_fill.yaml
  src/frontend/planner_test/tests/testdata/output/gap_fill.yaml
  src/frontend/src/binder/relation/gap_fill.rs
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_eowc_gap_fill.rs
  src/frontend/src/optimizer/plan_node/stream_gap_fill.rs
  src/stream/src/from_proto/eowc_gap_fill.rs
  src/stream/src/from_proto/gap_fill.rs
Due: rustfmt

enhance test
  ci/scripts/e2e-source-mysql-offline-schema-change.sh
Due: none

feat(streaming): better handling of `Update` on conflict in `Materialize`
  src/stream/src/executor/mview/materialize.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
