Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: typos
        name: typos
        entry: typos -w
        language: system
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

Revert "temp revert to 1b359b0cb7 for test timeout"
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/lib.rs
Due: rustfmt

fix: don't initialize executor_row_count metrics when disabled
  src/stream/src/executor/wrapper/trace.rs
Due: rustfmt

cleanup slt
  e2e_test/source/tvf/postgres_query.slt
Due: none

force checkpoint in normal barrier
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/transaction.rs
Due: rustfmt

feat(nimtable): change checkpoint frequency to 60s (#18832)
  src/common/src/system_param/mod.rs
  src/config/docs.md
  src/config/example.toml
Due: rustfmt

chore: fix serde
  e2e_test/s3/fs_sink_batch.py
  src/connector/src/sink/file_sink/batching_log_sink.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/with_options_sink.yaml
Due: rustfmt

bump arrow-udf version
  Cargo.toml
Due: cargo sort

remove dependency on arrow 52
  Cargo.lock
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_52.rs
  src/common/src/array/arrow/arrow_udf.rs
  src/common/src/array/arrow/mod.rs
Due: rustfmt, cargo sort

fix(metric): correctly update storage object metric (#18835)
  proto/hummock.proto
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/rpc_client/src/hummock_meta_client.rs
  src/rpc_client/src/meta_client.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/hummock_meta_client.rs
  src/storage/src/hummock/vacuum.rs
Due: rustfmt

fix build error
  src/expr/impl/src/udf/external.rs
Due: rustfmt

match quotes
  e2e_test/source/tvf/postgres_query.slt
Due: none

fix: fix base64 decode on +
  e2e_test/batch/functions/encdec.slt.part
  src/expr/impl/src/scalar/encdec.rs
Due: rustfmt

fix and add expire_snapshots
  src/connector/src/sink/iceberg/compaction.rs
  src/connector/src/sink/iceberg/java/src/main/java/com/risingwave/nimtable/SparkIcebergCompaction.java
Due: rustfmt

feat(storage): support disable auto group scheduling (#18833)
  proto/hummock.proto
  src/common/src/config.rs
  src/ctl/src/cmd_impl/hummock/compaction_group.rs
  src/ctl/src/lib.rs
  src/meta/src/hummock/compaction/compaction_config.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
Due: rustfmt

fix: don't initialize executor_row_count metrics when disabled (#18836)
  src/stream/src/executor/wrapper/trace.rs
Due: rustfmt

chore: fix serde enum
  src/connector/src/sink/file_sink/azblob.rs
  src/connector/src/sink/file_sink/batching_log_sink.rs
  src/connector/src/sink/file_sink/fs.rs
  src/connector/src/sink/file_sink/gcs.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/file_sink/s3.rs
  src/connector/src/sink/file_sink/webhdfs.rs
  src/connector/src/with_options.rs
Due: rustfmt

refactor(sink): refactor es and opensearch to support async (#17746)
  Cargo.lock
  e2e_test/sink/elasticsearch/elasticsearch_with_pk_sink.result
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/SinkUtils.java
  java/connector-node/risingwave-connector-test/src/test/java/com/risingwave/connector/sink/elasticsearch/EsSinkTest.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSink.java
  java/connector-node/risingwave-sink-es-7/src/main/java/com/risingwave/connector/EsSinkFactory.java
  src/common/src/row/mod.rs
  src/connector/Cargo.toml
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_converter.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_client.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_config.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_formatter.rs
  src/connector/src/sink/elasticsearch_opensearch/mod.rs
  src/connector/src/sink/elasticsearch_opensearch/opensearch.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/remote.rs
  src/connector/with_options_sink.yaml
Due: rustfmt, cargo sort

fix(meta): rename `--license-key-file` to `--license-key-path`
  src/cmd_all/src/standalone.rs
  src/meta/node/src/lib.rs
Due: rustfmt

fix(sink): allow starrocks.host to be an fe follower (#17679)
  ci/scripts/e2e-starrocks-sink-test.sh
  e2e_test/sink/starrocks_sink.slt
  src/connector/src/sink/doris_starrocks_connector.rs
  src/connector/src/sink/starrocks.rs
Due: rustfmt

pass catalog config in sdk
  src/connector/src/sink/iceberg/compaction.rs
  src/connector/src/sink/iceberg/java/src/main/java/com/risingwave/nimtable/SparkIcebergCompaction.java
Due: rustfmt

fix test
  e2e_test/source/tvf/postgres_query.slt
Due: none

Update src/batch/src/executor/postgres_query.rs
  src/batch/src/executor/postgres_query.rs
Due: rustfmt

add timezone
  e2e_test/source/tvf/postgres_query.slt
Due: none

Update src/frontend/src/binder/expr/function/mod.rs
  src/frontend/src/binder/expr/function/mod.rs
Due: rustfmt

feat(iceberg): iceberg scan metrics
  src/batch/src/executor/iceberg_scan.rs
  src/batch/src/monitor/stats.rs
  src/batch/src/task/context.rs
  src/batch/src/task/env.rs
  src/compute/src/server.rs
Due: rustfmt

fix hummock ut
  src/storage/hummock_sdk/src/lib.rs
Due: rustfmt

unify BatchingStrategy
  src/connector/src/sink/file_sink/azblob.rs
  src/connector/src/sink/file_sink/fs.rs
  src/connector/src/sink/file_sink/gcs.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/file_sink/s3.rs
  src/connector/src/sink/file_sink/webhdfs.rs
Due: rustfmt

chore: switch to foyer release version
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix
  e2e_test/source/tvf/postgres_query.slt
  src/batch/src/executor/postgres_query.rs
Due: rustfmt

feat(iceberg): support iceberg write bytes metrics
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/mod.rs
Due: rustfmt

fix
  e2e_test/source/tvf/postgres_query.slt
Due: none

fix
  src/frontend/src/binder/expr/function/mod.rs
Due: rustfmt

fix: fix base64 decode on + (#18837)
  e2e_test/batch/functions/encdec.slt.part
  src/expr/impl/src/scalar/encdec.rs
Due: rustfmt

typo
  src/batch/src/executor/iceberg_scan.rs
Due: rustfmt

fix ut
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
Due: rustfmt

rename
  src/meta/src/barrier/mod.rs
Due: rustfmt

feat(iceberg): support iceberg stat metrics
  src/frontend/src/monitor/stats.rs
  src/frontend/src/session.rs
Due: rustfmt

feat(dashboard): update grafana
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
Due: none

update with option yml
  src/connector/with_options_sink.yaml
Due: none
