Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

always use prometheus
  dashboard/lib/api/streamingStats.ts
Due: none

format
  dashboard/components/RelationGraph.tsx
  dashboard/lib/api/streamingStats.ts
  dashboard/pages/fragment_graph.tsx
  dashboard/pages/relation_graph.tsx
Due: none

update to use delta stats
  proto/monitor_service.proto
  src/meta/src/dashboard/mod.rs
Due: rustfmt

add a toggle for relations
  dashboard/pages/relation_graph.tsx
Due: none

fix metric labels
  src/meta/src/dashboard/mod.rs
Due: rustfmt

fix refactor
  dashboard/lib/api/streamingStats.ts
  dashboard/pages/fragment_graph.tsx
  dashboard/pages/relation_graph.tsx
Due: none

add proto
  proto/monitor_service.proto
Due: none

unify get stats
  dashboard/lib/api/streamingStats.ts
  dashboard/pages/fragment_graph.tsx
  dashboard/pages/relation_graph.tsx
Due: none

set fragment backpressures
  dashboard/pages/fragment_graph.tsx
Due: none

calculate average
  src/meta/src/dashboard/mod.rs
Due: rustfmt

log scraping results
  dashboard/pages/relation_graph.tsx
Due: none

add new route for prometheus metrics
  src/meta/src/dashboard/mod.rs
Due: rustfmt

use the same proto for delta stats
  dashboard/components/FragmentGraph.tsx
  dashboard/components/RelationGraph.tsx
  dashboard/pages/fragment_graph.tsx
  dashboard/pages/relation_graph.tsx
Due: none

add time controls
  dashboard/components/TimeControls.tsx
  dashboard/lib/api/streamingStats.ts
  dashboard/lib/utils/timeUtils.ts
  dashboard/pages/fragment_graph.tsx
  dashboard/pages/relation_graph.tsx
Due: none

cleanup
  dashboard/pages/fragment_graph.tsx
Due: none

support historical queries
  src/meta/src/dashboard/mod.rs
Due: rustfmt

remove reset button
  dashboard/pages/relation_graph.tsx
Due: none

use current system timezone
  dashboard/components/TimeControls.tsx
  dashboard/lib/utils/timeUtils.ts
Due: none

provide now button
  dashboard/components/TimeControls.tsx
Due: none

refactor dispatch output_blocking_duration profiling
  src/stream/src/executor/dispatch.rs
Due: rustfmt

remove alter cdc.source.wait.streaming.start.timeout first
  src/connector/src/allow_alter_on_fly_fields.rs
Due: rustfmt

fix: fix datafusion sql format
  Cargo.lock
  src/storage/Cargo.toml
Due: cargo sort

fix_proto_build
  src/frontend/src/optimizer/plan_node/stream_upstream_sink_union.rs
  src/prost/build.rs
Due: rustfmt

fix typo
  src/frontend/src/optimizer/plan_node/col_pruning.rs
  src/frontend/src/optimizer/plan_node/mod.rs
Due: rustfmt

assert there's input & forward input kind when there's only 1 input
  src/frontend/src/optimizer/plan_node/stream_union.rs
Due: rustfmt

determine stream kind for union based on the presence of `core.source_col`
  src/frontend/src/optimizer/plan_node/stream_union.rs
Due: rustfmt

hard code with option
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/with_options_test.rs
Due: rustfmt

chore: fix typo of column prunning of the share node (#22869)
  src/frontend/src/optimizer/plan_node/col_pruning.rs
  src/frontend/src/optimizer/plan_node/mod.rs
Due: rustfmt

fix typo
  src/stream/src/from_proto/vector_index.rs
Due: rustfmt

fix: iceberg compaction fix sql format
  Cargo.lock
  src/storage/Cargo.toml
Due: cargo sort

progress state table
  proto/stream_plan.proto
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/meta/src/barrier/context/context_impl.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/stream/src/executor/mview/materialize.rs
  src/stream/src/executor/mview/refresh_progress_table.rs
  src/stream/src/from_proto/mview.rs
Due: rustfmt

add graph file to vector meta cache
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/vector/writer/hnsw.rs
Due: rustfmt

add more logs for debugging
  src/connector/src/source/cdc/source/reader.rs
Due: rustfmt

fix: iceberg compaction fix sql format (#22871)
  Cargo.lock
  src/storage/Cargo.toml
Due: cargo sort

fix_recovery
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

unify two file vector store
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/vector/mod.rs
  src/storage/src/hummock/vector/writer/hnsw.rs
  src/storage/src/hummock/vector/writer/mod.rs
  src/storage/src/vector/hnsw.rs
Due: rustfmt

rename hnsw vector store to file vector store
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/vector/file.rs
  src/storage/src/hummock/vector/writer/hnsw.rs
  src/storage/src/hummock/vector/writer/mod.rs
Due: rustfmt

feat(streaming): implement vector index write executor (#22241)
  proto/catalog.proto
  proto/common.proto
  proto/hummock.proto
  proto/stream_plan.proto
  proto/stream_service.proto
  src/common/src/catalog/mod.rs
  src/common/src/util/stream_graph_visitor.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250729_174630_add_vector_index_info.rs
  src/meta/model/src/table.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/utils.rs
  src/meta/src/controller/mod.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/prost/build.rs
  src/storage/hummock_sdk/src/vector_index.rs
  src/storage/hummock_test/src/hummock_vector_tests.rs
  src/storage/src/compaction_catalog_manager.rs
  src/storage/src/hummock/store/vector_writer.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/vector_index/mod.rs
  src/stream/src/from_proto/mod.rs
  src/stream/src/from_proto/vector_index.rs
  src/stream/src/task/barrier_worker/mod.rs
Due: rustfmt

feat(storage): hummock vector service for ann-benchmark
  Cargo.lock
  Cargo.toml
  proto/hummock.proto
  src/storage/hummock_sdk/src/vector_index.rs
  src/storage/hummock_vector_service/Cargo.toml
  src/storage/hummock_vector_service/python-client/.gitignore
  src/storage/hummock_vector_service/python-client/build-venv.sh
  src/storage/hummock_vector_service/python-client/format-python.sh
  src/storage/hummock_vector_service/python-client/gen-stub.sh
  src/storage/hummock_vector_service/src/main.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/vector/file.rs
  src/storage/src/hummock/vector/mod.rs
  src/storage/src/hummock/vector/writer/hnsw.rs
  src/storage/src/hummock/vector/writer/mod.rs
  src/storage/src/vector/distance.rs
Due: rustfmt, cargo sort

fix_dylint
  src/stream/src/executor/merge.rs
  src/stream/src/executor/upstream_sink_union.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
