Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

add test
  e2e_test/sink/iceberg_sink.slt
Due: none

refine
  e2e_test/sink/iceberg_sink.slt
Due: none

reorder
  e2e_test/sink/iceberg_sink.slt
Due: none

set sink_decouple = false
  e2e_test/iceberg/test_case/append_only_with_checkpoint_interval.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_upsert_table.slt
  e2e_test/sink/iceberg_sink.slt
  integration_tests/iceberg-sink2/python/main.py
Due: none

20s
  e2e_test/sink/iceberg_sink.slt
Due: none

fix
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

fix tests
  e2e_test/iceberg/test_case/append_only_with_checkpoint_interval.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_upsert_table.slt
  e2e_test/sink/iceberg_sink.slt
Due: none

increase time
  ci/workflows/pull-request.yml
Due: none

fix
  e2e_test/iceberg/test_case/append_only_with_checkpoint_interval.slt
Due: none

revert tests
  e2e_test/sink/iceberg_sink.slt
Due: none

fmt
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

refactor: add some comments for source splits (#18034)
  proto/meta.proto
  proto/stream_plan.proto
  src/connector/src/with_options.rs
  src/frontend/src/handler/create_source.rs
  src/meta/src/barrier/command.rs
  src/meta/src/model/stream.rs
Due: rustfmt

fix(sqlparser): display create items with comma properly (#18393)
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

feat(expr): support `jsonb_populate_map` (#18378)
  e2e_test/batch/types/map.slt.part
  proto/expr.proto
  src/common/src/types/jsonb.rs
  src/expr/impl/src/scalar/jsonb_record.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

fix error log
  src/meta/service/src/cluster_limit_service.rs
Due: rustfmt

fix: parquet test missing comma (#18397)
  e2e_test/s3/fs_parquet_source_and_sink.py
Due: none

fix tests
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
Due: rustfmt

fix(sqlparser): display create items with comma properly (#18393) (#18398)
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

fix test_builtin_view_definition
  src/frontend/src/test_utils.rs
Due: rustfmt

feat(compute): give more batch memory for serving node (#18365)
  src/compute/src/memory/config.rs
  src/compute/src/server.rs
Due: rustfmt

fix(test): cherry pick 18259 to 2.0 (#18400)
  ci/workflows/pull-request.yml
  e2e_test/iceberg/test_case/append_only_with_checkpoint_interval.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_no_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_partition_upsert_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_append_only_table.slt
  e2e_test/iceberg/test_case/iceberg_sink_range_partition_upsert_table.slt
  e2e_test/sink/iceberg_sink.slt
  integration_tests/iceberg-sink2/python/main.py
  src/connector/src/lib.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_sink.yaml
Due: rustfmt

fix cancellation safety
  src/stream/src/executor/backfill/snapshot_backfill.rs
Due: rustfmt

update syntax
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/task/configure_tmux_service.rs
Due: rustfmt

update default
  risedev.yml
Due: none

feat(iceberg): support create table with primary key (#18384)
  proto/catalog.proto
  src/common/src/catalog/mod.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/create_table_as.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_materialize.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/meta/model_v2/src/table.rs
  src/meta/src/controller/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/storage/src/filter_key_extractor.rs
  src/tests/compaction_test/src/delete_range_runner.rs
  src/tests/sqlsmith/src/lib.rs
Due: rustfmt

feat(telemetry): add telemetry when checking license (#18371) (#18394)
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/src/telemetry/mod.rs
  src/common/src/telemetry/report.rs
  src/common/telemetry_event/Cargo.toml
  src/common/telemetry_event/src/lib.rs
  src/common/telemetry_event/src/util.rs
  src/frontend/src/telemetry.rs
  src/license/src/feature.rs
  src/license/src/lib.rs
  src/meta/src/telemetry.rs
  src/storage/compactor/src/telemetry.rs
  src/stream/src/telemetry.rs
Due: rustfmt, cargo sort

rebase
  src/frontend/src/scheduler/distributed/query.rs
Due: rustfmt

fmt
  src/frontend/src/handler/drop_table.rs
Due: rustfmt

feat(risedev): support providing env var in yaml config (#18396)
  risedev.yml
  src/risedevtool/src/bin/risedev-compose.rs
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/task/configure_tmux_service.rs
Due: rustfmt

fix(compaction): rewrite sub level id when merge
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
Due: rustfmt

typo
  src/common/src/config.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Due: rustfmt

support crete table without pk
  src/frontend/src/handler/create_table.rs
Due: rustfmt

add comments
  src/frontend/src/handler/drop_table.rs
Due: rustfmt

feat(iceberg): support drop table for nimtable (#18404)
  Cargo.lock
  Cargo.toml
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/catalog/JniCatalogWrapper.java
  src/connector/src/sink/iceberg/jni_catalog.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/iceberg/storage_catalog.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/drop_table.rs
Due: rustfmt, cargo sort

fix comm
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/frontend/src/handler/declare_cursor.rs
  src/frontend/src/monitor/stats.rs
  src/frontend/src/session.rs
  src/frontend/src/session/cursor_manager.rs
Due: rustfmt

fix comm
  src/frontend/src/monitor/stats.rs
Due: rustfmt

rename default vnode to singleton vnode
  src/common/src/hash/table_distribution.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/common/table/test_state_table.rs
  src/stream/src/from_proto/mview.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
