Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

feat(storage): account pin cache files and in-flight capacity
  src/storage/src/hummock/pin_cache/mod.rs
  src/storage/src/hummock/pin_cache/recovery.rs
  src/storage/src/hummock/pin_cache/recovery/tests.rs
  src/storage/src/hummock/pin_cache/refill.rs
  src/storage/src/hummock/pin_cache/storage.rs
  src/storage/src/hummock/pin_cache/test_utils.rs
  src/storage/src/hummock/pin_cache/tests.rs
  src/storage/src/monitor/pin_cache_metrics.rs
Due: rustfmt

feat(storage): route published Pin SST reads
  src/storage/src/hummock/block_cache.rs
  src/storage/src/hummock/pin_cache/membership.rs
  src/storage/src/hummock/pin_cache/mod.rs
  src/storage/src/hummock/pin_cache/read.rs
  src/storage/src/hummock/pin_cache/recovery.rs
  src/storage/src/hummock/pin_cache/recovery/tests.rs
  src/storage/src/hummock/pin_cache/refill.rs
  src/storage/src/hummock/pin_cache/test_utils.rs
  src/storage/src/hummock/pin_cache/tests.rs
  src/storage/src/hummock/sstable/block.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/sstable_store/data_read.rs
  src/storage/src/monitor/local_metrics.rs
Due: rustfmt

feat(storage): add pin refill controller and locality
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/pin_cache/mod.rs
  src/storage/src/hummock/pin_cache/test_utils.rs
  src/storage/src/hummock/pin_cache_refill.rs
  src/storage/src/hummock/pin_cache_refill/executor.rs
  src/storage/src/hummock/refill_locality.rs
Due: rustfmt

fix(frontend): keep vector indexes without the primary key from crashing the frontend
  e2e_test/ddl/index.slt
  e2e_test/ddl/vector_index.slt
  src/frontend/planner_test/tests/testdata/input/index_selection.yaml
  src/frontend/planner_test/tests/testdata/input/vector_search.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection.yaml
  src/frontend/planner_test/tests/testdata/output/vector_search.yaml
  src/frontend/src/catalog/index_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/optimizer/plan_node/logical_vector_search.rs
Due: rustfmt

feat(iceberg): share ADLS file IO configuration (#27407)
  src/connector/src/connector_common/iceberg/mod.rs
Due: rustfmt

fix(meta): handle empty privilege notifications
  src/meta/service/src/user_service.rs
  src/meta/src/controller/user.rs
Due: rustfmt

fix(cdc): validate SQL Server table name casing
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc.slt.serial
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_insert.sql
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_prepare.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/SqlServerValidator.java
  java/connector-node/risingwave-connector-service/src/main/resources/validate_sql.properties
Due: none

fix(meta): finish iceberg v3 snapshot creation
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/independent_job/iceberg_v3_job/mod.rs
  src/meta/src/barrier/context/recovery.rs
Due: rustfmt

fix(storage): preserve pin refill revocation across policy changes
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/pin_cache_refill.rs
  src/storage/src/hummock/pin_cache_refill/executor.rs
  src/storage/src/hummock/pin_cache_refill/tests.rs
  src/storage/src/hummock/refill_locality.rs
Due: rustfmt

refactor(storage): clarify Pin membership and admission ownership
  src/storage/src/hummock/pin_cache_refill.rs
  src/storage/src/hummock/pin_cache_refill/executor.rs
  src/storage/src/hummock/pin_cache_refill/tests.rs
Due: rustfmt

feat(storage): gate pin refill batches with versions
  src/common/src/config/storage.rs
  src/config/docs.md
  src/config/example.toml
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/local_version/recent_versions.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/opts.rs
Due: rustfmt

feat(storage): activate table-scoped pin cache
  Cargo.lock
  e2e_test/ddl/alter_streaming_config.slt
  proto/meta.proto
  risedev.yml
  src/common/src/config/storage.rs
  src/common/src/config/streaming.rs
  src/compute/src/lib.rs
  src/config/docs.md
  src/config/example.toml
  src/frontend/src/handler/alter_streaming_config.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/table_refill.rs
  src/object_store/Cargo.toml
  src/object_store/src/object/opendal_engine/fs.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/observer_manager.rs
  src/storage/src/hummock/pin_cache/mod.rs
  src/storage/src/hummock/pin_cache/storage.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/monitor/pin_cache_metrics.rs
  src/storage/src/opts.rs
  src/storage/src/store_impl.rs
Due: rustfmt, cargo sort

feat(connector): support native Pulsar Avro schemas (#26347)
  e2e_test/source_inline/pulsar/produce_schema_test_records.py
  e2e_test/source_inline/pulsar/schema_registry.slt
  src/connector/src/parser/avro/parser.rs
  src/connector/src/parser/avro/pulsar_resolver.rs
  src/connector/src/parser/config.rs
  src/connector/src/parser/protobuf/parser.rs
  src/connector/src/parser/utils.rs
  src/connector/src/schema/mod.rs
  src/connector/src/schema/pulsar_schema/client.rs
  src/connector/src/schema/pulsar_schema/mod.rs
  src/connector/src/schema/pulsar_schema/schema.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema.rs
  src/frontend/src/handler/create_source/external_schema/avro.rs
  src/frontend/src/handler/create_source/validate.rs
Due: rustfmt

fix(stream): preserve CDC events during recovery startup (release-3.0) (#27152)
  proto/plan_common.proto
  src/common/src/catalog/external_table.rs
  src/compute/tests/cdc_tests.rs
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/explain.rs
  src/meta/src/stream/cdc.rs
  src/prost/build.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/external.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
Due: rustfmt

cherry-pick refactor(cdc): less false positive for composite type (#27116) to release-3.0 (#27214)
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/resources/postgres.properties
Due: none

fix(iceberg): Backport renewable REST credentials to release-3.0
  Cargo.lock
  Cargo.toml
  src/connector/src/connector_common/iceberg/mod.rs
  src/storage/Cargo.toml
  src/utils/runtime/Cargo.toml
Due: rustfmt, cargo sort

refactor(storage): simplify Pin refill admission and organize executor
  src/storage/src/hummock/pin_cache_refill.rs
  src/storage/src/hummock/pin_cache_refill/executor.rs
  src/storage/src/hummock/pin_cache_refill/executor/tests.rs
  src/storage/src/hummock/pin_cache_refill/tests.rs
Due: rustfmt

refactor(storage): derive Pin membership updates from version deltas
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/pin_cache_refill.rs
  src/storage/src/hummock/pin_cache_refill/tests.rs
Due: rustfmt

feat(stream): bounded-memory sort buffer for locality provider to mitigate join amplification (#26616)
  e2e_test/batch/catalog/pg_settings.slt.part
  proto/stream_plan.proto
  src/common/src/config/mod.rs
  src/common/src/config/streaming.rs
  src/common/src/session_config/mod.rs
  src/common/src/util/stream_graph_visitor.rs
  src/config/docs.md
  src/config/example.toml
  src/frontend/planner_test/tests/testdata/input/locality_backfill.yaml
  src/frontend/planner_test/tests/testdata/output/locality_backfill.yaml
  src/frontend/src/optimizer/plan_node/stream_locality_provider.rs
  src/stream/src/executor/locality_provider.rs
  src/stream/src/from_proto/locality_provider.rs
Due: rustfmt

refactor(storage): share refill ownership and consolidate coverage
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/pin_cache_refill.rs
  src/storage/src/hummock/pin_cache_refill/executor.rs
  src/storage/src/hummock/pin_cache_refill/executor/tests.rs
  src/storage/src/hummock/pin_cache_refill/tests.rs
  src/storage/src/hummock/refill_locality.rs
Due: rustfmt

feat(storage): track pin-cache physical object membership
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/pin_cache_refill.rs
  src/storage/src/hummock/pin_cache_refill/tests.rs
Due: rustfmt

refactor(storage): share refill ownership and locality helpers
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/mod.rs
  src/storage/src/hummock/refill_locality.rs
Due: rustfmt

feat(storage): schedule and execute pin-cache refill
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/hummock/pin_cache/mod.rs
  src/storage/src/hummock/pin_cache/test_utils.rs
  src/storage/src/hummock/pin_cache_refill.rs
  src/storage/src/hummock/pin_cache_refill/executor.rs
  src/storage/src/hummock/pin_cache_refill/executor/tests.rs
  src/storage/src/hummock/pin_cache_refill/tests.rs
  src/storage/src/hummock/refill_locality.rs
Due: rustfmt

test(e2e): enable implicit flush in index slt tests
  e2e_test/ddl/index.slt
  e2e_test/ddl/vector_index.slt
Due: none

fix(iceberg): Backport renewable REST credentials to release-3.0 (#27412)
  Cargo.lock
  Cargo.toml
  src/connector/src/connector_common/iceberg/mod.rs
  src/storage/Cargo.toml
  src/utils/runtime/Cargo.toml
Due: rustfmt, cargo sort

fix(sink): keep the old-pk delete when an update changes the sink pk
  e2e_test/sink/sink_into_table/stream_key_mismatch_pk_change.slt
  src/stream/src/executor/sink.rs
Due: rustfmt

fix(sink): keep the old-pk delete when an update changes the sink pk (#27417)
  e2e_test/sink/sink_into_table/stream_key_mismatch_pk_change.slt
  src/stream/src/executor/sink.rs
Due: rustfmt

fix(cdc): cancel engine startup when the reader is dropped
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzSourceUtils.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngineRunner.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceHandler.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/common/DbzSourceUtilsTest.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/core/DbzCdcEngineRunnerTest.java
Due: none

feat(connector): support opensearch sigv4 connection
  e2e_test/sink/elasticsearch/opensearch_sigv4_sink.slt
  proto/catalog.proto
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/macros.rs
  src/connector/src/sink/elasticsearch_opensearch/elasticsearch_opensearch_config.rs
  src/connector/with_options_connection.yaml
  src/connector/with_options_sink.yaml
  src/frontend/src/handler/create_connection.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/util.rs
Due: rustfmt

cherry-pick: feat(connector): support ADC for Google Pub/Sub (#26808) (#27150)
  e2e_test/source_inline/pubsub/pubsub.slt.serial
  src/connector/src/connector_common/mod.rs
  src/connector/src/connector_common/pubsub_common.rs
  src/connector/src/sink/google_pubsub.rs
  src/connector/src/source/google_pubsub/enumerator/client.rs
  src/connector/src/source/google_pubsub/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt

fix(frontend): avoid planner panics on indexes over single-row or TopN materialized views (#27177)
  e2e_test/ddl/index.slt
  e2e_test/ddl/vector_index.slt
  src/frontend/planner_test/tests/testdata/input/index_selection.yaml
  src/frontend/planner_test/tests/testdata/input/vector_search.yaml
  src/frontend/planner_test/tests/testdata/output/index_selection.yaml
  src/frontend/planner_test/tests/testdata/output/vector_search.yaml
  src/frontend/src/catalog/index_catalog.rs
  src/frontend/src/handler/create_index.rs
  src/frontend/src/optimizer/plan_node/logical_vector_search.rs
  src/frontend/src/optimizer/rule/index_selection_rule.rs
Due: rustfmt

feat(meta): maintain Iceberg V3 as an independent job (#26981)
  e2e_test/iceberg/test_case/pure_slt/iceberg_v2_with_pk_index.slt
  e2e_test/iceberg/test_case/pure_slt/iceberg_v3/derive_pk.slt
  e2e_test/iceberg/test_case/pure_slt/iceberg_v3/iceberg_count_star_with_deletes.slt
  e2e_test/iceberg/test_case/pure_slt/iceberg_v3/sink_lakekeeper.slt
  e2e_test/iceberg/test_case/pure_slt/iceberg_v3/sink_no_partition.slt
  e2e_test/iceberg/test_case/pure_slt/iceberg_v3/sink_range_partition.slt
  e2e_test/iceberg/test_case/pure_slt/iceberg_v3/sink_sparse_partition.slt
  e2e_test/iceberg/test_case/pure_slt/iceberg_v3/with_pk_index.slt
  src/frontend/src/optimizer/mod.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/independent_job/iceberg_v3_job/mod.rs
  src/meta/src/barrier/checkpoint/independent_job/iceberg_v3_job/render.rs
  src/meta/src/barrier/checkpoint/independent_job/mod.rs
  src/meta/src/barrier/checkpoint/mod.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
  src/tests/simulation/tests/integration_tests/sink/iceberg_v3_2pc/mod.rs
Due: rustfmt

fix(optimizer): do not duplicate non-trivial expressions when merging projects (#27263)
  Cargo.lock
  src/frontend/planner_test/Cargo.toml
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/testdata/input/project.yaml
  src/frontend/planner_test/tests/testdata/output/project.yaml
  src/frontend/src/optimizer/rule/batch/batch_project_merge_rule.rs
  src/frontend/src/optimizer/rule/project_merge_rule.rs
  src/frontend/src/optimizer/rule/stream/stream_project_merge_rule.rs
  src/frontend/src/test_utils.rs
Due: rustfmt, cargo sort

test(stream): await SinkExecutor::new in the pk-change sink test
  src/stream/src/executor/sink.rs
Due: rustfmt

fix(iceberg): satisfy clippy and skip orphan cleanup tests under madsim
  src/meta/src/manager/iceberg_compaction/gc.rs
Due: rustfmt

fix(iceberg): report orphan cleanup test errors with AsReport
  src/meta/src/manager/iceberg_compaction/gc.rs
Due: rustfmt
