Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

use it
  src/stream/src/task/actor_manager.rs
Due: rustfmt

introduce `merge_streaming_config_section`
  src/common/src/config/merge.rs
  src/stream/src/task/actor_manager.rs
Due: rustfmt

fix compilation for strong type id
  src/stream/src/task/actor_manager.rs
Due: rustfmt

Update pull-request.yml
  ci/workflows/pull-request.yml
Due: none

feat(streaming): add functionality to override config when building actors (#23735)
  Cargo.lock
  src/common/src/config/merge.rs
  src/common/src/config/mod.rs
  src/stream/Cargo.toml
  src/stream/src/executor/actor.rs
  src/stream/src/task/actor_manager.rs
  src/stream/src/task/barrier_worker/mod.rs
Due: rustfmt, cargo sort

chore(ci): add maven cache for `build-other.sh` step (#23781)
  .gitignore
  ci/scripts/build-other.sh
  ci/workflows/pull-request.yml
Due: none

support assume role in iceberg s3 and glue catalog together with config load
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/catalog/GlueCredentialProvider.java
  src/connector/src/connector_common/iceberg/mod.rs
Due: rustfmt

Revert "feat(meta): add `config_override` in stream context and meta store (#23752)"
  proto/stream_plan.proto
  proto/stream_service.proto
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20251112_114514_streaming_job_config_override.rs
  src/meta/model/src/streaming_job.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/test_fragmenter.rs
Due: rustfmt

Revert "feat(parser): support `ALTER .. [SET | RESET] CONFIG` (#23742)"
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka_shared.slt.serial
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/alter_config.yaml
Due: rustfmt

fix clamp min syntax + use sum rather than max
  grafana/dashboard/dev/cluster_essential.py
Due: none

generate artifacts
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.json
Due: none

feat(refresh): implement refresh manager metrics and dashboard integration
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/__init__.py
  grafana/dashboard/dev/refresh_manager.py
  grafana/risingwave-dev-dashboard.json
  src/meta/node/src/server.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/stream/refresh_manager.rs
Due: rustfmt

fix metrics
  grafana/dashboard/dev/refresh_manager.py
Due: none

feat(metrics): add relation busy rate to dashboard (#23730)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/cluster_essential.py
  grafana/risingwave-dev-dashboard.json
Due: none

refactor
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_connection.yaml
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt

fix: update refresh mode terminology from 'FULL_RECOMPUTE' to 'FULL_RELOAD'
  e2e_test/iceberg/test_case/pure_slt/periodcal_refresh_iceberg_table.slt
  e2e_test/iceberg/test_case/pure_slt/refresh_iceberg_table.slt
  proto/plan_common.proto
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/utils/with_options.rs
  src/meta/src/controller/streaming_job.rs
  src/prost/build.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/mod.rs
  src/stream/src/from_proto/source/trad_source.rs
Due: rustfmt

change iceberg list interval sec to 10 sec
  src/common/src/config/mod.rs
  src/config/example.toml
Due: rustfmt

rebuild stream whene errors occur for iceberg list executor
  src/stream/src/executor/source/iceberg_list_executor.rs
Due: rustfmt

fix
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.json
Due: none

chore: revert changes related to per-job config override (#23789)
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka_shared.slt.serial
  proto/stream_plan.proto
  proto/stream_service.proto
  src/frontend/src/handler/mod.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20251112_114514_streaming_job_config_override.rs
  src/meta/model/src/streaming_job.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/controller/scale.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/actor.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/test_fragmenter.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/alter_config.yaml
Due: rustfmt

fmt
  src/stream/src/executor/source/iceberg_list_executor.rs
Due: rustfmt

fix
  src/stream/src/executor/source/iceberg_list_executor.rs
Due: rustfmt

chore: rename iceberg common fields to better names. (#23790)
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/with_options_connection.yaml
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt

add validation
  src/common/src/config/utils.rs
  src/common/src/session_config/mod.rs
Due: rustfmt

generate initial config override
  src/common/src/session_config/mod.rs
  src/common/src/session_config/opt.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/stream/src/from_proto/asof_join.rs
  src/stream/src/from_proto/hash_join.rs
Due: rustfmt

migrate `JoinEncodingType` from session config to per-job config override
  proto/stream_plan.proto
  src/common/src/config/streaming.rs
  src/common/src/config/streaming/async_stack_trace.rs
  src/common/src/config/streaming/join_encoding_type.rs
  src/common/src/session_config/mod.rs
  src/common/src/session_config/opt.rs
  src/frontend/src/optimizer/plan_node/stream_asof_join.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
  src/stream/src/from_proto/asof_join.rs
  src/stream/src/from_proto/hash_join.rs
Due: rustfmt

fix validation and map building
  src/common/src/config/streaming.rs
  src/common/src/config/utils.rs
  src/common/src/session_config/mod.rs
Due: rustfmt

update example config
  src/config/example.toml
Due: none

update docs for session config
  src/common/src/session_config/mod.rs
Due: rustfmt

update doc & serde impl for session config
  src/common/src/session_config/mod.rs
Due: rustfmt

add unit test
  src/common/src/session_config/mod.rs
Due: rustfmt

refine docs
  src/frontend/src/optimizer/plan_node/stream_asof_join.rs
  src/frontend/src/optimizer/plan_node/stream_hash_join.rs
Due: rustfmt

migrate configs for sync log store executor
  proto/stream_plan.proto
  src/common/src/config/mod.rs
  src/common/src/config/streaming.rs
  src/common/src/session_config/mod.rs
  src/frontend/src/optimizer/plan_node/stream_sync_log_store.rs
  src/stream/src/from_proto/sync_log_store.rs
Due: rustfmt

migrate over window cache policy
  proto/stream_plan.proto
  src/common/src/config/streaming.rs
  src/common/src/config/streaming/over_window.rs
  src/common/src/session_config/mod.rs
  src/frontend/src/optimizer/plan_node/stream_over_window.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
  src/stream/src/executor/over_window/range_cache.rs
  src/stream/src/from_proto/over_window.rs
  src/stream/tests/integration_tests/over_window.rs
Due: rustfmt

update example config and unit test
  src/common/src/session_config/mod.rs
  src/config/example.toml
Due: rustfmt

chore: use snake-case for enums in config file
  src/common/metrics/src/lib.rs
  src/common/src/config/hba.rs
  src/common/src/config/meta.rs
  src/common/src/config/storage.rs
  src/common/src/config/streaming/async_stack_trace.rs
  src/common/src/system_param/adaptive_parallelism_strategy.rs
  src/config/docs.md
  src/config/example.toml
Due: rustfmt

better format
  src/stream/src/executor/source/iceberg_list_executor.rs
Due: rustfmt

feat(iceberg): support assume role for s3 and glue catalog together with enable_config_load (#23788)
  java/connector-node/risingwave-sink-iceberg/src/main/java/com/risingwave/connector/catalog/GlueCredentialProvider.java
  src/connector/src/connector_common/iceberg/mod.rs
Due: rustfmt

feat(iceberg): change iceberg list interval sec to 10 sec (#23791)
  src/common/src/config/mod.rs
  src/config/example.toml
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
