Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

fix(dynamodb): retry unprocessed batch write items (#25985)
  Cargo.lock
  ci/scripts/e2e-sink-test.sh
  e2e_test/sink/dynamodb_mock_server.py
  e2e_test/sink/dynamodb_sink.slt
  src/connector/Cargo.toml
  src/connector/src/sink/dynamodb.rs
  src/connector/with_options_sink.yaml
Due: rustfmt, cargo sort

fix: fix snowflake decimal and stage path name (#25169)
  src/connector/src/sink/snowflake_redshift/redshift.rs
  src/connector/src/sink/snowflake_redshift/snowflake.rs
Due: rustfmt

feat: show cascading drop warnings when dropping a table
  proto/ddl_service.proto
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/mod.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

chore: refine notice messages to align with PostgreSQL
  src/frontend/src/catalog/mod.rs
  src/meta/src/controller/catalog/drop_op.rs
Due: rustfmt

fix(meta): include sink-into-table in drop cascade notices
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/test.rs
  src/meta/src/rpc/ddl_controller.rs
Due: rustfmt

feat(stream): evict idle MATCH_RECOGNIZE partials on WITHIN expiry
  docs/dev/src/design/match-recognize.md
  e2e_test/streaming/match_recognize_idle_within_eviction.slt
  proto/stream_plan.proto
  src/frontend/src/binder/relation/match_recognize.rs
  src/frontend/src/optimizer/plan_node/generic/match_recognize.rs
  src/frontend/src/optimizer/plan_node/logical_match_recognize.rs
  src/frontend/src/optimizer/plan_node/stream_match_recognize.rs
  src/frontend/src/planner/relation.rs
  src/stream/src/executor/match_recognize/executor.rs
  src/stream/src/from_proto/match_recognize.rs
Due: rustfmt

refactor(meta): clarify refill recovery refresh
  src/meta/src/barrier/worker.rs
Due: rustfmt

test(e2e): validate serving refill after recovery
  e2e_test/refill/table_refill.slt
Due: none

fix: ensure stream snapshot patch is correctly applied.
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Due: rustfmt

fix(cdc/postgres): surface force-abort failures via warn logs
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/postgresql/PostgresStreamingChangeEventSource.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/pipeline/ChangeEventSourceCoordinator.java
Due: none

feat(connector): surface Kafka consumer group cleanup failures (#26049)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/kafka_metrics.py
  grafana/risingwave-dev-dashboard.json
  src/connector/src/source/kafka/enumerator.rs
  src/connector/src/source/monitor/metrics.rs
Due: rustfmt

test: cover serving refill node changes
  e2e_test/commands/psql_refill_validate.py
  src/tests/simulation/tests/integration_tests/scale/isolation.rs
Due: rustfmt

feat(expr): add OpenAI embedding observability
  Cargo.lock
  e2e_test/ddl/alter_resource_group.slt
  e2e_test/ddl/database.slt
  src/expr/impl/Cargo.toml
  src/expr/impl/src/scalar/ai_model.rs
Due: rustfmt, cargo sort

feat(expr): add OpenAI embedding dashboard panels
  docker/dashboards/risingwave-dev-dashboard.json
  e2e_test/ddl/alter_resource_group.slt
  e2e_test/ddl/database.slt
  grafana/dashboard/dev/udf.py
  grafana/risingwave-dev-dashboard.json
  src/expr/impl/src/scalar/ai_model.rs
Due: rustfmt

Prove scheduled S3 full reload refresh behavior
  e2e_test/s3/refresh_full_reload.slt
Due: none

fix(meta): protect time travel vacuum during creating jobs
  src/meta/node/src/server.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/manager.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/worker.rs
  src/stream/src/executor/backfill/snapshot_backfill/consume_upstream/executor.rs
Due: rustfmt

fix(cdc/postgres): force-close PG connections on stop to release zombie replication slot (#26082)
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/connector/postgresql/PostgresStreamingChangeEventSource.java
  java/connector-node/risingwave-source-cdc/src/main/java/io/debezium/pipeline/ChangeEventSourceCoordinator.java
Due: none

refactor(cdc): default time.precision.mode to microseconds
  e2e_test/source_inline/cdc/mysql/mysql_default_time_precision.slt
  e2e_test/source_inline/cdc/postgres/postgres_default_time_precision_mode.slt
  e2e_test/source_inline/cdc/sql_server/sql_server_temporal_default_precision.serial
  e2e_test/source_inline/cdc/sql_server/sql_server_temporal_default_precision_insert.sql
  e2e_test/source_inline/cdc/sql_server/sql_server_temporal_default_precision_prepare.sql
  java/connector-node/risingwave-connector-service/src/main/resources/debezium.properties
  src/connector/src/parser/unified/json.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
Due: rustfmt

fix(dashboard): correct user alert signals
  docker/dashboards/risingwave-user-dashboard.json
  grafana/dashboard/user/overview.py
  grafana/risingwave-user-dashboard.json
Due: none

fix(dashboard): preserve object storage alert threshold
  docker/dashboards/risingwave-user-dashboard.json
  grafana/dashboard/user/overview.py
  grafana/risingwave-user-dashboard.json
Due: none

fix test
  e2e_test/source_inline/cdc/sql_server/sql_server_temporal_default_precision.slt.serial
Due: none

fix test
  e2e_test/source_inline/cdc/postgres/postgres_schema_check_and_schema_change.slt
Due: none

bugfix
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Due: rustfmt

feat(connector): ADLS Gen2 service-principal auth for Iceberg sink
  src/connector/src/connector_common/iceberg/mod.rs
  src/connector/src/sink/iceberg/test.rs
  src/connector/with_options_connection.yaml
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt

feat(frontend): allow snapshot-free sink queries (#26023)
  e2e_test/sink/append_only_sink.slt
  e2e_test/sink/kafka/create_sink.slt
  e2e_test/sink/kafka/drop_sink.slt
  e2e_test/sink/sink_into_table/snapshot.slt
  src/frontend/planner_test/tests/testdata/input/sink.yaml
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/convert.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/rule/index_delta_join_rule.rs
Due: rustfmt

fix(dashboard): correct user alert signals (#26118)
  docker/dashboards/risingwave-user-dashboard.json
  grafana/dashboard/user/overview.py
  grafana/risingwave-user-dashboard.json
Due: none

chore(hummock): polish cache refill config docs
  src/common/src/config/streaming.rs
  src/common/src/config/streaming/cache_refill.rs
  src/config/docs.md
  src/frontend/src/rpc/monitor_service.rs
Due: rustfmt

fix(stream): apply cross-db backfill rate limit updates
  e2e_test/backfill/cross_db/cross_db_mv.slt
  src/stream/src/executor/backfill/snapshot_backfill/consume_upstream/executor.rs
Due: rustfmt

feat(sink): support since_timestamp option (#26043)
  Cargo.lock
  e2e_test/sink/append_only_sink.slt
  e2e_test/sink/license.slt
  proto/ddl_service.proto
  src/frontend/planner_test/Cargo.toml
  src/frontend/planner_test/src/lib.rs
  src/frontend/planner_test/tests/testdata/input/sink.yaml
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/convert.rs
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/logical_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/test_utils.rs
  src/license/src/feature.json
  src/meta/service/src/ddl_service.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/meta_client.rs
  src/storage/hummock_sdk/src/change_log.rs
  src/tests/simulation/tests/integration_tests/sink/basic.rs
  src/tests/simulation/tests/integration_tests/sink/utils.rs
Due: rustfmt, cargo sort

ci: run refill e2e only on request
  ci/workflows/pull-request.yml
Due: none

fix(stream): emit MATCH_RECOGNIZE boundary match at its WITHIN deadline
  e2e_test/streaming/match_recognize_within_boundary.slt
  src/stream/src/executor/match_recognize/executor.rs
Due: rustfmt

fix(stream): update project scalar test expressions
  src/stream/src/executor/project/project_scalar.rs
Due: rustfmt

fix(source): complete S3/GCS FULL_RELOAD refresh (#26016)
  ci/scripts/s3-source-slt-test.sh
  ci/workflows/main-cron.yml
  e2e_test/s3/refresh_full_reload.slt
  e2e_test/s3/refresh_full_reload_helper.py
  e2e_test/source_inline/refresh/refresh_table.slt
  src/connector/src/source/filesystem/opendal_source/opendal_enumerator.rs
  src/connector/src/with_options.rs
  src/frontend/planner_test/tests/testdata/input/create_source.yaml
  src/frontend/planner_test/tests/testdata/output/create_source.yaml
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/utils/with_options.rs
  src/stream/src/executor/source/batch_source/batch_opendal_fs_fetch.rs
  src/stream/src/executor/source/batch_source/batch_opendal_fs_list.rs
  src/stream/src/executor/source/batch_source/mod.rs
  src/stream/src/from_proto/source/fs_fetch.rs
  src/stream/src/from_proto/source/trad_source.rs
Due: rustfmt

Expose Kafka retry tuning knobs
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/connector_common/common.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/source/kafka/mod.rs
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
