Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fmt
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_insert.sql
Due: none

feat(pulsar): implement asynchronous message acknowledgment and streaming in PulsarConsumeStream
  src/connector/src/source/pulsar/source/reader.rs
Due: rustfmt

test(kinesis): update tests to validate Kinesis connector properties with new options
  src/connector/src/source/kinesis/mod.rs
Due: rustfmt

format
  src/connector/src/source/kinesis/mod.rs
Due: rustfmt

fix: improve error handling for AWS MSK IAM token generation (#22113)
  src/connector/src/source/kafka/client_context.rs
Due: rustfmt

minor
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_insert.sql
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_prepare.sql
Due: none

chore(github): remove label commenter configuration and workflow files
  .github/label-commenter-config.yml
  .github/workflows/label-triggered.yml
Due: none

fix: remove KinesisSdkOptions for compatibility issue (#22143)
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/source/kinesis/mod.rs
  src/connector/src/source/kinesis/source/reader.rs
Due: rustfmt

Create architecture_20250609.jpg
  docs/dev/src/images/architecture_20250609.jpg
Due: none

Update README.md
  README.md
Due: none

review fix
  src/common/src/array/data_chunk.rs
  src/expr/core/src/expr/build.rs
  src/expr/impl/src/scalar/map_filter.rs
  src/frontend/src/binder/expr/function/mod.rs
Due: rustfmt

fix(common): ignore field ids when comparing `struct` for backward compatibility (#22054)
  e2e_test/sink/sink_into_table/issue_22041.slt
  src/common/src/types/struct_type.rs
  src/frontend/src/handler/create_table/col_id_gen.rs
Due: rustfmt

cherry pick #21258
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
Due: rustfmt

fix style
  src/frontend/src/binder/expr/function/mod.rs
Due: rustfmt

doc: Update architecture diagram (#22160)
  README.md
  docs/dev/src/images/architecture_20250609.jpg
Due: none

[Feat] Implement function `map_filter` (#22077)
  e2e_test/batch/functions/map_filter.slt.part
  proto/expr.proto
  src/common/src/array/data_chunk.rs
  src/expr/core/src/expr/build.rs
  src/expr/impl/src/scalar/map_filter.rs
  src/expr/impl/src/scalar/mod.rs
  src/frontend/src/binder/expr/function/mod.rs
  src/frontend/src/expr/function_call_with_lambda.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

minor
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc_prepare.sql
Due: none

save work
  java/connector-node/risingwave-source-cdc/src/main/java/com/risingwave/connector/cdc/debezium/internal/OpendalSchemaHistory.java
  src/jni_core/src/opendal_schema_history.rs
Due: rustfmt

chore: revert telemetry reminder workflow (#22159)
  .github/label-commenter-config.yml
  .github/workflows/label-triggered.yml
Due: none

fix(common): ignore field ids when comparing `struct` for backward compatibility (#22054) (#22165)
  e2e_test/sink/sink_into_table/issue_22041.slt
  src/common/src/types/struct_type.rs
  src/frontend/src/handler/create_table/col_id_gen.rs
Due: rustfmt

feat(kinesis): add SDK configuration options for timeouts and retries
  src/connector/src/connector_common/common.rs
  src/connector/src/source/kinesis/mod.rs
  src/connector/src/source/kinesis/source/reader.rs
Due: rustfmt

format
  src/connector/src/connector_common/common.rs
  src/connector/src/source/kinesis/mod.rs
Due: rustfmt

resolve comment
  src/connector/src/source/cdc/external/mysql.rs
Due: rustfmt

x
  e2e_test/source_inline/cdc/sql_server/sql_server_cdc.slt.serial
Due: none

fix
  src/connector/with_options_sink.yaml
  src/connector/with_options_source.yaml
Due: none

only fix mssql now
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/PostgresValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/SqlServerValidator.java
Due: none

chore(ci): configure slt shutdown timeout to 10s
  ci/.env
  ci/Dockerfile
  ci/scripts/common.sh
Due: none

fix: enable cargo-sort check after version bump
  ci/scripts/check.sh
Due: none

save work
  java/com_risingwave_java_binding_Binding.h
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/JniSourceValidateHandler.java
  java/connector-node/risingwave-source-cdc/src/main/java/com/risingwave/connector/cdc/debezium/internal/OpendalSchemaHistory.java
  java/java-binding/src/main/java/com/risingwave/java/binding/Binding.java
  src/jni_core/src/jvm_runtime.rs
  src/jni_core/src/lib.rs
  src/jni_core/src/macros.rs
  src/jni_core/src/opendal_schema_history.rs
Due: rustfmt

x
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
Due: none

fix: remove KinesisSdkOptions for compatibility issue (#22143) (#22163)
  src/connector/src/connector_common/common.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/source/kinesis/mod.rs
  src/connector/src/source/kinesis/source/reader.rs
Due: rustfmt

use attributes everywhere
  Cargo.lock
  Cargo.toml
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/sink.rs
  src/meta/src/stream/source_manager.rs
  src/meta/src/stream/source_manager/split_assignment.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt, cargo sort

chore(ci):  configure slt shutdown timeout to 10s (#22147)
  ci/.env
  ci/Dockerfile
  ci/scripts/check.sh
  ci/scripts/common.sh
Due: none

mysql schema check
  e2e_test/source_legacy/cdc_inline/auto_schema_change_mysql.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/MySqlValidator.java
Due: none

feat: support ||, position and overlay bytea functions
  proto/expr.proto
  src/expr/impl/src/scalar/concat_op.rs
  src/expr/impl/src/scalar/overlay.rs
  src/expr/impl/src/scalar/position.rs
  src/frontend/src/binder/expr/binary_op.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

.
  e2e_test/source_legacy/cdc_inline/auto_schema_change_mysql.slt
Due: none

support revoke in meta
  src/meta/model/migration/src/lib.rs
  src/meta/model/migration/src/m20250603_084830_default_privilege.rs
  src/meta/model/src/user_default_privilege.rs
  src/meta/service/src/user_service.rs
  src/meta/src/controller/user.rs
Due: rustfmt
