Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: typos
        name: typos
        entry: typos -w
        language: system
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

refactor: rename ConnectorSchema/SourceSchema to FormatEncode (#19174)
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/alter_table_with_sr.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/util.rs
  src/meta/src/manager/diagnose.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/legacy_source.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/ast/statement.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
  src/tests/sqlsmith/src/lib.rs
Due: rustfmt

fix(source): pause source correctly (#19148)
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt

chore: update version to v2.1.0-rc.1
  Cargo.lock
  Cargo.toml
Due: cargo sort

chore: update version to v2.1.0-rc.1 (#19188)
  Cargo.lock
  Cargo.toml
Due: cargo sort

chore: update image version to v2.1.0-rc.1
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-hdfs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
  docker/prometheus.yaml
Due: none

only one database for throttle
  src/meta/service/src/stream_service.rs
  src/meta/src/stream/source_manager.rs
Due: rustfmt

refactor: improve assertion message
  src/stream/src/executor/sink.rs
Due: rustfmt

fix enum default value
  src/connector/src/source/cdc/external/mysql.rs
Due: rustfmt

refactor: improve assertion message (#19191)
  src/stream/src/executor/sink.rs
Due: rustfmt

fix: include schema for view name in rw_relations show create view (#19180)
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_views.rs
  src/frontend/src/catalog/view_catalog.rs
  src/frontend/src/handler/show.rs
Due: rustfmt

fix(java-binding): use table committed epoch in demo query (#18937)
  java/java-binding-integration-test/src/main/java/com/risingwave/java/binding/HummockReadDemo.java
Due: none

add test
  e2e_test/source_legacy/cdc_inline/auto_schema_map_mysql.slt
Due: none

rename original `StreamingJob` to `StreamingRelation`
  dashboard/components/Relations.tsx
  dashboard/lib/api/streaming.ts
Due: none

use class method
  dashboard/lib/api/streaming.ts
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/pages/_app.tsx
  dashboard/pages/fragment_graph.tsx
Due: none

feat(dashboard): show parallelism info for streaming job
  dashboard/lib/api/streaming.ts
  dashboard/pages/fragment_graph.tsx
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/metadata.rs
Due: rustfmt

rename fields
  dashboard/lib/api/streaming.ts
  dashboard/pages/fragment_graph.tsx
  dashboard/tsconfig.json
Due: none

use unknown for name fallback
  src/meta/src/controller/fragment.rs
Due: rustfmt

feat(dashboard): list streaming job from `streaming_job` table & show info (#19134)
  dashboard/components/Relations.tsx
  dashboard/lib/api/streaming.ts
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/pages/_app.tsx
  dashboard/pages/fragment_graph.tsx
  dashboard/tsconfig.json
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/fragment.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/manager/metadata.rs
Due: rustfmt

moka 0.12.3
  src/meta/Cargo.toml
Due: cargo sort

fix(optimizer): fix lateral subquery with cte (#19162)
  src/frontend/planner_test/tests/testdata/input/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/binder/expr/column.rs
  src/frontend/src/binder/relation/mod.rs
Due: rustfmt

chore: update image version to v2.1.0-rc.1 (#19190)
  docker/docker-compose-distributed-etcd.yml
  docker/docker-compose-distributed.yml
  docker/docker-compose-etcd.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-hdfs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
  docker/prometheus.yaml
Due: none

bump spark version
  e2e_test/iceberg/start_spark_connect_server.sh
Due: none

plan
  e2e_test/streaming/temporal_join/append_only/nested_loop.slt
  proto/stream_plan.proto
  src/frontend/planner_test/tests/testdata/input/nested_loop_temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/nested_loop_temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/nexmark.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_nested_loop_temporal_join.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/temporal_join.rs
Due: rustfmt

workflow
  ci/workflows/pull-request.yml
Due: none

fix(compactor): introduce dedicated config for compactor meta cache
  src/common/src/config.rs
  src/storage/compactor/src/server.rs
  src/storage/src/opts.rs
Due: rustfmt

bump base image from ubuntu:24.04 to 24.10
  ci/Dockerfile
  docker/Dockerfile
  docker/Dockerfile.hdfs
  docker/aws/Dockerfile
Due: none

bump iceberg-rust
  Cargo.lock
  Cargo.toml
  src/connector/src/connector_common/iceberg/storage_catalog.rs
  src/connector/src/source/iceberg/parquet_file_reader.rs
Due: rustfmt, cargo sort

Update ci/workflows/pull-request.yml
  ci/workflows/pull-request.yml
Due: none

bump
  java/connector-node/risingwave-connector-test/pom.xml
  java/connector-node/risingwave-sink-deltalake/pom.xml
  java/connector-node/risingwave-sink-iceberg/pom.xml
  java/connector-node/risingwave-sink-mock-flink/risingwave-sink-mock-flink-http-sink/pom.xml
  java/connector-node/risingwave-source-cdc/pom.xml
  java/connector-node/risingwave-source-test/pom.xml
  java/java-binding-benchmark/pom.xml
  java/java-binding/pom.xml
  java/pom.xml
Due: none

fix: patch compactor meta cache config
  src/common/src/config.rs
  src/storage/compactor/src/server.rs
  src/storage/src/opts.rs
Due: rustfmt

bump
  java/connector-node/risingwave-sink-cassandra/pom.xml
  java/connector-node/risingwave-sink-es-7/pom.xml
  java/pom.xml
Due: none

chore: upgrade dylint
  ci/Dockerfile
  lints/Cargo.toml
Due: cargo sort

bump
  java/pom.xml
Due: none

chore: update ci docker image
  ci/build-ci-image.sh
  ci/docker-compose.yml
Due: none

improve
  java/connector-node/risingwave-sink-es-7/pom.xml
  java/connector-node/risingwave-source-cdc/pom.xml
  java/connector-node/risingwave-source-test/pom.xml
  java/pom.xml
Due: none
