Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: typos
        name: typos
        entry: typos -w
        language: system
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fix(meta): fix migration query under postgres meta store for #18753
  src/meta/model/migration/src/m20241025_062548_singleton_vnode_count.rs
Due: rustfmt

remove get hash func
  src/connector/src/connector_common/common.rs
Due: rustfmt

chore(madsim,deps): use patched `sqlx` managed by the `madsim-rs` organization instead of a personal repository (#19130)
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix(meta): fix migration query under postgres meta store for #18753 (#19151)
  src/meta/model/migration/src/m20241025_062548_singleton_vnode_count.rs
Due: rustfmt

include status and scheduled barriers to context
  src/meta/node/src/server.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/schedule.rs
Due: rustfmt

refine background job state
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/recovery.rs
Due: rustfmt

fix other executors
  src/stream/src/executor/source/fs_source_executor.rs
  src/stream/src/executor/source/source_backfill_executor.rs
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt

migrate to Weak
  src/connector/src/connector_common/common.rs
  src/connector/src/error.rs
  src/connector/src/source/kafka/enumerator/client.rs
  src/meta/src/stream/source_manager.rs
Due: rustfmt

minor
  src/connector/src/source/kafka/enumerator/client.rs
Due: rustfmt

perf(over window): avoid recompute information about window frames (#19036)
  src/stream/src/executor/over_window/frame_finder.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Due: rustfmt

avoid downcast
  src/meta/src/barrier/mod.rs
  src/meta/src/manager/metadata.rs
Due: rustfmt

fix
  src/connector/src/source/kafka/enumerator/client.rs
Due: rustfmt

remove table assertion on prefix_hint_len
  src/stream/src/common/table/state_table.rs
Due: rustfmt

skip empty delta
  src/stream/src/executor/over_window/general.rs
Due: rustfmt

pass through Updates that don't affect win function outputs
  src/common/src/array/stream_record.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Due: rustfmt

add e2e specifically for no-effect updates
  e2e_test/over_window/generated/batch/main.slt.part
  e2e_test/over_window/generated/batch/no_effect_updates/mod.slt.part
  e2e_test/over_window/generated/streaming/main.slt.part
  e2e_test/over_window/generated/streaming/no_effect_updates/mod.slt.part
  e2e_test/over_window/templates/main.slt.part
  e2e_test/over_window/templates/no_effect_updates/mod.slt.part
Due: none

fix table pk
  src/stream/src/executor/over_window/general.rs
Due: rustfmt

fix(meta): fix vnode count data type when querying system table `rw_fragments`
  src/meta/src/controller/utils.rs
Due: rustfmt

feat(compaction): introduce auto split and merge policy and config (#18806)
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/node/src/lib.rs
  src/meta/service/src/hummock_service.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction/compaction_group_manager.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/timer_task.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/hummock/model/compaction_group_config.rs
  src/meta/src/manager/env.rs
  src/meta/src/rpc/metrics.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_test/src/compactor_tests.rs
Due: rustfmt

fix flush checkpoint
  src/meta/src/barrier/schedule.rs
Due: rustfmt

fix(meta): fix vnode count data type when querying system table `rw_fragments` (#19155)
  src/meta/src/controller/utils.rs
Due: rustfmt

perf(over window): pass through `Update`s not affecting window function outputs (#19056)
  e2e_test/over_window/generated/batch/main.slt.part
  e2e_test/over_window/generated/batch/no_effect_updates/mod.slt.part
  e2e_test/over_window/generated/streaming/main.slt.part
  e2e_test/over_window/generated/streaming/no_effect_updates/mod.slt.part
  e2e_test/over_window/templates/main.slt.part
  e2e_test/over_window/templates/no_effect_updates/mod.slt.part
  src/common/src/array/stream_record.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Due: rustfmt

fix database path
  src/connector/src/connector_common/iceberg/mod.rs
  src/frontend/src/handler/create_table.rs
Due: rustfmt

fix: reject invalid storage cache capacities configs
  src/common/src/config.rs
  src/compute/src/memory/config.rs
  src/config/docs.md
  src/tests/regress/data/expected/create_table.out
  src/tests/regress/data/sql/create_table.sql
Due: rustfmt

fix check
  src/meta/src/barrier/mod.rs
Due: rustfmt

remove unused function
  dashboard/lib/layout.ts
Due: none

refactor(meta): decouple global barrier worker from context with trait (#19034)
  src/meta/node/src/server.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/creating_job/barrier_control.rs
  src/meta/src/barrier/creating_job/mod.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/manager/metadata.rs
Due: rustfmt

fix(ci): fix docker scount notification (#19143) (#19150)
  ci/scripts/docker-scout-notify.sh
Due: none

fix(ci): fix docker scount notification (#19143) (#19149)
  ci/scripts/docker-scout-notify.sh
Due: none

fix early stopping for `rank`
  src/expr/core/src/window_function/kind.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/rule/over_window_split_rule.rs
  src/frontend/src/optimizer/rule/over_window_to_topn_rule.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Due: rustfmt

skip remaining affected curr keys when rank has no change
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Due: rustfmt

perf(over window): skip remaining affected rows when rank is not changed (#18950)
  src/expr/core/src/window_function/kind.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/rule/over_window_split_rule.rs
  src/frontend/src/optimizer/rule/over_window_to_topn_rule.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Due: rustfmt

refactor(stream): deprecate ReceiverExecutor in favor of MergeExecutor
  proto/stream_plan.proto
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/from_proto/merge.rs
  src/stream/src/task/mod.rs
Due: rustfmt

fix lateral subquery with cte
  src/frontend/planner_test/tests/testdata/input/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/input/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/lateral_subquery.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/src/binder/expr/column.rs
  src/frontend/src/binder/relation/mod.rs
Due: rustfmt

chore(dashboard): remove unused function (#19158)
  dashboard/lib/layout.ts
Due: none

ci: fix scout in docker pipeline
  ci/workflows/docker.yml
Due: none

ci: fix scout in docker pipeline (#19164)
  ci/workflows/docker.yml
Due: none
