Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

cherry-pick: refactor(license): check license for disk cache and data refill #21176
  src/license/src/feature.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/store_impl.rs
Due: rustfmt

fix ci
  e2e_test/subscription/main.py
  src/batch/executors/src/executor/log_row_seq_scan.rs
  src/batch/executors/src/executor/utils.rs
  src/frontend/src/optimizer/plan_node/batch_log_seq_scan.rs
  src/frontend/src/optimizer/plan_node/generic/log_scan.rs
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/utils/condition.rs
  src/utils/pgwire/src/types.rs
Due: rustfmt

chore(ci): use python3.12 in release.sh to compile python udf
  ci/scripts/release.sh
Due: none

fix(distinct agg): delete row from dedup table when counts drop to 0 (#21329)
  src/stream/src/executor/aggregate/distinct.rs
Due: rustfmt

feat(compaction): Enhance the restrictions on the merge dimension variables to avoid performance regression.
  src/common/src/config.rs
  src/meta/node/src/lib.rs
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/manager/env.rs
Due: rustfmt

refactor(storage): remove unnecessary fields from ReadOptions (#20545)
  src/batch/executors/src/executor/insert.rs
  src/batch/src/executor/fast_insert.rs
  src/ctl/src/cmd_impl/hummock/list_kv.rs
  src/java_binding/src/hummock_iterator.rs
  src/storage/hummock_test/benches/bench_hummock_iter.rs
  src/storage/hummock_test/src/bin/replay/replay_impl.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/hummock_test/src/failpoint_tests.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/snapshot_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/hummock_test/src/sync_point_tests.rs
  src/storage/hummock_test/src/test_utils.rs
  src/storage/hummock_trace/src/collector.rs
  src/storage/hummock_trace/src/opts.rs
  src/storage/hummock_trace/src/record.rs
  src/storage/hummock_trace/src/replay/mod.rs
  src/storage/hummock_trace/src/replay/worker.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/hummock/store/version.rs
  src/storage/src/hummock/test_utils.rs
  src/storage/src/hummock/utils.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/storage/src/table/batch_table/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/table/state_table.rs
  src/tests/compaction_test/src/compaction_test_runner.rs
Due: rustfmt

cherry-pick: check license for disk cache & data refill #21176 (#21332)
  src/license/src/feature.rs
  src/storage/src/hummock/event_handler/refiller.rs
  src/storage/src/store_impl.rs
Due: rustfmt

config
  src/config/docs.md
  src/config/example.toml
Due: none

refactor(source): refactor iceberg source split task algorithm (#21322)
  src/connector/src/source/iceberg/mod.rs
Due: rustfmt

chore(ci): use python3.12 in release.sh to compile python udf (#21333)
  ci/scripts/release.sh
Due: none

delete from lru cache when removing by pk
  src/stream/src/executor/project/materialized_exprs.rs
Due: rustfmt

feat(subscription): Support specified pk read log store (#19274)
  e2e_test/subscription/main.py
  proto/batch_plan.proto
  src/batch/executors/src/executor/log_row_seq_scan.rs
  src/batch/executors/src/executor/row_seq_scan.rs
  src/batch/executors/src/executor/utils.rs
  src/frontend/src/handler/util.rs
  src/frontend/src/optimizer/plan_node/batch_log_seq_scan.rs
  src/frontend/src/optimizer/plan_node/generic/log_scan.rs
  src/frontend/src/optimizer/plan_node/generic/table_scan.rs
  src/frontend/src/session/cursor_manager.rs
  src/frontend/src/utils/condition.rs
  src/storage/src/table/batch_table/mod.rs
  src/utils/pgwire/src/types.rs
Due: rustfmt

handle trailing +-
  src/sqlparser/src/tokenizer.rs
Due: rustfmt

cherry-pick chore(ci): use python3.12 in release.sh to compile python udf (#21333)
  ci/scripts/release.sh
Due: none

cherry-pick chore(ci): use python3.12 in release.sh to compile python udf (#21333) (#21340)
  ci/scripts/release.sh
Due: none

fix iceberg count star
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/optimizer/rule/batch/batch_iceberg_count_star.rs
Due: rustfmt

fix(iceberg): fix iceberg count star (#21341)
  src/connector/src/source/iceberg/mod.rs
  src/frontend/src/optimizer/rule/batch/batch_iceberg_count_star.rs
Due: rustfmt

stash
  src/frontend/src/handler/create_sink.rs
Due: rustfmt

remove parquet avro lib
  java/connector-node/risingwave-sink-iceberg/pom.xml
Due: none

merge code paths
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
Due: rustfmt

refactor(config): turn const LOCAL_EXECUTE_BUFFER_SIZE into configuration parameters
  src/batch/src/rpc/service/task_service.rs
  src/common/src/config.rs
  src/config/example.toml
Due: rustfmt

chore: update PR template with highest release version 2.3
  .github/pull_request_template.md
Due: none

fix bitmap init
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
Due: rustfmt

fix test
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
Due: rustfmt

feat(stream): actor create exchange via channel
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/exchange/output.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
Due: rustfmt

fix test
  src/stream/src/executor/dispatch.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/receiver.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
Due: rustfmt

remove is_dirty method
  src/storage/hummock_test/src/bin/replay/replay_impl.rs
  src/storage/hummock_trace/src/collector.rs
  src/storage/hummock_trace/src/record.rs
  src/storage/hummock_trace/src/replay/mod.rs
  src/storage/hummock_trace/src/replay/worker.rs
  src/storage/src/hummock/store/local_hummock_storage.rs
  src/storage/src/memory.rs
  src/storage/src/monitor/monitored_store.rs
  src/storage/src/monitor/traced_store.rs
  src/storage/src/panic_store.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/common/table/state_table.rs
Due: rustfmt

refine commit_pending_watermark
  src/stream/src/common/table/state_table.rs
Due: rustfmt

debug: output wrong chunk
  src/stream/src/executor/wrapper/schema_check.rs
Due: rustfmt

prof
  Cargo.lock
  src/stream/Cargo.toml
  src/stream/benches/prof.rs
  src/stream/benches/stream_asof_join_rt.rs
  src/stream/src/executor/asof_join.rs
  src/stream/src/executor/test_utils/asof_join_executor.rs
Due: rustfmt, cargo sort

fix(meta): `risedev d default` should not release connection to in-memory SQLite for meta store
  src/meta/src/controller/mod.rs
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt

warn about `--sql-endpoint` when using `mem`
  src/meta/node/src/lib.rs
  src/meta/src/controller/mod.rs
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt

set enforce_secret_on_cloud default to false
  src/common/src/system_param/mod.rs
Due: rustfmt

fix(iceberg): remove parquet avro lib (#21344)
  java/connector-node/risingwave-sink-iceberg/pom.xml
Due: none

bump related crates
  Cargo.lock
  Cargo.toml
  src/common/rate_limit/Cargo.toml
Due: cargo sort

fix(meta): `risedev d default` should not release connection to in-memory SQLite for meta store (#21349)
  src/meta/node/src/lib.rs
  src/meta/src/controller/mod.rs
  src/risedevtool/src/task/meta_node_service.rs
Due: rustfmt
