Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

test(cassandra): support local and CI sink test execution
  ci/scripts/e2e-cassandra-sink-test.sh
  e2e_test/commands/cassandra-cqlsh
  e2e_test/sink/cassandra_sink.slt
Due: none

ci: auto-label Cassandra service and test changes
  .github/labeler.yml
Due: none

feat(risedev): add Docker-backed Cassandra service
  src/risedevtool/Cargo.toml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/cassandra_service.rs
  src/risedevtool/src/task/mod.rs
  src/risedevtool/src/task/task_cassandra_ready_check.rs
Due: rustfmt, cargo sort

fix(connector/kafka): resolve startup timestamp offset once per partition
  src/connector/src/source/kafka/enumerator.rs
Due: rustfmt

feat(storage): share block memory with pin cache
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/monitor/local_metrics.rs
Due: rustfmt

feat(planner): always shuffle the LHS of broadcast temporal join by stream key
  src/frontend/planner_test/tests/testdata/input/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
Due: rustfmt

fix(iceberg): merge COW overwrite manifests on release-3.0 (#26990)
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
Due: cargo sort

fix(meta): deliver pause and resume to independent job partial graphs
  proto/stream_plan.proto
  src/common/src/system_param/mod.rs
  src/config/docs.md
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/independent_job/batch_refresh_job/mod.rs
  src/meta/src/barrier/checkpoint/independent_job/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/independent_job/creating_job/status.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
  src/tests/simulation/src/ctl_ext.rs
Due: rustfmt

feat(object-store): expose fs operation metrics
  Cargo.lock
  src/object_store/Cargo.toml
  src/object_store/src/object/opendal_engine/fs.rs
Due: rustfmt, cargo sort

fix(compactor): align iceberg task multiplier default (#26859)
  src/common/src/config/storage.rs
Due: rustfmt

feat(stream): watermark-driven state cleaning for over window with bounded ROWS frames (#26917)
  e2e_test/streaming/over_window/state_cleaning.slt
  e2e_test/streaming/over_window/state_cleaning.slt.part
  proto/stream_plan.proto
  src/frontend/src/optimizer/plan_node/stream_over_window.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
  src/stream/src/from_proto/over_window.rs
  src/stream/tests/integration_tests/over_window.rs
Due: rustfmt

fix lost insert
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
Due: rustfmt

test(stream): cover deletes from later CDC backfill splits
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
Due: rustfmt

feat(planner): always shuffle the LHS of broadcast temporal join by stream key (#27025)
  src/frontend/planner_test/tests/testdata/input/temporal_join.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_join.yaml
  src/frontend/src/optimizer/plan_node/logical_join.rs
  src/frontend/src/optimizer/plan_node/stream_temporal_join.rs
Due: rustfmt

refactor(meta): simplify partition-aware L0 compaction
  docs/dev/src/SUMMARY.md
  docs/dev/src/design/hummock-partition-l0-compaction.md
  src/meta/src/hummock/compaction/picker/base_level_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/mod.rs
  src/meta/src/hummock/compaction/selector/level_selector.rs
  src/meta/src/hummock/compaction/selector/mod.rs
  src/meta/src/hummock/compaction/selector/partition_l0_observability.rs
  src/meta/src/hummock/compaction/selector/single_table_compaction.rs
  src/meta/src/hummock/compaction/vnode_partition.rs
  src/meta/src/hummock/metrics_utils.rs
  src/meta/src/rpc/metrics.rs
Due: rustfmt

test(frontend): expand Kafka generated primary key sink coverage
  e2e_test/source_inline/kafka/generated_pk_sink.slt
  e2e_test/source_inline/kafka/issue_24986.slt
Due: none

fix(storage): keep pin cache blocks memory-only
  src/storage/src/hummock/iterator/test_utils.rs
  src/storage/src/hummock/sstable_store.rs
Due: rustfmt

Skip cache bookkeeping when the partition set is unchanged
  src/connector/src/source/kafka/enumerator.rs
Due: rustfmt

fix(storage): preserve foyer prefetch policy
  src/storage/src/hummock/sstable_store.rs
Due: rustfmt

chore(tests): add explicit reasons to ignored tests (#27010)
  src/common/rate_limit/src/lib.rs
  src/stream/src/executor/error.rs
Due: rustfmt

fix(stream): preserve CDC events during recovery startup
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
Due: rustfmt

fix(iceberg): merge COW overwrite manifests on release-3.1
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
Due: cargo sort

fix(storage): respect logical sst range in stream seek
  src/storage/src/hummock/compactor/iterator.rs
Due: rustfmt

perf(storage): reduce SST builder key copies and XOR sorting allocations
  docs/dev/src/benchmark-and-profile/microbenchmarks.md
  docs/dev/src/benchmark-and-profile/sstable-builder.md
  src/storage/Cargo.toml
  src/storage/benches/bench_sstable_builder.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/xor_filter.rs
  src/storage/tests/sstable_builder_compatibility.rs
Due: rustfmt, cargo sort

docs: keep SST builder benchmark conclusions in PR description
  docs/dev/src/benchmark-and-profile/microbenchmarks.md
  docs/dev/src/benchmark-and-profile/sstable-builder.md
Due: none

test(storage): keep builder encoding oracle as local validation
  src/storage/tests/sstable_builder_compatibility.rs
Due: rustfmt

refactor(risedev): remove legacy gcloud Pub/Sub setup
  Makefile.toml
  ci/scripts/common.sh
  src/risedevtool/config/src/main.rs
  src/risedevtool/gcloud-pubsub.toml
Due: rustfmt

feat(connector): add hidden Oracle CDC source plumbing
  java/connector-node/connector-api/src/main/java/com/risingwave/connector/api/source/SourceTypeE.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/SourceValidateHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleValidator.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/ValidatorUtils.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzChangeEventConsumer.java
  java/connector-node/risingwave-connector-service/src/main/resources/oracle.properties
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/common/OracleConnectorConfigTest.java
  java/connector-node/risingwave-source-cdc/pom.xml
  java/pom.xml
  proto/connector_service.proto
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/macros.rs
  src/connector/src/source/base.rs
  src/connector/src/source/cdc/enumerator/mod.rs
  src/connector/src/source/cdc/mod.rs
  src/connector/src/source/cdc/source/message.rs
  src/connector/src/source/cdc/source/reader.rs
  src/connector/src/source/cdc/split.rs
  src/connector/src/source/mod.rs
  src/connector/src/with_options_test.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/validate.rs
Due: rustfmt

feat(connector): validate Oracle CDC heartbeat table
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/SourceValidateHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleHeartbeatTable.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleValidator.java
  java/connector-node/risingwave-connector-service/src/main/resources/oracle.properties
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/common/OracleConnectorConfigTest.java
  src/connector/src/allow_alter_on_fly_fields.rs
  src/connector/src/with_options_test.rs
Due: rustfmt

fix: address coderabbit comments
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleValidator.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/common/OracleConnectorConfigTest.java
Due: none

fix: doc build issue and add feature guard
  src/common/src/config/frontend.rs
  src/config/docs.md
  src/config/example.toml
  src/connector/src/source/cdc/source/message.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/util.rs
Due: rustfmt

fix(connector): address Oracle validator review findings
  .github/workflows/connector-node-integration.yml
  java/connector-node/risingwave-connector-service/pom.xml
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/SourceValidateHandler.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleValidator.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/SourceValidateHandlerTest.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/common/OracleConnectorConfigTest.java
  src/frontend/src/handler/create_source/validate.rs
Due: rustfmt

fix(connector): satisfy Oracle CDC Checkstyle
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
Due: none

feat: add external reader for Oracle connector
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/JniOracleExternalTable.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleExternalTable.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/common/OracleExternalTableTest.java
  proto/connector_service.proto
  src/connector/src/source/cdc/external/mod.rs
  src/connector/src/source/cdc/external/mysql.rs
  src/connector/src/source/cdc/external/oracle.rs
  src/connector/src/source/cdc/external/postgres.rs
Due: rustfmt

fix: fix headers
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/JniOracleExternalTable.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/OracleExternalTable.java
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/common/OracleExternalTableTest.java
Due: none

fix(connector): format Oracle CDC tests
  java/connector-node/risingwave-connector-service/src/test/java/com/risingwave/connector/source/common/OracleConnectorConfigTest.java
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
