Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.30.2
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

refactor(meta): apply command in inflght state in one step (#24906)
  ci/scripts/deterministic-e2e-test.sh
  src/meta/src/barrier/checkpoint/state.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/info.rs
Due: rustfmt

refactor(hummock): unify level normalization for table-id mutations (#24896)
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/store/version.rs
Due: rustfmt

fix(frontend): preserve join shape in consecutive join separation (#24925)
  src/frontend/planner_test/tests/testdata/input/join.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/src/optimizer/rule/stream/separate_consecutive_join_rule.rs
Due: rustfmt

feat(exchange): epoch-tagged pipelining for multiplexed exchange
  proto/stream_plan.proto
  src/compute/src/rpc/service/stream_exchange_service.rs
  src/stream/src/executor/exchange/multiplexed.rs
  src/stream/src/executor/exchange/permit.rs
  src/stream/src/executor/merge.rs
  src/stream/src/executor/mod.rs
Due: rustfmt

fix(frontend): preserve join shape in consecutive join separation (#24925) (#24927)
  src/frontend/planner_test/tests/testdata/input/join.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/src/optimizer/rule/stream/separate_consecutive_join_rule.rs
Due: rustfmt

fix
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka_shared.slt.serial
Due: none

refactor
  src/frontend/src/session.rs
  src/meta/src/hummock/manager/versioning.rs
  src/storage/hummock_sdk/src/change_log.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/utils.rs
Due: rustfmt

test: fix flaky rate limit source test (#24931)
  e2e_test/source_inline/kafka/alter/rate_limit_source_kafka_shared.slt.serial
Due: none

refactor
  src/storage/src/hummock/store/hummock_storage.rs
Due: rustfmt

chore: introduce more instrument_await for debug
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable/multi_builder.rs
Due: rustfmt

feat(optimizer): agg mv selection (#24782)
  src/frontend/planner_test/tests/testdata/input/mv_selection.yaml
  src/frontend/planner_test/tests/testdata/output/mv_selection.yaml
  src/frontend/src/optimizer/rule/mv_selection_rule.rs
Due: rustfmt

revert timeout change
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
Due: none

revert timeout change
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzCdcEngineRunner.java
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/JniDbzSourceHandler.java
Due: none

bugfix
  src/frontend/src/session/cursor_manager.rs
Due: rustfmt

bugfix
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/versioning.rs
Due: rustfmt

chore: remove unrelated gitignore entries
  .gitignore
Due: none

fix(optimizer): fix full outer join null filter (#24899)
  e2e_test/streaming/join/full_outer_join_global_agg.slt.part
  e2e_test/streaming/join/main.slt
  src/frontend/planner_test/tests/testdata/output/explain_dot_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_json_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_xml_format.yaml
  src/frontend/planner_test/tests/testdata/output/explain_yaml_format.yaml
  src/frontend/planner_test/tests/testdata/output/join.yaml
  src/frontend/planner_test/tests/testdata/output/project.yaml
  src/frontend/planner_test/tests/testdata/output/subquery_expr_correlated.yaml
  src/frontend/planner_test/tests/testdata/output/temporal_filter.yaml
  src/frontend/src/optimizer/plan_node/logical_join.rs
Due: rustfmt

fix: fix check
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/hummock/store/version.rs
Due: rustfmt

refactor(connector): use workspace-managed prost deps
  Cargo.toml
  src/connector/Cargo.toml
  src/connector/codec/Cargo.toml
Due: cargo sort

fix(ci): sync lockfile with workspace toml pin
  Cargo.lock
Due: none

refactor(cdc): add configurable total timeout for CDC schema history `putObject` (#24749)
  src/jni_core/src/opendal_schema_history.rs
Due: rustfmt

feat(pg-cdc): monitor upstream max lsn and more accurate lsn lag (#24919)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/streaming_cdc.py
  grafana/risingwave-dev-dashboard.json
  src/connector/src/source/cdc/enumerator/mod.rs
  src/connector/src/source/monitor/metrics.rs
Due: rustfmt

feat(exchange): per-actor record permits and raise concurrent_barriers
  src/common/src/config/mod.rs
  src/stream/src/executor/exchange/multiplexed.rs
  src/stream/src/executor/exchange/permit.rs
Due: rustfmt

prevent concurrent OpendalSchemaHistory writes for the same sourceId
  java/connector-node/risingwave-source-cdc/src/main/java/com/risingwave/connector/cdc/debezium/internal/OpendalSchemaHistory.java
Due: none

refactor(cdc): add configurable total timeout for CDC schema history `putObject` (#24749) (#24934)
  src/jni_core/src/opendal_schema_history.rs
Due: rustfmt

test pg 18 in integation test
  ci/scripts/gen-integration-test-yaml.py
  ci/scripts/notify.py
  integration_tests/postgres-cdc/docker-compose.yml
Due: none

refactor(hummock): unify level normalization for table-id mutations (#24896) (#24929)
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/store/version.rs
Due: rustfmt

WIP
  src/common/src/array/arrow/arrow_deltalake.rs
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/decimal_array.rs
  src/common/src/array/proto_reader.rs
  src/common/src/hash/key.rs
  src/common/src/types/decimal.rs
  src/common/src/types/macros.rs
  src/common/src/types/mod.rs
  src/common/src/types/scalar_impl.rs
  src/common/src/types/to_binary.rs
  src/common/src/util/value_encoding/mod.rs
  src/connector/src/parser/scalar_adapter.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/encoder/avro.rs
  src/connector/src/sink/encoder/json.rs
  src/connector/src/sink/sqlserver.rs
  src/expr/core/src/window_function/range.rs
  src/expr/core/src/window_function/session.rs
  src/expr/impl/src/scalar/arithmetic_op.rs
  src/expr/impl/src/scalar/exp.rs
  src/expr/impl/src/scalar/round.rs
  src/expr/impl/src/scalar/to_jsonb.rs
  src/expr/impl/src/scalar/vector.rs
  src/expr/impl/src/table_function/generate_series.rs
  src/expr/macro/src/types.rs
  src/jni_core/src/lib.rs
Due: rustfmt

fix(ci): restore toml dependency and lockfile
  Cargo.lock
  Cargo.toml
Due: cargo sort

test pg 18 in integation test
  ci/scripts/integration-tests.sh
Due: none

refactor(hummock): unify level normalization for table-id mutations (#24896) (#24926)
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/hummock/sstable/backward_sstable_iterator.rs
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
  src/storage/src/hummock/store/version.rs
Due: rustfmt

chore: bump tonic and prost to 0.14 (#24727)
  Cargo.lock
  Cargo.toml
  src/common/common_service/src/tracing.rs
  src/common/metrics/src/monitor/connection.rs
  src/common/src/util/tracing.rs
  src/compute/src/rpc/service/monitor_service.rs
  src/connector/Cargo.toml
  src/connector/codec/Cargo.toml
  src/connector/codec/tests/integration_tests/protobuf.rs
  src/connector/src/connector_common/connection.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/catalog/mod.rs
  src/connector/src/sink/encoder/proto.rs
  src/ctl/src/cmd_impl/meta/connection.rs
  src/error/src/tonic.rs
  src/expr/core/src/window_function/call.rs
  src/expr/core/src/window_function/kind.rs
  src/expr/macro/src/gen.rs
  src/frontend/src/catalog/connection_catalog.rs
  src/frontend/src/catalog/system_catalog/rw_catalog/rw_connections.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
  src/frontend/src/webhook/mod.rs
  src/meta/model/src/sink.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/mod.rs
  src/meta/src/dashboard/mod.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/rpc/intercept.rs
  src/prost/Cargo.toml
  src/prost/build.rs
  src/prost/src/id.rs
  src/prost/src/lib.rs
  src/rpc_client/src/channel.rs
  src/storage/src/hummock/compactor/mod.rs
  src/tests/sqlsmith/src/sql_gen/types.rs
  src/utils/openai_embedding_service/src/lib.rs
  src/utils/runtime/Cargo.toml
  src/utils/runtime/src/logger.rs
Due: rustfmt, cargo sort

feat: modify how writefuture resolves EOS
  src/stream/src/executor/dispatch_sync_log_store.rs
Due: rustfmt

try
  ci/scripts/integration-tests.sh
Due: none
