Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
        exclude: 'src/frontend/planner_test/tests/testdata/.*'
    -   id: trailing-whitespace
-   repo: https://github.com/crate-ci/typos
    rev: v1.23.1
    hooks:
      - id: typos
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

feat(sink): change sink type to append only when plan is append-only (#20558)
  e2e_test/sink/append_only_sink.slt
  e2e_test/sink/sink_into_table/basic.slt
  src/frontend/planner_test/tests/testdata/output/emit_on_window_close.yaml
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/src/optimizer/plan_node/stream_sink.rs
  src/tests/simulation/tests/integration_tests/sink/utils.rs
Due: rustfmt

incr end-to-end iceberg sink v2 test timeout
  ci/workflows/pull-request.yml
Due: none

chore: update docker version to v2.2.3
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: none

chore: update docker version to v2.2.3 (#20894)
  docker/docker-compose-distributed.yml
  docker/docker-compose-with-azblob.yml
  docker/docker-compose-with-gcs.yml
  docker/docker-compose-with-local-fs.yml
  docker/docker-compose-with-obs.yml
  docker/docker-compose-with-oss.yml
  docker/docker-compose-with-s3.yml
  docker/docker-compose-with-sqlite.yml
  docker/docker-compose.yml
Due: none

chore: remove risingwave_connector::source::DataType
  src/connector/src/source/base.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/optimizer/plan_node/logical_kafka_scan.rs
  src/frontend/src/optimizer/rule/logical_filter_expression_simplify_rule.rs
  src/frontend/src/optimizer/rule/rewrite_like_expr_rule.rs
Due: rustfmt

fix(meta): isolate database logical error in global recovery
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
Due: rustfmt

fix report database failure on collected databases
  src/meta/src/barrier/worker.rs
Due: rustfmt

fix check and ut
  src/common/src/config.rs
  src/config/docs.md
  src/config/example.toml
Due: rustfmt

feat: add `UdfConfig` to enable/disable embedded UDF for different language (#20893)
  src/common/src/config.rs
  src/config/ci.toml
  src/config/docs.md
  src/config/example.toml
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/session.rs
Due: rustfmt

save work
  risedev.yml
  src/connector/src/sink/iceberg/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
Due: rustfmt

add delete marker, fix some corner case, WIP, gc table
  src/connector/src/sink/iceberg/mod.rs
  src/meta/model/src/exactly_once_iceberg_sink.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
Due: rustfmt

fix
  src/connector/src/parser/csv_parser.rs
  src/connector/src/source/datagen/source/reader.rs
Due: rustfmt

fix
  src/bench/sink_bench/main.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
Due: rustfmt

fix
  Cargo.lock
  Cargo.toml
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt, cargo sort

fix
  src/common/src/config.rs
Due: rustfmt

update dashboards
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/__init__.py
  grafana/dashboard/dev/sync_logstore_metrics.py
  grafana/risingwave-dev-dashboard.json
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/sync_kv_log_store.rs
Due: rustfmt

limit flush read size
  src/stream/src/executor/sync_kv_log_store.rs
Due: rustfmt

refactor(iceberg): bump iceberg-rs (#20882)
  Cargo.lock
  Cargo.toml
  ci/workflows/pull-request.yml
  src/common/Cargo.toml
  src/common/src/array/arrow/arrow_54.rs
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/arrow_impl.rs
  src/common/src/array/arrow/mod.rs
  src/connector/Cargo.toml
  src/connector/src/parser/parquet_parser.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/iceberg/mod.rs
  src/connector/src/source/iceberg/parquet_file_handler.rs
  src/meta/src/telemetry.rs
  src/storage/src/store_impl.rs
Due: rustfmt, cargo sort

delete previous item when commit
  src/connector/src/sink/iceberg/mod.rs
  src/meta/src/controller/catalog/drop_op.rs
Due: rustfmt

fix
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

fix
  src/connector/src/parser/debezium/debezium_parser.rs
Due: rustfmt

chore: remove risingwave_connector::source::DataType (#20895)
  src/bench/sink_bench/main.rs
  src/connector/src/parser/csv_parser.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/source/base.rs
  src/connector/src/source/datagen/source/reader.rs
  src/frontend/src/handler/alter_source_with_sr.rs
  src/frontend/src/optimizer/plan_node/logical_kafka_scan.rs
  src/frontend/src/optimizer/plan_node/logical_source.rs
  src/frontend/src/optimizer/rule/logical_filter_expression_simplify_rule.rs
  src/frontend/src/optimizer/rule/rewrite_like_expr_rule.rs
Due: rustfmt

Add CI config for multi-node setup and improve logging in GlobalBarrierWorker for better recovery tracking.
  risedev.yml
  src/meta/src/barrier/worker.rs
Due: rustfmt

test failed
  src/tests/simulation/tests/integration_tests/scale/isolation.rs
Due: rustfmt

Add `isolation.rs` tests for database isolation in cluster environments to the `scale` module.
  src/tests/simulation/tests/integration_tests/scale/isolation.rs
  src/tests/simulation/tests/integration_tests/scale/mod.rs
Due: rustfmt

Streamline `isolation.rs`: reduced sleep to 2s, removed prints, and cleaned up commented code.
  src/tests/simulation/tests/integration_tests/scale/isolation.rs
Due: rustfmt

cherry-pick feat: add UdfConfig to enable/disable embedded UDF for different language (#20893) to branch release-2.3 (#20902)
  src/common/src/config.rs
  src/config/ci.toml
  src/config/docs.md
  src/config/example.toml
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/session.rs
Due: rustfmt

cherry-pick feat: add UdfConfig to enable/disable embedded UDF for different language (#20893) to branch release-2.1 (#20904)
  src/common/src/config.rs
  src/config/ci.toml
  src/config/docs.md
  src/config/example.toml
  src/frontend/src/handler/create_aggregate.rs
  src/frontend/src/handler/create_function.rs
  src/frontend/src/session.rs
Due: rustfmt

fix(sqlparser): `Display` of `WITH VERSION COLUMN` (#20823) (#20875)
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/explain.rs
  src/frontend/src/handler/mod.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/sqlparser_common.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

feat: cherry-pick database isolation fixes in #20792 #20827 #20872 #20879 to release-2.2 (#20881)
  e2e_test/batch/catalog/pg_settings.slt.part
  proto/meta.proto
  proto/stream_service.proto
  proto/task_service.proto
  src/common/src/system_param/mod.rs
  src/common/src/system_param/reader.rs
  src/compute/src/rpc/service/exchange_service.rs
  src/config/docs.md
  src/config/example.toml
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/complete_task.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/context/mod.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/schedule.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/rpc/metrics.rs
  src/meta/src/stream/stream_manager.rs
  src/rpc_client/src/compute_client.rs
  src/stream/src/executor/exchange/input.rs
  src/stream/src/executor/merge.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/mod.rs
  src/stream/src/task/stream_manager.rs
  src/tests/simulation/tests/integration_tests/backfill_tests.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Due: rustfmt

fix bug
  src/connector/src/sink/clickhouse.rs
Due: rustfmt

add ci
  ci/scripts/e2e-clickhouse-sink-test.sh
  e2e_test/sink/clickhouse_sink.slt
Due: none

update dashboard
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/dashboard/dev/sync_logstore_metrics.py
  grafana/risingwave-dev-dashboard.json
Due: none

fix ci
  e2e_test/sink/clickhouse_sink.slt
Due: none

fix(action): fetch all branches not only main
  .github/workflows/cherry-pick-since-release-branch.yml
Due: none

fix(action): fetch all branches not only main (#20912)
  .github/workflows/cherry-pick-since-release-branch.yml
Due: none

resume and use regex to filter await tree output
  Cargo.lock
  src/compute/Cargo.toml
  src/compute/src/rpc/service/monitor_service.rs
  src/stream/src/executor/sink.rs
  src/utils/workspace-config/Cargo.toml
Due: rustfmt, cargo sort
