Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

feat: inject pause/resume for creating sink into table (#17651)
  src/meta/src/stream/stream_manager.rs
  src/stream/src/executor/mod.rs
Due: rustfmt

fix dml pin snapshot too long
  src/frontend/src/handler/query.rs
  src/utils/pgwire/src/pg_protocol.rs
Due: rustfmt

save work
  src/connector/src/sink/batching_log_sink.rs
  src/connector/src/sink/file_sink/fs.rs
  src/connector/src/sink/file_sink/gcs.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/file_sink/s3.rs
  src/connector/src/sink/mod.rs
Due: rustfmt

update with option
  src/connector/with_options_sink.yaml
Due: none

fix: allow nullable for target table columns for normal sink
  src/meta/model_v2/src/lib.rs
  src/meta/model_v2/src/sink.rs
  src/meta/src/controller/mod.rs
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

fix: allow nullable for target table columns for normal sink (#18251)
  src/meta/model_v2/src/lib.rs
  src/meta/model_v2/src/sink.rs
  src/meta/src/controller/mod.rs
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

fix(storage): fix ut
  src/storage/src/hummock/sstable/builder.rs
Due: rustfmt

minor
  src/connector/src/error.rs
  src/connector/src/parser/parquet_parser.rs
Due: rustfmt

fix main-cron
  e2e_test/s3/fs_parquet_source_and_sink.py
Due: none

typo
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/vnode_watermark_picker.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/manager/diagnose.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
Due: rustfmt

fix(storage): fix object_size_map
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Due: rustfmt

feat(connector): introduce azblob sink (#18244)
  src/connector/Cargo.toml
  src/connector/src/sink/file_sink/azblob.rs
  src/connector/src/sink/file_sink/mod.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/mod.rs
  src/connector/with_options_sink.yaml
  src/frontend/src/handler/create_sink.rs
Due: rustfmt, cargo sort

fix extend mode
  Cargo.lock
  src/frontend/src/handler/query.rs
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_response.rs
Due: rustfmt, cargo sort

fix(storage): Fix the bug that switch table_id breaks block data constraints. (#18235)
  src/storage/src/hummock/sstable/block.rs
  src/storage/src/hummock/sstable/builder.rs
Due: rustfmt

chore: create an issue in the doc repo if it is a breaking change
  .github/workflows/auto-create-doc-issue-by-pr.yml
Due: none

add assert
  src/utils/pgwire/src/pg_protocol.rs
Due: rustfmt

feat(agg): support `aggregate:` prefixed scalar function in streaming agg (#18205)
  e2e_test/streaming/aggregate/wrap_scalar.slt
  src/expr/core/src/aggregate/def.rs
  src/frontend/src/optimizer/plan_node/generic/agg.rs
  src/stream/src/executor/aggregation/minput.rs
Due: rustfmt

fix test
  e2e_test/source/cdc_inline/auto_schema_change_mysql.slt
Due: none

feat(dashboard): visualize average backpressure rather than spot backpressure (#18219)
  dashboard/README.md
  dashboard/lib/api/metric.ts
  dashboard/pages/fragment_graph.tsx
Due: none

fix iceberg path style access
  src/connector/src/lib.rs
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

fix tests
  src/connector/src/sink/iceberg/mod.rs
Due: rustfmt

force use checkpoint visibility in read only txn ci
  e2e_test/batch/transaction/read_only_multi_conn.slt
Due: none

revert set vis at the beginning
  e2e_test/batch/transaction/read_only_multi_conn.slt
Due: none

fix comm
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
Due: rustfmt

feat(storage): Support for repairing the size of a split sst based on table stats (#18053)
  proto/hummock.proto
  src/meta/src/hummock/compaction/picker/trivial_move_compaction_picker.rs
  src/meta/src/hummock/compaction/picker/vnode_watermark_picker.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/compaction_group_manager.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/manager/diagnose.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/table_stats.rs
  src/storage/src/hummock/compactor/compaction_utils.rs
  src/storage/src/hummock/compactor/compactor_runner.rs
  src/storage/src/hummock/compactor/fast_compactor_runner.rs
  src/storage/src/hummock/compactor/shared_buffer_compact.rs
  src/storage/src/hummock/sstable/builder.rs
  src/storage/src/hummock/sstable_store.rs
Due: rustfmt

fix(batch): fix CTAS pins snapshot too long (#18248)
  Cargo.lock
  src/frontend/src/handler/query.rs
  src/utils/pgwire/Cargo.toml
  src/utils/pgwire/src/pg_extended.rs
  src/utils/pgwire/src/pg_protocol.rs
  src/utils/pgwire/src/pg_response.rs
Due: rustfmt, cargo sort

fix
  src/connector/src/parser/unified/debezium.rs
Due: rustfmt

refactor(iceberg): Separate iceberg source pb from source pb (#18209)
  proto/batch_plan.proto
  risedev.yml
  src/batch/src/executor/iceberg_scan.rs
  src/batch/src/executor/mod.rs
  src/batch/src/executor/source.rs
  src/frontend/src/optimizer/plan_node/batch_iceberg_scan.rs
  src/frontend/src/scheduler/distributed/stage.rs
  src/frontend/src/scheduler/local.rs
  src/prost/build.rs
Due: rustfmt

fix: should use table_metric for MV throughput
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
Due: none

bump opendal
  Cargo.lock
  Cargo.toml
  src/batch/src/spill/spill_op.rs
  src/connector/src/sink/file_sink/azblob.rs
  src/connector/src/sink/file_sink/fs.rs
  src/connector/src/sink/file_sink/gcs.rs
  src/connector/src/sink/file_sink/s3.rs
  src/connector/src/sink/iceberg/mock_catalog.rs
  src/connector/src/sink/iceberg/storage_catalog.rs
  src/connector/src/source/filesystem/opendal_source/gcs_source.rs
  src/connector/src/source/filesystem/opendal_source/posix_fs_source.rs
  src/connector/src/source/filesystem/opendal_source/s3_source.rs
  src/connector/src/source/iceberg/parquet_file_reader.rs
  src/object_store/src/object/opendal_engine/azblob.rs
  src/object_store/src/object/opendal_engine/fs.rs
  src/object_store/src/object/opendal_engine/gcs.rs
  src/object_store/src/object/opendal_engine/obs.rs
  src/object_store/src/object/opendal_engine/opendal_s3.rs
  src/object_store/src/object/opendal_engine/oss.rs
  src/object_store/src/object/opendal_engine/webhdfs.rs
Due: rustfmt, cargo sort

chore: create an issue in the doc repo if it is a breaking change (#18263)
  .github/workflows/auto-create-doc-issue-by-pr.yml
Due: none

address comments
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/mod.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
Due: rustfmt

fix(source/nats): add missing `default` attribute for vectors
  src/connector/src/source/nats/mod.rs
  src/connector/with_options_source.yaml
Due: rustfmt

save work, can batching rows
  src/connector/src/sink/batching_log_sink.rs
  src/connector/src/sink/big_query.rs
  src/connector/src/sink/boxed.rs
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/coordinate.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/doris.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/mongodb.rs
  src/connector/src/sink/remote.rs
  src/connector/src/sink/snowflake.rs
  src/connector/src/sink/sqlserver.rs
  src/connector/src/sink/starrocks.rs
  src/connector/src/sink/writer.rs
Due: rustfmt

comment
  src/frontend/src/handler/create_table.rs
Due: rustfmt

support create table for storage catalog
  src/connector/src/sink/iceberg/storage_catalog.rs
Due: rustfmt

fix: should use table_metric for MV throughput (#18265)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
