Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

feat(ci): add option to control push to dockerhub (#22889)
  .github/workflows/build-docker-image.yml
  ci/scripts/multi-arch-docker.sh
Due: none

alter arg values to be independent
  e2e_test/batch/aggregate/arg_min_max.slt.part
Due: none

fix(redshift): update VARCHAR to VARCHAR(MAX) for compatibility (#22898)
  src/connector/src/sink/snowflake_redshift/redshift.rs
Due: rustfmt

move file
  src/common/src/array/vector_array.rs
  src/common/src/lib.rs
  src/common/src/util/mod.rs
  src/common/src/vector/mod.rs
  src/storage/src/hummock/vector/file.rs
Due: rustfmt

refactor(vector): unify storage and streaming vector struct
  Cargo.lock
  Cargo.toml
  src/common/Cargo.toml
  src/common/proc_macro/src/estimate_size.rs
  src/common/src/array/vector_array.rs
  src/common/src/test_utils/rand_array.rs
  src/common/src/types/ordered_float.rs
  src/common/src/types/to_binary.rs
  src/common/src/util/value_encoding/mod.rs
  src/common/src/vector/distance.rs
  src/common/src/vector/mod.rs
  src/connector/src/sink/encoder/json.rs
  src/expr/impl/src/scalar/vector.rs
  src/storage/Cargo.toml
  src/storage/hummock_test/src/hummock_vector_tests.rs
  src/storage/src/hummock/store/hummock_storage.rs
  src/storage/src/hummock/vector/file.rs
  src/storage/src/memory.rs
  src/storage/src/store.rs
  src/storage/src/store_impl.rs
  src/storage/src/vector/hnsw.rs
  src/storage/src/vector/mod.rs
  src/storage/src/vector/utils.rs
  src/stream/src/executor/vector_index/mod.rs
Due: rustfmt, cargo sort

ensure correctness
  Cargo.lock
  src/connector/src/parser/unified/debezium.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/source/cdc/source/reader.rs
  src/stream/Cargo.toml
  src/stream/src/executor/mview/materialize.rs
Due: rustfmt, cargo sort

clippy happy
  java/connector-node/risingwave-connector-service/src/main/resources/debezium.properties
  src/connector/src/parser/unified/json.rs
  src/stream/src/executor/mview/materialize.rs
Due: rustfmt

refactor: change `bool append_only` to `enum StreamKind` in stream plan node protobuf
  Cargo.lock
  proto/stream_plan.proto
  src/frontend/Cargo.toml
  src/frontend/src/optimizer/plan_node/mod.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
  src/frontend/src/optimizer/plan_node/stream_share.rs
  src/frontend/src/optimizer/plan_node/stream_source_scan.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/optimizer/property/stream_kind.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/stream_fragmenter/rewrite/delta_join.rs
Due: rustfmt, cargo sort

ignore buf lint
  proto/stream_plan.proto
Due: none

fix_exprs
  src/frontend/src/optimizer/mod.rs
  src/frontend/src/optimizer/plan_node/stream_union.rs
  src/frontend/src/optimizer/plan_node/stream_upstream_sink_union.rs
Due: rustfmt

add to executor info
  src/compute/tests/cdc_tests.rs
  src/compute/tests/integration_tests.rs
  src/stream/src/executor/asof_join.rs
  src/stream/src/executor/hash_join.rs
  src/stream/src/executor/integration_tests.rs
  src/stream/src/executor/lookup/tests.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sink.rs
  src/stream/src/executor/test_utils/agg_executor.rs
  src/stream/src/executor/test_utils/hash_join_executor.rs
  src/stream/src/executor/test_utils/mock_source.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/src/task/actor_manager.rs
Due: rustfmt

first version
  Makefile.toml
  risedev.yml
  src/risedevtool/config/src/main.rs
  src/risedevtool/lakekeeper.toml
  src/risedevtool/src/bin/risedev-dev.rs
  src/risedevtool/src/config.rs
  src/risedevtool/src/risedev_env.rs
  src/risedevtool/src/service_config.rs
  src/risedevtool/src/task/lakekeeper_service.rs
  src/risedevtool/src/task/mod.rs
Due: rustfmt

fix test
  src/common/src/vector/distance.rs
  src/common/src/vector/mod.rs
  src/expr/impl/src/scalar/vector.rs
  src/storage/src/vector/mod.rs
Due: rustfmt

chore(clippy): add lints to detect potential stack overflows
  Cargo.toml
  src/compute/src/lib.rs
  src/connector/src/sink/pulsar.rs
  src/connector/src/source/kafka/enumerator.rs
  src/ctl/src/lib.rs
  src/frontend/planner_test/src/lib.rs
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/system_catalog/mod.rs
  src/frontend/src/handler/create_table.rs
  src/frontend/src/handler/drop_table.rs
  src/frontend/src/handler/extended_handle.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/rpc/mod.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/meta/node/src/lib.rs
  src/meta/node/src/server.rs
  src/meta/src/barrier/tests/worker_crash_no_early_commit.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
  src/storage/compactor/src/lib.rs
  src/storage/hummock_test/src/bin/replay/main.rs
  src/storage/hummock_test/src/compactor_tests.rs
  src/storage/src/hummock/compactor/mod.rs
  src/storage/src/hummock/iceberg_compactor_runner.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/tests/sqlsmith/tests/frontend/mod.rs
Due: rustfmt, cargo sort

fix_drop_sink
  e2e_test/sink/sink_into_table/alter_column.slt
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/catalog/mod.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

remove Micro in TimestampHandling
  src/connector/src/parser/unified/json.rs
Due: rustfmt

fix_describe_fragment_slt
  e2e_test/batch/decribe_fragment.slt
  e2e_test/batch/describe_fragments.slt
Due: none

init
  e2e_test/batch/describe_fragment.slt
Due: none

fix
  risedev.yml
  src/risedevtool/src/task/lakekeeper_service.rs
Due: rustfmt

refactor(streaming): determine how to handle input inconsistency based on stream kind
  src/stream/src/common/compact_chunk.rs
  src/stream/src/executor/sink.rs
Due: rustfmt

feat(frontend): allow creating upsert source
  e2e_test/source_inline/kafka/upsert_source.slt
  src/frontend/src/handler/create_source.rs
  src/frontend/src/optimizer/plan_node/generic/source.rs
Due: rustfmt

support changelog from source
  src/frontend/src/binder/relation/share.rs
Due: rustfmt

allow sink to be some shard
  src/frontend/src/optimizer/plan_node/derive.rs
  src/frontend/src/optimizer/property/distribution.rs
Due: rustfmt

refine tests
  e2e_test/source_inline/kafka/upsert_source.slt
Due: none

update test
  e2e_test/source_inline/kafka/upsert_source.slt
Due: none

minor updates
  src/frontend/src/handler/create_source.rs
  src/frontend/src/optimizer/plan_node/generic/source.rs
Due: rustfmt

bootstrap
  Cargo.lock
  src/risedevtool/Cargo.toml
  src/risedevtool/src/task/lakekeeper_service.rs
Due: rustfmt, cargo sort

fix
  src/risedevtool/src/task/lakekeeper_service.rs
Due: rustfmt

feat(expr): vector l2 norm and normalize (#22751)
  proto/expr.proto
  src/common/src/types/mod.rs
  src/expr/impl/src/scalar/vector.rs
  src/frontend/src/binder/expr/function/builtin_scalar.rs
  src/frontend/src/expr/pure.rs
  src/frontend/src/optimizer/plan_expr_visitor/strong.rs
Due: rustfmt

feat(cdc): allow user config `debezium.time.precision.mode` to handle extreme timestamp (#22774)
  e2e_test/source_inline/cdc/sql_server/sql_server_timestamp.slt.serial
  e2e_test/source_inline/cdc/sql_server/sql_server_timestamp_insert.sql
  e2e_test/source_inline/cdc/sql_server/sql_server_timestamp_prepare.sql
  e2e_test/source_inline/cdc/sql_server/sql_server_timestamp_update.sql
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
  java/connector-node/risingwave-connector-service/src/main/resources/debezium.properties
  src/compute/tests/cdc_tests.rs
  src/connector/src/parser/config.rs
  src/connector/src/parser/debezium/debezium_parser.rs
  src/connector/src/parser/debezium/simd_json_parser.rs
  src/connector/src/parser/maxwell/simd_json_parser.rs
  src/connector/src/parser/mod.rs
  src/connector/src/parser/plain_parser.rs
  src/connector/src/parser/unified/json.rs
  src/connector/src/source/datagen/source/generator.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/cdc_backill_v2.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
Due: rustfmt

refactor(connector): shrink 'write_chunk' future by owning payloads and boxing per record sends
  src/connector/src/sink/pulsar.rs
Due: rustfmt

add more log and add temporal join cache insert sanity check
  src/storage/src/hummock/store/hummock_storage.rs
  src/stream/src/executor/temporal_join.rs
Due: rustfmt

minor
  src/stream/src/executor/mview/materialize.rs
Due: rustfmt

fix_cancel_creating_sink
  src/meta/src/barrier/command.rs
  src/meta/src/controller/catalog/drop_op.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/utils.rs
  src/meta/src/stream/stream_manager.rs
Due: rustfmt

chore: updated write_chunk with comments for clarity and assigned capacity to vector in pulsar.rs
  src/connector/src/sink/pulsar.rs
Due: rustfmt

fix(typo): slt file name typo (#22903)
  e2e_test/batch/describe_fragment.slt
Due: none

chore: removed clippy lint from pulsar.rs to maintain green ci
  src/connector/src/sink/pulsar.rs
Due: rustfmt

fix compile
  src/storage/src/hummock/store/hummock_storage.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
