Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

RW_STREAMING_AGG_MAX_IO_CONCURRENCY
  src/stream/src/executor/hash_agg.rs
Due: rustfmt

feat(dashboard): show table data size (#22288)
  dashboard/components/Relations.tsx
  dashboard/lib/api/streaming.ts
  src/meta/node/src/server.rs
  src/meta/src/dashboard/mod.rs
Due: rustfmt

batch meta store read&write
  src/batch/executors/src/executor/join/distributed_lookup_join.rs
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

minor
  src/connector/src/parser/parquet_parser.rs
Due: rustfmt

modify default value
  src/connector/src/source/kinesis/mod.rs
Due: rustfmt

feat(frontend): SHOW PROCESSLIST of all frontends (#21952)
  proto/frontend_service.proto
  src/batch/executors/src/executor/generic_exchange.rs
  src/batch/src/worker_manager/worker_node_manager.rs
  src/common/src/config.rs
  src/config/example.toml
  src/frontend/src/handler/show.rs
  src/frontend/src/rpc/mod.rs
  src/frontend/src/scheduler/local.rs
  src/frontend/src/session.rs
  src/meta/service/src/notification_service.rs
  src/meta/src/controller/cluster.rs
  src/rpc_client/src/frontend_client.rs
  src/tests/simulation/src/cluster.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Due: rustfmt

minor improvement
  src/frontend/src/optimizer/rule/over_window_to_topn_rule.rs
Due: rustfmt

feat(stream): support snapshot backfill in backfill order control (#22215)
  e2e_test/backfill/backfill_order_control.slt
  e2e_test/backfill/backfill_order_control.slt.part
  e2e_test/backfill/backfill_order_control_recovery.slt
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/creating_job/status.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/rpc.rs
  src/stream/src/executor/backfill/snapshot_backfill/executor.rs
  src/stream/src/executor/mod.rs
Due: rustfmt

fix
  src/frontend/src/handler/create_table.rs
Due: rustfmt

feat(optimizer): simplify filter predicate before converting row_number + filter to topn (#22295)
  src/frontend/planner_test/tests/testdata/input/over_window_function.yaml
  src/frontend/planner_test/tests/testdata/output/over_window_function.yaml
  src/frontend/src/optimizer/rule/over_window_to_topn_rule.rs
Due: rustfmt

ban cross db backfill with order control
  src/frontend/src/stream_fragmenter/mod.rs
Due: rustfmt

feat(frontend): make KILL process_id work across all worker nodes (#21998)
  ci/scripts/e2e-test-parallel-for-opendal.sh
  ci/scripts/e2e-test-parallel.sh
  ci/scripts/run-e2e-test.sh
  proto/frontend_service.proto
  src/batch/src/worker_manager/worker_node_manager.rs
  src/frontend/src/error.rs
  src/frontend/src/handler/kill_process.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/rpc/mod.rs
  src/frontend/src/session.rs
  src/frontend/src/test_utils.rs
  src/rpc_client/src/frontend_client.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/tests/simulation/tests/integration_tests/recovery/background_ddl.rs
Due: rustfmt

refactor: change default gRPC addr (#22057)
  ci/scripts/standalone-utils.sh
  src/cmd_all/scripts/standalone-demo-dev.sh
  src/cmd_all/scripts/standalone-demo-full.sh
  src/frontend/src/lib.rs
Due: rustfmt

feat(error): check in complete list of postgres error code (#22286)
  src/error/src/code.rs
  src/error/src/lib.rs
  src/utils/pgwire/src/error_or_notice.rs
  src/utils/pgwire/src/pg_message.rs
Due: rustfmt

feat(frontend): disallow backfill order with cross-db snapshot backfill (#22300)
  src/frontend/src/stream_fragmenter/mod.rs
Due: rustfmt

minor
  src/common/src/array/arrow/arrow_impl.rs
Due: rustfmt

fix_barrier_interval_validation
  src/common/src/system_param/mod.rs
  src/config/ci-backfill.toml
  src/tests/simulation/src/backfill.toml
Due: rustfmt

stash
  e2e_test/commands/pulsar_cat.py
Due: none

minor
  rustc-ice-2025-06-20T08_44_48-55458.txt
  src/common/src/array/arrow/arrow_impl.rs
Due: rustfmt

minor
  rustc-ice-2025-06-20T08_44_48-55458.txt
Due: none

fix(iceberg): fix empty metastore password for iceberg engine. (#22302)
  src/frontend/src/handler/create_table.rs
Due: rustfmt

update dep
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/src/hummock/iceberg_compactor_runner.rs
Due: rustfmt, cargo sort

chore(ci): disable coverage on main-cron
  ci/scripts/build.sh
Due: none

refactor(pulsar): update message ID decoding and improve ack handling
  src/connector/src/source/pulsar/source/reader.rs
Due: rustfmt

code across grpc boundry
  src/error/src/code.rs
  src/error/src/tonic/extra.rs
Due: rustfmt

request error code from error
  src/error/src/lib.rs
  src/error/src/tonic/extra.rs
  src/meta/src/barrier/rpc.rs
  src/utils/pgwire/src/error_or_notice.rs
  src/utils/pgwire/src/pg_message.rs
Due: rustfmt

refactor: use forked version of thiserror for `provide` attribute
  Cargo.lock
  Cargo.toml
  lints/Cargo.toml
  src/batch/Cargo.toml
  src/common/Cargo.toml
  src/common/common_service/Cargo.toml
  src/common/heap_profiling/Cargo.toml
  src/common/secret/Cargo.toml
  src/connector/Cargo.toml
  src/connector/codec/Cargo.toml
  src/dml/Cargo.toml
  src/error/Cargo.toml
  src/expr/core/Cargo.toml
  src/expr/impl/Cargo.toml
  src/frontend/Cargo.toml
  src/jni_core/Cargo.toml
  src/license/Cargo.toml
  src/meta/Cargo.toml
  src/object_store/Cargo.toml
  src/prost/Cargo.toml
  src/rpc_client/Cargo.toml
  src/sqlparser/Cargo.toml
  src/storage/Cargo.toml
  src/storage/backup/Cargo.toml
  src/storage/hummock_trace/Cargo.toml
  src/stream/Cargo.toml
  src/utils/pgwire/Cargo.toml
  src/utils/sync-point/Cargo.toml
Due: cargo sort

do not use patched one for lints
  lints/Cargo.toml
Due: cargo sort

provide error code for catalog error
  src/frontend/src/catalog/mod.rs
  src/meta/src/error.rs
Due: rustfmt

fix_time_traval_retention
  src/common/src/system_param/mod.rs
Due: rustfmt

resolve url
  src/common/src/lib.rs
  src/compute/src/server.rs
  src/jni_core/src/opendal_schema_history.rs
  src/meta/src/hummock/manager/mod.rs
Due: rustfmt

fix(meta): unify validation logic for system parameters (#22289)
  src/common/src/system_param/mod.rs
  src/meta/src/controller/system_param.rs
Due: rustfmt

init
  src/common/src/system_param/mod.rs
  src/frontend/src/handler/alter_database_param.rs
  src/frontend/src/handler/alter_system.rs
  src/frontend/src/handler/create_database.rs
  src/meta/src/controller/catalog/alter_op.rs
  src/meta/src/controller/catalog/create_op.rs
Due: rustfmt

fix(iceberg): fix empty metastore password for iceberg engine. (#22302) (#22308)
  src/frontend/src/handler/create_table.rs
Due: rustfmt

add slt
  post.slt
  seed.slt
Due: none

fix kill
  Makefile.toml
Due: none

fix
  post.slt
Due: none

fmt
  src/risedevtool/src/task/docker_service.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
