Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

feat(nimtable): add pgjdbc dependency in jar
  src/connector/src/sink/iceberg/java/pom.xml
Due: none

address comments
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
  src/meta/src/hummock/manager/compaction/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
Due: rustfmt

feat(risedev): support launching system rw in risedev-dev (#18889)
  Makefile.toml
  src/risedevtool/config/src/main.rs
  src/risedevtool/src/task/compactor_service.rs
  src/risedevtool/src/task/compute_node_service.rs
  src/risedevtool/src/task/frontend_service.rs
  src/risedevtool/src/task/meta_node_service.rs
  src/risedevtool/src/task/utils.rs
Due: rustfmt

fix(meta): use object store's timestamp in SST retention sanity check
  src/meta/src/hummock/manager/context.rs
  src/object_store/src/object/mem.rs
  src/object_store/src/object/mod.rs
  src/object_store/src/object/opendal_engine/opendal_object_store.rs
  src/object_store/src/object/s3.rs
  src/object_store/src/object/sim/service.rs
  src/storage/hummock_sdk/src/lib.rs
  src/storage/hummock_test/src/vacuum_tests.rs
  src/storage/src/hummock/sstable_store.rs
  src/storage/src/hummock/vacuum.rs
Due: rustfmt

fix buildkite main-cron notification
  ci/scripts/notify.py
  ci/workflows/main-cron.yml
Due: none

feat(meta): support commit epoch on multiple graphs at once (#18819)
  proto/hummock.proto
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/commit_epoch.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/time_travel.rs
  src/meta/src/hummock/manager/transaction.rs
  src/meta/src/hummock/mock_hummock_meta_client.rs
  src/meta/src/lib.rs
  src/storage/hummock_sdk/src/compact_task.rs
  src/storage/hummock_test/src/hummock_storage_tests.rs
  src/storage/hummock_test/src/state_store_tests.rs
  src/storage/src/hummock/validator.rs
Due: rustfmt

fix ut
  src/meta/src/hummock/manager/tests.rs
Due: rustfmt

fix ci
  e2e_test/iceberg/test_case/iceberg_source_all_delete.slt
  e2e_test/iceberg/test_case/iceberg_source_position_delete.slt
Due: none

feat(ci): add cherry-pick job to release-2.1
  .github/workflows/cherry-pick-to-release-branch.yml
Due: none

chore: update package version to 2.2.0-alpha
  Cargo.lock
  Cargo.toml
Due: cargo sort

refactor(storage): refactor insert sub level
  src/storage/hummock_sdk/src/compaction_group/hummock_version_ext.rs
  src/storage/hummock_sdk/src/compaction_group/mod.rs
Due: rustfmt

feat(ci): add cherry-pick job to release-2.1 (#18933)
  .github/workflows/cherry-pick-to-release-branch.yml
Due: none

fix BatchingLogSinker
  src/connector/src/sink/file_sink/batching_log_sink.rs
Due: rustfmt

refactor(source): handle `INCLUDE header` data type properly (#18821)
  src/connector/src/parser/additional_columns.rs
  src/frontend/src/handler/create_source.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

fix(java-binding): use table committed epoch in demo query
  java/java-binding-integration-test/src/main/java/com/risingwave/java/binding/HummockReadDemo.java
Due: none

fix: unlimit concurrent creating streaming jobs for parallel e2e tests
  ci/scripts/e2e-test-parallel-for-opendal.sh
  ci/scripts/e2e-test-parallel-in-memory.sh
  ci/scripts/e2e-test-parallel.sh
Due: none

fix doc
  src/meta/src/barrier/command.rs
Due: rustfmt

reproduce bug with sqlparser
  src/sqlparser/tests/testdata/create.yaml
Due: none

fix
  src/sqlparser/src/parser_v2/data_type.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

chore: fix overwrite for new generate migration
  src/meta/model_v2/migration/src/lib.rs
Due: rustfmt

do not return chunk_id in commit
  src/connector/src/sink/file_sink/batching_log_sink.rs
  src/connector/src/sink/file_sink/opendal_sink.rs
Due: rustfmt

fix(java-binding): use table committed epoch in demo query (#18937)
  java/java-binding-integration-test/src/main/java/com/risingwave/java/binding/HummockReadDemo.java
Due: none

chore: fix overwrite to append new migration when using generate cli (#18939)
  src/meta/model_v2/migration/src/lib.rs
Due: rustfmt

fix(sqlparser): keyword after `char` shall not be consumed on error (#18921)
  src/sqlparser/src/parser_v2/data_type.rs
  src/sqlparser/tests/testdata/create.yaml
Due: rustfmt

start standalone until minio ready
  ci/scripts/run-e2e-test.sh
  ci/scripts/standalone-utils.sh
Due: none

refactor: use 1 for vnode count of singletons for backward compatibility
  proto/catalog.proto
  proto/meta.proto
  proto/plan_common.proto
  src/common/src/hash/consistent_hash/bitmap.rs
  src/common/src/hash/consistent_hash/compat.rs
  src/common/src/hash/consistent_hash/mapping.rs
  src/meta/src/stream/stream_graph/schedule.rs
  src/stream/src/executor/actor.rs
Due: rustfmt

add minor docs
  src/common/src/hash/consistent_hash/mapping.rs
  src/meta/model_v2/migration/src/m20240911_083152_variable_vnode_count.rs
Due: rustfmt

do not assert, but check either of them
  src/common/src/hash/consistent_hash/compat.rs
Due: rustfmt

add assertion in table catalog builder
  src/frontend/src/optimizer/plan_node/utils.rs
Due: rustfmt

also set singleton to 1 in migration script
  src/meta/model_v2/migration/src/m20240911_083152_variable_vnode_count.rs
Due: rustfmt

refactor(storage): proactively prevent uncommitted SSTs from GC (#18882)
  proto/stream_service.proto
  src/compute/src/rpc/service/stream_service.rs
  src/meta/src/hummock/manager/context.rs
  src/meta/src/hummock/manager/gc.rs
  src/rpc_client/src/stream_client.rs
  src/storage/src/hummock/event_handler/hummock_event_handler.rs
  src/storage/src/hummock/event_handler/mod.rs
  src/storage/src/hummock/event_handler/uploader/mod.rs
  src/storage/src/hummock/store/hummock_storage.rs
Due: rustfmt

svae
  src/frontend/src/error.rs
  src/frontend/src/lib.rs
Due: rustfmt

fix(cdc): fix the filter expression of CdcFilter executor (#18868)
  e2e_test/source/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/core/DbzChangeEventConsumer.java
  src/frontend/src/handler/create_table.rs
  src/frontend/src/optimizer/plan_node/stream_cdc_table_scan.rs
Due: rustfmt

feat(meta): record Hummock GC history
  src/meta/model_v2/migration/src/lib.rs
  src/meta/model_v2/migration/src/m20241016_065621_hummock_gc_history.rs
  src/meta/model_v2/src/hummock_gc_history.rs
  src/meta/model_v2/src/lib.rs
  src/meta/src/hummock/manager/checkpoint.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/mod.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/manager/versioning.rs
Due: rustfmt

add sanity check based on GC history
  src/meta/src/hummock/manager/context.rs
Due: rustfmt

add necessary lock.
  src/meta/src/hummock/manager/gc.rs
Due: rustfmt

resolve conflict
  src/meta/model_v2/migration/src/lib.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
