Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

Add `node_label` field with default value `"default"` to standalone module config settings
  src/cmd_all/src/standalone.rs
Due: rustfmt

Remove parallelism field from ActiveStreamingWorkerNodes struct initialization
  src/meta/src/manager/metadata.rs
Due: rustfmt

Move parallelism to WorkerNode.Property, update related structs and references
  proto/common.proto
  proto/meta.proto
  src/batch/src/worker_manager/worker_node_manager.rs
  src/common/src/vnode_mapping/vnode_placement.rs
  src/compute/src/server.rs
  src/ctl/src/common/meta_service.rs
  src/frontend/src/handler/show.rs
  src/frontend/src/scheduler/distributed/query.rs
  src/frontend/src/session.rs
  src/meta/src/barrier/recovery.rs
  src/meta/src/controller/cluster.rs
  src/meta/src/hummock/manager/tests.rs
  src/meta/src/hummock/test_utils.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/scale.rs
  src/meta/src/stream/stream_graph/schedule.rs
  src/meta/src/stream/stream_manager.rs
  src/meta/src/stream/test_fragmenter.rs
  src/prost/src/lib.rs
  src/rpc_client/src/meta_client.rs
  src/tests/simulation/src/ctl_ext.rs
  src/tests/simulation/tests/integration_tests/scale/schedulability.rs
Due: rustfmt

Add DEFAULT_COMPUTE_NODE_LABEL & use in ComputeNodeOpts
  src/common/src/util/worker_util.rs
  src/compute/src/lib.rs
  src/meta/src/controller/cluster.rs
Due: rustfmt

fix(pg-cdc): fix ssl.mode value to debezium (#19239)
  java/connector-node/risingwave-connector-service/src/main/java/com/risingwave/connector/source/common/DbzConnectorConfig.java
Due: none

cherry-pick fix(watermark): stop generating watermark messages when stream is paused (#19199) to branch release-2.1 (#19241)
  src/stream/src/executor/project.rs
  src/stream/src/executor/project_set.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/tests/integration_tests/project_set.rs
Due: rustfmt

encode bytes support
  src/connector/src/sink/encoder/bytes.rs
  src/connector/src/sink/encoder/mod.rs
  src/connector/src/sink/formatter/mod.rs
Due: rustfmt

cherry pick fix(watermark): stop generating watermark messages when stream is paused (#19199) to branch release-2.0 (#19242)
  src/stream/src/executor/project.rs
  src/stream/src/executor/project_set.rs
  src/stream/src/executor/watermark_filter.rs
  src/stream/tests/integration_tests/project_set.rs
Due: rustfmt

fix(metric): better agg state cache miss ratio metric (#19012)
  src/stream/src/executor/aggregation/agg_group.rs
  src/stream/src/executor/hash_agg.rs
  src/stream/src/executor/simple_agg.rs
Due: rustfmt

feat: support swap rename syntax for table/mview/view/source/sink and subscription (#19172)
  e2e_test/ddl/alter_swap_rename.slt
  proto/ddl_service.proto
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/handler/alter_swap_rename.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/utils.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/keywords.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

Add WorkerType import, set type field to ComputeNode in WorkerNode test initializations
  src/common/src/vnode_mapping/vnode_placement.rs
  src/meta/src/stream/test_fragmenter.rs
Due: rustfmt

feat(over window): add `over_window_accessed_entry_count` to metric for better observability (#18943)
  docker/dashboards/risingwave-dev-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Due: rustfmt

refactor(test): reorganize file connector CI tests (#19230)
  ci/workflows/main-cron.yml
  e2e_test/s3/file_sink.py
  e2e_test/s3/file_source.py
  e2e_test/s3/fs_sink_batch.py
  e2e_test/s3/fs_source_batch.py
  e2e_test/s3/fs_source_v2_new_file.py
  e2e_test/s3/posix_fs_source.py
Due: none

fix check
  src/meta/src/hummock/manager/compaction/compaction_group_schedule.rs
Due: rustfmt

perf(over window): avoid recompute information about window frames (#19036)
  src/stream/src/executor/over_window/frame_finder.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Due: rustfmt

perf(over window): pass through `Update`s not affecting window function outputs (#19056)
  e2e_test/over_window/generated/batch/main.slt.part
  e2e_test/over_window/generated/batch/no_effect_updates/mod.slt.part
  e2e_test/over_window/generated/streaming/main.slt.part
  e2e_test/over_window/generated/streaming/no_effect_updates/mod.slt.part
  e2e_test/over_window/templates/main.slt.part
  e2e_test/over_window/templates/no_effect_updates/mod.slt.part
  src/common/src/array/stream_record.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Due: rustfmt

perf(over window): skip remaining affected rows when rank is not changed (#18950)
  src/expr/core/src/window_function/kind.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/rule/over_window_split_rule.rs
  src/frontend/src/optimizer/rule/over_window_to_topn_rule.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
Due: rustfmt

perf(over window): O(1) impl for `delta_btree_map::CursorWithDelta::move_next ` (#19214)
  src/stream/src/executor/over_window/frame_finder.rs
  src/stream/src/executor/over_window/over_partition.rs
  src/utils/delta_btree_map/src/lib.rs
Due: rustfmt

perf(over window): shortcut implementation for `first_value` and `last_value` in over window (#19233)
  src/expr/impl/src/window_function/aggregate.rs
  src/expr/impl/src/window_function/buffer.rs
Due: rustfmt

typo
  src/storage/src/hummock/local_version/pinned_version.rs
Due: rustfmt

Refactor: Update MetaClient import and remove parallelism setting in AddWorkerNodeRequest
  java/common-utils/src/main/java/com/risingwave/java/utils/MetaClient.java
Due: none

simplify partial graph id
  proto/stream_service.proto
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/mod.rs
Due: rustfmt

fix(meta): address bugs for mysql backend & enable e2e tests (#19156)
  ci/workflows/main-cron.yml
  ci/workflows/pull-request.yml
  src/meta/model/migration/README.md
  src/meta/model/migration/src/m20230908_072257_init.rs
  src/meta/model/migration/src/m20240304_074901_subscription.rs
  src/meta/model/migration/src/m20240506_112555_subscription_partial_ckpt.rs
  src/meta/model/migration/src/m20241025_062548_singleton_vnode_count.rs
  src/meta/model/migration/src/utils.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/hummock/manager/gc.rs
  src/meta/src/hummock/manager/time_travel.rs
Due: rustfmt

update Cargo.lock
  Cargo.lock
Due: none

update Cargo.toml
  Cargo.toml
  src/connector/Cargo.toml
Due: cargo sort

fix: fix grant and revoke privileges for internal table
  src/meta/model/src/user_privilege.rs
  src/meta/src/controller/catalog.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/controller/user.rs
  src/meta/src/controller/utils.rs
Due: rustfmt

cherry pick perf(over window): series of performance improvements to release-2.1 (#19248)
  docker/dashboards/risingwave-dev-dashboard.json
  e2e_test/over_window/generated/batch/main.slt.part
  e2e_test/over_window/generated/batch/no_effect_updates/mod.slt.part
  e2e_test/over_window/generated/streaming/main.slt.part
  e2e_test/over_window/generated/streaming/no_effect_updates/mod.slt.part
  e2e_test/over_window/templates/main.slt.part
  e2e_test/over_window/templates/no_effect_updates/mod.slt.part
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  src/common/src/array/stream_record.rs
  src/expr/core/src/window_function/kind.rs
  src/expr/impl/src/window_function/aggregate.rs
  src/expr/impl/src/window_function/buffer.rs
  src/frontend/src/optimizer/plan_node/logical_over_window.rs
  src/frontend/src/optimizer/rule/over_window_split_rule.rs
  src/frontend/src/optimizer/rule/over_window_to_topn_rule.rs
  src/stream/src/common/table/state_table.rs
  src/stream/src/executor/monitor/streaming_stats.rs
  src/stream/src/executor/over_window/frame_finder.rs
  src/stream/src/executor/over_window/general.rs
  src/stream/src/executor/over_window/over_partition.rs
  src/utils/delta_btree_map/src/lib.rs
Due: rustfmt

chore: delay waiter reotate
  Cargo.lock
  Cargo.toml
Due: cargo sort

fix sink into table
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/catalog/column.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/alter_table_column.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/drop_sink.rs
Due: rustfmt

fmt
  src/common/src/catalog/column.rs
Due: rustfmt

Add BackfillType to Table, remove from CreateMaterializedViewRequest, update TableCatalog
  proto/catalog.proto
  proto/ddl_service.proto
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/utils/with_options.rs
  src/meta/src/controller/mod.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

fix
  src/connector/src/parser/mysql.rs
Due: rustfmt

feat: txn dec ref and reclain [MAY PANIC]
  Cargo.lock
  Cargo.toml
Due: cargo sort

test
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
Due: none

fix: fix index privilege check and ensure consistency between the owner and its associated table
  src/frontend/src/handler/create_index.rs
Due: rustfmt

add system column metadata to column desc
  e2e_test/source_legacy/cdc_inline/alter/cdc_table_alter.slt
  e2e_test/source_legacy/cdc_inline/auto_schema_change_mysql.slt
  e2e_test/source_legacy/cdc_inline/auto_schema_change_pg.slt
  e2e_test/source_legacy/cdc_inline/auto_schema_map_mysql.slt
  src/common/src/catalog/column.rs
  src/common/src/catalog/mod.rs
  src/connector/codec/tests/integration_tests/utils.rs
  src/connector/src/source/manager.rs
  src/frontend/src/binder/expr/mod.rs
  src/frontend/src/catalog/table_catalog.rs
  src/frontend/src/handler/create_table.rs
Due: rustfmt

chore(deps): update sqlx to 0.8.2, sea-orm to 1.1, sea-orm-migration to 1.1 (#19145)
  Cargo.lock
  Cargo.toml
  src/connector/Cargo.toml
Due: cargo sort

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
