Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

rustfmt:
  name: rustfmt
  entry: rustfmt --edition 2021
  language: system

cargo sort:
  name: cargo sort
  entry: cargo sort -g -w
  language: system
  pass_filenames: false

update ci image
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
Due: none

feat(ci): graceful exit of `sqllogictest` on failure, cancellation, or timeout (#21463)
  Makefile.toml
  ci/Dockerfile
  ci/build-ci-image.sh
  ci/docker-compose.yml
  risedev
Due: none

fix: add under creation info when checking name duplicate in meta (#21360)
  e2e_test/slow_tests/ddl/creation_check.slt
  src/meta/src/controller/utils.rs
  src/meta/src/error.rs
Due: rustfmt

fix iceberg decimal predicate pushdown
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/mod.rs
  src/frontend/src/optimizer/rule/batch/batch_iceberg_predicate_pushdown.rs
Due: rustfmt

fmt
  src/frontend/src/optimizer/rule/batch/batch_iceberg_predicate_pushdown.rs
Due: rustfmt

fix(iceberg): fix iceberg decimal predicate pushdown (#21470)
  e2e_test/iceberg/test_case/pure_slt/iceberg_engine.slt
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/mod.rs
  src/frontend/src/optimizer/rule/batch/batch_iceberg_predicate_pushdown.rs
Due: rustfmt

fix(iceberg): fix iceberg decimal predicate pushdown (#21470)
  e2e_test/iceberg/test_case/iceberg_engine.slt
  src/common/src/array/arrow/arrow_iceberg.rs
  src/common/src/array/arrow/mod.rs
  src/frontend/src/optimizer/rule/batch/batch_iceberg_predicate_pushdown.rs
Due: rustfmt

fix(cdc): check database name when creating tables from cdc source
  e2e_test/source_legacy/cdc/cdc.share_stream.slt
  e2e_test/source_legacy/cdc_inline/sql_server_cdc/sql_server_cdc.slt
  src/frontend/src/handler/create_table.rs
Due: rustfmt

no progress when read flushed chunk
  src/common/src/hash/consistent_hash/vnode.rs
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/executor/sync_kv_log_store.rs
Due: rustfmt

Update risedev.yml
  risedev.yml
Due: none

chore(risedev): describe minio rate limit parameters (#21449)
  risedev.yml
Due: none

put row progress to KvLogStoreItem::StreamChunk
  src/stream/src/common/log_store_impl/kv_log_store/reader.rs
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
  src/stream/src/executor/sync_kv_log_store.rs
Due: rustfmt

refine progress enum
  src/stream/src/common/log_store_impl/kv_log_store/mod.rs
  src/stream/src/common/log_store_impl/kv_log_store/state.rs
  src/stream/src/common/log_store_impl/kv_log_store/writer.rs
  src/stream/src/executor/sync_kv_log_store.rs
Due: rustfmt

fix test compile
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
Due: rustfmt

save success impl
  src/frontend/src/optimizer/plan_node/utils.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/barrier_control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/creating_job/status.rs
  src/meta/src/barrier/checkpoint/mod.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/prost/src/lib.rs
  src/storage/hummock_sdk/src/change_log.rs
  src/stream/src/executor/backfill/snapshot_backfill/state.rs
Due: rustfmt

only load table log epochs with downstream snapshot backfill
  src/meta/src/barrier/checkpoint/creating_job/status.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/rpc/ddl_controller.rs
  src/storage/hummock_sdk/src/change_log.rs
Due: rustfmt

refactor recover status method
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/prost/src/lib.rs
Due: rustfmt

remove trailing space
  risedev.yml
Due: none

feat(snapshot-backfill): support recoverable snapshot backfill (meta part) (#20848)
  risedev.yml
  src/frontend/src/optimizer/plan_node/utils.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/barrier_control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/checkpoint/creating_job/status.rs
  src/meta/src/barrier/checkpoint/mod.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/recovery.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/barrier/worker.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/prost/src/lib.rs
  src/stream/src/executor/backfill/snapshot_backfill/state.rs
Due: rustfmt

fix(subscription): fix subscription notify (#21451)
  src/frontend/src/catalog/root_catalog.rs
  src/frontend/src/catalog/schema_catalog.rs
  src/frontend/src/catalog/subscription_catalog.rs
  src/frontend/src/handler/create_subscription.rs
  src/meta/src/controller/catalog/mod.rs
Due: rustfmt

apply progress on barrier
  src/stream/src/executor/sync_kv_log_store.rs
Due: rustfmt

fix license header
  src/stream/src/common/log_store_impl/kv_log_store/serde.rs
Due: rustfmt

feat(sink): support alter sink config (#20691)
  Cargo.lock
  proto/meta.proto
  proto/stream_plan.proto
  src/connector/src/sink/clickhouse.rs
  src/connector/src/sink/deltalake.rs
  src/connector/src/sink/iceberg/mod.rs
  src/connector/src/sink/kafka.rs
  src/connector/src/sink/mod.rs
  src/connector/src/sink/starrocks.rs
  src/frontend/src/handler/alter_sink_props.rs
  src/frontend/src/handler/create_sink.rs
  src/frontend/src/handler/create_source.rs
  src/frontend/src/handler/create_source/external_schema.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/meta_client.rs
  src/frontend/src/test_utils.rs
  src/frontend/src/utils/with_options.rs
  src/meta/Cargo.toml
  src/meta/service/src/stream_service.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/info.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/meta/src/stream/source_manager.rs
  src/rpc_client/src/meta_client.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/mod.rs
  src/stream/src/executor/sink.rs
Due: rustfmt, cargo sort

flatten backfill order strategy
  src/frontend/src/binder/backfill_order_strategy.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/utils/with_options.rs
  src/sqlparser/src/ast/mod.rs
Due: rustfmt

improve parsing
  e2e_test/backfill/backfill_order_control.slt
  src/meta/src/stream/test_fragmenter.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

directly take pending jobs from tracker
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/progress.rs
Due: rustfmt

remove from ast
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
Due: rustfmt

only run order control test in release mode
  ci/scripts/e2e-test-serial.sh
  e2e_test/backfill/backfill_order_control.slt
Due: none

fix ci
  proto/common.proto
  src/meta/src/stream/test_fragmenter.rs
Due: rustfmt

refactor unspecified
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/test_fragmenter.rs
Due: rustfmt

DRY
  src/frontend/src/binder/backfill_order_strategy.rs
Due: rustfmt

add cycle detection
  e2e_test/backfill/backfill_order_control.slt
  src/frontend/src/binder/backfill_order_strategy.rs
Due: rustfmt

avoid timeout
  e2e_test/backfill/backfill_order_control.slt
Due: none

add test
  e2e_test/streaming/backfill_order_control.slt
Due: none

fix
  proto/common.proto
  proto/stream_plan.proto
  src/meta/src/stream/test_fragmenter.rs
Due: rustfmt

address binder comment + assert
  src/frontend/src/binder/backfill_order_strategy.rs
  src/meta/src/barrier/progress.rs
Due: rustfmt

unpause only if backfill paused
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
Due: rustfmt

support order control
  proto/common.proto
  proto/stream_plan.proto
  src/frontend/src/binder/backfill_order_strategy.rs
  src/frontend/src/binder/mod.rs
  src/frontend/src/binder/relation/mod.rs
  src/frontend/src/handler/create_mv.rs
  src/frontend/src/handler/query.rs
  src/frontend/src/optimizer/plan_node/stream_table_scan.rs
  src/frontend/src/stream_fragmenter/graph/fragment_graph.rs
  src/frontend/src/stream_fragmenter/mod.rs
  src/frontend/src/utils/with_options.rs
  src/meta/src/barrier/backfill_order_control.rs
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/creating_job/mod.rs
  src/meta/src/barrier/command.rs
  src/meta/src/barrier/context/context_impl.rs
  src/meta/src/barrier/info.rs
  src/meta/src/barrier/mod.rs
  src/meta/src/barrier/progress.rs
  src/meta/src/barrier/rpc.rs
  src/meta/src/model/stream.rs
  src/meta/src/rpc/ddl_controller.rs
  src/meta/src/stream/stream_graph/fragment.rs
  src/meta/src/stream/stream_manager.rs
  src/sqlparser/src/ast/mod.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/backfill/arrangement_backfill.rs
  src/stream/src/executor/backfill/no_shuffle_backfill.rs
  src/stream/src/executor/mod.rs
  src/stream/src/from_proto/stream_scan.rs
Due: rustfmt

docs
  src/frontend/src/binder/backfill_order_strategy.rs
Due: rustfmt

validate
  e2e_test/backfill/backfill_order_control.slt
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  cargo sort: any of: Cargo.toml
