Repository RisingWaveLabs/risingwave: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo sort

.pre-commit-config.yaml:

# Usage: install pre-commit, and then run `pre-commit install` to install git hooks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: local
    hooks:
    -   id: rustfmt
        name: rustfmt
        entry: rustfmt --edition 2021
        language: system
        types: [rust]
    -   id: typos
        name: typos
        entry: typos -w
        language: system
    -   id: cargo sort
        name: cargo sort
        entry: cargo sort -g -w
        language: system
        files: 'Cargo.toml'
        pass_filenames: false

fix(iceberg): bypass iceberg partition table optimization (#19655)
  src/frontend/planner_test/tests/testdata/output/sink.yaml
  src/frontend/src/handler/create_sink.rs
Due: rustfmt

fix doc
  src/error/src/tonic/extra.rs
Due: rustfmt

fix: add missing objects for schema empty check
  src/meta/src/manager/catalog/database.rs
Due: rustfmt

add FE support
  proto/ddl_service.proto
  src/frontend/src/catalog/catalog_service.rs
  src/frontend/src/handler/drop_schema.rs
  src/frontend/src/test_utils.rs
  src/meta/service/src/ddl_service.rs
  src/meta/src/rpc/ddl_controller.rs
  src/rpc_client/src/meta_client.rs
Due: rustfmt

try again
  e2e_test/source_inline/kafka/issue_19563.slt.serial
Due: none

remove clap
  Cargo.lock
  src/connector/Cargo.toml
Due: cargo sort

send initial graph for initializing database to worker
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/info.rs
Due: rustfmt

fix: add missing objects for schema empty check (#19672)
  src/meta/src/manager/catalog/database.rs
Due: rustfmt

fix(storage): fix prefetch index
  src/storage/src/hummock/sstable/forward_sstable_iterator.rs
Due: rustfmt

cherry pick feat(stream): create cdc table reader and source data stream with retry #19467
  src/compute/tests/cdc_tests.rs
  src/connector/src/source/cdc/external/mock_external_table.rs
  src/connector/src/source/cdc/external/mod.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/external.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
Due: rustfmt

minor
  src/stream/src/executor/source/source_executor.rs
Due: rustfmt

feat(storage): support online cache resize via risectl
  Cargo.lock
  Cargo.toml
  docker/dashboards/risingwave-dev-dashboard.json
  docker/dashboards/risingwave-user-dashboard.json
  grafana/risingwave-dev-dashboard.dashboard.py
  grafana/risingwave-dev-dashboard.json
  grafana/risingwave-user-dashboard.json
  proto/compute.proto
  src/compute/src/rpc/service/config_service.rs
  src/compute/src/server.rs
  src/ctl/src/cmd_impl/hummock.rs
  src/ctl/src/cmd_impl/hummock/resize_cache.rs
  src/ctl/src/lib.rs
  src/rpc_client/src/compute_client.rs
Due: rustfmt, cargo sort

fix
  src/meta/src/barrier/checkpoint/control.rs
  src/meta/src/barrier/checkpoint/recovery.rs
  src/meta/src/barrier/info.rs
Due: rustfmt

report error with score
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
Due: rustfmt

update e2e err msg
  e2e_test/error_ui/simple/recovery.slt
Due: none

feat(barrier): support database failure isolation (part 2, local)
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
  src/stream/src/task/stream_manager.rs
Due: rustfmt

fix
  src/stream/src/task/barrier_manager.rs
  src/stream/src/task/barrier_manager/managed_state.rs
Due: rustfmt

fmt
  proto/batch_plan.proto
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/join/local_lookup_join.rs
  src/batch/src/executor/row_seq_scan.rs
  src/common/src/util/scan_range.rs
  src/frontend/src/optimizer/plan_node/batch_seq_scan.rs
  src/frontend/src/optimizer/plan_node/batch_sys_seq_scan.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/utils/condition.rs
Due: rustfmt

refactor: replace args with options
  src/ctl/src/lib.rs
Due: rustfmt

refactor: uze mib instead bytes
  src/ctl/src/lib.rs
Due: rustfmt

feat: add info log when resize cache
  src/compute/src/rpc/service/config_service.rs
Due: rustfmt

try fix e2e
  e2e_test/source_inline/kafka/issue_19563.slt.serial
Due: none

fmt
  src/batch/src/executor/join/distributed_lookup_join.rs
  src/batch/src/executor/join/local_lookup_join.rs
  src/common/src/util/scan_range.rs
  src/frontend/src/optimizer/plan_node/utils.rs
  src/frontend/src/utils/condition.rs
Due: rustfmt

clean zombie functions
  src/meta/src/manager/catalog/mod.rs
Due: rustfmt

try fix
  e2e_test/source_inline/kafka/issue_19563.slt.serial
Due: none

feat(stream): create cdc table reader and source data stream with retry (#19467) (#19676)
  e2e_test/source_inline/kafka/issue_19563.slt.serial
  src/compute/tests/cdc_tests.rs
  src/connector/src/source/cdc/external/mock_external_table.rs
  src/connector/src/source/cdc/external/mod.rs
  src/stream/src/executor/backfill/cdc/cdc_backfill.rs
  src/stream/src/executor/backfill/cdc/upstream_table/external.rs
  src/stream/src/executor/backfill/cdc/upstream_table/snapshot.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/source/source_executor.rs
  src/stream/src/from_proto/stream_cdc_scan.rs
Due: rustfmt

fix owner refer count
  src/meta/src/manager/catalog/mod.rs
Due: rustfmt

feat: add support for dml_rate_limit
  proto/meta.proto
  proto/stream_plan.proto
  src/common/src/session_config/mod.rs
  src/compute/tests/integration_tests.rs
  src/frontend/src/handler/alter_streaming_rate_limit.rs
  src/frontend/src/handler/mod.rs
  src/frontend/src/optimizer/plan_node/stream_dml.rs
  src/frontend/src/utils/overwrite_options.rs
  src/meta/service/src/stream_service.rs
  src/meta/src/controller/streaming_job.rs
  src/meta/src/manager/metadata.rs
  src/prost/src/lib.rs
  src/sqlparser/src/ast/ddl.rs
  src/sqlparser/src/parser.rs
  src/stream/src/executor/dml.rs
  src/stream/src/from_proto/dml.rs
Due: rustfmt

fix linter
  src/connector/src/sink/log_store.rs
  src/meta/src/controller/streaming_job.rs
Due: rustfmt

fix UT
  src/stream/src/executor/sink.rs
Due: rustfmt

resume paused stream reader
  Cargo.lock
  src/compute/tests/integration_tests.rs
  src/meta/src/controller/streaming_job.rs
  src/stream/Cargo.toml
  src/stream/src/executor/dml.rs
  src/stream/src/from_proto/dml.rs
Due: rustfmt, cargo sort

fmt
  src/compute/tests/integration_tests.rs
  src/stream/src/executor/dml.rs
Due: rustfmt

add comments
  src/stream/src/executor/dml.rs
Due: rustfmt

fix test
  e2e_test/batch/catalog/pg_settings.slt.part
  src/stream/src/executor/dml.rs
  src/stream/src/executor/source/mod.rs
  src/stream/src/executor/utils.rs
Due: rustfmt

minor
  src/stream/src/executor/dml.rs
Due: rustfmt

schema registry
  e2e_test/source_inline/connection/schema_registry.slt
  src/connector/src/connector_common/connection.rs
  src/connector/src/connector_common/mod.rs
  src/connector/src/macros.rs
  src/frontend/src/handler/create_connection.rs
  src/frontend/src/utils/with_options.rs
Due: rustfmt

test
  e2e_test/source_inline/connection/schema_registry.slt
Due: none

validate
  src/connector/src/connector_common/connection.rs
  src/connector/src/schema/schema_registry/client.rs
  src/connector/src/schema/schema_registry/util.rs
Due: rustfmt

add tests
  ci/scripts/run-e2e-test.sh
  e2e_test/dml/inserts.slt.part
  e2e_test/dml/rate_limit_no_limit.slt
  e2e_test/dml/rate_limit_pause_resume.slt
  e2e_test/dml/rate_limit_set.slt
Due: none
